<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">
<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-page.html">

<link rel="import" href="../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href="../../resources/aq-environment.html">
<link rel="import" href="../layouts/aq-dashboard-main.html">
<link rel="import" href="../components/user/aq-user-login-panel.html">
<link rel="import" href='../components/common/aq-check-authentication.html'>
<link rel='import' href='../components/common/aq-socket-handler.html'>

<link rel="import" href='../components/aq-homepage.html'>
<link rel="import" href='../components/aq-aboutpage.html'>
<link rel="import" href='../components/aq-policy.html'>
<link rel="import" href='../components/aq-error-page.html'>

<link rel="import" href='../components/aq-sidebar.html'>
<link rel="import" href='../components/aq-toolbar.html'>
<link rel="import" href='../components/aq-google-analytics.html'>
<link rel="import" href='../dialog/aq-sendfeedback-dialog.html'>
<link rel="import" href='../dialog/aq-invitefriend-dialog.html'>

<dom-module id="aq-app">
    
    <style include="iron-flex iron-flex-alignment"></style>

    <style>
      
      :host {
        display: block;
      }

      .paper-header {
          position: relative;
      }

      paper-drawer-panel {
          height: 100%;
          background-color: #fafafa;
          will-change: transform;
          --paper-drawer-panel-left-drawer-container :{
              z-index: 1002;
          };
      }

      paper-header-panel {
        height: 100%;
        --background-color: #f4f9f7;
      }

      aq-sidebar{
          z-index: 1000;
      }

      #main {
         height: 100vh;
      }

    </style>
    
    <template>

      <aq-check-authentication id='authItem'></aq-check-authentication>
      <aq-google-analytics></aq-google-analytics>
      <div id="main">
        <paper-drawer-panel id="drawerpanel" force-narrow=1 responsive-width='900px' drawer-width="[[drawerWidth]]" narrow="{{narrow}}">
            
            <paper-header-panel id="mainpanel" main mode="[[computeToolbarType(hasToken, currentUrl)]]">
              
              <aq-toolbar has-token="{{hasToken}}" current-tab="{{currentTab}}" current-url="{{currentUrl}}" class="paper-header" show-menu="true"></aq-toolbar>
   
              <iron-lazy-pages restamp attr-for-selected="page" selected="[[computePage(currentUrl)]]"> <!-- fallback-selection="/main"-->

                  <template is='iron-lazy-page' restamp page="/errorPage">
                      <aq-error-page></aq-error-page>
                  </template>

                  <template is='iron-lazy-page' restamp page="/main">
                      <aq-homepage></aq-homepage>
                  </template>

                  <template is='iron-lazy-page' restamp page="/about">
                      <aq-aboutpage></aq-aboutpage>
                  </template>

                  <template is='iron-lazy-page' restamp page="/policy">
                      <aq-policy></aq-policy>
                  </template>

                  <template is='iron-lazy-page' restamp page="/user">
                      <aq-user-login-panel></aq-user-login-panel>
                  </template>

                  <template is='iron-lazy-page' restamp page="/user/signup">
                      <aq-user-login-panel></aq-user-login-panel>
                  </template>  

                  <template is='iron-lazy-page' restamp page="/research">
                      <aq-dashboard-main></aq-dashboard-main>
                  </template>
              </iron-lazy-pages>

          </paper-header-panel>
        </paper-drawer-panel>

        <aq-sendfeedback-dialog id='feedbackDialog'>
        </aq-sendfeedback-dialog>

        <aq-invitefriend-dialog id='inviteDialog'>
        </aq-invitefriend-dialog>

      </div>

      <aq-socket-handler id='socketHandler'></aq-socket-handler>
      
       <iron-localstorage
          id='localStorage'  
          name="my-app-storage"
          value="{{aimsquant}}"
          on-iron-localstorage-load-empty="initializeDefaultValue">
        </iron-localstorage>

      <iron-ajax 
        url="" 
        body="{{feedBackData}}" 
        method='POST' 
        id='postFeedbackQuery' 
        headers='{{header}}' 
        handle-as="json" 
        on-response="onPostFeedbackResponse"
        on-error="onPostFeedbackError" 
        last-response="{{ajaxResponse}}" 
        debounce-duration="300">
      </iron-ajax>

      <iron-ajax 
        url=""
        body="{{inviteData}}" 
        method='POST' 
        id='sendInviteQuery' 
        headers='{{header}}' 
        handle-as="json" 
        on-response="onSendInviteResponse"
        on-error="onSendInviteError" 
        last-response="{{ajaxResponse}}" 
        debounce-duration="300">
      </iron-ajax>

      <iron-ajax
          url=""
          body="{{updateTokenBody}}"
          method='PUT'
          id='updateTokenQuery'
          handle-as="json"
          on-response="onUpdateTokenResponse"
          on-error="onUpdateTokenError"
          headers='{"Content-Type": "application/json"}'
          debounce-duration="300">
      </iron-ajax>

  </template>

  <script>

    Polymer({

        is: 'aq-app',

        properties: {
          narrow: {
            type:Boolean,
            value:false,
          },

          showSidebar:{
            type:Boolean,
            value:false,
          },

          view: {
            type:String,
            notify:true,
          },

          hasToken: {
              type:Boolean,
              value:false
          },

          currentTab:{
            type:Number,
            //value:0,
          },

          aimsquant:{
            type: Object,
            notify: true,
          },

          drawerWidth:{
            type:String,
            value:"228px",
          },

          inviteData:Object,

          feedBackData:Object,

          header:Object,

          APIEndPoint:String,

          reload: {
              type: Boolean,
              value: false,
          },

        },

        listeners: {
            'loginClicked':'gotoSignin',
            'signupClicked':'gotoSignup',
            'signout-action':'onSignOut',
            'take-feedback-action':'openFeedbackDialog',
            'send-feedback-action':'sendFeedBack',
            'enter-invite-action':'openInviteDialog',
            'send-invite-action':'sendInvite',
            'myaccount-action':'onMyAccount',
            
            'execute-backtest':'requestExecution',
            'subscribe-data':'onSubscription',
            'unsubscribe-data':'onUnsubscription',
            'unsubscribe-all':'onUnsubscribeAll',
            
            'update-token':'onTokenUpdate',
            'scroll-top':'scrollToTop',
            'rt-changed':'goToRoute',
            'rt-reload':'reloadRoute',
            'update-localstorage-community':'updateCommunityState',
            'update-localstorage-backtest-settings':'updateBacktestSettings',
            'ajax-error':'onAjaxError',
        },

        attached: function() {

            //this.listen(window, 'hashchange', '_urlChanged');
            this.isURLResetPassword();

            if(this.$.authItem.checkHasToken()) {
                this.$$('#socketHandler').openConnection();
                this.hasToken = this.$.authItem.checkHasToken();
            }

            var lastTab;
            var x = localStorage.getItem('my-app-storage');
            
            if (x) {
                lastTab = JSON.parse(x).lastTab;
            }

            //this.listen("window.hashchange", 'onHashChange' , false);
            //this.listen(window, 'hashchange', 'onHashChange');
            this.listen(window, 'popstate', 'onUrlChange');
            //10 min
            //setInterval(this.setreload.bind(this), 600000);
            

            this.currentUrl = this.redirect(window.location.href);

        },

        onHashChange: function(e) {
            this.currentUrl = this.redirect(window.location.href);
        },

        onUrlChange: function(e) {
            //console.warn(e);
            this.currentUrl = window.location.href;

            //window.history.pushState({}, null, route);
            window.dispatchEvent(new CustomEvent('location-changed'));

        },

        setreload: function() {
            this.reload = true;
        },

        computeToolbarType: function(hasToken, currentUrl) {
            return hasToken ? (currentUrl ? (currentUrl.indexOf("main") == -1 && currentUrl.indexOf("about") == -1 ? "fixed" : "scroll") : "scroll") : "fixed";
        },

        computePageViewForToken: function(hasToken, currentTab) {
            if(hasToken) {}
        },

        isURLResetPassword: function() {
            if(this.URLcontains('/research/user/resetpassword')) {
                this.removeToken();
            }
        },

        computeGetBacktesturl: function(backtestId) {
          var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
          return APIEndPoint+'/backtest/'+backtestId;
        },

        initializeDefaultValue: function() {
            if(!localStorage.getItem('my-app-storage')) {
              this.aimsquant = {user:'', lastRequest:'', community:{lastPage:1, searchText:"", searchCategory:"", searchTab:0}, lastTab:0, settings:''};
              this.$.localStorage.save();
            } 
        },

        URLcontains: function(path) {
            return (location.hash.match(path)) ? true : false;
        },

        gotoSignin: function() {
            this.fire('rt-changed',{route:'/user/signin'});
        },

        onSignOut: function() {     
            this.removeToken();
            //this.hasToken = this.$.authItem.checkHasToken();
            this.fire('rt-changed',{route:'/user/signout'});
        },

        openFeedbackDialog: function() {
            this.$.feedbackDialog.open();
        },

        sendFeedBack: function(e){
            this.feedBackData = {"feedback":e.detail.feedback, "subject":e.detail.subject};
            
            if(this.$.authItem.checkHasToken()) {
                this.header = this.$.authItem.getHeader();
                var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                this.$.postFeedbackQuery.url = APIEndPoint+'/user/sendFeedback';
                this.$.postFeedbackQuery.generateRequest();
            } else {
                this.gotoSignin();
            }
        },

        onPostFeedbackResponse: function (e) {
        },

        onPostFeedbackError: function(e) {
            this.fire('ajax-error', {request: e.detail.request});
        },

        openInviteDialog: function() {
            this.$.inviteDialog.open();
        },

        sendInvite: function(e) {
            this.inviteData = {emailList:e.detail.address};
            
            if(this.$.authItem.checkHasToken()) {
              this.header = this.$.authItem.getHeader();
              var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
              this.$.sendInviteQuery.url = APIEndPoint+'/user/sendInvite';
              this.$.sendInviteQuery.generateRequest();
            } else {
              this.gotoSignin();
            }
        },

        onSendInviteResponse: function(e) {
        },

        onSendInviteError: function(e) {
            this.fire('ajax-error', {request: e.detail.request});
        },

        onMyAccount: function() {
            this.fire('rt-changed',{route:'/user/myaccount'});
        },

        requestExecution: function(e) {
            if(this.$.authItem.checkHasToken()) {
                this.$$('#socketHandler').handleExecution(e.detail.backtestId);
            } else {
                this.gotoSignin();
            }
        },

        onSubscription: function(e) {
            if(this.$.authItem.checkHasToken()) {
                this.$$('#socketHandler').handleSubscription(e.detail.backtestId);
            } else {
                this.gotoSignin();
            }
        },

        onUnsubscription: function(e) {   
            if(this.$.authItem.checkHasToken()) {
                this.$$('#socketHandler').handleUnsubscription(e.detail.backtestId);
            } else {
                this.gotoSignin();
            }
        },

         onUnsubscribeAll: function(e) {   
            if(this.$.authItem.checkHasToken()) {
                this.$$('#socketHandler').handleUnsubscribeAll();
            } else {
                this.gotoSignin();
            }
        },

        updateHeader: function(user) {
          this.header = {
              "aimsquant-token": user.token,
              "Content-Type": "application/json"};
        },

        removeToken: function() {
            this.set('aimsquant.user','');
            this.$.localStorage.save(); 

            this.hasToken = this.$.authItem.checkHasToken();
            this.fire('rt-changed',{route:'/user/signin'});
        },

        updateToken: function(user) {
            this.set('aimsquant.user', user);
            this.$.localStorage.save();
        },

        onTokenUpdate: function(e) {
            this.updateToken(e.detail.user);
            this.hasToken = this.$.authItem.checkHasToken();
            this.fire('iron-signal',{name:'dirtybit', data:1});
            
            var lastRequest = JSON.parse(localStorage['my-app-storage']).lastRequest;
            this.aimsquant.lastRequest = '';
            this.$.localStorage.save();

            this.$$('#socketHandler').openConnection();
            
            if(lastRequest!='') {
              var url = this.redirect(lastRequest);
              this.fire('rt-changed', {route: url});
            } else {
              this.async(function(){this.fire('rt-changed',{route:'/research'})}, 1000);
            }
        },

        scrollToTop: function() {
        },

        goToRoute: function(e) {

            this.reload = e.detail.reload;
            var route = this.redirect(e.detail.route);
            
            var idx = route.indexOf('?');
            
            //THIS PIECE OF CODE IS TRICKY
            //ALSO, ROUTING LOGIC NEEDS A REVAMP..TOOO Complicated
            /*if(idx == 0) { //this one is when URL is refreshed and has query params
                route = '/' + route;
            } else if(idx > 0) {
                //route = '/' + route.slice(idx) + (idx > 0 ? '#' + route.slice(0, idx) : '');

                route = '/' + route.slice(idx) + (idx > 0 ? route.slice(0, idx) : '');
            } else {
                var idx = route.indexOf('#');
                //route = idx != -1 ? route.slice(idx) : '/#' + route;
                route = idx != -1 ? route.slice(idx) : route;
            }*/
            
            if(this.reload) {
                window.location.reload(true);
                this.reload = false;
            }
            
            window.history.pushState({}, null, route);
            window.dispatchEvent(new CustomEvent('location-changed'));

            //find a way to update currentUrl ...should listen to window
            //haschange event
            this.currentUrl = route;
        },

        reloadRoute: function() {
            window.location.reload(true);
        },

        /*computePage: function(currentUrl) {
            if(currentUrl.indexOf('#/research') != -1) {
                return "/research";
            } else if(currentUrl.indexOf('#/user/signup') != -1) {
                return "/user/signup";
            } else if(currentUrl.indexOf('#/user') != -1) {
                return "/user";
            } else if(currentUrl.indexOf('#/about') != -1) {
                return "/about";
            } else if(currentUrl.indexOf('#/policy') != -1) {
                return "/policy";
            } else if(currentUrl.indexOf('#') !=-1) {
                return currentUrl.slice(currentUrl.indexOf('#') + 1);
            } else if (currentUrl.indexOf('errorPage') !=-1) {
                return  "/errorPage";
            } else {
                return  "/main";
            }
        },*/

        computePage: function(currentUrl) {
            if(currentUrl.indexOf('/research') != -1) {
                return "/research";
            } else if(currentUrl.indexOf('/user/signup') != -1) {
                return "/user/signup";
            } else if(currentUrl.indexOf('/user') != -1) {
                return "/user";
            } else if(currentUrl.indexOf('/about') != -1) {
                return "/about";
            } else if(currentUrl.indexOf('/policy') != -1) {
                return "/policy";
            } else if (currentUrl.indexOf('/errorPage') !=-1) {
                return  "/errorPage";
            } else {
                return  "/main";
            }
        },

        redirect: function(route) {
          if(!this.hasToken && route.indexOf('/research') != -1) {
              
              if(this.aimsquant) {
                this.aimsquant.lastRequest  = route;
                this.$.localStorage.save();
              }

              if(route.indexOf('/research/community') != -1) {
                  return route;
              }
              
              return "/user/signin";
          }

          if(this.hasToken && (route.indexOf('signin') != -1 || route.indexOf('signup') != -1)) {
              return "/research/strategy";
          }

          switch(route) {
            case "/research/createstrategy":
              return '/research/strategy?create=1';
              break;
            case "/research/createpost":
              return "/research/community/create"
              break;
            case "/research": 
              return "/research/strategy"; 
              break;
            case "/research/home": 
              return "/research/strategy"; 
              break;
            default:
              return route;
              break 
          }
        },

        updateCommunityState: function(e) {
            this.aimsquant.community.searchText = e.detail.searchText;
            this.aimsquant.community.searchCategory = e.detail.searchCategory;
            this.aimsquant.community.lastPage  = e.detail.lastPage;
            
            this.aimsquant.community.searchTab = e.detail.searchTab;
            
            this.$.localStorage.save();
        },

        updateBacktestSettings: function(e) {
            this.aimsquant.settings = e.detail.settings;
            this.$.localStorage.save();
        },

        onAjaxError: function(e) {

            var response = e.detail.request.response;
            if(!response) {
                response = {statusCode: 400};
            }
            if(!response.statusCode) {
                response.statusCode = response.status ? response.status : 400; 
            }

            if(response.statusCode == 403 && response.name == "TokenExpiredError") {
                this.requestUpdateToken();
            } else /*if(response.statusCode == 404 || response.statusCode == 401 || response.statusCode == 400)*/ {
                this.fire('rt-changed', {route:`/errorPage?code=${response.statusCode}`});
            }
        },

        requestUpdateToken: function() {
            if(this.$.authItem.checkHasToken()) {
                this.header = this.$.authItem.getHeader();
                var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;

                const userDetails = this.aimsquant.user;
                const token = userDetails.token;

                if(userDetails=="" || token=="") {
                    this.removeToken();
                    return;
                }

                this.updateTokenBody={email: userDetails.email, token:token};
                this.$.updateTokenQuery.url = APIEndPoint+'/user/updateToken';
                
                this.debounce('updateToken', function(){this.$.updateTokenQuery.generateRequest();}, 500);

            } else {
                this.fire('rt-changed', {route: '/user/signin'});
            }
        },

        onUpdateTokenResponse: function(e) {
            this.updateToken(e.detail.response);
            this.currentUrl = "";
            this.currentUrl = window.location.href;
        },  

        onUpdateTokenError: function(e) {
            this.removeToken();

            //Ad logic to save the last visited URL
            //To be called after successful login
        },

    });
  </script>
</dom-module>
