<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="./aq-community-postdetail-content.html">

<dom-module id="aq-community-postdetail-reply">
    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>
        :host{
            font-family: 'Lato' , sans-serif;
            font-size: 16px;
        }

        #author {
            font-size: 15px;
            font-family: 'Lato', sans-serif;
            --padding-bottom: 5px;
            border-bottom: 1px solid #e1e1e1;
            padding: 20px;
            --padding-right: 10px;
        }

        #img {
            margin-right: 10px;
            margin-bottom: 5px;
        }

        .bar {
            border-bottom: 1px solid #e1e1e1;
            margin-bottom: 20px;
        }

        paper-card {
            width: 100%;
        }

    </style>

    <template>
        <paper-card>
        <div id='author' class="layout horizontal center">
            <aq-profile-img class="self-center" id='img' first-name="[[replyData.user.firstName]]" last-name="[[replyData.user.lastName]]" class="self-end"></aq-profile-img>
        
            <div> 
                <div id='author-detail'> 
                    <span class="self-center" id="author-name">
                        <span class="self-center author-name-detail">[[replyData.user.firstName]] [[replyData.user.lastName]]</span>
                    </span>
                </div>
            
                <div id='created'>
                  <span class="self-center created-text">on 
                    <span class="self-center created-date">[[format(replyData.updatedAt)]]</span>
                  </span>
                </div>
            </div>
        </div>

        <aq-community-postdetail-content post-content="{{replyData}}">
        </aq-community-postdetail-content>
        </paper-card>

    </template>

    <script>
        Polymer({
            is: 'aq-community-postdetail-reply',

            properties: {
                replyData: Object
            },  

            format: function (d) {
               return date.formatDateLocale(d);
            },  

        });
    </script>
