<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel='import' href='../../../bower_components/iron-ajax/iron-ajax.html'>

<link rel='import' href='../../icons/aq-iconset.html'>

<link rel="import" href="../common/aq-check-authentication.html">
<link rel="import" href="../aq-html-editor.html">
<link rel="import" href="./aq-community-previewpost-item.html">
<link rel="import" href="../../dialog/aq-community-attachbacktest-dialog.html">
<link rel="import" href="../../../bower_components/paper-toast/paper-toast.html">

<dom-module id="aq-community-create-reply">
    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>
        :host{
            font-family: 'Lato' , sans-serif;
            font-size: 16px;
        }
       
        paper-button {
            --paper-button: {
                font-size: 0.7em;
                background-color: teal;
                color: white;
                padding: 0 20px;
                border-radius: 0;
                height: 25px;
                font-weight: 700;
            };
        }

        #attachButton {
            background-color: white !important;
            color: teal !important;
            border: none !important;
        }

        #buttons {
            margin-bottom: 10px;
            margin-top: 20px;
        }

        #errorMessage {
            color: #cc6666;
        }

        #attachedMessageDiv {
            display: none;
            color: #727272;
            font-size: 14px;
            padding: 0px 10px;
            border-radius: 4px;
            background-color: #f2f2f2;
        }

        #removeIcon {
            width: 32px;
            height: 32px;
        }
       
        aq-html-editor{
            --aq-html-editor-box-shadow:0 3px 8px rgba(0,0,0,0.2);
            --aq-html-editor-border:none;
        }
        .attachment-container {
            margin-top: 30px;
            margin-bottom: 10px;
        }

        paper-toast {
            --paper-toast-background-color: #cc4444;
            font-weight: 700;

        }

    </style>

    <template>
        <aq-check-authentication id='authItem'></aq-check-authentication>
        
        <template is='dom-if' if="[[preview]]">
            <aq-community-previewpost-item reply thread-data="[[threadData]]"></aq-community-previewpost-item>

            <div class="layout horizontal" id='buttons'>
                <div class="flex"></div>

                <paper-button raised noink on-tap='onEdit' id="editBtn">Edit</paper-button>

                <paper-button raised noink on-tap="postThread" id="reply-btn">Post Reply</paper-button>
            </div>
        </template>

        <template is='dom-if' if="[[!preview]]">

            <div id="replybox" class="flex layout vertical">

                <div class="layout horizontal attachment-container">
                    <div class="flex"></div>
                    <template is='dom-if' if='[[messageAttached]]'>
                        <paper-button style="color:#444;" id='attachButton' raised noink
                                      on-tap='onAttach'>
                            Attach
                            <iron-icon icon="aq-icons:attach-file"></iron-icon>
                        </paper-button>
                    </template>
                    <div id="attachedMessageDiv" class="layout horizontal self-end">
                        <span class="self-end">[[attachedMessage]]</span>
                        <paper-icon-button id='removeIcon' class="self-end" title="Remove"
                                           on-tap='onRemoveAttached' icon="clear"></paper-icon-button>
                    </div>
                </div>
                
                <aq-html-editor id="editor"></aq-html-editor>

                <div class="layout horizontal" id='buttons'>
                    <paper-button raised noink on-tap='onPreview' id="previewBtn">Preview</paper-button>
                    <div class="flex"></div>

                    <paper-button raised noink on-tap="postThread" id="reply-btn">Post Reply</paper-button>
                </div>
            </div>
            <paper-toast text="[[error]]"></paper-toast>
        </template>

        <aq-community-attachbacktest-dialog id='btDialog'>
        </aq-community-attachbacktest-dialog>

        <iron-ajax
                url="[[computePostReplyThreadUrl(threadId)]]"
                body="{{threadData}}"
                method='POST'
                id='postThreadQuery'
                headers='{{header}}'
                handle-as="json"
                on-response="onPostReplyResponse"
                on-error="onPostReplyError"
                debounce-duration="300">
        </iron-ajax>
    </template>

    <script>
        Polymer({
            is: 'aq-community-create-reply',

            properties: {

                header: Object,

                error: String,

                threadId: {
                    type: String,
                    observer: "_threadIdChanged",
                },

                threadData: Object,

                attachedMessage: String,

                attachedBacktestId: String,

                preview: {
                    type: Boolean,
                    value: false,
                },
                messageAttached: {
                    type:Boolean,
                    value:true
                },

            },

            listeners: {
                'backtest-attached': 'onBacktestAttached',
                //'edit-clicked': 'onEdit',
                'submit-clicked': 'postThread',
            },

            computePostReplyThreadUrl: function (threadId) {
                var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                return APIEndPoint + '/thread/' + threadId;
            },

            postThread: function () {

                if (!this.$.authItem.checkHasToken()) {
                    this.fire('rt-changed', {route: 'user/signin'});
                }

                if (this.processInput()) {
                    this.header = this.$.authItem.getHeader();
                    this.$.postThreadQuery.generateRequest();

                    this.onRemoveAttached();
                    this.preview = false;
                } else {
                    this.error = "Cannot post an empty reply. Please create a valid reply.";
                }
            },

            onPostReplyResponse: function (e) {
                var success = e.detail.response.success;
                
                if (success) {
                    this.fire('reply-added', {reply: this.threadData});
                }

                this.threadData = {};
            },

            onPostReplyError: function (e) {
                this.loading = true;
                this.threadData = {};
                this.fire('ajax-error', {request: e.detail.request});
            },

            clearEditor: function () {
                this.$$('#editor').clearContent();
            },

            processInput: function () {
                try {
                    const markdownText = this.$$('#editor').getContent();
                    var x = localStorage.getItem('my-app-storage');
                    var user = JSON.parse(x).user;

                    var threadData = {
                        "markdownText": markdownText,
                        "user": {"firstName": user.firstName, "lastName": user.lastName},
                        "updatedAt": new Date(),
                    };

                    if (this.attachedBacktestId && this.attachedBacktestId != "") {
                        threadData["backtestId"] = this.attachedBacktestId;
                    }

                    if (threadData["markdownText"] != "") {
                        this.threadData = threadData;
                        this.error = "";
                        return true;
                    } else {
                        this.error = "Empty Reply. Please create a valid reply.";
                        this.$$('paper-toast').open();
                        return false;
                    }
                } catch(err){
                    this.$$('paper-toast').open();
                }
            },

            onPreview: function () {
                this.preview = this.processInput();
                if (!this.preview) {
                    this.error = "No preview available for empty reply. Please create a valid reply.";
                } 
            },

            onEdit: function () {
                this.preview = false;
            },

            onAttach: function () {
                this.$.btDialog.open();
            },

            onBacktestAttached: function (e) {
                this.attachedBacktestId = e.detail.id;
                this.attachedMessage = "Attached Backtest ID: " + this.attachedBacktestId;
//                this.$$('#removeIcon').style.display = 'inline';
                this.$$('#attachedMessageDiv').style.display = 'block';
                this.messageAttached = false;
            },

            onRemoveAttached: function () {
                this.attachedBacktestId = "";
                this.attachedMessage = "";
                //this.threadData = {};
                this.$$('#attachedMessageDiv').style.display = 'none';
                this.messageAttached = true;
            },

            _threadIdChanged: function (nThreadId, oThreadId) {
                if (!nThreadId || nThreadId == "") {
                    //this.resetView();
                }
            },

            resetView: function () {
                this.preview = false;
                this.$$('#editor').setContent("");
                this.$$('#editor').focus();
                this.onRemoveAttached();
            },

        });
    </script>
