<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/iron-ajax/iron-ajax.html'>

<link rel="import" href="./aq-community-postdetail-content.html">
<link rel="import" href="../aq-profile-img.html">
<link rel='import' href='../../icons/aq-iconset.html'>
<link rel="import" href="../common/aq-profile-pic-element.html">
<script src="../../../resources/scripts/DateTime.js"></script>

<dom-module id="aq-community-postdetail-header">

    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>
        :host {
            display: block;
            font-family: 'Lato', sans-serif;
            color: #3c3c3c;
        }

        #post-header{
            background-color: #fff;
            --box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
            padding: 20px;
            padding-bottom: 5px !important;
            border-radius: 4px;
            background-color: white;
        }
        
        #heading {
            font-size: 1.2em;
            font-weight: 700;
            color: #3c3c3c;
        }

        #category {
            font-size: 0.8em;
            margin-top: 5px;
            --color: #3c3c3c;
            color: #cc6666;
        }

        #header-content {
            margin-top: 30px;
        }

        #followers {
            font-size: 0.8em;
            color: #24293d;
            margin-right: 10px;
            margin-top:5px;
        }

        paper-tooltip.iconTooltip {
            --paper-tooltip: {
                font-size: 13px;
                min-width: 40px;
                text-align: center;
            } --paper-tooltip-opacity: 1.0;
            --paper-tooltip-background: teal;
        }

        .middle-container{
            position: relative;
        }

        .right-container{
            --position: absolute;
            --top:-20px;
            --right:0;
        }

        paper-button {
            --paper-button: {
                font-size: 0.7em;
                color: teal;
                padding: 0 20px;
                border-radius: 0;
                height: 25px;
                border: 1px solid teal;
                font-weight: 700;
            };
            
        }

        aq-community-postdetail-content{
            position: relative;
            top:20px;
        }

        .post-icon {
            color: #cc4444;
            transform: scale(1.8, 1.8);
            position: relative;
            top: 10px
        }

        #header-container {
            margin-left: 15px;
            min-height: 60px;
        }  

        .tags-container {
            padding: 0;
            margin-top: 10px;
            --margin-bottom: 10px;
        }

        .tags-header {
            font-size: 0.8em;
            color: #919191;
            margin-right: 10px;
        } 

        #author {
            --margin-top: 40px;
            --margin-bottom: 15px;
            font-size: 14px;
            font-family: 'Lato', sans-serif;
            --border-bottom: 1px solid #efefef;
            padding-bottom: 5px;
        }

        #img {
            margin-right: 10px;
            margin-bottom: 5px;
        }

        #followIcon.Follow {
            color: teal;
            background-color: white;
            border-color: 1px solid teal;
        }

        #followIcon.UnFollow {
            color: white;
            background-color: teal;
            --border-color: 1px solid teal;
        } 

        aq-tag-element {
            margin-right: 3px;
        }  

    </style>

    <template>
        <aq-check-authentication id='authItem'></aq-check-authentication>

        <iron-ajax
            url=""
            method="POST"
            id='follows'
            handle-as="json"
            on-response="onFollowThreadResponse"
            headers='{{header}}'
            debounce-duration="300">
        </iron-ajax>

        <div id='post-header' class="layout vertical">
            <template is='dom-if' if='[[!reply]]'>
                <div class="layout horizontal">       
                    <iron-icon class="post-icon self-start" icon="[[computeIcon(postHeader.category)]]"></iron-icon>
                    
                    <div id="header-container" class="self-center">
                        <div id='heading'>[[postHeader.title]]</div>
                        <div id='category'><i>[[postHeader.category]]</i></div>
                    </div>

                    <div class="flex"></div>
                    
                    <div id='followers' class="self-start"> 
                        <template is="dom-if" if="[[hasFollowers(followers)]]">
                            <span>Following: [[followers.length]]</span>
                        </template>
                    </div>
                    <paper-button raised class$="self-start [[computeFollowTitle(followers)]]"
                        noink id='followIcon' disabled="[[preview]]"
                        on-tap='onFollow'>[[computeFollowTitle(followers)]]
                    </paper-button>        
                </div>
            </template>

            <div id='author' class="layout horizontal center">
                <aq-profile-img class="self-center" id='img' first-name="[[postHeader.user.firstName]]" last-name="[[postHeader.user.lastName]]" class="self-end"></aq-profile-img>
                
                <div> 
                    <div id='author-detail'> 
                        <span class="self-center" id="author-name">
                            <span class="self-center author-name-detail">[[postHeader.user.firstName]] [[postHeader.user.lastName]]</span>
                        </span>
                    </div>
                    
                    <div id='created'>
                        <span class="self-center created-text">on 
                          <span class="self-center created-date">[[format(postHeader.updatedAt)]]</span>
                        </span>
                    </div>
                </div>
                
                <div class="flex"></div>

                <template is="dom-if" if="[[postHeader.tags.length]]">
                <div class="tags-div layout horizontal">
                    <div class="tags-header self-center">Tags:</div>
                    
                    <template is="dom-repeat" items="[[postHeader.tags]]">
                        <aq-tag-element class="self-center" label="{{item}}"></aq-tag-element>
                    </template>
                
                </div>
                </template>
            </div>

            <!--aq-community-postdetail-content post-content="[[postHeader]]"></aq-community-postdetail-content-->
        </div>

    </template>

    <script>
        Polymer({
            is: 'aq-community-postdetail-header',

            properties: {
                postHeader: {
                  type: Object,
                  observer:'_postHeaderChanged',
                },

                header: Object,

                preview: {
                    type: Boolean,
                    value: false,
                },

                followers: {
                    type: Array,
                    value: [],
                },

                reply: {
                    type: Boolean,
                    value: false,
                }
            },

            attached: function() {
                this.computeFollowTitle(this.followers);
                
                if(this.unfollow) {
                    this.unFollow();
                }
            },

            computeIcon: function(category) {
                if (category == "Share your Idea") {
                    return "lightbulb-outline";
                } else {
                    return "question-answer";
                }
            },

            _postHeaderChanged: function () {

                if (this.postHeader.followers) {
                    this.followers = this.postHeader.followers;
                }
            },

            hasPostHeader: function (postHeader) {
                if (postHeader) {
                    return Object.keys(postHeader).length > 0;
                }

                return false;
            },

            computeFollowPostUrl: function (postHeader) {
                var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                return APIEndPoint + '/thread/' + postHeader._id + '/follow';
            },

            onFollow: function () {
                if (this.$.authItem.checkHasToken()) {
                    this.header = this.$.authItem.getHeader();
                    this.$.follows.url = this.computeFollowPostUrl(this.postHeader);
                    this.$.follows.generateRequest();
                } else {
                    this.fire('rt-changed', {route: '/user/signin'});
                }
            },

            unFollow: function () {
                if (this.$.authItem.checkHasToken()) {
                    var user = this.$.authItem.getUser();
                    var userId = user._id;
                    if(this.followers.indexOf(userId) > -1){ 
                        this.header = this.$.authItem.getHeader();
                        this.$.follows.url = this.computeFollowPostUrl(this.postHeader);
                        this.$.follows.generateRequest();
                    }
                } else {
                    this.fire('rt-changed', {route: '/user/signin'});
                }
            },

            hasFollowers: function (followers) {
                return followers.length > 0;
            },

            onFollowThreadResponse: function (e) {
                this.followers = e.detail.response;
            },

            computeFollowTitle: function (followers) {
                if (this.$.authItem.checkHasToken()) {
                    var user = this.$.authItem.getUser();
                    var userId = user._id;
                    return followers.indexOf(userId) > -1 ? "UnFollow" : "Follow";
                }

                return "Follow";

            },

            format: function (d) {
               return date.formatDateLocale(d);
            },

        });

    </script>

</dom-module>
