<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/paper-radio-group/paper-radio-group.html'>
<link rel='import' href='../../../bower_components/paper-radio-button/paper-radio-button.html'>
<link rel='import' href='../../../bower_components/paper-tooltip/paper-tooltip.html'>
<link rel="import" href="../common/aq-tags-input-container.html">
<link rel="import" href="../common/aq-tag-element.html">
<link rel='import' href='../common/aq-check-authentication.html'>
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<dom-module id='aq-community-home-searchbar'>
    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>

        input {
            height: 32px;
            -webkit-appearance: none;
            line-height: 46px;
            border: 0;
            margin: 0;
            padding-left: 10px;
            border: 1px solid #e5e5e5;
            @apply(--paper-font-body1);
            font-size: 14px;
            background-color: #fff;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
            transition: all 0.4s ease-in-out;
            display: inline-block;
        }

        input:focus{
            outline: 0;
            background-color: #f7f7f7;
        }

        #tagsInput {
            outline: none;
            width: 100%;
            box-shadow: none;
            width: 30%;
            min-width: 225px;
            margin-right: 10px;
        }

        #searchbox::-webkit-search-cancel-button {
            position: relative;
            right: 15px;
        }

        .search-bar {
            --width: 45%;
            margin: 0 auto;
            position: relative;
            margin-bottom: 5px;
        }

        .add-tag span {
        	font-size:12px;
        	--text-decoration: underline;
        	color: #cc6666;
        	margin-left: 5px;
        }

        .add-tag span:hover {
        	cursor: pointer;
        }

        paper-button {
            border: none;
        }

        .search-btn {
            border: none;
            font-size: 12px;
            background-color: teal;
            --border: 1px solid teal;
            color: white;
            padding: 0 10px;
            height: 35px;
            font-weight: 700;
        }

        aq-tag-element {
            margin-top: 5px;
            margin-bottom: 6px;
            --tag-element-background-color: #D7D7D7;
        }

        iron-icon {
            width: 13px;
            height: 13px;
        }

        #container {
            width: 100%;
            min-width: 400px;
        }
 
    </style>

    <template>
        <aq-check-authentication id='authItem'></aq-check-authentication>
        <div id="container">
            <div class="search-bar layout horizontal">
                <input id="searchbox" placeholder="Search Term" class="flex"
                       value="{{searchValue::input}}"
                       on-keydown="checkForKeys">
               	
               	<paper-button raised class="btn search-btn" on-tap="search">Search</paper-button>
            </div>

            <template is='dom-if' if='[[addTag]]'>
	             <div class="tag-bar layout horizontal">
                    <input type="text" id="tagsInput" placeholder="Add tags here and press Enter" on-keydown="onChange" on-keyup="scrollToBottom">
                    <div id="tagsContainer" class="tags-container">
                        <template is="dom-repeat" items="{{tags}}">
                            <aq-tag-element label="{{item}}">
                                <iron-icon icon="clear" on-tap="removeTag"></iron-icon>
                            </aq-tag-element>
                        </template>
                    </div>
                </div>
          	</template>

        	<template is='dom-if' if='[[!addTag]]'>
        		<div class='add-tag'><span on-tap='toggleAddTag'>Add Tags?</span></div>
        	</template>
        
        </div>
    </template>
    <script>

        Polymer({
            is: 'aq-community-home-searchbar',

            properties: {
                selectedCategory: {
                    type: Number,
                    value: 0,
                },

                searchValue: {
                    type: String,
                    value: "",
                },

                lastSearchValue: {
                    type: String,
                    value: "",
                },

                lastSelectedCategory: {
                    type: Number,
                    value: 0,
                },

                active: Boolean,

                categories: {
                    type: Array,
                    value: [{value: "All", index: 0}, {
                        value: "Share your Idea",
                        index: 1
                    }, {value: "Questions and Answers", index: 2}, {value: "News and Announcements", index: 3}],

                },

                addTag: {
                	type: Boolean,
                	value: false,
                },
                
                tags:{
                    type:Array,
                    value:[]
                }
            },

            attached: function () {
                if (this.active) {
                    this.$.searchdiv.style.display = 'block';
                    this.$.searchIcon.style.display = 'none';
                    this.$.searchbox.focus();
                    this.$.searchbox.value = this.searchValue;
                }

                this.addTag = false;
            },

            search: function (forced = false) {
                this.searchValue = this.$$('#searchbox').value;

                if (this.lastSelectedCategory != this.selectedCategory || this.lastSearchValue != this.searchValue || forced) {

                    this.fire('search-action', {
                        text: this.searchValue,
                        category: this.selectedCategory >= 0 ? this.categories[this.selectedCategory].value : ""
                    });
                }

//                if (this.searchValue == "") {
//                    this.toggle();
//                }

                this.lastSearchValue = this.searchValue;
                this.lastSelectedCategory = this.selectedCategory;

            },

            blur: function() {
                var lastVal = this.$$('#searchbox').value; 
                this.$$('#searchbox').value = "";
                this.selectedCategory = 0;
                
                if(lastVal != "") {
                    this.debounce('search', function(){this.search(true);}, 50);
                }

                //this.async(function(){this.$$('#searchbox').focus();}, 50);
            },

            toggle: function () {
                var d = this.$.searchdiv.style.display;
                if (d == "block") {
                    this.$.searchdiv.style.display = 'none';
                    this.$.searchIcon.style.display = 'inline';
                } else {

                    if (!this.$.authItem.checkHasToken()) {
                        this.fire('rt-changed', {route: '/user/signin'});
                        return;
                    }
                    this.$.searchdiv.style.display = 'block';
                    this.$.searchIcon.style.display = 'none';
                    this.$.searchbox.focus();
                    this.$.searchbox.value = "";
                }
            },

            checkForKeys: function (e) {
                // check if 'esc' was pressed
                if (e.keyCode === 27) {
                    this.blur();
                } else if (e.keyCode === 13) {
                    this.search();
                }
            },

            onChange: function (e) {
                if (e.keyCode == 13 && e.target.value.length >= 1) {
                    if(this.tags.length < 5 && 
                            this.tags.map(item=>{return item.toLowerCase();}).indexOf(e.target.value.toLowerCase()) == -1) {
                        this.push('tags', e.target.value);
                    }

                    if (this.$$('#tagsInput')) {
                        this.$$('#tagsInput').value = "";
                    }
                }else if(e.keyCode == 27){
                    this.set('tags',[]);
                    this.$$('#tagsInput').value = "";
                }
            },
            removeTag: function (e) {
                var itemName = e.model.item;
                var index = this.tags.indexOf(itemName);
                this.splice('tags', index, 1);
            },
            
            scrollToBottom: function () {
                var element = document.getElementById("tagsContainer");
                if (element) {
                    element.scrollTop = element.scrollHeight;
                }
            },

            toggleAddTag: function() {
            	this.addTag = !this.addTag;
            },

        });


    </script>
</dom-module>

