<link rel="import" href="../../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel='import' href='../../../bower_components/paper-card/paper-card.html'>
<link rel='import' href='../../../bower_components/iron-media-query/iron-media-query.html'>
<link rel='import' href='../aq-profile-img.html'>
<link rel="import" href="../help/aq-help-marked-item.html">
<link rel="import" href="../../icons/aq-iconset.html">
<link rel="import" href="../common/aq-tag-element.html">
<link rel="import" href="../common/aq-post-user-comment.html">
<link rel="import" href="../common/aq-label-content-item.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../common/aq-profile-pic-element.html">
<!--link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet"-->

<dom-module id="aq-community-home-post-item2">
    <template>
        <style include="iron-flex iron-flex-alignment iron-positioning">
        </style>

        <style>
            :host {
                display: inline-block;
                position: relative;
                font-family: 'Lato', sans-serif;
                font-size: 16px;
            }

            .container {
                display: flex;
                width: 100%;
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
                flex-direction: column;
                justify-content: center;
                
                margin-bottom: 25px;
                border-radius: 2px;
                transition: all 0.2s ease-in-out;
                cursor: pointer;
                background-color: #fff;
            }

            .inner-container {
                padding: 15px 20px 10px 20px;
            }

            .container:hover {
                box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
            }

            h1, h2, h3, h4, h5 {
                margin: 0;
                padding: 0;
            }

            .tags-container {
                padding: 0;
                margin-top: 10px;
                margin-bottom: 10px;
                font-size: 0.8em;
                color: #919191;
            }

            .bar {
                width: 100%;
                background-color: #E0E0E0;
                height: 1px;
                margin: 0 auto;
                margin-bottom: 10px;

            }

            .header {
                color: #2f2f2f;
                font-family: 'Lato', sans-serif;
                font-weight: 400;
                font-size: 17px;
            }

            .attachment-btn {
                color: #cc4444;
                position: absolute;
                right: 0;
                top: 5px;
            }

            .right-part[wide-layout] {
                @apply(--layout-horizontal);
            }

            .right-part[!wide-layout] {
                @apply(--layout-vertical);
            }


            .left-part .post-container {
                margin-right: 30px;
            }

            .post-icon {
                color: #cc4444;
                transform: scale(1.8, 1.8);
                position: relative;
                top: 10px
            }

            .upper-container-header {
                --position: relative;
                margin-left: 15px;
                min-height: 60px;
            }

            label-content-item {
                margin-left: 20px;
            }

            aq-profile-img,profile-pic-element {
                margin-right: 10px;
            }

            .by {
                margin-right: 10px;
            }

            .user-name {
                margin-right: 6px;
            }

            .by {
                font-weight: 300;
                font-size: 12px;
                color: #646464;
            }

            .time {
                font-weight: 400;
                font-size: 0.75em;
                color: #8a8c97;
            }

            .user-name {
                font-weight: 400;
                font-size: 1.1em;
                color: #646464;
            }

            #category {
                font-size: 0.8em;
                margin-top: 5px;
                color: #3c3c3c;
                --color: #cc6666;
            }

            aq-tag-element {
                margin-right: 3px;
            }
        </style>

        <iron-media-query query="(min-width: 1050px)" query-matches="{{wide}}"></iron-media-query>
       
        <div class="container" on-tap='goToDetail'>
            <div class="inner-container">
            <div class="title-container layout horizontal">
                <iron-icon class="post-icon" icon="[[computeIcon(thread.category)]]"></iron-icon>
                <div class="upper-container-header layout vertical flex">
                    <h1 class="header">[[thread.title]]</h1>
                    <span id='category' class="self-top"><i>[[thread.category]]</i></span>

                    <div class="layout horizontal">
                        <div class="flex"></div>    
                        <template is='dom-if' if=[[hasTags(thread.tags)]]>
                            <div class="tags-container">
                                Tags:&nbsp 
                                <template is='dom-repeat' items="[[thread.tags]]">
                                    <aq-tag-element label="[[item]]">
                                    </aq-tag-element>
                                </template>
                            </div>    
                        </template> 
                    </div>
                    <!--div class="flex"></div-->
                </div>

                <template is='dom-if' if='[[hasBacktest(thread)]]'>
                    <paper-icon-button class="attachment-btn" icon="attachment"></paper-icon-button>
                </template>
            </div>
            
            <div class="bar"></div>
            
            <div class="layout horizontal center">
                <aq-profile-img id='img' class="self-start"
                               letter="[[getInitials(thread.user.firstName, thread.user.lastName)]]"></aq-profile-img>

                <div class="post-container layout vertical">
                    <h3 class="by"><span class="user-name">[[getAuthorFullName(thread.user.firstName, thread.user.lastName)]]</span>
                    </h3>
                    <span class="time">[[format(thread.createdAt)]]</span>
                </div>

                  <!--div class="flex"></div>  
                      <h3 class="by">Last Reply by <span class="user-name">[[getReplyAuthor(thread)]]</span></h3>
                      <span class="time">[[getReplyDate(thread)]]</span>
                  </div-->

                <div class="flex"></div>

                <div class="right-part layout vertical" wide-layout$="[[wide]]">
                    <label-content-item label="Views" text="[[thread.views]]"></label-content-item>
                    <label-content-item label="Replies" text="[[thread.replies.length]]"></label-content-item>
                    <label-content-item label="Followers" text="[[thread.followers.length]]"></label-content-item>
                </div>
            </div>
            </div>
        </div>
    </template>


    <script>
        Polymer({
            is: 'aq-community-home-post-item2',
            
            properties: {
                thread: {
                    type: Object
                },

                wide: String,
            },

            computeIcon: function(category) {
                if (category == "Share your Idea") {
                    return "lightbulb-outline";
                } else {
                    return "question-answer";
                }
            },
            
            attached: function () {
                if (this.icon === 'communication:forum') {
                    this.$$('.post-icon').style.transform = "scale(1,1)";
                }
            },

            
            getInitials: function (firstName, lastName) {
                return firstName.charAt(0) + lastName.charAt(0);
            },

            goToDetail: function () {
                this.fire('rt-changed', {route: '/research/community/' + this.thread._id});
            },

            getLastReplyDetails: function (thread) {

                var lastreplyAuthor = this.getReplyAuthor(thread);
                var lastreplyDate = this.getReplyDate(thread);

                if (lastreplyDate != '' && lastreplyAuthor != '') {
                    return lastreplyAuthor + " on " + lastreplyDate;
                } else {
                    return "No replies yet";
                }
            },

            getAuthorFullName: function (authorFirstname, authorLastname) {
                return authorFirstname + ' ' + authorLastname;
            },

            getReplyDate: function (thread) {
                if (thread.replies.length > 0) {
                    return this.format(thread.replies[thread.replies.length - 1].createdAt);
                } else {
                    return 'No replies yet.';
                }
            },

            getReplyAuthor: function (thread) {
                if (thread.replies.length > 0) {
                    var reply = thread.replies[thread.replies.length - 1];
                    return reply.user.firstName + " " + reply.user.lastName;
                } else {
                    return '';
                }
            },

            hasBacktest: function (thread) {
                if (thread.backtestId) {
                    return true;
                }

                for (i = 0; i < thread.replies.length; i++) {
                    if (thread.replies[i].backtestId) {
                        return true;
                    }
                }

                return false;
            },

            format: function (date) {
                var options = {
                    weekday: "long", year: "numeric", month: "short",
                    day: "numeric", hour: "2-digit", minute: "2-digit"
                };

                return new Date(date).toLocaleTimeString("en-us", options);
            },

            hasReplies: function (thread) {
                return thread.replies && thread.replies.length > 0;
            },

            hasTags: function(tags) {
                if (tags) {
                    return tags.length > 0;
                }

                return false;
            }


        });
    </script>

</dom-module>

