<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../common/aq-allpage-layout.html">

<link rel="import" href="./aq-community-previewpost-item.html">

<dom-module id="aq-community-previewpost">

    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>

        #postNbacktest {
            width: 100%;
            --height: 30px;
            margin-bottom: 10px;
        }

        #buttons {
            margin-bottom: 30px;
            margin-top: 30px;
        }

        aq-community-postdetail-header {
            margin-top: 30px;
        }

        #lower-button-group {
            margin-top: 30px;
            margin-bottom: 30px;
        }

        #bar {
            border-bottom: 1px solid #3c3c3c;
        }

    </style>

    <template>

        <aq-allpage-layout header="Preview Post" current-path="[[currentPath]]">
            <div class="header-button layout horizontal self-center">
                
                <paper-button raised noink on-tap='onEdit'>Edit</paper-button>
                <paper-button raised noink on-tap='onSubmit'>Submit</paper-button>
            
            </div>

            <div class="internal-content">
                <aq-community-previewpost-item thread-data="[[threadData]]">
                </aq-community-previewpost-item>
            </div>

            <div class="footer-button layout horizontal" id='lower-button-group'>
                <div class="flex"></div>
                <paper-button raised noink on-tap='onEdit'>Edit</paper-button>
                <paper-button raised noink on-tap='onSubmit'>Submit</paper-button>
            </div>

        </all-page-layout>
    </template>

    <script>
        Polymer({
            is: 'aq-community-previewpost',

            properties: {

                threadData: Object,

                reply: {
                    type: Boolean,
                    value: false,
                },
                disableButtons: {
                    type: Boolean,
                    value: false
                },

                currentPath: {
                    type: Array,
                    value: [{text:"Community", route:"/research/community"}, {text:"Preview Post"}],
                },
            },

            attached: function() {
                document.title = "Community: Preview post - AimsQuant";
            },

            onEdit: function () {
                this.fire('edit-clicked');
            },

            onSubmit: function () {
                this.fire('submit-clicked');
            },
            editClicked: function () {
                alert("Edit Clicked");
            }

        });
    </script>

</dom-module>  
