<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel='import' href='../../../bower_components/iron-ajax/iron-ajax.html'>
<link rel='import' href='../../../bower_components/app-route/app-route.html'>
<link rel='import' href='../../../bower_components/app-route/app-location.html'>

<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../../bower_components/paper-toast/paper-toast.html">

<link rel="import" href="../common/aq-tag-element.html">
<link rel='import' href='../common/aq-dropdown.html'>
<link rel="import" href="../common/aq-tags-input-container.html">
<link rel="import" href="../common/aq-check-authentication.html">

<link rel='import' href='../../icons/aq-iconset.html'>

<link rel="import" href="../aq-html-editor.html">
<link rel="import" href="./aq-community-previewpost.html">
<link rel="import" href="../../dialog/aq-community-attachbacktest-dialog.html">

<dom-module id="aq-community-createpost">
    <style include="iron-flex iron-flex-alignment iron-positioning"></style>

    <style>
        :host {
            width: 100%;
            font-family: 'Lato', sans-serif;
            font-size: 16px;
            --background-color: transparent;
        }

        paper-button {
            --paper-button: {
                font-size: 0.7em;
                background-color: teal;
                color: white;
                padding: 0 20px;
                border-radius: 0;
                height: 25px;
                font-weight: 700;
            };
        }

        #attachButton {
            background-color: white !important;
            color: teal !important;
            border: none !important;
        }

        #buttons {
            margin-bottom: 10px;
            margin-top: 10px;
        }

        #errorMessage {
            color: #cc6666;
        }

        #attachedMessageDiv {
            display: none;
            color: #727272;
            font-size: 14px;
            padding: 0px 10px;
            border-radius: 4px;
            background-color: #f2f2f2;
        }

        #removeIcon {
            width: 32px;
            height: 32px;
        }

        .secondary-container {
            padding: 20px 20px;
        }

        .tags-container {
            margin-left: 10px;
        }

        .tags-header {
            font-size: 0.8em;
            color: #727272;
        }

        aq-tag-element {
            --margin-top: 5px;
            --margin-bottom: 5px;
            --tag-element-background-color: #D7D7D7;
        }

        iron-icon {
            width: 13px;
            height: 13px;
        }

        .middle-container {
            margin-top: 10px;
            --margin-bottom: 20px;
        }

        paper-radio-button {
            padding: 0;
            --paper-radio-button-checked-color: #cc4444;
            --paper-radio-button-size: 14px;
            margin-right: 15px;
        }

        paper-radio-button span {
            font-size: 14px;
        }

        paper-radio-group {
            margin-left: 10px;
        }

        .attachment-container {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        paper-toast {
            --paper-toast-background-color: #cc6666;
            font-weight: 700;
        }

        #backIcon {
            color: #cc4444;
            transform: scale(1.6, 1.6);
        }

        #previewEditBtn, #previewSubmitBtn {
            border-radius: 2px;
            height: 25px;
        }

        #previewSubmitBtn{
            background-color: teal;
            color: #fff;
            margin-right: 10px;
        }

        #previewEditBtn{
            background-color: #cccccc;
        }

        #create-post-container {
            margin-left: 8%;
            margin-right: 8%;
            margin-top: 30px;
            margin-bottom: 10px;
        }

        #limit-tags-text {
            font-size: 12px;
            color: #3c3c3c;
            margin-top: 5px;
        }

        input {
            width: 100%;
            padding: 10px;
            border: 1px solid #e1e1e1;
            color: #cc6666;
            font-size: 26px;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
            background-color: #fff;
            outline: none;
        }

        #tagsInput {
            width: 30%;
            min-width: 200px;
            font-size: 16px;
            box-shadow: none;
            border: none;
            color:black;
        }

        #tags-outer-container {
            border: 1px solid #e1e1e1;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
        }

        aq-tag-element {
            margin-right: 3px;
        }

    </style>

    <template>
        <aq-check-authentication id='authItem'></aq-check-authentication>
        <app-location route="{{route}}"></app-location>

        <app-route
            route="{{route}}"
            pattern="/research/community/create"
            query-params="{{queryParams}}">
        </app-route>

        <iron-ajax
            url=""
            body="{{threadData}}"
            method='POST'
            id='postThreadQuery'
            headers='{{header}}'
            handle-as="json"
            on-response="onPostThreadResponse"
            on-error="onPostThreadError"
            debounce-duration="300">
        </iron-ajax>

        <template is='dom-if' if="[[preview]]">
            <aq-community-previewpost
                thread-data="[[threadData]]" disable-buttons>
            </aq-community-previewpost>
        </template>

        <aq-community-attachbacktest-dialog id='btDialog'>
        </aq-community-attachbacktest-dialog>

        <template is='dom-if' if="[[!preview]]">
            <aq-allpage-layout header="Create a Post" current-path="[[currentPath]]">
                <div class="internal-content" id="create-post-container">
                    <div style="width: calc(100% - 23px);">
                        <input type="text" 
                            id="topicInput"
                            class="flex"
                            placeholder="Title">
                    </div>
                
                    <div class="middle-container layout vertical">
                        <div id='tags-outer-container' class="layout horizontal center">
                            <input type="text" id="tagsInput" 
                             placeholder="Add tags here"
                                on-keydown="onChange" 
                                on-keyup="scrollToBottom">

                            <div class="tags-container">
                                <template is="dom-repeat" items="{{tags}}">
                                    <aq-tag-element class="self-center" label="{{item}}">
                                        <iron-icon class="self-center" icon="clear" on-tap="removeTag"></iron-icon>
                                    </aq-tag-element>
                                </template>
                            </div>
                        </div>
                        
                        <div id="limit-tags-text" class="self-end">Add upto 5 tags</div>

                    </div>
                            
                    <div class="layout horizontal">
                        <div class="self-center">
                        <span class="tags-header">Post Type: &nbsp;</span>
                        </div>
                        
                        <paper-radio-group id="selectedCategory" class="self-center" aria-labelledby="label1"
                                           selected="Share your Idea">
                            <paper-radio-button noink name="Share your Idea"><span>Share your Idea</span>
                            </paper-radio-button>
                            <paper-radio-button noink name="Questions and Answers"><span>Quesions and Answers</span>
                            </paper-radio-button>
                        </paper-radio-group>
                    </div>
                        
                    <div class="layout horizontal attachment-container">
                        <div class="flex"></div>
                        <template is='dom-if' if='[[hasAttachment]]'>
                            <paper-button style="color:#444;" id='attachButton' raised
                                          on-tap='onAttachRequest'>
                                Attach
                                <iron-icon icon="aq-icons:attach-file"></iron-icon>
                            </paper-button>
                        </template>
                        <div id="attachedMessageDiv" class="layout horizontal self-end">
                            <span class="self-end">[[attachedMessage]]</span>
                            <paper-icon-button id='removeIcon' class="self-end" title="Remove"
                                               on-tap='onRemoveAttached' icon="clear"></paper-icon-button>
                        </div>
                    </div>

                    <aq-html-editor id="editor"></aq-html-editor>

                    <div id='buttons' class="layout horizontal">
                        <paper-button id="previewBtn" on-tap='onPreview'>Preview</paper-button>
                        <div class="flex"></div>
                        <paper-button id="submitBtn" on-tap="postThread">Submit</paper-button>
                    </div>
                    
                </div> <!--Create Post Container ends-->
            </aq-allpage-layout>

            <paper-toast text="[[error]]"></paper-toast>
            
        </template>
    </template>
    
    <script>
        Polymer({
            is: 'aq-community-createpost',

            properties: {
                threadData: Object,

                categories: {
                    type: Array,
                    value: [{value: "Share your Idea", index: 0}, {value: "Questions and Answers", index: 1}],
                },

                preview: {
                    type: Boolean,
                    value: false,
                },

                error: String,

                header: Object,

                attachedBacktestId: {
                    type: String,
                    observer: '_backtestIdChanged',
                },

                attachedMessage: String,
                
                hasAttachment: {
                    type: Boolean,
                    value: false
                },
                
                share: String,

                newThreadId: String,

                queryParams: Object,
                
                tags: {
                    type: Array,
                    value: []
                },

                currentPath: {
                    type: Array,
                    //value: ["Home", "Community", "Create a Post"],
                }

            },
            
            listeners: {
                'edit-clicked': 'onEdit',
                'submit-clicked': 'postThread',
                'backtest-attached': 'onBacktestAttached',
            },

            attached: function() {
                this.resetView();
                this.attachedBacktestId = this.queryParams.backtestId;

                var currentPath = JSON.parse(JSON.stringify(this.currentPath));

                this.currentPath = [];
                currentPath.push({text:"Create a Post"});
                this.currentPath = currentPath;
                this.tags = [];

                document.title = "Community: Create a post - AimsQuant";
            },

            postThread: function () {
                var x = this.processInput();
                if (x && this.$.authItem.checkHasToken()) {
                    this.header = this.$.authItem.getHeader();
                    var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                    this.$.postThreadQuery.url = APIEndPoint + '/thread';
                    this.$.postThreadQuery.generateRequest();
                }
            },

            onPostThreadResponse: function (data) {
                this.newThreadId = data.detail.response._id;

                this.resetView();

                this.fire('iron-signal', {name: 'post-added'});

                this.fire('rt-changed', {route:"/research/community/"+this.newThreadId});

            },

            onPostThreadError: function (e) {
                this.fire('ajax-error', {request: e.detail.request});
            },

            onAttachRequest: function () {
                this.$$('#btDialog').open();
            },

            onBacktestAttached: function (e) {
                this.attachedBacktestId = e.detail.id;
                //this.handleAttachedBacktest();
            },

            handleAttachedBacktest: function () {
                if (this.attachedBacktestId && this.attachedBacktestId != "") {
                    this.attachedMessage = "Attached Backtest ID: " + this.attachedBacktestId;
                    this.$$('#attachedMessageDiv').style.display = 'block';
                    this.hasAttachment = false;
                } else {
                    this.attachedMessage = "";
                    if (this.$$('#attachedMessageDiv')) {
                        this.$$('#attachedMessageDiv').style.display = 'none';
                        this.hasAttachment = true;
                    }
                }
            },

            onRemoveAttached: function () {
                this.attachedBacktestId = "";
                this.hasAttachment = false;
            },

            goBack: function () {
                this.fire('rt-changed', {route: '/research/community'});
            },

            processInput: function () {
                try {
                    const markdownText = this.$$('#editor').getContent();

                    const category = this.$$('#selectedCategory').selected;

                    const title = this.$$('#topicInput').value;
                    var x = localStorage.getItem('my-app-storage');
                    var user = JSON.parse(x).user;

                    var threadData = {
                        "category": category,
                        "title": title,
                        "markdownText": markdownText,
                        "user": {"firstName": user.firstName, "lastName": user.lastName},
                        "updatedAt": new Date(),
                        "tags": this.tags
                    };


                    // Send to backedn only if available. Backend can't handle empty backtestids
                    if (this.attachedBacktestId && this.attachedBacktestId != "") {
                        threadData["backtestId"] = this.attachedBacktestId;
                    }

                    if (threadData["title"] != "" &&
                            threadData["category"] != "" &&
                            threadData["markdownText"] != ""
                    ) {

                        this.error = "";
                        this.threadData = threadData;
                        return true;

                    } else {
                        this.error = "No preview available for empty post. Please create a valid post and a header.";
                        this.$$('paper-toast').open();
                        return false;
                    }
                } catch (err) {
                    this.error = "No preview available for empty post. Please create a valid post and a header.";
                    this.$$('paper-toast').open();
                }
            },

            onPreview: function () {
                this.preview = this.processInput();
            },

            onEdit: function () {
                this.threadData = {};
                this.preview = false;
            },

            resetView: function () {
                this.preview = false;
                this.attachedBacktestId = "";
                this.hasAttachment = false;
                this.attachedMessage = "";
                this.threadData = {};

                if (this.$$('#editor')) {
                    this.$$('#editor').clearContent();
                    this.$$('#editor').focus();
                }

                if (this.$$('#topicInput')) {
                    this.$$('#topicInput').value = "";
                    this.$$('#topicInput').focus();
                }
            },

            _backtestIdChanged: function (nId, oId) {
                this.async(this.handleAttachedBacktest, 500);
            },

            onChange: function (e) {
                var maxTags = 5;
                if (e.keyCode == 13 && e.target.value.length >= 1 && this.tags.length < maxTags) {
                    this.push('tags', e.target.value);
                    if (this.$$('#tagsInput')) {
                        this.$$('#tagsInput').value = "";
                    }
                }
            },

            removeTag: function (e) {
                var itemName = e.model.item;
                var index = this.tags.indexOf(itemName);
                this.splice('tags', index, 1);
            },

            scrollToBottom: function () {
                var element = this.$$("#tags-container");
                if (element) {
                    element.scrollTop = element.scrollHeight;
                }
            }

        });
    </script>
</dom-module>
