<link rel='import' href='../../../bower_components/paper-fab/paper-fab.html'>
<link rel='import' href='../../../bower_components/paper-tabs/paper-tabs.html'>

<link rel='import' href='../../../bower_components/paper-checkbox/paper-checkbox.html'>

<link rel='import' href='../../../bower_components/paper-card/paper-card.html'>
<link rel='import' href='../../../bower_components/paper-tabs/paper-tab.html'>
<link rel="import" href="../../../bower_components/iron-localstorage/iron-localstorage.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/iron-media-query/iron-media-query.html'>
<link rel='import' href='../../../bower_components/iron-ajax/iron-ajax.html'>
<link rel='import' href='../../../bower_components/paper-tooltip/paper-tooltip.html'>
<link rel='import' href='../../../bower_components/app-route/app-route.html'>
<link rel='import' href='../../../bower_components/app-route/app-location.html'>
<link rel="import" href="../../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel='import' href='../../../bower_components/iron-signals/iron-signals.html'>

<link rel="import" href="../common/aq-allpage-layout.html">
<link rel='import' href='../common/aq-check-authentication.html'>
<link rel='import' href='../common/aq-pagination.html'>
<link rel='import' href='../common/aq-loading-progress.html'>

<link rel="import" href="./aq-community-home-searchbar.html">
<link rel="import" href="./aq-community-home-post-item2.html">

<link rel="import" href="./aq-announcement-card.html">
<link rel='import' href='../../icons/aq-iconset.html'>

<dom-module id="aq-community-home">

    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>
        #header {
            margin-bottom: 30px;
        }

        i {
            font-size: 16px;
        }

        .insidetoolbar {
            outline-color: blue;
            border: solid;
        }

        input {
            font: inherit;
            font-size: 16px;
            color: black;
        }

        .right-container {
            margin-left: 30px;
        }

        #community-tabs,#search-tabs {
            max-width: 350px;

            font-size: 16px;
            border-bottom: 1px solid #e5e5e5;
            margin-top: 30px;
            --paper-tabs-selection-bar-color: #cc6666;
            --paper-tabs-selection-bar: {
                height: 4px;
            }
        }

        paper-tab {
            --paper-tab-content: {
                color: #cc6666;
            }

            --paper-tab-content-unselected: {
                color: #3c3c3c;
            }
        }

        .filter-container {
            margin: 20px;
        }

        .tabs-filter-container {
            margin-bottom: 5px;
        }

        #ifsearch {
            display: none;
        }

        paper-tab.iron-selected {
            color: #000;
        }

        aq-announcement-card {
            --aq-announcement-card-width: 300px;
            margin-bottom: 30px;
        }

        .aq-announcement-container {
            --position: relative;
            --top: 18px;
            margin-top: 100px;
        }

        .search-result {
            font-family: 'Lato', sans-serif;
            font-weight: 700;
            color: #424242;
        }

        .search-string {
            font-family: 'Lato', sans-serif;
            font-weight: 400;
            color: #757575;
        }

        .hr-bar {
            width: 100%;
            height: 1px;
            background-color: #BDBDBD;
        }

       paper-button {
            --paper-button :{
                font-size: 12px;
                font-weight: 700;
                background-color: teal;
                color: white;
            };
        }

        paper-checkbox {
            --paper-checkbox-checked-color: #cc6666;
            --paper-checkbox-label-color: #3c3c3c;
            --paper-checkbox-unchecked-color: #e1e1e1;
            --paper-checkbox-size: 12px;
            margin-right: 0px;
            --paper-checkbox-label: {
                font-size: 12px;
            }
            transform: scale(0.8, 0.8);
        }

        .withTokenTabs {
            display: none;
        }

    </style>

    <template>

        <iron-media-query query="(min-width: 850px)" query-matches="{{wide}}"></iron-media-query>

        <meta name="description" content="Share your investment insights with the community, learn from the feedback and continuously improve your investment strategies. Build, test and research investment stategies with in-built code editor and data from Indian Equity markets.">
       
        <aq-check-authentication id='authItem'></aq-check-authentication>

        <iron-ajax
            url=""
            method='GET'
            id='getAllThreadsQuery'
            params='[[searchParam]]'
            handle-as="json"
            on-response="onGetAllThreadsResponse"
            on-error="onGetAllThreadsError"
            headers='{{header}}'
            debounce-duration="300"
            loading='{{loading}}'>
        </iron-ajax>

        <iron-ajax
            url="../../../resources/community/announcement.json"
            method='GET'
            id='getAnnouncementsQuery'
            handle-as="json"
            on-response="onGetAnnouncementsResponse"
            on-error="onGetAnnouncementsError"
            headers='{{header}}'
            debounce-duration="300">
        </iron-ajax>

        <iron-signals on-iron-signal-post-added='onPostAdded'></iron-signals>

        <iron-signals on-iron-signal-dirtybit='onSetDirtyBit'></iron-signals>

        <aq-allpage-layout loading='{{firstLoading}}' header="Community" 
            current-path="[[currentPath]]">

            <div class="header-button self-center">
                <paper-button raised class="self-center" noink on-tap='createPost'>New Post</paper-button>
            </div>

            <div id="community-container" class="internal-content" class="layout vertical">
                <div class="layout horizontal">
                    <div class="left-container flex">
                        <aq-community-home-searchbar 
                            active="[[isSearchActive(searchText)]]" search-value="[[searchText]]">
                        </aq-community-home-searchbar>
                    
                        <template is='dom-if' if='[[isSearchActive(searchText, searchCategory)]]'>
                            
                            <p class="search-result">Search results for <span class="search-string">"[[searchText]]"&nbsp</span>
                            </p>
                            <div class="hr-bar"></div>
                           
                        </template>

                        <div class="tab-filter-container layout vertical">
                            <paper-tabs class="self-start" on-iron-select="onActivateTab" id="community-tabs" selected="{{selected}}" noink>
                                <paper-tab id="popular">Popular</paper-tab>
                                <paper-tab id="newest">Newest</paper-tab>
                                <paper-tab class="withTokenTabs" id="following">Following</paper-tab>
                                <paper-tab class="withTokenTabs" id="personal">Personal</paper-tab>
                            </paper-tabs>

                            <div class="filter-container self-end">
                                <template is='dom-if' if=[[hasToken]]>
                                    <paper-checkbox id="checkbox-all"
                                        on-change="onCheck" noink>All
                                    </paper-checkbox>
                                    
                                    <paper-checkbox id="checkbox-ideas"
                                        on-change="onCheck" noink>Ideas
                                    </paper-checkbox>
                                    
                                    <paper-checkbox id="checkbox-questions"
                                        on-change="onCheck" noink>Questions
                                    </paper-checkbox>
                                    
                                    <paper-checkbox id="checkbox-news"
                                        on-change="onCheck" noink>News</paper-checkbox>
                                </template>
                            </div> 
                            
                        </div>

                        <aq-loading-progress loading="{{loading}}">
                        </aq-loading-progress>

                        <template is='dom-if' if='[[!loading]]'>
                            <div class="list-container layout vertical">
                                <template is="dom-repeat" items="{{threads}}">
                                    <aq-community-home-post-item2 thread="[[item]]">
                                    </aq-community-home-post-item2>
                                </template>
                            </div>
                        </template>
                    </div>
                   
                    <div class="right-container">
                        <template is='dom-if' if="{{wide}}">
                            <div class="aq-announcement-container layout vertical">
                                
                                <template is='dom-repeat' items='{{announcements}}'>  
                                    <aq-announcement-card 
                                        header="[[item.header]]"
                                        sub-header="[[item.subHeader]]"
                                        announcement=[[item.announcement]]>
                                    </aq-announcement-card>
                                </template>
                            </div>
                        </template>
                    </div>
                </div>

                <div id="pagination" class="layout horizontal self-center">
                    <div class="flex"></div>
                    <template is='dom-if' if='[[hasThreads(threads)]]'>
                        <aq-pagination per-page="[[perPage]]"
                                       current-page="{{currentPage}}"
                                       total-items="[[totalThreads]]">
                        </aq-pagination>
                    </template>
                    <div class="flex"></div>
                </div>
            </div>
        </aq-allpage-layout>
    </template>

    <script>

        Polymer({
            is: 'aq-community-home',

            properties: {
                selected: {
                    type: String,
                    value: 0
                },

                threads: {
                    type: Array,
                    value: [],
                },

                searchParam: {
                    type: Object,
                },

                searchText: {
                    type: String,
                    value: "",
                },

                searchCategory: {
                    type: String,
                    value: "",
                },

                currentPage: {
                    type: Number,
                    value: 1,
                    observer: '_currentPageChanged',
                },

                perPage: {
                    type: Number,
                    value: 10,
                },

                totalThreads: {
                    type: Number,
                },

                aimsquant: Object,
                header: Object,

                personal: {
                    type: Boolean,
                    computed: 'isSelected(selected, 3)'
                },

                following: {
                    type: Boolean,
                    computed: 'isSelected(selected, 2)'
                },

                loading: Boolean,

                dirtyBit: {
                    type: Number,
                    value: 1,
                    //observer:'_dirtyBitChanged',
                },

                currentPath: {
                    type: Array,
                },

                firstLoading: {
                    type: Boolean,
                    value: true,
                },

                wide: String,
                hasToken:Boolean,

            },

            listeners: {
                'search-action': 'onSearch',
                'view-action': 'onView',
            },

            attached: function () {
                document.title = "Community - AimsQuant";

                this.hasToken = this.$.authItem.checkHasToken();

                var x = localStorage.getItem('my-app-storage');
                if (x) {
                    var community = JSON.parse(x).community;
                    if (community) {
                        this.searchText = this.hasToken ? community.searchText : "";
                        this.searchCategory = this.hasToken ? community.searchCategory : "All";
                        this.oldselected = this.hasToken ? community.searchTab : 0;
                        this.selected = this.hasToken ? community.searchTab : 0;
                        this.currentPage = this.hasToken ? community.lastPage : 1;
                    }
                }
                
                if(this.hasToken) {
                    this.$$('#following').style.display = 'block';
                    this.$$('#personal').style.display = 'block';
                    this.async(function(){this.setupSearchCategoryFilters(this.searchCategory);}, 200);
                }

                if (!this.isSearchActive(this.searchText) || this.dirtyBit == 1) {
                    this.processparams();
                    this.dirtyBit = 0;
                }

                this.$.getAnnouncementsQuery.generateRequest();
                

            },

            _dirtyBitChanged: function() {
                if(this.dirtyBit == 1) {
                    this.debounce('dt_bt', this.processparams, 300);
                    this.dirtyBit = 0;
                }
            },

            isSelected: function (selected, selection) {
                return selected == selection;
            },

            onActivateTab: function () {
                //Delay search executio by 500ms on changing tab
                this.async(function() {
                    if(this.isSearchActive(this.searchText)) {
                        if (this.categorySelected != this.oldselected) {
                            this.oldselected = this.categorySelected;

                            if (this.currentPage == 1) {
                                if (this.isAttached) {
                                    this.processparams();
                                }
                            } else {
                                this.currentPage = 1;
                            }
                        }
                    }else {
                        if (this.selected != this.oldselected) {
                            this.oldselected = this.selected;

                            if (this.currentPage == 1) {
                                if (this.isAttached) {
                                    this.processparams();
                                }
                            } else {
                                this.currentPage = 1;
                            }
                        }
                    }
                }, 500);
            },

            onGetAllThreadsResponse: function (data) {
                this.set('threads', []);
                this.threads = data.detail.response.threads;
                this.totalThreads = data.detail.response.count;

                if(this.firstLoading) {
                    this.firstLoading = false;    
                }
            },

            onGetAllThreadsError: function (e) {
                this.loading = true;
                this.fire('ajax-error', {request: e.detail.request});
            },

            createPost: function () {

                if (!this.$.authItem.checkHasToken()) {
                    this.fire('rt-changed', {route: '/user/signin'});
                    return;
                }

                this.updateCommunityState();

                this.fire('rt-changed', {route: '/research/community/create'});
            },

            onSearch: function (e) {

                if(this.hasToken) {
                    this.searchText = e.detail.text;
                    this.searchCategory = e.detail.category;

                    if (this.searchText == "") {
                        this.currentPage = 1;
                        this.dirtyBit = 0;
                    } else {
                        this.dirtyBit = 1;
                    }

                    if (this.isAttached) {
                        this.processparams();
                    }
                } else {
                    this.fire('rt-changed', {route:'/user/signin'});
                }
            },

            isFollowing: function () {
                return this.selected == 2;
            },

            isPersonal: function () {
                return this.selected == 3;
            },

            processparams: function () {
                var category;
                var categorySearch=["", "Share your Idea", "Questions and Answers", "News and Announcements"];
                if (this.selected == 0) {
                    this.orderby = 'views';
                } else {
                    this.orderby = 'createdAt';
                }

                this.selected = this.$.authItem.checkHasToken() || this.selected < 2 ? this.selected : 0;

                this.updateCommunityState();

                var currentPage = (this.currentPage) ? this.currentPage : 1;
                
                category = this.searchCategory.indexOf("All") != -1 ? "" : this.searchCategory; 

                this.searchParam = {
                    "skip": this.perPage * (currentPage - 1),
                    "limit": this.perPage,
                    "order": "-1",
                    "q": this.hasToken ? this.searchText: "",
                    "order_param": this.orderby,
                    "personal": this.isPersonal(),
                    "following": this.isFollowing(),
                    "category": category
                };
                this.fetchResults();

            },

            fetchResults: function () {    
                var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                if(this.$.authItem.checkHasToken()) {
                    this.header = this.$.authItem.getHeader();
                    this.$.getAllThreadsQuery.url = APIEndPoint + '/thread';
                } else {
                    this.$.getAllThreadsQuery.url = APIEndPoint + '/thread_default';
                }

                this.$.getAllThreadsQuery.generateRequest();
            },

            _currentPageChanged: function (newPage, oldPage) {
                if (this.isAttached) {
                    
                    if(newPage!=1 && !this.$.authItem.checkHasToken()) {
                        this.fire('rt-changed', {route:'/user/signin'});
                        return;
                    }

                    this.processparams();
                    this.$$('#community-tabs').scrollIntoView(true);
                }
            },

            updateCommunityState: function () {
                this.fire('update-localstorage-community', {
                    searchText: this.searchText,
                    searchCategory: this.searchCategory,
                    lastPage: (this.currentPage) ? this.currentPage : 1,
                    searchTab: (this.selected) ? this.selected : 0
                });
            },

            isSearchActive: function (searchText) {
                return searchText.length > 0;
                // || (searchCategory && searchCategory.indexOf("All") == -1 && searchCategory.length > 0);
            },

            hasThreads: function (threads) {
                return threads.length > 0;
            },

            onPostAdded: function () {
                this.dirtyBit = 1;
            },

            onSetDirtyBit: function (e) {
                this.dirtyBit = e.detail;
            },

            onGetAnnouncementsResponse: function(e) {
                var announcements = e.detail.response.announcements;

                for(var i=0;i< announcements.length; i++) {
                    announcements[i].announcement = announcements[i].announcement.join(' '); 
                }

                this.announcements = announcements;
            },

            onGetAnnouncementsError: function(e) {
                //this.fire('ajax-error', {request: e.detail.request});
            },

            onCheck: function(e) {
                this.debounce('computeSearchCategory', this.computeSearchCategory, 500);
            },

            computeSearchCategory: function() {
                
                var all = this.$$('#checkbox-all').checked;
                var news = this.$$('#checkbox-news').checked;
                var ideas = this.$$('#checkbox-ideas').checked;
                var questions = this.$$('#checkbox-questions').checked;

                var oldSearchCategory = this.searchCategory;

                //reset search category
                this.searchCategory = "";

                if(all || (ideas && news && questions)) {
                    
                    var str = "All";
                    this.searchCategory = this.searchCategory == "" ? str : this.searchCategory.concat(" | ").concat(str);

                } 

                if(ideas) {
                    var str = "Share your Idea";
                    this.searchCategory = this.searchCategory == "" ? str : this.searchCategory.concat(" | ").concat(str);

                }

                 if(questions) {
                    var str = "Questions and Answers";
                    this.searchCategory = this.searchCategory == "" ? str : this.searchCategory.concat(" | ").concat(str);
                }
                
                if(news) {
                    var str = "News and Announcements";
                    this.searchCategory = this.searchCategory == "" ? str : this.searchCategory.concat(" | ").concat(str);

                }

                //ALl is included in both before and after
                if (oldSearchCategory.indexOf("All") != -1 && this.searchCategory.indexOf("All") != -1) {
                    return
                }

                if(oldSearchCategory.concat(this.searchCategory) == "All") {
                    return; 
                }

                if(oldSearchCategory != this.searchCategory) {
                    this.processparams();
                }

            },

            setupSearchCategoryFilters: function(searchCategory) {
                if(searchCategory.indexOf("All")!=-1 
                        || searchCategory == "") {
                    this.$$('#checkbox-all').checked = true;
                }

                if(searchCategory.indexOf("News")!=-1) {
                    this.$$('#checkbox-news').checked = true;
                }

                if(searchCategory.indexOf("Share")!=-1) {
                    this.$$('#checkbox-ideas').checked = true;
                }

                if(searchCategory.indexOf("Questions")!=-1) {
                    this.$$('#checkbox-questions').checked = true;
                }

            }
 
        });
    </script>
</dom-module>
