<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/iron-ajax/iron-ajax.html'>
<link rel='import' href='../../../bower_components/app-route/app-route.html'>
<link rel='import' href='../../../bower_components/app-route/app-location.html'>

<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel="import" href="../../../bower_components/iron-scroll-threshold/iron-scroll-threshold.html">

<link rel="import" href="./aq-community-postdetail-header.html">

<link rel="import" href="./aq-community-postdetail-content.html">
<link rel="import" href="./aq-community-postdetail-reply.html">
<link rel="import" href="./aq-community-create-reply.html">

<link rel="import" href="../common/aq-allpage-layout.html">
<link rel='import' href='../../icons/aq-iconset.html'>

<dom-module id="aq-community-postdetail">

  <style include="iron-flex iron-flex-alignment iron-positioning">
  </style>

  <style>
      :host{
          font-family: 'Lato', sans-serif;
          font-size: 16px;
      }

      #post-container {
          --margin-left: 2%;
          --margin-right:2%;
      }

      paper-icon-button {
          padding-left: 0px;
      }

      paper-card {
        width: 100%;
      }

      .reply-no{
          margin-top: 20px;
          font-size: 1em;
          font-weight: 700;
          color: #4e4e4e;
          display: block;
      }

      #replyContainer{
          position: relative;
          top:20px;
      }

      aq-community-postdetail-reply {
        margin-bottom: 7px;
      }

      aq-community-postdetail-content{
          --aq-community-postdetail-content-box-shadow:0 3px 8px rgba(0,0,0,0.2);
          --aq-community-postdetail-content-padding:10px 20px 10px 10px;
      }

      .header-container {
          --background-color: transparent;
          height: 55px;
          position: relative;
          left:-20px;
          margin-bottom: 10px;
      }

      #backIcon {
          color: #cc4444;
          transform: scale(1.6, 1.6);
      }

      .header-container h1 {
          font-size: 0.9em;
          color: #cc4444;
          margin-left: 0px;
          font-weight: 400;
          padding: 0;
      }

      paper-button {
        text-transform: none;
        font-size: 14px;
        color:#cc6666;
        margin-bottom: 10px;
      }

      .postContent {
          --post-content-padding: 20px;
      }

      #bar {
          border-top: 1px solid #e1e1e1;
      }
      
      .card-content {
          padding: 20px;
      }

      #reply-div  {
        margin-top: 40px;
      }

      aq-allpage-layout {
          scroll-behavior: inherit;
      }

      #random {
        height: 40px;
      }

      #threshold {
          height: 100%;
      }

  </style>  

  <template>
      <aq-check-authentication id='authItem'></aq-check-authentication>
      
      <iron-ajax      
          url=""
          method='GET'
          id='getThreadQuery'
          handle-as="json"
          on-response="onGetThreadDetailResponse"
          on-error="onGetThreadDetailError"
          headers='{{header}}'
          debounce-duration="300"
          loading='{{loading}}'>
      </iron-ajax>

      <iron-ajax      
          url=""
          method='GET'
          id='getThreadRepliesQuery'
          handle-as="json"
          on-response="onGetThreadRepliesResponse"
          on-error="onGetThreadRepliesError"
          headers='{{header}}'
          debounce-duration="300"
          loading='{{loading}}'>
      </iron-ajax>

       <iron-ajax
          url="[[computePostViewUrl(threadId)]]"
          on-response="onPostViewResponse"
          on-error="onPostViewError"
          method="POST"
          id='views'
          handle-as="json"
          headers='{{header}}'
          debounce-duration="300">
      </iron-ajax>

      <template is='dom-if' if=[[threadDetails]]>
          <meta name="description" content="[[getThreadMetaContent(threadDetails)]]">
      </template>
         
      <aq-allpage-layout id='layout' loading='{{loading}}' header="Post Detail" current-path="[[currentPath]]">  
         
          <div class="internal-content" id="post-container">
              <paper-card id="header" clas="flex">
                    <aq-community-postdetail-header
                            post-header='{{threadDetails}}'
                            unfollow=[[unfollow]]>
                    </aq-community-postdetail-header>

                    <div id="bar"></div>

                    <aq-community-postdetail-content
                            post-content='{{threadDetails}}'>
                    </aq-community-postdetail-content>
              </paper-card>
                
              <span class="reply-no">Replies&nbsp;([[numReplies(replies)]])</span>
              
              <template is='dom-if' if="[[hasReplies(replies)]]">
                  <div id="replyContainer" class="layout vertical">
                      <template is="dom-repeat"
                                items="{{replies}}"
                                initial-count=5>
                          <aq-community-postdetail-reply reply-data="[[item]]"></aq-community-postdetail-reply>
                      </template>
                  </div>>
              </template>

              <div id='reply-div'>
                  <template is='dom-if' if=[[hasToken]]>
                      <aq-community-create-reply 
                          id="replyEditor"
                          thread-id="[[threadDetails._id]]">
                      </aq-community-create-reply>
                  </template>

                  <template is='dom-if' if=[[!hasToken]]>
                      <paper-button raised style="color: teal; border:1px solid teal;" on-tap='goToLogin'>Log In to Comment</paper-button>
                  </template>

              </div>

          </div>
      </aq-allpage-layout>  

  </template>

  <script>
    Polymer ({
      is: 'aq-community-postdetail',

      properties: {
        
        threadId:{
          type:String,
        },
        
        header: {
          type:Object,
        },

        user: {
          type: Object, 
        },

        threadDetails: {
          type: Object,
        },

        replies: {
          type: Array,
        },

        loading:Boolean,

        currentPath: {
            type: Array,
            //value:["Home", "Community", "Post Detail"],
        },

        hasToken: Boolean,     

      },

      listeners :{
        'goBackClicked':'goBack',
        'reply-added':'addReply',
        'clone-backtest-clicked':'onCloneRequest',
        'lower-trigger':'showMeLove',
      },

      attached: function() {
          if(this.threadId == "create") {
            return;
          }
          
          this.hasToken = this.$.authItem.checkHasToken();

          this.user = this.$.authItem.getUser();
          this.header = this.$.authItem.getHeader();
          this.$.views.generateRequest();

          this.$.getThreadQuery.url = this.computeGetThreadUrl(this.threadId);
          this.$.getThreadQuery.generateRequest();

      },

      onGetThreadDetailResponse: function(data) {
          this.set('threadDetails', data.detail.response);

          document.title = 'Community: '+this.threadDetails.title + ' - AimsQuant';

          this.push('currentPath', {text:this.threadDetails.title})
          
          this.set('replies', data.detail.response.replies);
      },

      onGetThreadDetailError: function(e) {
          this.loading = true;
          this.fire('ajax-error', {request: e.detail.request});
      },

      onGetThreadRepliesResponse: function(data) {
          this.replies = this.replies.concat(data.detail.response.replies);
      },

      onGetThreadRepliesError: function(e) {
          this.loading = true;
          this.fire('ajax-error', {request: e.detail.request});
      },

      computeGetThreadUrl: function(threadId){
        var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
        return APIEndPoint + '/thread/' + threadId;
      },

      computePostViewUrl: function(threadId){
        var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
        return APIEndPoint+'/thread/'+threadId+'/view';
      },

      goBack: function() {
          this.fire('rt-changed',{route:'/research/community'});
      },

      addReply: function(e) {
        
        var reply = e.detail.reply;
        this.push('replies', reply);
        var replies = this.replies;
        this.replies = [];
        this.replies = replies;

        this.$$("#replyEditor").clearEditor();
      },

      hasThreadDetail: function(detail) {
          if (detail && this.threadId == detail._id) {
            return Object.keys(detail).length > 0;
          }

          return false;
      },

      hasReplies: function(replies) {
          return replies ? replies.length > 0 : false;
      },

      numReplies: function(replies) {
          return replies ? replies.length : 0;
      },

      onCloneRequest: function(e) {
          e.detail.backtestId = this.threadDetails.backtestId;
          //Don't stop the propagation
          //Will be handled in aq-dashboard-main
      },

      loadMoreData: function() {
          if(this.threadDetails) {
              if(this.replies.length < this.threadDetails.nreplies) {
                  this.skip = (this.skip + 1) * this.limit;

                  this.$.getThreadRepliesQuery.url = this.computeGetThreadUrl(this.threadId).concat('?select=replies&skip=').concat(this.skip).concat('&limit=').concat(this.limit);

                  this.$.getThreadRepliesQuery.generateRequest();
              }
          }
      },

      onPostViewError: function(e) {
      },

      onPostViewResponse: function(e) {
      },

      goToLogin: function() {
          this.fire('rt-changed',{route:'/user/signin'});
      },

      getThreadMetaContent: function(threadDetails) {
          return threadDetails.title + ". | Share your investment insights with the community, learn from the feedback and continuously improve your investment strategies."; 
      },

    });

  </script>

</dom-module>
