<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/polymer-quill/polymer-quill-html-render.html'>

<link rel="import" href="../common/backtest/aq-backtest-detail-item.html">

<link rel="import" href="../aq-profile-img.html">
<link rel="import" href="../common/aq-profile-pic-element.html">
<link rel="import" href="../common/aq-label-content-item.html">
<link rel="import" href="../common/aq-html-display.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">

<dom-module id="aq-community-postdetail-content">

    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>
        :host {
            display: block;
            color: #24293d;
        }

        #post-content {
            --margin-bottom: 50px;
            --box-shadow: var(--aq-community-postdetail-content-box-shadow, 0 0px 0px rgba(0, 0, 0, 0.2));
            border-radius: 4px;
            background-color: white;
            --margin-bottom:10px;
            padding: var(--post-content-padding, 10px);
        }

        i {
            font-size: 12px;
        }

        aq-backtest-detail-item {
            --aq-backtest-detail-item-width: 100%;
        }

        aq-tag-element {
            margin-bottom: 10px;
        }

        aq-backtest-detail-item {
            --aq-backtest-detail-item-background-color: #fafafb;
        }

        
        .bar {
            border-bottom: 1px solid #e1e1e1;
            margin-bottom: 5px;
        }

        #bt-container {
            border-top: 1px solid #e1e1e1;
        }

    </style>

    <template>
        <aq-check-authentication id='authItem'></aq-check-authentication>

        <div id='post-content'>      
            <aq-html-display
                html-content="[[postContent.markdownText]]">
            </aq-html-display>

            <template is='dom-if' if="[[isValidBacktestId(postContent)]]">
                
                <template is='dom-if' if=[[!hasToken]]>
                    <paper-button style="color: teal; font-size:14px; text-transform: none; font-style: italic; font-weight: 700;" on-tap='goToLogin'>Log In to view attached backtest</paper-button>
                </template>

                <template is='dom-if' if="[[hasToken]]">
                    <div id='bt-container'>
                        <aq-backtest-detail-item 
                            heading="Attached Backtest Details"     
                            backtest-id="[[getBacktestId(postContent)]]"
                            can-clone=[[!preview]]
                            forced-semi-wide
                            community>
                        </aq-backtest-detail-item>
                    </div>
                </template>
            </template>

        </div>

    </template>

    <script>

        Polymer({
            is: 'aq-community-postdetail-content',
            properties: {
                postContent: Object,
                preview: {
                    type: Boolean,
                    value: false,
                },

                hasToken: Boolean,
            },

            attached: function() {
                this.hasToken = this.$.authItem.checkHasToken();
            },

            hasContent: function (item) {
                if (item) {
                    return Object.keys(item).length > 0;
                }

                return false;
            },

            isValidBacktestId: function (postContent) {
                return this.getBacktestId(postContent) ? true : false
            },

            getBacktestId: function (postContent) {
                if (postContent["backtest"]) {
                    return postContent["backtest"];
                } else {
                    return postContent.backtestId;
                }
                
            },

            goToLogin: function() {
                this.fire('rt-changed',{route:'/user/signin'});
            },  

        });

    </script>

</dom-module>
