
<link rel="import" href="../../../bower_components/iron-collapse/iron-collapse.html">

<link rel="import" href="../../../bower_components/juicy-ace-editor/juicy-ace-editor.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href ="./aq-editor-toolbar.html">
<link rel='import' href ="./aq-editor-console-window.html">
<link rel='import' href ="./aq-editor-sidebar-run.html">

<dom-module id="aq-editor-edit-programmer">
<style  include="iron-flex iron-flex-alignment iron-positioning"></style>

<style>

 :host {
      display: block;
      background-color: #E5E5E5;
    }

  #consoleWindow {
    position: absolute;
    bottom:1%;
    height:89%;
    width:97%; 
    left:0px;
    --border:1px solid;
    left:2%;
    min-width: 5%;
    background-color: white;
  }

  #container {
    padding: 5px;

  }

</style>

<style  include="iron-flex iron-positioning"></style>

  <template>
       <div id='container' class="fit"> 
        <juicy-ace-editor on-change='onCodeChange' style="height:100%;" theme="ace/theme/monokai" mode="ace/mode/julia" fontsize="14px" id="codeEditor" tabsize="4">{{code}}
        </juicy-ace-editor>  
        </div>

      <iron-collapse id='collapse'>
        <aq-editor-console-window id="consoleWindow" class="collapse-content"></aq-editor-console-window>
      </iron-collapse>  
              
  </template>

  <script>
    Polymer({
      is:'aq-editor-edit-programmer',

      properties :{
          code: {
            type:String,
            observer:'_codeChanged',
          }
      },

      listeners :{
        'on-editor-ready':'setCode',
      },

      getCodeContent: function() {
          return this.$.codeEditor.editor.getValue().replace(/\s+$/,"");
      }, 

      setCodeContent: function(code) {
          this.code = code;
      },

      isSelectedBarRun: function(sideBar) {
        return sideBar == 0;
      },  

      _codeChanged: function(ncode, ocode) {
        if(!ncode) {
          ncode="";
        }
        
        tgap = 0
        
        if(!this.$.codeEditor.editor) {
            tgap = 50;
            this.async(function() {
              //this.$.codeEditor.editor.setValue(ncode);
            }, tgap)
        } else {
            this.$.codeEditor.editor.setValue(ncode);
        }

        this.async(
          function(){
            this.$.codeEditor.editor.gotoLine(1);
            this.$.codeEditor.editor.focus();
          }, tgap + 20);
      },

      onCodeChange: function(e) {          
          this.change = true;
      },

      attached: function() {
        this.async(function(){this.$.codeEditor.editor.gotoLine(1);}, 20);
        this.sendSaveRequest();
      },

      sendSaveRequest: function() {
        if(this.change) {
            this.fire('save-request');
            this.change = false;
        }

        this.async(this.sendSaveRequest, 5000)
      }

    });
  </script>

</dom-module>  
