
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../../icons/aq-iconset.html'>

<dom-module id="aq-editor-home-elementmenu">
  <template>
    
    <style  include="iron-flex iron-flex-alignment iron-positioning"></style>

    <style>
      :host {
        @apply(--layout);
        @apply(--layout-center);
        @apply(--layout-center-justified);
        position: absolute;
        text-align: center;
        padding-top: 15px;
        margin-right: 5px;
        opacity: 1;
        transition: opacity 0.2s;
        -webkit-transition: opacity 0.2s;
      }

      :host(.cards) {
        background-color: rgba(255, 255, 255, 0.9);
        margin-right: 0px;
      }

      :host(.hidden) {
        pointer-events: none;
        opacity: 0;
      }

      a, iron-icon {
        font-size: 12px;
        color: #24293d;
        outline: none;
      }

      a {
        margin: 0 5px;
        cursor: pointer;
      }

      span {
        width: 40px;
        display: block;
      }

      a:hover,
      a:hover iron-icon {
        color: #23283c;
      }

      iron-icon {
        --iron-icon-width: 18px;
        --iron-icon-height: 18px;
      }

    </style>

    <div class="layout horizontal">
    
      <a tabindex="0" role="button" on-tap="goToAnalyze">
        <iron-icon icon="vaadin-icons:chart" title="Analyze Runs"></iron-icon>
      </a>

      <a tabindex="0" role="button" aria-label="Clone Strategy" on-tap='onClone'>
        <iron-icon icon="aq-icons:content-copy" title="Clone Strategy"></iron-icon>
      </a>

      <a tabindex="0" role="button" on-tap="onShare" aria-label="Share Strategy">
        <iron-icon icon="vaadin-icons:share-square" title="Share Strategy"></iron-icon>
      </a>
    </div>

  </template>

  <script>
    Polymer ({
      is: 'aq-editor-home-elementmenu',
      
      properties: {
        strategyId:String,

        iconsOnly: {
          type: Boolean,
          value: false,
          reflectToAttribute: true,
        },
        
      },

      goToPreview: function() {
        this.fire('previewClicked');
      },

      goToAnalyze: function() {
        this.fire('analyzeClicked',{id:this.strategyId});
      },

      onClone: function() {
        this.fire('cloneClicked');
      },

      onShare: function() {
        this.fire('shareClicked');
      },

    });
  </script>

</dom-module>
