<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/iron-ajax/iron-ajax.html'>
<link rel='import' href='../../../bower_components/app-route/app-route.html'>
<link rel='import' href='../../../bower_components/app-route/app-location.html'>
<link rel='import' href='../../../bower_components/iron-signals/iron-signals.html'>
<link rel='import' href='../../../bower_components/paper-header-panel/paper-header-panel.html'>

<link rel='import' href='../common/aq-check-authentication.html'>
<link rel="import" href="../common/aq-allpage-layout.html">

<link rel='import' href='./aq-editor-home-elementmenu.html'>
<link rel='import' href='./aq-editor-home-menu.html'>
<link rel='import' href='./aq-editor-home-strategy-item.html'>
<link rel='import' href='./aq-editor-home-forward-strategy-item.html'>

<link rel='import' href='../../dialog/aq-action-dialog.html'>
<link rel='import' href='../../dialog/aq-editor-strategy-input-dialog.html'>
<link rel='import' href='../../dialog/aq-editor-strategy-compare-dialog.html'>
<script src="../../../resources/scripts/DateTime.js"></script>

<dom-module id="aq-editor-home">
    <style include="iron-flex iron-flex-alignment iron-positioning"></style>

    <style>

        :host(.hidden) {
            transition: none;
            opacity: 0;
        }

        .header {
            border: 1px solid #e1e1e1;
            --padding: 0 55px;
            line-height: 56px;
            font-size: 18px;
            font-weight: bold;
            background-color: #e3f6ed;
            min-width: 600px;

        }
        :host([narrow-viewport]) .header .description {
            display: none;
        }

        :host(:not([narrow-viewport])) .header {
            @apply(--layout-horizontal);
        }

        :host([narrow-viewport]) .header {
            @apply(--layout-horizontal);
        }

        :host([narrow-viewport]) .hea {
            @apply(--layout-vertical);
        }

        :host([narrow-viewport]) .a,
        :host([narrow-viewport]) .backtest {
            @apply(--layout-horizontal);
        }

        .name {
            min-width: 190px;
            width: 36%;
            font-weight: bold;
            margin-right: 30px;
            margin-left: 55px;
        }

        .description {
            width: 36%;
            min-width: 190px;
            margin-right: 30px;
            padding-left: 0px;
        }

        .backtest {
            --width: 250px;
            min-width: 140px;
        }

        .name .narrow {
            display: none;
        }

        :host([narrow-viewport]) .name .narrow {
            display: inline;
        }

        #actions aq-editor-home-elementmenu {
            right: 5%;
        }

        #ifsearch {
            display: none;
            --position: relative;
            --width: 95%;
            margin: 0 auto;
        }

        a {
            color: teal;
            font-style: italic;
        }
        .strategy-container{
            margin-left: 8%;
            margin-right: 8%;
            height: 100%;
            min-height: 450px;
        }

        .strategy-result{
            font-family: 'Lato' , sans-serif;
            font-weight: 700;
            color:#424242;
        }
        .search-string{
            font-family: 'Lato' , sans-serif;
            font-weight: 400;
            color:#757575;
        }
        hr{
            border: 1px solid #e1e1e1;
        }

        .search-bar {
            width: 50%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            margin-top: 10px;
            position: relative;
            
        }

        paper-icon-button {
            border: 1px solid #e1e1e1;
            color: #e1e1e1;
        }

        aq-icon-expandable-search {
            --height: 32px;
            width: 30%;
            max-width: 400px;
            min-width: 300px;
        }

        #test-strategy-item-container {
            border: 1px solid #e1e1e1;
        }

        #live-strategy-item-container {
            --border: 1px solid #e1e1e1;
            margin-bottom: 5px;
        }

        #test-strategy-container {
            border: 1px solid #e1e1e1;
        }

        #live-strategy-container {
            border: 1px solid #e1e1e1;
            margin-bottom: 30px;
        }

        paper-card {
            --paper-card :{
                z-index: 1;
            }
        }

        .heading {
            font-size: 16px;
            font-weight: 700;
            text-transform:uppercase;
        }

        .border {
            border-bottom: 1px solid #e1e1e1;
        }

        .search-header {
            margin-bottom: 10px;
        }

        p {
            font-size: 18px;
        }

        p span {
            font-weight: bold;
            color: teal;
            text-decoration: underline;            
        }

        p span:hover {
            cursor: pointer;
        }

    </style>

    <template>
        <aq-check-authentication id='authItem'></aq-check-authentication>
        <app-location route="{{route}}" use-hash-as-path></app-location>
        <iron-signals on-iron-signal-strategy-added='onStrategyAdded'></iron-signals>

        <iron-signals on-iron-signal-backtest-added='onBacktestAdded'></iron-signals>

        <iron-signals on-iron-signal-backtest-deleted='onBacktestDeleted'></iron-signals>

        <iron-signals on-iron-signal-dirtybit='onSetDirtyBit'></iron-signals>

        <iron-signals on-iron-signal-forwardtest-added='onForwardtestAdded'></iron-signals>

       <iron-signals on-iron-signal-forwardtest-updated='onForwardtestUpdated'></iron-signals>

       <iron-signals on-iron-signal-forwardtest-deleted='onForwardtestDeleted'></iron-signals>

        <app-route
            route="{{route}}"
            pattern="/research/strategy"
            query-params="{{queryParams}}">
        </app-route>

        <iron-ajax
            url=""
            method='GET'
            params="[[searchParam]]"
            id='getStrategiesQuery'
            handle-as="json"
            on-response="onGetStrategiesResponse"
            on-error="onGetStrategiesError"
            headers='{{header}}'
            debounce-duration="300"
            loading='{{loading}}'>
        </iron-ajax>

        <iron-ajax
            url="[[computPostDeleteStrategyUrl(deleteId)]]"
            method='DELETE'
            id='deleteStrategyQuery'
            handle-as="json"
            on-response="onDeleteStrategyResponse"
            on-error="onDeleteStrategyError"
            headers='{{header}}'
            debounce-duration="300">
        </iron-ajax>
            
        <aq-allpage-layout loading='[[!isEditorHomeReady(loading, liveStrategies, testStrategies)]]' class="flex" header="All Strategies" current-path="[[currentPath]]">

            <div class="header-button self-center">
                <paper-button class="self-center" raised noink id="createButton" on-tap="createNew">Create New
                </paper-button>
            </div>

            <div class="strategy-container internal-content layout vertical">
                <div class="search-header">
                    <div class="layout horizontal">
                        <div class="flex"></div>
                         <aq-icon-expandable-search has-icon=true class="self-center"></aq-icon-expandable-search>
                    </div>

                    <div id='ifsearch'>
                        <p class="strategy-result">Strategy results for
                            <span class="search-string">"[[searchParam.search]]"</span>
                        </p>
                        <hr>
                    </div>
                </div>

                <template is='dom-if' if='[[hasNonZeroStrategies(liveStrategies)]]'>
                    <div id="live-strategy-container">
                    <div class="card-content">
                        <div class="heading">Live Tests</div>
                        <aq-editor-home-menu 
                            check-all="{{checkAllLive}}" 
                            is-selected="[[hasCheckedStrategies(checkedCount, 'live')]]"
                            forward-test
                            heading="All Tests"> 
                        </aq-editor-home-menu>

                        <div id="live-strategy-item-container">
                            <template is="dom-repeat" items="{{liveStrategies}}" id='strategyList'>
                                <aq-editor-home-forward-strategy-item
                                    strategy-name="[[item.fullName]]"
                                    strategy-id="[[item._id]]"
                                    forwardtest-id="[[item.forwardtest._id]]"
                                    created-date="[[formatDateTime(item.forwardtest.createdAt)]]"
                                    status="[[formatForwardTestStatus(item.forwardtest.active, item.forwardtest.error)]]"
                                    >
                                </aq-editor-home-forward-strategy-item>
                                <!--div class="border"></div-->
                            </template>
                        </div>
                    </div>
                    </div>
                </template>

                <template is='dom-if' if='[[hasNonZeroStrategies(testStrategies)]]'>
                    <div id="test-strategy-container">
                        <div class="card-content">
                            <div class="heading">Test Strategies</div>
                            <aq-editor-home-menu 
                                check-all="{{checkAllTest}}" 
                                is-selected="[[hasCheckedStrategies(checkedCount, 'test')]]"> 
                            </aq-editor-home-menu>

                            <div id="test-strategy-item-container">
                                <template is="dom-repeat" items="{{testStrategies}}" id='strategyList'>
                                    <aq-editor-home-strategy-item
                                        strategy-name="[[item.fullName]]"
                                        num-backtest="[[item.numBacktests]]"
                                        strategy-desc="[[item.description]]"
                                        strategy-id="[[item._id]]"
                                        created-at="[[formatDateTime(item.createdAt)]]">
                                    </aq-editor-home-strategy-item>
                                    <div class="border"></div>
                                </template>
                            </div>
                        </div>
                    </div>
                </template>

                <template is='dom-if' if='[[!hasAnyStrategies(liveStrategies, testStrategies)]]'>
                    <div class="flex"></div>
                    <!--div class="layout horizontal"-->
                        <p class="self-center"> No Strategies yet!! <span on-tap='createNew'> Create New</p>
                        <!--paper-button class="self-center" raised noink id="createButton" on-tap="createNew">Create New
                        </paper-button-->
                    <!--/div-->
                    <div class="flex"></div>
                </template>

            </div>

            <template is='dom-if' if="[[!hasStrategies(strategies, searchParam)]]">
                <p class="self-center"> No Strategies Yet!! <a href='/research/strategy?create=1'>Click Here</a></p>
            </template>
        </aq-allpage-layout>
          
        <aq-action-dialog id="deleteDialog" 
            heading="Delete Strategies"
            message="Are you sure to delete [[computeCheckedCount(checkedCount, 'test')]] strateg[[getMessageSuffix(checkedCount, 'test')]]?" 
            action-type="delete"
            cancel-text="Cancel"
            accept-text="Delete">
        </aq-action-dialog>

         <aq-action-dialog id="stopForwardTestDialog" 
            heading="Stop Forward Test" 
            message="Are you sure to stop [[computeCheckedCount(checkedCount, 'live')]] forward test[[getMessageSuffix(checkedCount, 'live')]]?" 
            action-type="stoptest" 
            cancel-text="Cancel"
            accept-text="Stop">
        </aq-action-dialog>  

        <aq-editor-strategy-compare-dialog id="strategyCompareDialog"></aq-editor-strategy-compare-dialog>

        <aq-editor-strategy-preview-dialog id="strategyPreviewDialog"></aq-editor-strategy-preview-dialog>

    </template>

    <script>
        Polymer({

            is: 'aq-editor-home',

            properties: {
                testStrategies: {
                    type: Array,
                    value: [],
                },

                liveStrategies: {
                    type: Array,
                    value: [],
                },

                color: {type: String},

                checkedCount: {
                    type: Object,
                    value: {},
                },

                checkedItems: {
                    type: Object,
                    value: {},
                },

                narrowViewport: {
                    type: Boolean,
                    reflectToAttribute: true
                },

                create: {
                    type: Number,
                    value: 0,
                    observer: '_createChanged',
                },

                dirtyBit: {
                    type: Number,
                    value: 1,
                    observer:'_dirtyBitChanged',
                },

                deleteId: String,

                searchParam: Object,

                active: {
                    type: Boolean,
                },

                routeData: Object,
                queryParams: Object,
                subroute: Object,
                loading: Boolean,

                checkAll: {
                    type: Object,
                    value: {},
                },

                checkAllLive: Boolean,

                checkAllTest: Boolean,

                currentPath: {
                    type: Array,
                    value: ["Home", "Research", "All Strategies"],
                },

                searchActive: {
                    type: Boolean,
                    value: false,
                },

                runForwardStrategyData: {
                    type: Object,
                    value:{},
                }

            },

            listeners: {
                'delete-clicked': 'openDeletionDialog',
                'stop-clicked':'openStopDialog',
                'compare-clicked': 'openCompareDialog',
                'previewClicked': 'openPreview',
                'analyze-clicked': 'goToAnalyze',
                'clone-strategy-clicked': 'goToClone',
                'editor-clicked': 'goToEditor',
                'check-action-test': 'checkStrategyTest',
                'check-action-live': 'checkStrategyLive',
                'delete-action': 'onDeletion',
                'stoptest-action':'onStopForwardTestAction',
                'search-action': 'onSearch',
                'run-forwardtest-action':'runForwardTest',
                'route-forwardtest-detail-action':'goToForwardTest',
            },

            attached: function () {
                //this.debounce('fetchResults', function(){this.fetchResults();}, 1000);
                if (!this.$.authItem.checkHasToken()) {
                    this.fire('rt-changed', {route: '/user/signin'});
                    return;
                } else if (this.dirtyBit == 1) {
                    this.fetchResults();
                }

                this.create = (this.queryParams) ? this.queryParams.create : 0;
                if (this.create == 1) {
                    this.fire('newClicked');
                }

                document.title = "All Strategies - AimsQuant";

            },

            resetView: function() {
                this.checkedItems = {};
                this.checkedCount = {};
                this.checkAll = {};
                this.checkAllLive  = false;
                this.checkAllTest = false;
            },

            isEditorHomeReady: function(loading, liveStrategies, testStrategies) {
                return !loading && liveStrategies && testStrategies;
            },

            computPostDeleteStrategyUrl: function (deleteId) {
                var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                return APIEndPoint + '/strategy/' + deleteId;
            },

            onGetStrategiesResponse: function (data) {
                this.resetView();
                var strategies = data.detail.response;

                var testStrategies = [];
                strategies.forEach(str => {
                    if(!str.deleted) {
                        testStrategies.push(str);
                    }
                });

                this.testStrategies = testStrategies;
                
                var liveStrategies = null;
                
                //compute live strategies
                for (var i=0;i<strategies.length;i++) {
                    if(strategies[i].numForwardtests > 0) {
                        if(liveStrategies) {
                            liveStrategies.push(strategies[i]);    
                        } else {
                            liveStrategies = [strategies[i]];
                        }
                    }
                }

                this.liveStrategies = liveStrategies ? liveStrategies : [];
                //Get forward test minor details 

                if(this.$$('aq-icon-expandable-search') && this.searchtext != "") {
                    this.$$('aq-icon-expandable-search').focus();
                }

                if (!this.searchParam || (this.searchParam && this.searchParam.search == "")) {
                    this.dirtyBit = 0;

                } else {
                    this.dirtyBit = 1;
                }
            },

            onGetStrategiesError: function (e) {
                this.loading = true;
                this.fire('ajax-error', {request: e.detail.request});
            },

            openStopDialog: function() {
                this.$$('#stopForwardTestDialog').open();
            },

            openDeletionDialog: function () {
                this.$$('#deleteDialog').open();
            },

            openCompareDialog: function () {
                this.$$('#strategyCompareDialog').open();
            },

            openPreview: function () {
                this.$$('#strategyPreviewDialog').open();
            },

            click: function () {
                this.fire('rt-changed', {route: '/research'});
            },

            goToAnalyze: function (e) {

                if (!e.detail.id) {
                    e.detail.id = this._currentRow.id;
                }
                //Let the event propagate to aq-
            },

            goToClone: function (e) {
                var strategyId = this._currentRow.id;

                for (i in this.testStrategies) {
                    if (strategyId == this.testStrategies[i]._id) {
                        e.detail["strategy"] = this.testStrategies[i]
                        break;
                    }
                }
                //Let the event propagate. It's handled in editor-main.
            },

            goToShare: function () {
                strategyId = this._currentRow.id;
                this.fire('rt-changed', {route: '/research/community/create/' + strategyId + "?share=strategy"});
            },

            goToEditor: function (e) {
                var strategyId = e.detail.id;
                this.fire('rt-changed', {route: '/research/strategy/' + strategyId});
            },

            checkStrategyLive: function(e) {
                this.checkStrategy(e, "live");
            },

            checkStrategyTest: function(e) {
                this.checkStrategy(e, "test");
            },            

            checkStrategy: function (e, type) {
                var checked = e.detail.checked;

                if (!this.checkedItems[type]) {
                    this.checkedItems[type] = {};
                }

                if(!this.checkedCount[type]) {
                    this.checkedCount[type] = 0;
                }

                this.checkedItems[type][e.detail.id] = e.detail.checked;

                if (checked == true) {
                    this.checkedCount[type] += 1;
                } else {
                    this.checkedCount[type] -= 1;
                }

                var strategies = [];
                if (type=="test") {
                    strategies = this.testStrategies;
                } else {
                    strategies = this.liveStrategies;
                }

                if(this.checkedCount[type] > strategies.length){
                    this.checkedCount[type] = strategies.length;
                }

                //Compare the count with active stratgies
                var lengthActive = this.liveStrategies.filter(item => {
                    return item.forwardtest.active == true;
                }).length;

                this.checkAll[type] = this.checkedCount[type] == (type=="test" ? strategies.length : lengthActive);

                this.checkAllLive = this.checkAll["live"];
                this.checkAllTest = this.checkAll["test"];

                
                //WEIRD way to capture change in object
                var checkedCount = this.checkedCount;
                this.checkedCount = {};
                this.checkedCount = checkedCount;

            },

            hasCheckedStrategies: function (checkedCount, type) {
                return checkedCount[type] > 0;
            },

            computeCheckedCount: function (checkedCount, type) {
                return checkedCount[type];
            },

            getMessageSuffix: function (checkedCount, type) {    
                return checkedCount[type] > 1 ? (type=="live" ? "s" : "ies") : (type=="live" ? "" : "y");
            },

            onSearch: function (e) {

                if (!this.$.authItem.checkHasToken()) {
                    this.fire('rt-changed', {route: '/user/signin'});
                }

                searchtext = e.detail.searchText;

                if (searchtext != "") {
                    this.ifsearch == true;
                    this.$$('#ifsearch').style.display = 'block';
                } else {
                    this.ifsearch == false;
                    this.$$('#ifsearch').style.display = 'none';
                }

                if (!this.searchParam && searchtext == "") {
                    return;
                } else {
                    this.searchParam = {};
                    this.set('searchParam.search', "");
                }

                if (this.searchParam.search == "" && searchtext == "" && this.dirtyBit == 0) {
                    return;
                }

                this.set('searchParam.search', searchtext);
                this.fetchResults();
            },

            onDeletion: function () {
                //Send DELETE request to backend
                for (key in this.checkedItems["test"]) {
                    for (i in this.testStrategies) {
                        if (key == this.testStrategies[i]._id && this.checkedItems['test'][key] == true) {
                            this.deleteId = this.testStrategies[i]._id;
                            this.$.deleteStrategyQuery.generateRequest();
                        }
                    }
                }

                this.deleteId = "";
                this.fire('deletion-successful',{content:'success'});
            },

            onStopForwardTestAction: function(e) {
                //Request to stop all selected tests
                
                var forwardtestIds = [];
                //Send DELETE request to backend
                for (key in this.checkedItems["live"]) {
                    var idx = this.liveStrategies.map(item => item._id).indexOf(key);
                    if (this.checkedItems['live'][key] == true && idx!=-1) {
                            
                        forwardtestIds.push(this.liveStrategies[idx].forwardtest._id);
                    }
                }

                e.detail.forwardtestIds = forwardtestIds;
            },

            onDeleteStrategyError: function () {
            },

            onDeleteStrategyResponse: function (data) {
                var idDeleted = data.detail.response.id;
                for (i in this.testStrategies) {
                    if (idDeleted == this.testStrategies[i]._id) {
                        this.splice('testStrategies', i, 1);

                        if (this.testStrategies.length == 0) {
                            this.testStrategies = [];
                        }

                        this.checkedCount -= 1;
                        this.dirtyBit = 1;
                    }
                }
            },

            _createChanged: function (nCreate, oCreate) {
                if (nCreate == "1") {
                    this.fire('create-strategy-Clicked');
                    this.create = 0;
                }
            },

            fetchResults: function () {
                if (this.$.authItem.checkHasToken()) {
                    this.header = this.$.authItem.getHeader();
                    var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                    this.$.getStrategiesQuery.url = APIEndPoint + '/strategy';
                    this.$.getStrategiesQuery.generateRequest();
                }
            },

            hasTail: function (tail) {
                if (tail && tail.path) {
                    return tail.path.length > 0;
                }

                return false;
            },

            isActive: function (active, subroute) {
                return active && !this.hasTail(subroute);
            },

            hasStrategies: function (strategies, searchParam) {
                return (strategies && strategies.length > 0) || (searchParam && searchParam.search != "");
            },

            onForwardtestUpdated: function() {
                this.dirtyBit = 1;
            },

            onForwardtestDeleted: function() {
                this.dirtyBit = 1;
            },

            onForwardtestAdded: function() {
                this.dirtyBit = 1;
            },  

            onStrategyAdded: function () {
                this.dirtyBit = 1;
            },

            onBacktestDeleted: function () {
                this.dirtyBit = 1;
            },

            onBacktestAdded: function () {
                this.dirtyBit = 1;
            },

            onSetDirtyBit: function (e) {
                this.dirtyBit = e.detail;
            },

            _dirtyBitChanged: function() {
                if (this.dirtyBit == 1) {
                  this.fetchResults(); 
                }
            },

            formatDateTime: function(d) {
                return date.formatDateTime(d);
            },

            formatForwardTestStatus: function(active, error) {
                return active ? (error ? "Error" : "Running") : "Stopped";
            },

            createNew: function () {
                this.fire('create-strategy-clicked');
            },

            goToForwardTest: function(e) {
                var strategyId = e.detail.strategyId;
                var forwardtestId = e.detail.forwardtestId;
                var strategyName = e.detail.strategyName;
                this.fire('rt-changed', {route:'/research/backtests/'+strategyId +"/" + forwardtestId +'?type=forward&strategyName='+strategyName});
            },

            hasNonZeroStrategies: function(strategies) {
                return strategies ? strategies.length > 0 : false;

                /*var nDeletedStrategies = 0;
                strategies.forEach(str => {
                    if(str.deleted){
                        nDeletedStrategies++;
                    }
                });

                return hasStrategies && nDeletedStrategies != strategies.length;
                */
            },

            hasAnyStrategies: function(liveStrategies, testStrategies){
                return (liveStrategies ? liveStrategies.length > 0 : false) || (testStrategies ? testStrategies.length > 0 : false);
            }

        });
    </script>
</dom-module>

