<link rel='import' href='../../../bower_components/paper-checkbox/paper-checkbox.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-signals/iron-signals.html">
<script src="../../../resources/scripts/DateTime.js"></script>

<dom-module id='aq-editor-home-forward-strategy-item'>

    <style include="iron-flex iron-flex-alignment iron-positioning"></style>

    <style>
        :host {
            display: inline-block;
            width: 100%;
            font-size: 16px;
            margin-bottom: 0px;
        }

        .row {
            background-color: white;
            color: #3c3c3c;
            box-sizing: border-box;
            overflow: hidden;
            font-weight: 400;
            border: 1px solid #eeeeee;
            margin-bottom: 15px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
            height: 60px;
        }

        .row paper-checkbox {
            box-sizing: border-box;
            cursor: pointer;
            margin: 15px;
        }

        .row:hover {
            z-index: 100;
            --background-color: #f4ffff;
            --border: 1px solid #f4ffff;
            box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
        }

        paper-checkbox {
            --paper-checkbox-checked-color: #cc6666;
            --paper-checkbox-unchecked-color: #959595;
        }

        .strategy-name {
            font-weight: 400;
            font-size: 16px;
        }

        .strategy-created-date {
            --width: 100%;
            --text-align: left;
            pointer-events: none;
            font-size: 12px;
            margin-top: 3px;
        }

        .strategy-status {
            font-size: 12px;
            margin-top: 3px;
            margin-right: 10px;
            padding: 3px;
            font-weight: 700;
            color: white;
        }

        .strategy-status.green {
            background-color: #339933;
        }

        .strategy-status.red {
            background-color: #bd362f;
        }

        iron-icon {
            position: absolute;
            right: 15px;
            width: 22px;
            height: 22px;
            cursor: pointer;
        }
        
        .st-li-header {
            font-weight: 300;
            font-size: 0.8em;
            display: inline;
        }
        .st-li-detail {
            font-weight: 400;
            font-size: 1em;
        }
        .st-header{
            font-size: 0.8em;
            font-weight: 700;
        }

        .right-container {
            margin-right: 15px;
        }

        .right-container[narrow-viewport] {
        	@apply(--layout-vertical);
        }

        .right-container(:not[narrow-viewport]) {
        	@apply(--layout-horizontal);
        	@apply(--layout-flex);
        }

        #strategy-content-container {
            --margin-top: 15px;
            width: 100%;
        }

        #strategy-content-container:hover {
            cursor: pointer;
        }

    </style>

    <template>
    	<iron-signals on-iron-signal-select-strategy='onSelectStrategy'></iron-signals>

        <div id$="[[strategyId]]" class="row layout horizontal center"" >

            <paper-checkbox id='checkbox' noink on-change='onCheck' disabled="[[!isRunning(status)]]"></paper-checkbox>
            
            <div id="strategy-content-container" on-tap="goToForwardTest" class="layout horizontal center">
                    <div class="self-center">
                        <div class="strategy-name self-center flex">
                            [[strategyName]]
                        </div>

                        <div class="strategy-created-date">
                            Created At:&nbsp;[[createdDate]]
                        </div>
                    </div>

                    <div class="flex"></div>

                    <div class$="strategy-status [[computeStatusClass(status)]]" >
                        [[status]]
                    </div>
                    
            </div>
        </div>

    </template>
    <script>
        Polymer({
            is: 'aq-editor-home-forward-strategy-item',

            properties: {
                strategyName: {
                    type: String,
                },
                
                forwardtestId: String,

                strategyId: String,

                status: String,

                createdDate: String,
                
            },

            onCheck: function (e) {
                this.fire('check-action-live', {id: this.strategyId, checked: this.$.checkbox.checked});

                e.stopPropagation();
            },

            onSelectStrategy: function(e) {
                if(e.detail.live && this.status == "Running") {
                    this.$.checkbox.checked = e.detail.checked;
                	this.onCheck(); 
                }
            },

            goToForwardTest: function(e) {
                this.fire('route-forwardtest-detail-action', {strategyId: this.strategyId, forwardtestId: this.forwardtestId,
                    strategyName: this.strategyName});
            },

            computeStatusClass: function(status) {
                return status=="Running" ? "green" : "red";
            },

            isRunning: function(status) {
                return status=="Running";
            },

        });
    </script>

</dom-module>