
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/paper-tooltip/paper-tooltip.html">


<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/iron-pages/iron-pages.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>


<link rel='import' href ="./aq-editor-toolbar.html">
<link rel='import' href ="./aq-editor-console-window.html">
<link rel='import' href ="./aq-editor-sidebar-run.html">
<link rel='import' href ="./aq-editor-edit-sidebar-universe.html">
<link rel='import' href="./aq-editor-edit-nonprogrammer-screener.html">
<link rel='import' href="./aq-editor-edit-nonprogrammer-optimizer.html">
<link rel='import' href="./aq-editor-edit-nonprogrammer-indicator.html">
<link rel='import' href='../../icons/aq-iconset.html'>

<dom-module id='aq-editor-edit-nonprogrammer'>
	<style  include="iron-flex iron-flex-alignment iron-positioning"></style>

	<style>

		:host {
			color: #24293d;
		}

		paper-toolbar {
      		--paper-toolbar-height:50px;
			--paper-toolbar-background:#99d3df;
		    --paper-toolbar-color:#24293d;
    	}

    	
    	#container {
    		margin-top:0px;
    		margin-right: 0px;
    		width:100%;
    		margin-left:0px;
    	}

    	#runCanvas {
    		width:100%;
    		height:100%;
    	}

    	.run-content {
    		height:50px;
    		margin:20px;
    		text-align: center;
    		width:150px;
    		margin-left:auto;
    		margin-right:auto;
    	}

    	.run-content span{
    		vertical-align: center;
    		margin-top:50px;
    		margin-bottom:50px;

    	}

    	.run-content :hover {
    		cursor: pointer;
    	}

    	paper-tab:hover{
    		font-weight: bold;
    		font-size:110%;
    	}

    	paper-tabs {
    		--paper-tabs-selection-bar-color: #24293d;
    		height:25px;
    	}

    	#rightpanel {
    		background-color: #24293d;
    	}

    	#screenerCanvas {
    		height:100%;
    	}

    	#optimizerCanvas {
    		height:500px;
    	}

    	#canvas {
    		width:95%;
    		margin:0 auto;
    		margin-top:20px;
    		border:1px solid #ededed;
    		height:95%;
    	}


	</style>

	<template>
		<paper-drawer-panel drawer-width='370px' responsive-width='730px' id="drawerpanel" right-drawer force-narrow="{{computeForceNarrow(showSideBar, selectedSideBar)}}"">
         	
         	<paper-header-panel id='container' main mode="seamed">
	         	<paper-toolbar>
	         		<paper-tabs noink selected="{{selectedSideBar}}">
	         			<paper-tab>Universe</paper-tab>
	         			<paper-tab>Indicators</paper-tab>
	         			<paper-tab>Optimizer</paper-tab>
	         			<paper-tab>Run</paper-tab>
	         		</paper-tabs>
	         		<div class="flex"></div>
	         		<template is='dom-if' if="{{isSelectedBarUniverse(selectedSideBar)}}">
	         			<paper-button paper-drawer-toggle>Add Screener</paper-button>
	         		</template>
	         	</paper-toolbar>

 		        <!--div id='canvas' class="fit"-->    
		            
 		        	<paper-header-panel id='canvas' mode="seamed" class="fit">
			
						<paper-toolbar>
							
							<template is="dom-if" if="{{!isSelectedBarUniverse(selectedSideBar)}}">
								<paper-icon-button noink icon="aq-icons:arrow-back" on-tap="goback"></paper-icon-button>
							</template>
							
							<div class="flex"></div>

							<iron-pages selected="{{selectedSideBar}}">
								<h3>Step 1: Universe Selection</h3>
								<h3>Step 2: Add Indicators</h3>
								<h3>Step 3: Choose Optimizer</h3>
								<h3>Step 4: Run Analysis</h3>
							</iron-pages>

							<div class="flex"></div>
							
							
							<template is="dom-if" if="{{!isSelectedBarRun(selectedSideBar)}}">
							<paper-icon-button noink icon="aq-icons:arrow-forward" on-tap="goforward"></paper-icon-button>
							</template>
						</paper-toolbar>

	            		<iron-pages selected="{{selectedSideBar}}">	
		            	
			            	<aq-editor-edit-nonprogrammer-screener id='screenerCanvas'></aq-editor-edit-nonprogrammer-screener>	    			

			            	<aq-editor-edit-nonprogrammer-indicator id='indicatorCanvas'></aq-editor-edit-nonprogrammer-indicator>	    
		            		<aq-editor-edit-nonprogrammer-optimizer id='optimizerCanvas'></aq-editor-edit-nonprogrammer-optimizer>	    				
		            	    <paper-card id='runCanvas' heading='Step:4 Run Analysis'>
		            				
		            			<div class="self-center layout vertical">
			            			<paper-card class='run-content'>
				            			<div>
				            				<span>Universe</span>
				            			</div>
			            			</paper-card>

			            			<paper-card class='run-content'>
				            			<div>
				            				<span>Indicators</span>
				            			</div>
			            			</paper-card>

			            			<paper-card class='run-content'>
				            			<div>
				            				<span>Optimizer</span>
				            			</div>
			            			</paper-card>
	            				</div>
		            			
		            		</paper-card>
	            	
		        		</iron-pages>
		        	</paper-header-panel>	
	        	</paper-header-panel>
	     
		        <template is='dom-if' if="{{isSelectedBarUniverse(selectedSideBar)}}">
		        <paper-header-panel drawer mode="seamed" id='rightpanel'>
		        	<paper-toolbar></paper-toolbar>
			        <iron-pages selected="{{selectedSideBar}}">
			          <aq-editor-edit-sidebar-universe></aq-editor-edit-sidebar-universe>
			          <!--div></div>
			          <div>This is Optimizer!!</div>
			          <aq-editor-sidebar-run></aq-editor-sidebar-run-->       
			        </iron-pages>
		        </paper-header-panel>
		        </template>

  		</paper-drawer-panel>
      	    		
	</template>

	<script>
		Polymer({
			is: 'aq-editor-edit-nonprogrammer',

			properties :{
				selectedSideBar: {
					type:Number,
					value:0,
				},
				showSideBar:{
					type:Boolean,
					value:true,
				},
			},

			listeners: {
				'screener-pressed':'onAddScreener',
			},	
				
			toFixedOne: function(value){
				return value.toFixed(1);
			},
			
			toPercentage: function(value) {
				return Math.round(value * 10000)/100 + '%';
			},
	
		    toggleDrawer: function() {
		        this.$.drawerpanel.togglePanel();
		        //this.showSideBar = !this.showSideBar;
		    },

		    closeDrawer: function() {
		    	if(this.showSideBar) {
		    		this.toggleDrawer();
		    	}
		    },

		    onAddScreener: function() {
		    	this.$.screenerCanvas.addScreener();
		    },

		    isSelectedBarUniverse: function(selectedSideBar) {
		    	//console.log(selectedSideBar);
		    	return selectedSideBar==0;
		    },

		    isSelectedBarRun: function(selectedSideBar) {
		    	return selectedSideBar==3;
		    },

		    computeForceNarrow: function(showSideBar, selectedSideBar) {
		    	return !showSideBar || selectedSideBar!=0;
		    },

		    goback: function() {

		    	this.selectedSideBar-=1;
		    		console.log(this.selectedSideBar);
		    },

		    goforward: function() {
		    	
		    	this.selectedSideBar+=1;
		    	console.log(this.selectedSideBar);
		    },


		});

	</script>
</dom-module>
