<link rel="import" href="../../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../../../bower_components/iron-signals/iron-signals.html'>

<link rel='import' href='../../icons/aq-iconset.html'>

<dom-module id='aq-editor-toolbar'>
    <style include="iron-flex iron-flex-alignment iron-positioning"></style>

    <style>
        :host{
            font-family: 'Lato',sans-serif;
        }
        paper-icon-button {
            width: 35px;
            height: 35px;
            margin-right: 10px;
            min-width: 25px;
            max-width: 35px;
            color: #cc6666;
        }

        paper-icon-button {
	        --paper-icon-button-hover: {
       	 		outline:1px solid;
	        };

	       --paper-icon-button-disabled-text: grey;

	       --paper-icon-button-disabled: {
                color: #cacaca !important;
            };
        }



        paper-toolbar {
            --paper-toolbar-height: 40px;
            --paper-toolbar-width: 100px;
            --paper-toolbar-color: teal;
            --paper-toolbar-background: #f2f2f2;
            --border-right: 5px solid #24293d;
        }

        #strategyName, #box {
            height: 24px;
            outline: none;
            font-size: 12px;
            padding-left: 3px;
            font-weight: bolder;
        }

        .separator {
            border-left: teal solid 1px;
            opacity: .8;
            height: 25px;
            margin-right: 20px;
        }

        input {
            max-width: 250px;
            min-width: 150px;
            --width: 20%;
            --font-size: 15px;
            color: #24293d;
        }

        .toolbarIcon:active {
            padding: 10px;
        }

        .toolbarPlayIcon {
            padding: 5px;
            height: 35px;
            width: 23px;
            color:#cc6666;
        }

        .toolbarPlayIcon:active {
            padding: 10px;
        }

        paper-tabs {
            height: 35px;
        }

        .inputbox {
            margin-left: 10px;
            margin-right: 10px;
            @apply(--layout-horizontal);
        }

        .input-span {
            color: #24293d;
            font-weight: bold;
            font-size: 14px;
        }

        #box {
            max-width: 130px;
            font-weight: normal;
            --border: 1px solid black;
            min-width: 100px;

        }
        .strategy-name{
            font-size: 14px;
            margin-right:10px;
        }

      	
        #toggleIcon {
    	    --paper-button:	{
    			width: 25px;
        	};
        }

      	#toggleIcon.green{
		    color: #cc6666;
	  		background-color: #f2f2f2;
	  	}

	  	#toggleIcon.green[active] {
		    background-color: #cc6666;
		    color: white;
	  	}

        paper-progress {
            --paper-progress-height: 2px;
            --paper-progress-active-color: #0375b4;
            opacity: 0.6;
            width: 100%;
            --paper-progress-indeterminate-cycle-duration: 5s;
        }

        #progressDiv p {
            margin-bottom: 2px;
            font-size: 12px;
            color: #0375b4;
        }

        #errProgress {
            --paper-progress-active-color: #cc6666 !important;
        }

        p{
        	font-size: 12px;
            font-weight: 700;
        }	

    </style>

    <template>

    	<iron-signals on-iron-signal-partially-completed-backtest='updatePct'>
    	</iron-signals>

        <iron-signals on-iron-signal-backtest-exception='onBacktestException'>
        </iron-signals>

        <iron-signals on-iron-signal-backtest-started='onBacktestStarted'>
        </iron-signals>

    	<iron-signals on-iron-signal-main-drawer-opened='closeDrawer'>
    	</iron-signals>

        <paper-toolbar>
            <div id='toolbar' class="flex layout horizontal center">
                
                <template is='dom-if' if=[[!isRunning]]>
                    <paper-icon-button 
                		noink id='back-icon' 
            			class="flex toolbarIcon" 
            			icon="aq-icons:arrow-back"
            			title="Strategy Home"
                        on-tap='goBack'>
                    </paper-icon-button>
                </template>

                <input class="flex" id='strategyName' value="[[strategyName]]" type="text" disabled="[[isRunning]]">

                <!--div class="flex" style="max-width:5%"></div-->
			 	
			 	<div class="flex"></div> 
                
                <!--template is='dom-if' if="{{isRunning}}"-->
                    <p style="color:[[getStatusColor(isRunning, pctCompleted)]]">[[getStatusMessage(isRunning, pctCompleted)]]</p>
                <!--/template-->

                <div class="flex"></div>

                <template is='dom-if' if=[[isRunning]]>
                    <paper-icon-button 
                        noink 
                        class="flex toolbarIcon" 
                        icon="aq-icons:code" 
                        title="Code Editor"
                        on-tap='toEditor'>
                    </paper-icon-button>

                    <div class="separator"></div>
                </template>

                <paper-icon-button 
                		noink 
                		class="flex toolbarIcon" 
                		icon="aq-icons:add" 
                		title="New Strategy"
                		disabled="[[isRunning]]"
                       	on-tap='onCreate'>
                </paper-icon-button>

                <paper-icon-button 
                		noink 
                		class="flex toolbarIcon" 
                		icon="aq-icons:content-copy" 
                		title="Clone Strategy"
                		disabled="[[isRunning]]"
                        on-tap='onClone'>
                </paper-icon-button>

                <paper-icon-button 
                		noink 
                		class="flex toolbarIcon" 
                		icon="aq-icons:save" 
                		title="Save Strategy"
                		disabled="[[isRunning]]"
                        on-tap='onSave'>
                </paper-icon-button>

                <div class="separator"></div>

             	<!--paper-icon-button 
                		noink 
                		class="flex toolbarIcon" 
                		icon="aq-icons:code" 
                		title="Toggle Code/Design" 
                		on-tap='toggleDesign'>
        		</paper-icon-button-->

              	<paper-icon-button noink 
              			class= "flex toolbarIcon" 
              			icon= "vaadin-icons:line-bar-chart"
                        title="Analyze all Backtests" 
                        on-tap='onAnalyze'
                        disabled=[[!nonZeroNumBacktests(numBacktests)]]>
                </paper-icon-button>

                <paper-icon-button 
                		id='runButton' 
                		noink 
                		class="flex self-center toolbarPlayIcon"
                        icon="aq-icons:play-arrow" 
                        title="Run Backtest" 
                        disabled="[[isRunning]]"
                        on-tap='onRun'>
                </paper-icon-button>

               	<div class="separator"></div>

                <paper-icon-button 
                		id='toggleIcon' 
            			noink 
            			class="flex self-center green" 
            			toggles
            			active="[[toggleActive]]"
                        title="Toggle Menu" 
                        on-tap='toggleDrawer'
                        icon="vaadin-icons:split-h">
                </paper-icon-button>

            </div> 	
    	</paper-toolbar>

  	    <template is='dom-if' if='{{isRunning}}'>
            <template is='dom-if' if='[[isCompletionPositive(pctCompleted)]]'>
                <paper-progress value='[[pctCompleted]]'>
                </paper-progress>
            </template>

            <template is='dom-if' if='[[isBacktestWarmingUp(pctCompleted)]]'>
                <paper-progress indeterminate class="self-center">
                </paper-progress>
            </template>
        </template>
	</template>

    <script>
        Polymer({
            is: 'aq-editor-toolbar',

            properties: {
                narrow: {
                    type: Boolean,
                },

                toggleActive: {
                	type:Boolean,
                },

                isProgrammer: {
                    type: Boolean,
                },

                strategyName: String,
                
                strategyDesc: String,
                
                strategyId: String,

                isRunning: {
                	type: Boolean,
                	value: false,
                	notify:true,
                	observer: '_isRunningChanged',
                },

                pctCompleted: {
                	type: Number,
                    //observer:'_isPctChanged',
                	//value: 0,
                },

                backtestId: String,

                numBacktests: Number,
            },

            closeAll: function () {
                this.fire('close-all');
            },

            openDrawer: function () {
                this.fire('open-drawer');
            },

            closeDrawer: function () {
                this.fire('close-drawer');
            },

            toggleDrawer: function () {
                this.fire('toggle-drawer');
            },

            toggleConsole: function () {
                this.fire('toggle-console');
            },

            toggleDesign: function () {
                this.fire('toggle-design');
            },

            goBack: function () {
                //this.onSave();
                this.fire('backClicked');
            },

            onAnalyze: function () {
                this.fire('analyze-clicked', {id: this.strategyId});
            },

            onSave: function () {
                this.strategyName = this.$.strategyName.value;
                this.fire('save-action', {name: this.strategyName});
            },

            onCreate: function () {
                this.fire('create-strategy-clicked');
            },

            onClone: function () {
                this.fire('clone-strategy-clicked');
            },

            onRun: function () {
                this.strategyName = this.$.strategyName.value;
                this.fire('run-action', {name: this.strategyName});
            },

            checkToggleCondition: function (isProgrammer, narrow) {
                return isProgrammer && narrow;
            },

            updatePct: function(e) {
                var e_backtestId = e.detail.id;

                if(this.backtestId == e_backtestId) {
            	   this.pctCompleted = e.detail.pctCompleted;
                }
            },

            isCompletionPositive: function (pctCompleted) {
                return pctCompleted > 0 && pctCompleted != 100;
            },

            isBacktestComplete: function (pctCompleted) {
                return pctCompleted == 100;
            },

            isBacktestWarmingUp: function (pctCompleted) {
                return pctCompleted == 0;
            },

            isBacktestRunException: function (pctCompleted) {
                return pctCompleted == -1;
            },

    	    isBacktestInternalException: function(pctCompleted) {
              return pctCompleted == -2;
            },

            _isRunningChanged: function() {
                this.pctCompleted = 0;
            }, 

            _isPctChanged: function() {
            },

            getStatusMessage: function(isRunning, pctCompleted) {
                if(isRunning) {
                    if (this.isCompletionPositive(pctCompleted)) {
                		return "Progress: " + this.pctCompleted.toString() +"%";
                	} else if (this.isBacktestWarmingUp(this.pctCompleted)) {
                		return "Warming Up";
                	} else if (this.isBacktestComplete(this.pctCompleted)) {
                		return "Complete";
                	} else if (this.isBacktestRunException(this.pctCompleted)) {
                		return "Run Exception";
                	} else if (this.isBacktestInternalException(this.pctCompleted)) {
            			return "Internal Exception";
            		}
                } else {
                    return "";
                }
            },

            getStatusColor: function(isRunning, pctCompleted) {
        	 	
                if (this.isBacktestRunException(pctCompleted) || this.isBacktestInternalException(pctCompleted)) {
            		return "#cc6666";
        		}
        		return "teal";
            },

            toEditor: function() {
            	this.isRunning = false;
            },

            onBacktestException: function(e) {
                var type = e.detail.type;
                var e_backtestId = e.detail.id;
                
                if(this.backtestId == e_backtestId) {
                    if (type == 1 ) {
                        this.pctCompleted = -1;
                    } else if (type == 2) {
                        this.pctCompleted = -2;
                    }
                }
            },

            onBacktestStarted: function(e) {
                this.numBacktests =  this.numBacktests ? this.numBacktests + 1 : 1;
                this.backtestId = e.detail.id
                this.pctCompleted = 0;
            },

            nonZeroNumBacktests: function(numBacktests) {
                return numBacktests > 0;
            },

        });
    </script>
</dom-module>
