<link rel='import' href='../common/aq-dropdown.html'>
<link rel='import' href='../../../bower_components/paper-radio-group/paper-radio-group.html'>
<link rel='import' href='../../../bower_components/paper-radio-button/paper-radio-button.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../../icons/aq-iconset.html'>


<dom-module id='aq-nonprogrammer-constraint-item'>
	<style  include="iron-flex iron-flex-alignment iron-positioning"></style>
	<style>
		
		input {
			margin:10px;
			height:25px;
			width:120px;
			font-size:13px;
			padding-left:5px;
		}


		paper-icon-button {
			--margin-right:10px;
			margin-left:10px;
			padding:0px;
			height:16px;
			width:16px;
		}

		#secondInput {
			display: none;
			margin-left:30px;
			margin-right:10px;
		}

		span {
			font-size: 12px;
		}	

		#screenerName {
			font-size: 13px;
			margin-left: 10px;
			width:160px;
		}

		.gap {
			margin:10px;
		}	

		#screener {
			margin-left:10px;
		}

		aq-dropdown {
			width:135px;
		}

		#constraint {
			margin-top:10px;
		}

	</style>

	<template>
		<div id= 'constraint' class="layout horizontal">
			<aq-dropdown class="self-center" id='constraint-type' options="[[constraintOptions]]"></aq-dropdown>
			<div class="gap"></div>
			<aq-dropdown class="self-center" id='operator-type' options="[[operatorOptions]]"></aq-dropdown>
			
			<div class="gap"></div>
		    <input>
		    
		    <input id='secondInput'>	   
		    <paper-icon-button on-tap='onDelete' class="self-center" icon='aq-icons:cancel'></paper-icon-button>

		</div>
		
	</template>

	<script>	

		var operatorOptions_o = [{value:'== (Equal To)', index:1},
				{value: ' < (Less Than)', index:2},
				{value: ' > (Greater Than)', index:3},
				 {value:' >< (In Between)', index:4}]; 
				
		var constraintOptions_o = [{value:'Turnover',index:1},{value:'Position Limit',index:2},{value:'Leverage',index:3}];		 

		Polymer ({
			is: 'aq-nonprogrammer-constraint-item',

			listeners: {
				'dropdown-changed':'onDropdownChange',
			},

			ready: function() {
				this.operatorOptions = operatorOptions_o;
				this.constraintOptions = constraintOptions_o;
			},

			onDropdownChange: function(e) {
				if(e.target.id =='operator-type' && e.detail.index == 4) {
					this.$.secondInput.style.display='inline';
				} else {
					this.$.secondInput.style.display='none';
				} 
			},
			
			onDelete: function(e){
				e.currentTarget.parentElement.remove();
			},
			
		});
	</script>
</dom-module>


<dom-module id='aq-editor-edit-nonprogrammer-optimizer'>
	
	<style>
		
		#container {
			width:95%;
			margin: 0 auto;
			color:#24293d;
		}

		span {
			font-size: 14px;
			--margin-left: 10px;
		}

		.basic {
			width:30%;
			margin-right:20px;
			--margin-left:10px;
		}

		aq-dropdown {
			--dropdown-width:250px;
			--background-color: white;
			
		}

		#weightscheme-dd {
			--dropdown-width:250px;
		}

		paper-icon-button {
			margin-left:10px;
			background-color: teal;
			color:white;
			width: 30px;
			height:30px;
			padding:5px;
		}

		paper-icon-button:active {
			padding:7px;
		}

		.prg_weights {
			margin-top: 10px;
			width: 30%;
			margin-right: 30px;
			min-width:300px;
		}

		.prg_horizon {
			margin-top:20px;
			--width:50%;
		}

		#optType-dd {
			margin: 10px;
			margin-left:20px;
		}

		#header {
			font-size: 14px;
		}

		paper-radio-group {
			font-size: 14px;
		}

		#constraintContainer {
			margin-top:10px;
		}

	</style>

	<template>	
		<div id='container'>		
		<p id="header">Combine the stocks screened to create a portfolio. For ex: Combine the stocks in <b><i>proportion of market capitilization</i></b></p>	
			<div class="layout horizontal">
				<span class="self-center">Pick the optimizer:</span>
				<aq-dropdown id ='optType-dd' options="[[optimizerOptions]]"></aq-dropdown>
			</div>
		
			<iron-pages selected="{{optimizationType}}">

				<div>
					<!--span>Selected a weighting scheme</span>
					<aq-dropdown id='weightscheme-dd' options="[[weightedPortOptions]]"></aq-dropdown>
					
					<template is='dom-if' if='{{isReverseVolatility(weightScheme)}}'>
						<span>Days:</span>
						<input>	
					</template-->
					<div class="layout">
					<paper-radio-group class="prg_weights" attr-for-selected="index" selected="{{weightScheme}}">
						
						<template is='dom-repeat' items='{{weightedPortOptions}}'>
							<paper-radio-button index={{item.index}} name="{{item.value}}">{{item.value}}</paper-radio-button>
						</template>
					</paper-radio-group>

					<template is='dom-if' if='{{isReverseVolatility(weightScheme)}}'>

							<div class="layout vertical prg_horizon">	
								<div><span>Select the horizon of historical standard deviation
								</span></div>
								<div>
									<paper-radio-group noink>
										<paper-radio-button toggles name="1 month">1 Month
										</paper-radio-button>
										<paper-radio-button  toggles name="3 months">3 Month
										</paper-radio-button>
										<paper-radio-button  toggles name="6 months">6 months
										</paper-radio-button>
										<paper-radio-button  toggles name="1 year">1 year
										</paper-radio-button>
										<paper-radio-button  toggles name="2 year">2 year
										</paper-radio-button>
									</paper-radio-group>
								</div>		
							</div>
					</template>


					<template is='dom-if' if='{{isNormalizedMomentum(weightScheme)}}'>
						<div class="layout vertical prg_horizon">
							<div><span>Select the horizon for momentum</span></div>
								<paper-radio-group noink>
									<paper-radio-button toggles name="1 month">1 Month
									</paper-radio-button>
									<paper-radio-button  toggles name="3 months">3 Month
									</paper-radio-button>
									<paper-radio-button  toggles name="6 months">6 months
									</paper-radio-button>
									<paper-radio-button  toggles name="1 year">1 year
									</paper-radio-button>
									<paper-radio-button  toggles name="2 year">2 year
								</paper-radio-button>
							</paper-radio-group>
						</div>	
					</template>
					</div>

				</div>

				<div class="layout vertical prg_horizon">
					<span>Select the horizon of historical standard deviation</span>
					<paper-radio-group noink selected name="1 month">
						<paper-radio-button toggles name="1 month">1 Month
						</paper-radio-button>
						<paper-radio-button  toggles name="3 months">3 Month
						</paper-radio-button>
						<paper-radio-button  toggles name="6 months">6 months
						</paper-radio-button>
						<paper-radio-button  toggles name="1 year">1 year
						</paper-radio-button>
						<paper-radio-button  toggles name="2 year">2 year
						</paper-radio-button>
					</paper-radio-group>	

					<div id="constraintContainer">
						<div class="layout horizontal">
							<span class="self-center">Want to add constaints?</span>
							<paper-icon-button noink class="self-center" on-tap='addConstraints' icon="aq-icons:add"></paper-icon-button>
						</div>
					</div>

				</div>
			</iron-pages>
		</div>
	</template>

	<script>

		var optimizerOptions = [{value:'Weighted Portfolio',index:0},{value:'Minimize Absolute Deviation',index:1},{value:'Minimize Absolute Semi-Deviation',index:2},{value:'Minimize "Maximum" Loss',index:3}]

		var weightedPortOptions = [{value:'Uniform Weighting',index:1},{value:'Market Capitalization',index:2},{value:'Cube Root Market Capitalization',index:3},{value:'Reverse Volatility',index:4},{value:'Normalized Momentum',index:5}];

		Polymer({
			is:'aq-editor-edit-nonprogrammer-optimizer',

			properties: {
				optimizationType :{
					type:Number,
					value:0,
				},

				weightScheme:{
					type: Number,
					//value: 0,
				},

			},

			listeners :{
				'dropdown-changed':'onDropdownChange',
			},

			ready: function() {
				this.optimizerOptions = optimizerOptions;
				this.weightedPortOptions = weightedPortOptions;
			},

			addConstraints: function() {
				console.log('i am here');
				var x = document.createElement('aq-nonprogrammer-constraint-item');
				console.log(x);
				console.log(this.$.constraintContainer);
				Polymer.dom(this.$.constraintContainer).appendChild(x);
			},

			onDropdownChange: function(e) {
				if(e.target.id =='optType-dd') {
					this.optimizationType = e.detail.index;
				} else if (e.target.id =='weightscheme-dd') {
					this.weightScheme = e.detail.index;
				}
			},

			isReverseVolatility: function(weightScheme) {
				return weightScheme == 4;
			},

			isNormalizedMomentum: function(weightScheme) {
				return weightScheme == 5;
			},

		});
	</script>

</dom-module>
