<link rel="import" href="../../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/iron-ajax/iron-ajax.html'>
<link rel='import' href='../../../bower_components/app-route/app-route.html'>
<link rel='import' href='../../../bower_components/app-route/app-location.html'>
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel='import' href="../common/aq-check-authentication.html">
<link rel='import' href="./aq-editor-toolbar.html">
<link rel='import' href="./aq-editor-console-window.html">
<link rel='import' href="./aq-editor-sidebar-run.html">
<link rel='import' href="./aq-editor-sidebar-log.html">
<link rel='import' href="./aq-vertical-icon-selector.html">
<!--link rel='import' href ='./aq-editor-edit-nonprogrammer.html'-->
<link rel='import' href='./aq-editor-edit-programmer.html'>
<link rel='import' href='./aq-editor-edit-backtest-screen.html'>
<link rel='import' href='../../icons/aq-iconset.html'>

<dom-module id="aq-editor-edit">

    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>

        paper-icon-button {
            width: 35px;
            height: 35px;
        }

        #consoleWindow {
            position: absolute;
            bottom: 1%;
            height: 89%;
            width: 97%;
            left: 0px;
            --border: 1px solid;
            left: 2%;
            --min-width: 5%;
            background-color: white;
        }

        paper-toolbar {
            --paper-toolbar-height: 40px;
            --paper-toolbar-color: #24293d;
            --paper-toolbar-background: #cbefde;
            -- #9ecbda;
            -- #c9e2ea;
            border-bottom: 1px solid #24293d;
        }

        paper-tabs :hover {
            font-weight: bold;
            font-size: 110%;
        }

        paper-tabs {
            --paper-tabs-selection-bar-color: #24293d;
            height: 80%;
        }

        paper-tab {
            --height: 30px;
        }

        .toolbarPlayIcon {
            border: 1px solid;
            padding: 0px;
            height: 23px;
            width: 23px;
        }

        #sidebar {
          height: 100%;
          padding-top: 5px;
          background-color: #E5E5E5; 
        }

        iron-pages {
          height: 100%;
        }

        #verticalSelector {
            width: 50px;
            height: 100%;
            right:0;
            position: fixed;
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: #e5e5e5;
        }

        aq-editor-sidebar-log {
            padding: 5px;
            padding-right: 5px;
            --padding-bottom: 5px;
            background-color: #fff;
        }

        #drawerpanel {
          width: calc(100% - 50px);
          background-color: #E5E5E5;
        }

        paper-drawer-panel {
          --paper-drawer-panel-right-drawer-container :{
              z-index: 1;
          };
      }


        aq-editor-edit-backtest-screen {
            width: calc(100% - 50px);
        } 

    </style>

    <style include="iron-flex iron-positioning"></style>

    <template>

        <aq-check-authentication id='authItem'></aq-check-authentication>

        <iron-ajax
            url="[[computeGetStrategyUrl(strategyId)]]"
            method='GET'
            id='getStrategyQuery'
            handle-as="json"
            on-response="onGetStrategyResponse"
            on-error="onGetStrategyError"
            headers='{{header}}'
            debounce-duration="300"
            loading='{{loading}}'>
        </iron-ajax>

        <iron-ajax
            url="[[computePutStrategyUrl(strategyId)]]"
            body="{{putStrategyData}}"
            method='PUT'
            id='saveStrategyQuery'
            headers='{{header}}'
            handle-as="json"
            on-response="onStrategySavedResponse"
            on-error="onStrategySavedError"
            last-response="{{ajaxResponse}}"
            debounce-duration="300">
        </iron-ajax>

        <iron-ajax
            url="[[computePostStrategyExecutionUrl(strategyId)]]"
            body="{{runStrategyData}}"
            method='POST'
            id='runStrategyQuery'
            headers='{{header}}'
            handle-as="json"
            on-response="onStrategyExecutionResponse"
            on-error="onStrategyExecutionError"
            last-response="{{ajaxResponse}}"
            debounce-duration="300">
        </iron-ajax>

        <aq-loading-progress loading='{{loading}}'></aq-loading-progress>

        <template is='dom-if' if='{{isLoadedWithStrategy(loading, strategy)}}'>
            <div id='container' class="fit">

                <paper-header-panel id='headerPanel' mode="seamed">

                    <aq-editor-toolbar 
                        id='editorToolbar' 
                        is-programmer="{{isProgrammer}}"
                        is-running="{{isRunning}}"
                        class="paper-header"
                        strategy-name="[[strategy.fullName]]" 
                        strategy-desc="[[strategy.description]]"
                        num-backtests="[[strategy.numBacktests]]"
                        narrow="[[narrow]]"
                        toggle-active="[[checkToggleActive(narrow, showSidebar)]]" 
                        strategy-id="[[strategyId]]">
                    </aq-editor-toolbar>
                    
                    <div class="layout horizontal">
                    
                    <paper-drawer-panel
                          id="drawerpanel"
                          drawer-width="[[computeDrawerWidth(isProgrammer, isRunning)]]"
                          right-drawer
                          responsive-width='1000px'
                          narrow="{{narrow}}"
                          force-narrow="{{!showSidebar}}">

                          <template 
                              is='dom-if' 
                              if='[[showProgrammerWindow(isRunning, isProgrammer)]]'>
                              <aq-editor-edit-programmer 
                                  main 
                                  code="[[strategy.code]]"
                                  id='codeEditorPanel'>
                              </aq-editor-edit-programmer>
                          </template>

                          <template is='dom-if' if='[[isRunning]]'>  
                              <aq-editor-edit-backtest-screen 
                                    main
                                    is-running="{{isRunning}}"
                                    id='backtestScreen'
                                    narrow="[[narrow]]"
                                    show-sidebar="[[showSidebar]]"
                                    backtest-id="[[activeBacktestId]]">
                              </aq-editor-edit-backtest-screen>
                          </template>

                            <div id="sidebar" drawer> 
                                <iron-pages selected="{{selectedSidebar}}" >

                                    <aq-editor-sidebar-run 
                                        id='runSidebar' 
                                        disabled=[[isRunning]]>
                                    </aq-editor-sidebar-run>

                                    <aq-editor-sidebar-log id='logContainer' backtest-id=[[activeBacktestId]]></aq-editor-sidebar-log>

                                </iron-pages>
                            </div>
               
                        </paper-drawer-panel>
                        
                        <aq-vertical-icon-selector
                              id="verticalSelector"
                              selected="{{selectedSidebar}}"
                              items-array="[[itemsArray]]">
                        </aq-vertical-icon-selector>
                    </div>
  
                </paper-header-panel>
            </div>
        </template>
    </template>

    <script>
        Polymer({
            is: 'aq-editor-edit',

            properties: {
                showSidebar: {
                    type: Boolean,
                    value: true,
                },

                narrow: {
                    type: Boolean,
                },

                selectedSidebar: {
                    type: Number,
                    value: 0,
                },

                sideBarOpen: {
                    type: Boolean,
                    value: true,
                },

                isProgrammer: {
                    type: Boolean,
                    value: true,
                },

                strategyId: {
                    type: String,
                    observer: '_strategyIdChanged',
                },

                strategy: Object,

                runSwitch: {
                    type: Number,
                    value: 0,
                },

                isRunning: {
                    type: Boolean,
                    value: false,
                    observer:'_isRunningChanged',
                },

                putStrategyData: Object,

                runStrategyData: Object,

                activeBacktestId: {
                    type: String,
	                value:""
		        },	

                loading: Boolean,

                itemsArray: {
                    type: Array, 
                },

            },

            listeners: {
                'close-all': 'closeAll',
                'toggle-drawer': 'toggleDrawer',
                'toggle-console': 'toggleConsole',
                'close-console': 'closeConsole',
                'selected-items-changed': 'rowSelected',
                'toggle-design': 'designChanged',
                'backClicked': 'goToHome',
                'analyze-clicked':'goToAnalyze',
                'open-drawer': 'openDrawer',
                'close-drawer': 'closeDrawer',
                'save-action': 'saveStrategy',
                'run-action': 'runStrategy',
                'clone-strategy-clicked': 'cloneStrategy',
                'backClicked-backtest': 'toggleIsRunning',
                'scroll-log': 'onScroll',
                'save-request': 'onSaveRequest',
                'open-sidebar-panel':'openDrawer',
            },

            attached: function () {

                if (!this.$.authItem.checkHasToken()) {
                    this.fire('rt-changed', {route: '/user/signin'});
                    return;
                } else {
                    this.header = this.$.authItem.getHeader();
                    this.$.getStrategyQuery.generateRequest();
                    this.fire('close-menu');
                    this.selectedSidebar = 0;
                }

                this.isRunning = false;
            },
	
	        computeIsRunning: function(isRunning, activeBacktestId) {
                return isRunning && activeBacktestId!="";
            },

            _isRunningChanged: function() {
               this.itemsArray = [{title:"Settings", icon:"aq-icons:settings"}, {title:"Logs", icon:"aq-icons:graphic-eq"}];
                if(this.isRunning) {
                    //this.itemsArray = [{title:"Settings", icon:"aq-icons:settings"}, {title:"Logs", icon:"aq-icons:graphic-eq"}];
                    this.selectedSidebar = 1;
                  } else {
                    this.selectedSidebar = 0;
                    //this.itemsArray = [{title:"Settings", icon:"aq-icons:settings"}];
			        this.activeBacktestId = ""; 
                  }
            },

            computeGetStrategyUrl: function (strategyId) {
                var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                return APIEndPoint + '/strategy/' + strategyId;
            },

            computePutStrategyUrl: function (strategyId) {
                var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                return APIEndPoint + '/strategy/' + strategyId;
            },

            computePostStrategyExecutionUrl: function (strategyId) {
                var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                return APIEndPoint + '/strategy/' + strategyId + '/exec';
            },

            computeDrawerWidth: function (isProgrammer, isRunning) {
                if (isProgrammer && isRunning) {
                    return "440px";
                } else if (isProgrammer) {
                    return "440px";
                } else {
                    return "0px";
                }
            },

            toggleConsole: function () {
                this.$.collapse.toggle();
            },

            openConsole: function () {
                if (this.$.collapse.opened == false) {
                    this.$.collapse.toggle();
                }
            },

            closeConsole: function () {
                if (this.$.collapse.opened == true) {
                    this.$.collapse.toggle();
                }
            },

            closeAll: function () {
                this.$$('#codeEditorPanel').closeDrawer();
                this.closeConsole();
            },

            toggleDrawer: function () {

                if (this.showSidebar && this.narrow) {
                    this.$$('#drawerpanel').togglePanel();
                } else if (this.showSidebar && !this.narrow) {
                    this.closeDrawer();
                } else {
                    this.openDrawer();
                }

            },

            openDrawer: function () {
                this.showSidebar = true;
                this.$$('#drawerpanel').openDrawer();
            },

            closeDrawer: function () {
                this.$$('#drawerpanel').closeDrawer();

                if (this.showSidebar && !this.narrow) {
                    this.showSidebar = false;
                }
            },

            checkToggleActive: function(narrow, showSidebar) {
                return !narrow && showSidebar;
            },

            isSelectedSidebarRun: function (selectedSidebar) {
                return selectedSidebar == 0;
            },

            designChanged: function () {
                this.isProgrammer = !this.isProgrammer;
            },

            goToAnalyze: function () {
                this.isRunning = false;
                //Let the event propagate
            },

            goToHome: function () {
                this.fire('rt-changed', {route: '/research/strategy'});
            },

            onGetStrategyResponse: function (data) {
                this.strategy = data.detail.response;
                document.title = this.strategy.fullName + " - AimsQuant";
            },

            onGetStrategyError: function (e) {
                this.loading = true;
                this.fire('ajax-error', {request: e.detail.request});
            },

            onStrategySavedResponse: function (data) {
                // Check if save was initiated before RUN
                if (this.runSwitch == 1) {

                    //reset the run switch to off
                    this.runSwitch = 0;

                    // Now run the saved strategy
                    if (this.$.authItem.checkHasToken()) {
                        this.header = this.$.authItem.getHeader();
                        this.$.runStrategyQuery.generateRequest();
                    } else {
            			this.isRunning = false;
        		    }
                }
            },

            onStrategySavedError: function (e) {
        		if(this.runSwitch == 1) {
        			this.runSwitch =0;
        			this.isRunning = false;
        		}

                this.loading = true;
                this.fire('ajax-error', {request: e.detail.request});
            },

            runStrategyFromPanel: function () {
                this.$$('#editorToolbar').onRun();
            },

            saveStrategy: function (e) {
                this.putStrategyData = {
                    "name": (this.strategy.fullName != e.detail.name) ? e.detail.name : this.strategy.name,
                    "description": this.strategy.description,
                    "language": this.strategy.language,
                    "type": this.strategy.type,
                    "code": this.$$('#codeEditorPanel').getCodeContent(),
                };

                if (this.$.authItem.checkHasToken() && this.strategyId != "") {
                    this.header = this.$.authItem.getHeader();
                    this.$.saveStrategyQuery.generateRequest();
                }
            },

            runStrategy: function (e) {
                // first save the strategy
                this.runStrategyData = this.$$('#runSidebar').getSettings();

                this.fire('update-localstorage-backtest-settings', {settings: this.runStrategyData});
          
                this.runSwitch = 1;
		        this.isRunning = true;
                this.saveStrategy(e);

                //Reset log container
                if (this.$$('#logContainer')) {
                    this.$$('#logContainer').resetLogs();
                }
            },

            onStrategyExecutionResponse: function (data) {

                //Before execution starts,
                //backtestId handle is sent from the backend
                this.activeBacktestId = data.detail.response._id;
                //This backtest object just contains settings and code
                //BUT has no output

                this.fire('iron-signal',{name:'backtest-started', data:{id:this.activeBacktestId}});

                // Send Execution request via web-sockets
                this.selectedSidebar = 1;

                //this.fire('execute-backtest', {backtestId: this.activeBacktestId});

                this.fire('iron-signal', {name: 'backtest-added'});

            },

            onStrategyExecutionError: function (data) {
                this.fire('iron-signal', {name:'backtest-exception', data:{id: this.activeBacktestId, type: 2}});
                
                //console.log(data.detail);
                //This get back the created backtest object with just the settings,
                //HAS no output
            },

            cloneStrategy: function (e) {
                e.detail.strategy = this.strategy;
                //let the event propagate
            },

            onScroll: function () {
                this.$$('#logContainer').scroller.scrollTop += this.$$('#logContainer').scroller.scrollHeight;
            },

            showProgrammerWindow: function (isRunning,isProgrammer) {
                return !isRunning && isProgrammer;
            },

            _strategyIdChanged: function (nId, oId) {

                if (nId && this.$.authItem.checkHasToken()) {
                    this.header = this.$.authItem.getHeader();
                    this.$.getStrategyQuery.generateRequest();

                    this.fire('close-menu');
                    this.selectedSidebar = 0;
                }
            },

            checkForKeys: function (event) {
                if (event.ctrlKey || event.metaKey) {
                    switch (String.fromCharCode(event.which).toLowerCase()) {
                        case 's':
                            event.preventDefault();
                            this.$$('#editorToolbar').onSave();
                            break;
                    }
                }
            },

            onSaveRequest: function () {
                if (this.$$('#editorToolbar')) {
                    this.$$('#editorToolbar').onSave();
                }
            },

            isLoadedWithStrategy: function (loading, strategy) {
                return !loading && strategy && Object.keys(strategy).length > 0;
            },

        });
    </script>

</dom-module>  
