<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel="import" href="../../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../../bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<!--link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet"-->

<link rel="import" href="../../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../common/aq-group-selector.html">
<dom-module id='aq-editor-sidebar-run'>
    <style include="iron-flex iron-flex-alignment iron-positioning"></style>

    <style>

        :host {
            font-family: 'Lato', sans-serif;
            color: #24293d;
            display: block;
            height:100%;
        }

        #run {
            color: #24293d;
            padding:5px;
            background-color: #fff;
        }

        paper-card {
        	--paper-card: {
        		height: 100%;
        	};
        }

        #advancedSettings {
            margin-top: 5px;
            padding-bottom: 10px;
        }

        .input-box {
            border: 1px solid #d4d4d4;
            outline: none;
            font-size: 14px;
            width: 175px;
            height: 25px;
            padding-left: 5px;
        }

        #basic-settings{
            position: relative;
        }

        paper-tabs {
            --paper-tabs-selection-bar-color: #cc6666;
            --paper-tabs:{
            	font-size:13px;
            };

            width: 50%;
            margin-left:10px;
        }

        iron-pages {
            margin-top: 20px;
        }

        .square-btn {
            padding: 3px 5px;
            background-color: #f2f2f2;
            border-radius: 2px;
            border: none;
            outline: none;
            color: #898989;
            margin-right: 10px;
        }

        .inputbox {
            margin-bottom: 20px;
        }
        
        .label {
        	width: 120px;
        	margin-right:20px;
        }

        .label span {
        	font-size: 14px;
        	color: #7c7c7c;
            font-family: 'Lato', sans-serif;
        }

        .value {
        	width: 200px;
        }

        paper-input, paper-textarea {
        	--paper-input-container: {
        		padding-top: 0px;
        		padding-bottom: 0px;
        		padding-left:5px;
        		border: 1px solid #e5e5e5;
        		width: 175px;
    		};

    		--paper-input-container-input: {
        		font-size: 14px;
    		};

    		--paper-input-container-underline: {
            	display: none;
          	};
    
	      	--paper-input-container-underline-focus: {
	            display: none;
          	};
        	
    	  	--paper-input-container-underline-disabled: {
	            display: none;
          	};
        }

        paper-textarea {
            margin-top: 10px;
            --paper-input-container: {
                padding-top: 0px;
                padding-bottom: 0px;
                padding-left:5px;
                border: 1px solid #e5e5e5;
                width: 320px;
                max-height: 300px;
            };
        }

        .horizontalField {
        	margin-bottom: 20px;
        	margin-left:30px;
        }

        select {
            font-size: 15px;
            width: 180px;
            background: #fff;
            border: 1px solid #e5e5e5;
        }
        
    </style>

    <template>

        <iron-ajax auto
            url="../../../resources/benchmark/benchmark.json"
            handle-as="json"
            id="getBenchmarkQuery"
            on-response="onGetBenchmarkSuccess"
            on-error="onGetBenchmarkError"
            debounce-duration="300">
        </iron-ajax>

        <paper-card id='run' class="layout vertical">
        
        	<div class="layout horizontal">
	    	 	<paper-tabs noink selected="{{selected}}" >
	                <paper-tab>BASIC</paper-tab>
	                <paper-tab>ADVANCED</paper-tab>
	            </paper-tabs>
	            <div class="flex"></div>
            </div>

            <iron-pages selected="{{selected}}">
                <div id='basic-settings' class="layout vertical">
                        
            		<div class="horizontalField layout horizontal">
                		<div class="label self-center">
                			<span>Initial Capital</span>
                		</div>

                		<div class="value self-center">
            		    <input class="input-box" label="Seed Capital"
                           value="{{initialCash::change}}" type="number"
                           on-keydown="checkForKeys" on-blur='close' disabled=[[disabled]]>
                       	</div>
            		</div>

            		<div class="horizontalField layout horizontal">
                       	<div class="label self-center">
                			<span>Start Date</span>
                		</div>

            			<paper-input no-label-float 
                            class="value self-center" 
                            type="date" value="{{startDate}}" 
                            disabled=[[disabled]]>
                        </paper-input>
            		</div>

					<div class="horizontalField layout horizontal">
                       	<div class="label self-center">
                			<span>End Date</span>
                		</div>

            			<paper-input no-label-float 
                            class="value self-center" 
                            type="date" value="{{endDate}}" 
                            disabled=[[disabled]]>
                        </paper-input>

            		</div>

                    <div class="horizontalField layout horizontal">
                        <div class="label self-center">
                            <span>Benchmark</span>
                        </div>

                        <select on-change='onChangeBenchmark' disabled=[[disabled]]>
                          <template is="dom-repeat" items="[[benchmarkList]]" restamp> 
                                <option value="[[item]]">[[item]]</option>
                          </template>
                          <!--option value="saab">Saab</option>
                          <option value="mercedes">Mercedes</option>
                          <option value="audi">Audi</option-->
                        </select>
                    </div>

                    <div class="horizontalField">
                    <div class="layout horizontal">
                        
                        <div class="label self-center">
                            <span>Universe</span>
                        </div>

                        <select on-change='onChangeUniverse' disabled=[[disabled]]>
                          <template is="dom-repeat" items="[[universeIndexList]]" restamp> 
                                <option value="[[item]]">[[item]]</option>
                          </template>
                          <!--option value="saab">Saab</option>
                          <option value="mercedes">Mercedes</option>
                          <option value="audi">Audi</option-->
                        </select>
                    </div>

                        <!--paper-textarea rows=10></paper-textarea-->
                    </div>
                </div>

                <div id='advancedSettings' class="layout vertical">
	                    
	                <aq-paper-button-group 
                		label="Rebalance"
            	       	event-name="rebalance-selected"
                        selected-value=[[rebalance]] 
                		button-values="{{rebalanceOptions}}"
                        disabled=[[disabled]]>
	        		</aq-paper-button-group>

	        		<aq-paper-button-group 
                		label="Cancel Policy"
                		event-name="cancel-policy-selected"
                        selected-value=[[cancelPolicy]] 
                		button-values="{{cancelOptions}}"
                        disabled=[[disabled]]>
	        		</aq-paper-button-group>

					<!--aq-paper-button-group 
                		label="Resolution"
                		event-name="resolution-selected" 
                        selected-value=[[resolution]]
                		button-values="{{resolutionOptions}}">
	        		</aq-paper-button-group-->

	        		<aq-paper-button-group 
                		label="Commission"
                		event-name="commission-selected" 
                		has-input
                        input-value={{commissionValue}}
                        selected-value=[[commissionModel]]
                		button-values="{{commissionOptions}}"
                        disabled=[[disabled]]>
	        		</aq-paper-button-group>
	            	
	            	<aq-paper-button-group 
                		label="Slippage"
                		event-name="slippage-selected" 
                		has-input
                        input-value={{slippageValue}}
                        selected-value=[[slippageModel]]
                		button-values="{{slippageOptions}}"
                        disabled=[[disabled]]>
	        		</aq-paper-button-group>
	            	
	            	<aq-paper-button-group 
                		label="Investment Plan"
                		event-name="investment-plan-selected"
                        selected-value=[[investmentPlan]] 
                		button-values="{{investmentPlanOptions}}"
                        disabled=[[disabled]]>
	        		</aq-paper-button-group>

                    <aq-paper-button-group 
                        label="Execution Policy"
                        event-name="execution-policy-selected"
                        selected-value=[[executionPolicy]] 
                        button-values="{{executionPolicyOptions}}"
                        disabled=[[disabled]]>
                    </aq-paper-button-group>

                </div>
            </iron-pages>
        </paper-card>
    </template>

    <script>
        var slippageOptions = [{index: 0, value: 'Variable'},
            {index: 1, value: 'Spread'}];

        var cancelOptions = [{index: 0, value: 'EOD'},
            {index: 1, value: 'GTC'}];

        var executionPolicyOptions = [{index: 0, value: 'Close'},
            {index: 1, value: 'High'}, {index: 2, value: 'Low'},
            {index: 3, value: 'Open'}, {index: 4, value: 'AverageHighLow'}, {index: 5, value: 'AverageAll'}];

        var commissionOptions = [{index: 0, value: 'PerTrade'},
            {index: 1, value: 'PerShare'}];

        var rebalanceOptions = [{index: 0, value: 'Daily'},
            {index: 1, value: 'Weekly'},
            {index: 2, value: 'Monthly'}];

        var resolutionOptions = [{index: 0, value: 'Day'}]

        var investmentPlanOptions = [{index: 0, value: 'AllIn'},
            {index: 1, value: 'Monthly'},
            {index: 2, value: 'Yearly'},
            {index: 3, value: 'Weekly'}]

        Polymer({
            is: 'aq-editor-sidebar-run',

            properties: {
                selected: {
                    type: Number,
                    value: 0
                },
                startDate: {
                    type: String,
                    value: "",
                },

                endDate: {
                    type: String,
                    value: "",
                },

                initialCash: {
                    type: Number,
                    value: 1000000,
                },

                rebalance: {
                    type: String,
                    //value: rebalanceOptions[0].value,
                },

                cancelPolicy: {
                    type: String,
                    //value: cancelOptions[0].value,
                },

                slippageValue: {
                    type: Number,
                    value: 0.05,
                },

                slippageModel: {
                    type: String,
                    //value: slippageOptions[0].value,
                },

                commissionValue: {
                    type: Number,
                    value: 0.1,
                },

                commissionModel: {
                    type: String,
                    //value: commissionOptions[0].value,
                },


                resolution: {
                    type: String,
                    //value: resolutionOptions[0].value,
                },

                universe: {
                    type: String,
                    value: "",
                },

                universeIndex: {
                    type: String,
                    value: "",
                },

                benchmark :{
                    type: String,
                    value: "",
                },

                investmentPlan: {
                    type: String,
                    //value: investmentPlanOptions[0].value,
                },

                executionPolicy: {
                    type: String,
                },

                slippageOptions: Array,
                cancelOptions: Array,
                commissionOptions: Array,
                rebalanceOptions: Array,
                resolutionOptions: Array,
                investmentPlanOptions: Array,
                executionPolicyOptions: Array,
                
                disabled:{
                    type: Boolean,
                    value:false,
                },

                benchmarkList:Array,
                universeIndexList:Array,
            },

            listeners:{
                'resolution-selected':'onSelectResolution',
                'cancel-policy-selected':'onSelectCancelPolicy',
                'slippage-selected':'onSelectSlippage',
                'commission-selected':'onSelectCommission',
                'rebalance-selected':'onSelectRebalance',
                'investment-plan-selected':'onSelectInvestmentPlan',
                'execution-policy-selected':'onExecutionPolicySelected',
            },

            onGetBenchmarkSuccess: function(e) {
                this.benchmarkList = e.detail.response.benchmark;
                this.benchmark = this.benchmarkList[0];
                this.universeIndexList = e.detail.response.universe;
                this.universeIndex = this.universeIndexList[0];
                //this.universe = this.universeIndexList[0]; 
            },

            onGetBenchmarkError: function(e) {
                console.warn(e);
            },

            onChangeUniverse: function(e) {
                var idx = e.srcElement ? e.srcElement.selectedIndex ? e.srcElement.selectedIndex : 0 : 0;

                this.universeIndex = this.universeIndexList[idx];
                //this.universe = this.universe
            },

            onChangeBenchmark: function(e) {
                var idx = e.srcElement ? e.srcElement.selectedIndex ? e.srcElement.selectedIndex : 0 : 0;

                this.benchmark = this.benchmarkList[idx];               
            },

            initializeValues: function() {
                this.slippageOptions = slippageOptions;
                this.cancelOptions = cancelOptions;
                this.commissionOptions = commissionOptions;
                this.rebalanceOptions = rebalanceOptions;
                this.resolutionOptions = resolutionOptions;
                this.investmentPlanOptions = investmentPlanOptions;
                this.executionPolicyOptions = executionPolicyOptions;
                this.startDate = this.getTodayDate(365)
                this.endDate = this.getTodayDate(7);

                this.slippage = this.slippageOptions[0].value;
                this.cancelPolicy = this.cancelOptions[0].value;
                this.commissionModel = this.commissionOptions[0].value;
                this.rebalance = this.rebalanceOptions[0].value;
                this.resolution = this.resolutionOptions[0].value;
                this.investmentPlan = this.investmentPlanOptions[0].value;
                this.executionPolicy = this.executionPolicyOptions[0].value;
            },

            attached: function() {
                
                this.initializeValues();
                var x = localStorage.getItem('my-app-storage');
                if (x) {
                    var settings = JSON.parse(x).settings;
                    if (settings) {
                        this.startDate = settings.startDate;
                        this.endDate = settings.endDate;  
                        //this.universe = settings.universe;  
                        this.initialCash = settings.initialCash;
                        /*var advancedSettings = JSON.parse(settings.advanced);
                        this.slippageModel = advancedSettings.slippage.model;
                        this.slippageValue = advancedSettings.slippage.value ? advancedSettings.slippage.value : 0.05;
                        this.cancelPolicy = advancedSettings.cancelPolicy;
                        this.commissionModel = advancedSettings.commission.model;
                        this.commissionValue = advancedSettings.commission.value ? advancedSettings.commission.value : 0.1;
                        this.rebalance = advancedSettings.rebalance;
                        this.resolution = advancedSettings.resolution;  
                        this.investmentPlan = advancedSettings.investmentPlan;*/
                       
                    }
                }
                //this.$.getBenchmarkQuery.generateRequest();

            },

            onSelectResolution: function(e) {
                this.resolution = e.detail.attrSelected;
            },

            onSelectCancelPolicy: function(e) {
                this.cancelPolicy = e.detail.attrSelected;
            },

            onSelectSlippage: function(e) {
                this.slippageModel = e.detail.attrSelected;
            },

            onSelectCommission: function(e) {
                this.commissionModel = e.detail.attrSelected;
            },

            onSelectRebalance: function(e) {
                this.rebalance = e.detail.attrSelected;
            },

            onSelectInvestmentPlan: function(e) {
                this.investmentPlan = e.detail.attrSelected;
            },

            onExecutionPolicySelected: function(e) {
                this.executionPolicy = e.detail.attrSelected;
            },

            toggle: function () {
                if (this.$.adcollapse.opened) {
                    this.$.advancedSettings.style.height = '35px';

                } else {
                    this.$.advancedSettings.style.height = '310px';
                }

                this.$.adcollapse.toggle();
            },

            getSettings: function () {
                var settings = {
                    startDate: this.startDate,
                    endDate: this.endDate,
                    initialCash: parseInt(this.initialCash),
                    advanced: JSON.stringify({
                        rebalance: this.rebalance,
                        cancelPolicy: this.cancelPolicy,
                        slippage: {model: this.slippageModel, value: this.slippageValue},
                        commission: {model: this.commissionModel, value: this.commissionValue},
                        resolution: this.resolution,
                        investmentPlan: this.investmentPlan,
                        executionPolicy: this.executionPolicy
                    }),

                    universeIndex: this.universeIndex,
                    benchmark: this.benchmark,
                    universe: this.universe
                };

                return settings;
            },

            getTodayDate: function (offset) {
                var today = new Date();
                today.setDate(today.getDate() - offset);
                var dd = today.getDate();
                var mm = today.getMonth() + 1; //January is 0!
                var yyyy = today.getFullYear();

                if (dd < 10) {
                    dd = '0' + dd
                }

                if (mm < 10) {
                    mm = '0' + mm
                }

                today = yyyy + '-' + mm + '-' + dd;
                return today;
            },

            openDatePicker: function () {
                this.$.dialog.toggle();
            }

        });
    </script>
</dom-module>

<dom-module id='aq-paper-button-group'>
	<style include="iron-flex iron-flex-alignment iron-positioning"></style>	
	<style>
	 	.label {
        	min-width: 115px;
        	width: 115px;
        	margin-right:20px;
        }

        .label span {
        	font-size: 14px;
        	color: #7c7c7c;
            font-family: 'Lato', sans-serif;
        }

        .split-bar{
            width: 2px;
            height: 35px;
            background-color: grey;
            margin-left: 2px;
            margin-bottom: 5px;
        }

        .horizontalField {
        	margin-bottom: 20px;
        	margin-left: 30px;
        }

      	.box {
            width: 50px;
            height: 25px;
            text-align: center;
            padding-top: 0px;
            padding-bottom: 0px;
            margin-right: 10px;
            margin-left: 3px;
            font-size: 14px;
        }

        .box:focus {
        	outline: none;
        }

	</style>

	<template>
		<div class="horizontalField layout horizontal">
			<div class="label self-center">
				<span>[[label]]</span>
			</div>

			<template is='dom-if' if="[[hasInput]]">
				<input class="box" 
					   type="number"
                	   step="0.01" 
                       min=0
                       value="{{inputValue::change}}"
                       disabled=[[disabled]]>
            </template>

			<div class="button-select-container layout horizontal">
		        <aq-group-selector event-name="[[eventName]]"
                        selected=[[findIndex(buttonValues,selectedValue)]]
		        		items="{{buttonValues}}"
                        disabled=[[disabled]]>
	    		</aq-group-selector>
		    </div>
	    </div>
	</template>

	<script>
		Polymer({
			is:'aq-paper-button-group',

			properties: {
				label: String,

                selectedValue: String,
				
				buttonValues: Array,
				
				eventName: String,
				
				hasInput: {
					type: Boolean,
					value: false,
				},

				inputValue:{
					type:Number,
					value:0.1,
					notify:true,
				},

                disabled: Boolean,
			},

            findIndex: function(buttonValues, selectedValue) {
                var idx = buttonValues.findIndex(item => item.value == selectedValue);
                return idx != -1 ? idx : 0;
            },

		});
	</script>
</dom-module>