
<link rel='import' href ="../common/backtest/aq-backtest-detail-item.html">
<link rel='import' href='../../../bower_components/web-socket/web-socket.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/paper-button/paper-button.html'>

<link rel='import' href='../../icons/aq-iconset.html'>

<dom-module id='aq-editor-edit-backtest-screen'>
	<style  include="iron-flex iron-flex-alignment iron-positioning"></style>
	
	<style>
		#container {
			height:100%;
			padding:5px;
			--background-color: #e5e5e5;
		}

		paper-button {
			text-transform: none;
			font-size: 14px;
			color:#cc6666;
		 	margin-bottom: 10px;
            margin-left: 5px;
		}
	</style>

	<template>
		<template is='dom-if' if='[[isActive(isRunning,backtestId)]]'>
			<div id='container'>
		      	<aq-backtest-detail-item 
		      		backtest-id={{backtestId}} 
		      		active="[[isActive(isRunning,backtestId)]]" 
		      		forced-semi-wide="[[isForcedSemiWide(narrow, showSidebar)]]">
		      	</aq-backtest-detail-item>
			</div>
		</template>
	</template>

	<script>
		Polymer({
			is:'aq-editor-edit-backtest-screen',

			properties:{
				isRunning: {
					type:Boolean,
					value:false,
					notify:true,
				},

				narrow:{
					type:Boolean,
					value:true,
				},

				showSidebar: Boolean,

				backtestId:{
					type:String,
				},
				
			},
			isActive: function(isRunning, backtestId) {
				return isRunning && (backtestId && backtestId !="");
			},

			onBack: function() {
				this.isRunning = false;
				//this.fire('unsubscribe-data',{backtestId:this.backtestId});
			},

			toggleDrawer: function() {
				this.fire('toggle-drawer');
			},

			isForcedSemiWide: function(narrow, showSidebar) {
				return showSidebar;
			},

		});
	</script>
</dom-module>