<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../common/aq-dropdown.html'>
<link rel='import' href='../../icons/aq-iconset.html'>

<dom-module id='aq-nonprogrammer-screener-item'>
	<style  include="iron-flex iron-flex-alignment iron-positioning"></style>
	<style>
		input {
			margin:10px;
			--height:20px;
			width:120px;
			font-size: 12px;
		}

		paper-icon-button {
			--margin-right:10px;
			margin-left:10px;
			padding:0px;
			height:16px;
			width:16px;
		}


		#secondInput {
			display: none;
			margin-left:10px;
			margin-right:10px;
		}

		span {
			--font-size: 14px;
		}	

		#screenerName {
			font-size:14px;
			width:200px;
			min-width: 200px;
			margin-right: 10px;
			text-overflow: none;
		}

		#gap {
			max-width: 100px;
			--margin:10px;
		}	

		aq-dropdown {
			--dropdown-width:150px;
			--button-width:150px;
			margin:10px;
		}

		#screener {
			--background-color: var(--screener-background-color, white);
		}

	</style>

	<template>
		
		<div id= 'screener' class="layout horizontal">
			
			<span id='screenerName' class="self-center">[[screenerName]]</span>
			
			<aq-dropdown class="self-center" options="[[operatorOptions]]"></aq-dropdown>
		   	<div id='gap' class="fflex"></div>
		    <input>
		    <div id='gap' class="fflex"></div>
		    <input id='secondInput'>	   
		    <paper-icon-button on-tap='onDelete' class="self-center" icon='aq-icons:cancel'></paper-icon-button>
		</div>	
	
	</template>

	<script>	

		var operatorOptions_u = [{value:'== (Equal To)', index:0},
				{value:'!= (Not Equal To)', index:1},
				{value: ' < (Less Than)', index:2},
				{value: ' > (Greater Than)', index:3},
				 {value:' >< (In Between)', index:4}, 
				 {value:' (Contains)', index:5}];

		Polymer ({
			is: 'aq-nonprogrammer-screener-item',

			properties :{
				screenerName:{
					type:String,
				},
				operator:{
					type:String,
				},
			},
			
			listeners: {
				'dropdown-changed':'onDropdownChange',	
			},

			ready: function() {
				this.operatorOptions = operatorOptions_u;
				this.operator = this.operatorOptions[0];
			},

			onDropdownChange: function(e) {
				
				if(e.detail.index==4) {
					this.$.secondInput.style.display='inline';
				} else {
					this.$.secondInput.style.display='none';
				}

				this.operator = this.operatorOptions[e.detail.index];

			},

			onDelete: function(e){
				e.currentTarget.parentElement.remove();
			}
			
		});
	</script>
</dom-module>


<dom-module id='aq-editor-edit-nonprogrammer-screener'>
	
	<style>
			
		#container {
			width:95%;
			margin: 0 auto;
			color:#24293d;
		}

		span {
			font-size: 13px;		
		}

		#exch-dd{
			---dropdown-width:120px;
		}

		#country-dd {
			---dropdown-width:50px;
		}

		#sector-dd {
			---dropdown-width:200px;
			margin-right: 15px !important;
		}

		aq-dropdown {
			margin: 10px;
			--dropdown-background-color:#99ced4;
		}

		.basic {
			margin-top: 20px;
			margin-bottom: 20px;
		}

		#header {
			--margin-top:50px;
			font-size: 14px;
		}


	</style>

	<template>
		
		<div id="container" class="content">
			<p id="header">Select screeners to filter the stock universe. For ex: Select all stock with <b><i> market capitilization</i></b> greater than 100 million</p>				
			<div class="layout horizontal basic">
				<!--div class='basic1 flex'-->
					<span class="self-center">Exchange:</span>
					<aq-dropdown class="self-center flex" id='exch-dd' options="[[exchangeOptions]]"></aq-dropdown>
				<!--/div-->

				<!--div class='basic1 flex'-->
					<span class="self-center">Country: </span>
					<aq-dropdown class="flex self-center" id='country-dd' options="[[exchangeOptions]]"></aq-dropdown>
				<!--/div-->

				<!--div class='basic1 flex'-->
					<span class="self-center">Sector: </span>
					<aq-dropdown class="self-center flex" id='sector-dd' options="[[exchangeOptions]]"></aq-dropdown>
 				<!--/div-->
 			</div>

 			<aq-nonprogrammer-screener-item screener-name="Shares Outstanding FY1"></aq-nonprogrammer-screener-item>
 			<aq-nonprogrammer-screener-item screener-name="Market Capitalization"></aq-nonprogrammer-screener-item>
		</div>

 	</template>

	<script>

		var exchangeOptions = [{value:'All Exchanges',index:0},{value:'NSE',index:1},{value:'BSE',index:1}];
		Polymer({
			is:'aq-editor-edit-nonprogrammer-screener',

			listeners :{
				'delete-clicked':'onDelete',
				'screener-pressed':'onAddScreener',
			},

			ready: function() {
				this.exchangeOptions = exchangeOptions;
			},

			addScreener: function() {
				var x = document.createElement('aq-nonprogrammer-screener-item');
				Polymer.dom(this.$.container).appendChild(x);
			},
		});
	</script>

</dom-module>