<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-item/paper-item.html">
<link rel="import" href="../../bower_components/paper-listbox/paper-listbox.html">

<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../../bower_components/iron-selector/iron-selector.html">

<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel='import' href='../../bower_components/paper-drawer-panel/paper-drawer-panel.html'>

<link rel='import' href='../components/analyze/aq-analyze-home-backtest-item.html'>
<link rel='import' href='../components/analyze/aq-analyze-home-header.html'>

<link rel='import' href='../components/common/aq-check-authentication.html'>
<!--link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet"-->
<dom-module id="aq-community-attachbacktest-dialog">

    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>

        paper-button {
            height: 30px;
            font-size: 13px;
            color: white;
            background-color: #cc6666;
        }

        #closeButton{
            color: #3c3c3c;
            background-color: white;
        }

        #button-group {
            margin-right: 20px;
        }

        #container-bt {
            width: 72%;
            margin-left: 3%;
            margin-right: 3%;
            --margin: 0 auto;
            --margin-top: 15px;
            height: 100%;
        }

        #container-strategy {
            width: 20%;
            margin-left: 3%;
            --margin-right: 3%;
        }

        .heading {
            font-size: 18px;
            font-family: 'Lato',sans-serif;
            font-weight: 700;
            color: #3c3c3c;
        }

        paper-dialog {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0;
            margin: 0;
            z-index: 200;
        }

        paper-item {
            font-size: 13px;
            --paper-item-selected: {

                background-color: #f2f2f2;
                --border: 1px solid #e24e42;
            }
        }

        paper-listbox {
            --background-color: #f2fbf7;
        }

        paper-dialog > * {
            margin: 0;
        }

        .outer {
            width: 100%;
            position: absolute;
            height:48px;
            margin: 0;
            padding: 0;
            box-shadow: 0 3px 8px rgba(0,0,0,0.2);
            overflow-y: scroll;
        }

        .inner paper-drawer-panel{
            margin-top: 45px;
        }

        #container {
            width: 95%;
            border: 1px solid #e1e1e1;
            margin-top: 100px;
            align-content: center;
            height: 100%;
        }

        .heading {
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 16px;
            color: #3c3c3c;
        }

        .header {
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 30px;
            font-size: 20px;
            color: #3c3c3c;
        }

        #heading-st {
            margin-left: 30px;
        }

        .special-item {
            background: white;
            height: 40px;
        }

        .special-item-text {
            font-size: 15px;
            margin: auto auto;
            color: #3c3c3c;
        }

        .bar {
            width: 3px;
            background-color:none;
        }

        .iron-selected {
            background: #f8eaea;
        }

        .iron-selected .bar {
            background-color: #cc6666;
        }

        .iron-selected .special-item-text {
            color: #cc6666;
        }


    </style>

    <template>

        <aq-check-authentication id='authItem'></aq-check-authentication>

        <paper-dialog id='selectBacktestDialog'>
            <div class="outer layout horizontal center">
                <p class="header">Select a Backtest</p>
                <div class="flex"></div>
                <div class="layout horizontal" id="button-group">
                    <paper-button id='attachButton' 
                        disabled=[[!isAttachButtonActive(checkedCount)]] 
                        noink on-tap='onAttach' icon="aq-icons:attach-file">Attach</paper-button>
                    <paper-button on-tap="closeDialog" id='closeButton'
                       noink>Cancel</paper-button>
                </div>
            </div>

            <div class="layout vertical flex" style="height: 100%">
                <div id="container" class="layout horizontal self-center">
                    <div id="container-strategy">
                        <div class="heading" id="heading-st">Strategy</div>
                        <iron-selector selected="{{currentStrategyIndex}}">
                            <template is='dom-repeat' items="[[strategies]]">
                                <div class="special-item layout horizontal">
                                    <div class="bar"></div>
                                    <div class="special-item-text"> [[item.name]]
                                    </div>
                                </div>
                            </template>
                        </iron-selector>
                    </div>

                    <div id='container-bt'>
                        <div class="heading">Backtests for [[strategyName]]</div>
                        <div style="overflow-y: scroll; height: 100%">
                            <template is='dom-if' if="[[backtests]]" restamp>
                                <aq-analyze-home-header 
                                    check-all="{{checkAll}}"
                                    num-active-backtests="[[checkedItems.length]]">
                                </aq-analyze-home-header>
                                <template is='dom-repeat' items="{{backtests}}">
                                    <aq-analyze-home-backtest-item 
                                        class="self-center" 
                                        bt-index="[[index]]"
                                        backtest="[[item]]"
                                        on-check='onCheckedBacktest'>
                                    </aq-analyze-home-backtest-item>
                                </template>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </paper-dialog>

        <iron-ajax
                url=""
                method='GET'
                id='getStrategiesQuery'
                handle-as="json"
                on-response="onGetStrategiesResponse"
                on-error="onGetStrategiesError"
                headers='{{header}}'
                debounce-duration="300">
        </iron-ajax>

        <iron-ajax
                url="[[computeGetBacktestsUrl(strategyId)]]"
                method='GET'
                id='getBacktestsQuery'
                handle-as="json"
                on-response="onGetAllBacktestsForStrategy"
                on-error="onGetAllBacktestsForStrategyError"
                headers='{{header}}'
                debounce-duration="300">
        </iron-ajax>

    </template>

    <script>
        Polymer({
            is: 'aq-community-attachbacktest-dialog',

            properties: {

                strategies: {
                    type: Array,
                    value: [],
                },

                backtests: {
                    type: Array,
                },

                strategyId: String,

                strategyName: String,

                checkedCount: {
                    type: Number,
                    value: 0,
                },

                checkedId: {
                    type: Object,
                    value: {},
                },

                currentStrategyIndex: {
                    type: Number,
                    value: 0,
                    observer: '_strategyChanged',
                },

                header: Object,

            },

            listeners: {
                'backtestChecked': 'onCheckedBacktest',
            },

            computeGetBacktestsUrl: function (strategyId) {
                var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                return APIEndPoint + '/strategy/' + strategyId + '/backtests?limit=0';
            },

            onGetStrategiesResponse: function (data) {
                this.strategies = data.detail.response;
                if(this.strategies) {
                    if(this.strategies.length > 0) {
                        this.strategyId = this.strategies[0]._id;
                        this.strategyName = this.strategies[0].name;
                        if (this.$.authItem.checkHasToken()) {
                            this.header = this.$.authItem.getHeader();
                            this.$.getBacktestsQuery.generateRequest();
                        }
                    }
                }
            },

            onGetAllBacktestsForStrategy: function (data) {
                this.backtests = data.detail.response;
            },

            onCheckedBacktest: function (e) {
                var checked = e.detail.checked;

                this.checkedId[e.detail.id] = checked;

                if (checked == true) {
                    this.checkedCount += 1;
                } else {
                    this.checkedCount -= 1;
                }
            },

            isAttachButtonActive: function (count) {
                return count == 1;
            },

            open: function () {
                this.$.selectBacktestDialog.open();
                var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                this.$.getStrategiesQuery.url = APIEndPoint + '/strategy';
                if (this.$.authItem.checkHasToken()) {
                    this.header = this.$.authItem.getHeader();
                    this.$.getStrategiesQuery.generateRequest();
                }
            },

            onCancel: function () {
                this.strategyId = "";
                this.strategies = [];
                this.backtests = [];
                this.checkedId = {};
                this.checkedCount = 0;
            },

            _strategyChanged: function (newVal, oldVal) {
                if (this.strategies) {
                    if (this.strategies[newVal]) {
                        this.strategyId = this.strategies[newVal]._id;
                        this.strategyName = this.strategies[newVal].name;
                        this.backtests = null;
                        this.checkedCount = 0;
                        this.$.getBacktestsQuery.generateRequest();
                    }
                }
            },

            computeStrategyName: function(currentStrategyIndex) {
                
                if (this.strategies 
                        && this.strategies.length > 0 
                        && this.strategies.length > currentStrategyIndex + 1
                        && currentStrategyIndex > -1) {
                    return this.strategies[currentStrategyIndex].name;
                }

                return "";
            },

            onAttach: function () {
                var key = "";
                for (key in this.checkedId) {
                    if (this.checkedId[key]) {
                        break;
                    }
                }
                this.fire('backtest-attached', {id: key});
                this.$.selectBacktestDialog.close();
            },
            
            closeDialog: function () {
                this.$$('paper-dialog').close();
            }

        });
    </script>

</dom-module>  
