
<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../bower_components/paper-dialog/paper-dialog.html'>
<link rel='import' href='../../bower_components/paper-button/paper-button.html'>

<link rel='import' href='../icons/aq-iconset.html'>

<dom-module id='aq-delete-dialog'>
	<style  include="iron-flex iron-flex-alignment iron-positioning"></style>
	<style>
		paper-dialog {
    		width: 400px;
    		height: 175px;
    		margin-right:0px;
    		margin-left:0px;
    		padding-right: 0px;
    		padding-left:0px;
  		}

  		#buttons {
  			margin-bottom:0px;
  		}

  		paper-button {
  			--paper-button:{
  				color: teal;
  			};
		}

		paper-button{
  			border-radius: 5px;
    		height:30px;
  		}

	  	iron-icon {
	        height:35px;
	        width: 35px;
	        color: teal;
	       	margin-bottom: -35px;
	        margin-top:-15px;
      	}

      	.header {
      		color: teal;
      	}
  		
	</style>
	
	<template>
	  <paper-dialog id='modal' 
	  				with-backdrop 
	  				on-iron-overlay-opened="patchOverlay">
	    	<div class="header layout horizontal">
          		<h2>[[heading]]</h2>
          		<div class="flex"></div>
          		<iron-icon icon="aq-icons:delete"></iron-icon>
        	</div>

 			
 			<p>[[message]]</p>	 	
  			<div class="buttons">
  				<paper-button dialog-dismiss>[[cancel]]</paper-button>
    			<paper-button dialog-confirm on-tap='onSubmit'>[[accept]]</paper-button>
  			</div>
		</paper-dialog>
	</template>
	
	<script>
		Polymer ({
			is: 'aq-delete-dialog',

			properties: {
				heading: String,
				message: String,
				cancel: String,
				accept: String,
			},

			onSubmit: function() {
				this.fire('delete-action');
			},

			open: function() {
				this.$.modal.open();
			},

			// https://github.com/PolymerElements/paper-dialog/issues/7
			patchOverlay: function (e) {
			  if (e.target.withBackdrop) {
			    e.target.parentNode.insertBefore(e.target.backdropElement, e.target);
			  }
			}

		});
		
	</script>
</dom-module>
