
<link rel='import' href='../../bower_components/paper-dialog/paper-dialog.html'>
<link rel='import' href='../../bower_components/paper-button/paper-button.html'>
<link rel='import' href='../../bower_components/paper-input/paper-input.html'>
<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../icons/aq-iconset.html'>
<link rel="import" href="../../bower_components/neon-animation/animations/scale-up-animation.html">
<link rel="import" href="../../bower_components/neon-animation/animations/scale-down-animation.html">
<dom-module id='aq-editor-strategy-input-dialog'>
	<style  include="iron-flex iron-flex-alignment iron-positioning"></style>
	<style>
		
      paper-dialog {
        width: 500px;
        height: 250px;
        margin-right:0px;
        margin-left:0px;
        padding-right: 0px;
        padding-left:0px;
      }

      #buttons {
        margin-bottom:0px;
      }

      paper-button {
        --paper-button:{
            background-color: teal;
            color: white;
            padding: 5px;
        };
      }

      #cancelBtn {
        --paper-button:{
          color: #9a9a9a;
        };
      }

      iron-icon {
          height:35px;
          width: 35px;
          color: teal;
          margin-bottom: -35px;
          margin-top:-15px;
      }

      .header {
        color: #3c3c3c;
      }

  		.input-fields {
  			--padding-bottom: 20px;
  			--paper-input-container-color:#9d9d9d;
  			--paper-input-container-input-color:#3c3c3c;
        --paper-input-container-focus-color :teal;
   		}

  		#buttons {
  			margin-bottom:0px;
  		}

  		paper-input {
        --paper-input-container-underline-focus:{
            background-color: teal;
        }
      }

	</style>

	<template>
	    <paper-dialog id='createStrategyModalDialog' 
                    with-backdrop
                    on-iron-overlay-opened="patchOverlay" 
                    on-keydown='checkForKeys'>
	    	<div class="header layout horizontal">
            <h2>[[header]]</h2>
        		<div class="flex"></div>
        		<!--iron-icon icon="{{computeIconType(header)}}"></iron-icon-->
        	</div>

 			<paper-input id='strategyNameInput' class='input-fields'
                         label="Strategy Name"
                         value="{{strategyName}}"
                         error-message="Please enter a valid strategy name. It can not be empty."
                         type="text"
                         no-label-float
                         required
                         maxlength=30
                         char-counter>
     	</paper-input>

			<paper-input id='strategyDesc' class='input-fields'
		                     label="Give it a short description..."
		                     value="{{strategyDesc}}"
		                     error-message="Please enter a valid strategy description. It can not be empty."
		                     type="text"
		                     no-label-float
		                     required
		                     maxlength=60
		                     rows=1
		                     max-rows=1
		                     char-counter
		                     no-wrap>
      </paper-input>

     	<div id="buttons" class="layout horizontal">
        <div class="flex"></div>
				<paper-button noink on-tap='onCancel' id='cancelBtn'>Cancel</paper-button>
  			<paper-button noink on-tap='onSubmit'>CREATE</paper-button>
			</div>

		</paper-dialog>

	</template>

	<script>
		Polymer ({
			is: 'aq-editor-strategy-input-dialog',

			properties: {
				header: String,
				strategyName: String,
				strategyDesc: String,
				//dialogType:String,
			},

			onSubmit: function() {
				if(this.$.strategyNameInput.validate() && this.$.strategyDesc.validate()){
					this.fire('create-strategy-action', {name:this.strategyName, description: this.strategyDesc});
          this.reset();
					this.$.createStrategyModalDialog.close();
				}
			},

      reset: function() {
        this.strategyName = "";
        this.strategyDesc = "";
      },

      onCancel: function() {
        this.reset();
        this.$.createStrategyModalDialog.close();
        //console.log(window.history.back());
        //this.fire('rt-changed',{route:'/research/strategy'});
      },

			open: function(type) {
				this.$.createStrategyModalDialog.open();
        this.$.strategyNameInput.focus();
			},

      close: function() {
        this.$.createStrategyModalDialog.close();
      },

      computeIconType: function(header) {
        if (header.match("Create")) {
          return "aq-icons:add";
        } else {
          return "aq-icons:content-copy";
        }
      },

      checkForKeys: function(e){
        if(e.keyCode == 13) {
          this.onSubmit();
        } else if(e.keyCode == 27) {
            this.onCancel();
        }
      },

      // https://github.com/PolymerElements/paper-dialog/issues/7
      patchOverlay: function (e) {
        if (e.target.withBackdrop) {
          e.target.parentNode.insertBefore(e.target.backdropElement, e.target);
        }
      }


		});

	</script>
</dom-module>
