<link rel='import' href='../../bower_components/paper-dialog/paper-dialog.html'>

<link rel='import' href='../../bower_components/paper-dialog-scrollable/paper-dialog-scrollable.html'>

<link rel='import' href='../../bower_components/paper-icon-button/paper-icon-button.html'>
<link rel='import' href='../../bower_components/paper-input/paper-input.html'>
<link rel='import' href='../../bower_components/marked-element/marked-element.html'>
<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../icons/aq-iconset.html'>

<dom-module id='aq-editor-strategy-preview-dialog'>
	<style  include="iron-flex iron-flex-alignment iron-positioning"></style>
	<style>
		paper-dialog {
    		width: 900px;
    		height: 800px;
    		padding-bottom: 0px;
  		}

  		marked-element {
	      display: block;
	      background-color: var(--google-grey-100);
	      padding: 10px 30px;
	      margin-bottom: 10px;
	    }

	    .container {
	    	--width: 50%;
	    	padding-right: 0px;
	    	padding-left: 0px;
  			height:95%;	
  		}

  		#content {
  			width: 30%;
  		}

  		paper-dialog-scrollable {
  			width: 70%;
  		}

  		h4 {
  			margin: 0 auto;
  			margin-bottom:5px;
  		}

  		#content {
  			margin-left: 20px;
  		}

  		#content #type {
  			font-size: 15px;
  			font-weight: bold;
  			margin-left: 5px;
  		}

  		#content #value {
  			font-size: 15px;
  			margin-left: 5px;
  		}



	</style>
	
	<template>
	    <paper-dialog id='previewStrategyModalDialog' with-backdrop>
 			<div style="margin-left:-30px;margin-top:-5px">
 				<paper-icon-button dialog-dismiss icon="aq-icons:cancel"></paper-icon-button>
 			</div>

 			<div>
 			    <div class="container layout horizontal" id='container'>
	 				<paper-dialog-scrollable >
		 				<marked-element markdown="```[[code1]]```">
		 					<div class="markdown-html"></div>
		 				</marked-element>
		 			</paper-dialog-scrollable>	

		 			<div id='content' class="self-center">		
				
						<div class="layout horizontal metric">		
							<div><span id='type'>Name:</span></div>
							<div><span id='value'>[[strategyName]]Sample Strategy</span></div>
							
						</div>

						<div class="layout horizontal metric">		
							<div><span id='type'>Created:</span></div>
							<div><span id='value'>[[createdAt]]01/01/2016</span></div>
							
						</div>

						<div class="layout horizontal metric">	
							<div><span id='type'>Last Edited:</span></div>
							<div><span id='value'>[[lastEdited]]08/01/2016</span></div>
						</div>

						<div class="layout horizontal metric">	
							<div><span id='type'>#Backtests:</span></div>
							<div><span id='value'>[[numBacktests]]5</span></div>
						</div>

						
				        <paper-icon-button noink icon="aq-icons:chart" title="Analyze" on-tap='goToAnalyze'></paper-icon-button>
				    

				        <paper-icon-button noink icon="aq-icons:content-copy" title="Clone Strategy" on-tap='goToClone'></paper-icon-button>
				    
				        <paper-icon-button noink icon="aq-icons:share" title="Share Strategy" on-tap='goToShare'></paper-icon-button>
					    
					</div>
				</div>		

 			</div> 	
		</paper-dialog>

	</template>
	
	<script>
		Polymer ({
			is: 'aq-editor-strategy-preview-dialog',

			properties: {
				code1: {
					type:String,
					value:'class x = y',
				},
				strategyName:String,
				createdAt:String,
				lastEdited:String,
				numBacktests:Number,
			},

			goToAnalyze: function() {
				this.fire('analyzeClicked');
			},

			goToClone: function() {
				this.fire('cloneClicked');
			},
				
			goToShare: function() {
				this.fire('shareClicked');
			},

			open: function() {
				this.$.previewStrategyModalDialog.open();
			},

		});
		
	</script>
</dom-module>
