
<link rel='import' href='../../bower_components/paper-dialog/paper-dialog.html'>
<link rel='import' href='../../bower_components/paper-button/paper-button.html'>
<link rel='import' href='../../bower_components/paper-input/paper-input.html'>
<link rel='import' href='../../bower_components/marked-element/marked-element.html'>
<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../icons/aq-iconset.html'>

<dom-module id='aq-editor-strategy-compare-dialog'>
	<style  include="iron-flex iron-flex-alignment iron-positioning"></style>
	<style>
		paper-dialog {
    		width: 1000px;
    		height: 100%;--800px;
    		padding-bottom: 0px;
  		}

  		paper-dialog-scrollable {
  			height: 1000px;
  			width:800px;
  		}

  		#strategyNameInput {
  			--border: 1px solid ; 
  			--border-color: #cfd8dc;
  			--padding-left: 5px;
  			
  		}

  		.markdown-html {
	      display: block;
	      background-color: var(--google-grey-100);
	      padding: 10px 30px;
	      margin-bottom: 10px;
	    }
  		
  		.buttons {
  			margin:0;
  		}

  		h4 {
  			margin: 0 auto;
  			margin-bottom:5px;
  		}

  		del {
			text-decoration: none;
			color: #b30000;
			background: #fadad7;
		}
		
		ins {
			background: #eaf2c2;
			color: #406619;
			text-decoration: none;
		}
	</style>
	
	<template>
	    <paper-dialog id='dialog' with-backdrop>
	    	<div style="margin-left:-30px;margin-top:-5px">
 				<paper-icon-button dialog-dismiss icon="aq-icons:cancel"></paper-icon-button>
 			</div>
 			
 			 <h4> Code Diff</h4>	
			 <paper-dialog-scrollable class="flex">
			 	<!--div class="markdown-html"-->
			 		<pre id="result"></pre>
		 		<!--/div-->
 				<!--marked-element markdown="```[[diff]]```">
 					</div>
 				</marked-element-->
 			 </paper-dialog-scrollable>	
 					 	
		</paper-dialog>

	</template>
	
	<!--script src='../../bower_components/jsdiff/diff.min.js'></script-->

	<script>
		Polymer ({
			is: 'aq-editor-strategy-compare-dialog',

			properties: {
				code1: {
					type:String,
					value:'class x = y \n  \
					sdsdsdsdsdsds \n \
					1232323',
				},
				code2: {
					type:String,
					value:'class x = y \n \
					dsdsdsdsdsdssds \n \
					32323232323232',
				},

				diff: {
					type:String,
				},
			},

			open: function() {
				this.$.dialog.open();
				this.findDiff();
			},

			findDiff: function() {
				diff = JsDiff.diffLines(this.code1, this.code2, 
					{newlineIsToken: true});
				
				var fragment = document.createDocumentFragment();
					
				for (var i=0; i < diff.length; i++) {

					if (diff[i].added && diff[i + 1] && diff[i + 1].removed) {
						var swap = diff[i];
						diff[i] = diff[i + 1];
						diff[i + 1] = swap;
					}

					var node;
					if (diff[i].removed) {
						node = document.createElement('del');
						node.appendChild(document.createTextNode('- '+diff[i].value));
					} else if (diff[i].added) {
						node = document.createElement('ins');
						node.appendChild(document.createTextNode('+'+diff[i].value));
					} else {
						node = document.createTextNode(diff[i].value);
					}

					fragment.appendChild(node);
					//fragment.appendChild(document.createElement('br'))
				}


				this.$.result.textContent = '';
				this.$.result.appendChild(fragment);

			},

		});
		
	</script>
</dom-module>
