
<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../bower_components/paper-dialog/paper-dialog.html'>
<link rel='import' href='../../bower_components/paper-button/paper-button.html'>
<link rel='import' href='../../bower_components/paper-spinner/paper-spinner.html'>

<dom-module id='aq-ongoing-action-dialog'>
	<style  include="iron-flex iron-flex-alignment iron-positioning"></style>
	<style>
		paper-dialog {
    		width: var(--dialog-width, 400px);
    		height: var(--dialog-height, 175px);
    		margin-right:0px;
    		margin-left:0px;
    		padding-right: 0px;
    		padding-left:0px;
  		}

  		#buttons {
  			margin-bottom:0px;
  		}

      	paper-button {
      		height:25px;
	        --paper-button:{
				background-color: #bd362f;
				color: white;
	        };
		}

		#okayBtn.affirmative {
			background-color: green;
		}

		#okayBtn.affirmative:hover {
            background-color: green;
        }

		#okayBtn:hover {
            background-color: #a8302a;
        }

      	#cancelBtn {
			--paper-button:{
				color: #9a9a9a;
	        };
		}

      	.header {
      		--color: teal;
      	}
  		
	</style>
	
	<template>
	  	<paper-dialog id='modal' with-backdrop always-on-top
	  		on-iron-overlay-opened="patchOverlay" modal>
	    	<div class="header layout vertical">
      			
      			<h2>[[heading]]</h2>
          		<paper-spinner aalt="Loading logs..." 
	                active class="self-center">
	            </paper-spinner>
        	</div>
		</paper-dialog>
	</template>
	
	<script>
		Polymer ({
			is: 'aq-ongoing-action-dialog',

			properties: {
				heading: String,
			},

			hasHeading: function(heading) {
				return heading && heading !="";
			},

			open: function() {
				this.$.modal.open();
			},

			close: function() {
				this.$.modal.close();
			},

			// https://github.com/PolymerElements/paper-dialog/issues/7
			patchOverlay: function (e) {
			  if (e.target.withBackdrop) {
			    e.target.parentNode.insertBefore(e.target.backdropElement, e.target);
			  }
			},

		});
		
	</script>
</dom-module>
