<link rel='import' href='../../bower_components/paper-dialog/paper-dialog.html'>
<link rel='import' href='../../bower_components/paper-button/paper-button.html'>
<link rel='import' href='../../bower_components/paper-input/paper-input.html'>
<link rel='import' href='../../bower_components/paper-input/paper-textarea.html'>
<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<!--<link rel='import' href='../components/aq-markdown-editor.html'>-->
<link rel="import" href="../components/aq-html-editor.html">
<link rel='import' href='../icons/aq-iconset.html'>
<!--link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet"-->
<dom-module id='aq-sendfeedback-dialog'>
    <style include="iron-flex iron-flex-alignment iron-positioning"></style>
    <style>
        paper-dialog {
            width: 80%;
            --height: 250px;
            margin-right: 0;
            margin-left: 0;
            padding-right: 0;
            padding-left: 0;
            border-radius: 5px;
            background-color: #f7f7f7;
        }

        #sentMessageDialog {
            --width: 40%;
            width: 500px;
            margin-right: 0px;
            margin-left: 0px;
            padding-right: 0px;
            padding-left: 0px;
            border-radius: 5px;
        }

        .input-fields {
            padding-bottom: 20px;
            --paper-input-container-color: #24293d;
            --paper-input-container-input-color: #24293d;
            --paper-input-container-focus-color: teal;
        }

        #buttons {
            margin: 15px;
        }

        paper-button {
            --paper-button: {
                color: teal;
            };
        }
        #sendBtn{
            --paper-button:{
                color:#cc4444;
            }
        }

        paper-button {
            height: 30px;
        }

        #header {
            margin-left: 15px;
            margin-bottom: 5px;
        }

        p, i {
            color: teal;
            margin-bottom: 5px;
        }

        p {
            font-size: 22px;
            font-weight: bold;
        }

        #editor {
            margin: 15px;
            --width: 90%;
        }

        paper-input {
            --paper-input-container-underline-focus: {
                background-color: teal;
            }
        }

        .header {

            height: 50px;
            background-color: teal;
            position: relative;
            top: -24px;
            margin: 0;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .header p {
            color: #fff;
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 14px;
        }
    </style>

    <template>
        <paper-dialog id='sendFeedbackModalDialog' modal with-backdrop on-iron-overlay-canceled='onCancel'
                      on-iron-overlay-closed='onCancel'>

            <div class="header layout horizontal">
                <p class="self-end">Send Feedback</p>
            </div>

            <form>
            <paper-input id='feedbackSubjectInput' class='input-fields'
                         label="Subject"
                         value="{{feedbackSubject}}"
                         default="FeedBack"
                         error-message="Please enter a subject. It can not be empty."
                         type="text"
                         no-label-float
                         required
                         maxlength=100
                         char-counter>
            </paper-input>

            <!--<aq-markdown-editor id='mkdEditor' place-holder="Share your feedback"></aq-markdown-editor>-->
            <div class="editor">
                <aq-html-editor id="mkdEditor"></aq-html-editor>
            </div>

            <div class="layout horizontal self-end">
                <template is='dom-if' if='[[error]]'>
                    <i style="color:red; margin-left: 15px;"> Subject</i>
                </template>
                <div class="flex"></div>
                <paper-button  dialog-dismiss>Cancel</paper-button>
                <paper-button id="sendBtn"  on-tap='onSubmit'>Send</paper-button>
            </div>
        </form>


        </paper-dialog>

        <paper-dialog id='sentMessageDialog' modal>
            <div><p style="font-weight: normal; font-size: 16px;">Thanks for your feedback. We will get back to you
                shortly.</p></div>
            <div id='buttons' class="layout vertical">
                <div class="layout horizontal self-end">
                    <paper-button  dialog-dismiss>Close</paper-button>
                </div>
            </div>
        </paper-dialog>

    </template>

    <script>
        Polymer({
            is: 'aq-sendfeedback-dialog',

            properties: {
                feedbackSubject: {
                    type: String,
                    value: "Feedback or Feature Request",
                },

                error: {
                    type: Boolean,
                    value: false,
                },

            },

            onSubmit: function () {
                if (this.$.feedbackSubjectInput.validate()) {
                    if (this.$.mkdEditor.getContent() != "") {
                        this.fire('send-feedback-action', {
                            subject: this.$.feedbackSubjectInput.value,
                            feedback: this.$.mkdEditor.getContent()
                        });
                        this.error = false;
                        this.$.sendFeedbackModalDialog.close();
                        this.$.sentMessageDialog.open();

                    } else {
                        this.error = true;
                    }
                }
            },

            open: function () {
                this.$.sendFeedbackModalDialog.open();
            },

            onCancel: function () {
                this.$.mkdEditor.clearContent();
                this.error = false;
                this.feedbackSubject = "Feedback or Feature Request";
            },

        });

    </script>
</dom-module>
