<link rel="import" href="../../../bower_components/app-route/app-route.html">
<link rel="import" href="../../../bower_components/app-route/app-location.html">

<link rel="import" href="../../../bower_components/paper-card/paper-card.html">

<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/gold-email-input/gold-email-input.html">
<link rel="import" href="../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../bower_components/iron-localstorage/iron-localstorage.html">

<link rel="import" href="../common/aq-check-authentication.html">
<link rel="import" href="./aq-authentication-message.html">
<link rel="import" href="../common/aq-loading-progress.html">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">

<dom-module id="aq-user-login-panel">
    <style include="iron-flex iron-flex-alignment iron-positioning"></style>
    <style>
        h1,h2,h3,h4,h5 {
            padding: 0;
            margin: 0;
        }
        :host {
            --paper-input-container-input: {
                font-size: 14px;
            };
            --paper-input-container-label:{
                font-size: 14px;
            }

            font-family: 'Garamaond', sans-serif;
        }
        paper-card {
            border-radius: 4px;
            padding-top: 20px;
            top:10%;
            position: absolute;
            display: flex;
            justify-content: center;
            flex-direction: column;
            width: 340px;
            --margin-top: 100px;
            --color: white;
            margin: auto 0;
            --margin-bottom: 10px;
            z-index: 2;
            opacity: 2 !important;
            --paper-card-header-color: teal;
            --paper-card-header: {
                text-align: center;
            };
            --paper-card-header:{
                display: flex;
                flex-direction: column;
            };
            --paper-card-header-text: {
                font-size: 30px;
            };
            --paper-card-header-image: {
                background-size: cover;
                height: 60px;
                width: 60px;

                margin: 0 auto;
            }
        }
        .header-container{
            text-align: center;
            display: inline-block;
        }
        .header-text {
            font-size: 30px;
            color: teal;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
        }
        .header-quant{
            color:#cc6666;
        }
        .sub-header{
            color:#37474F;
            font-size: 15px;
            font-family: 'Roboto', sans-serif;
            font-weight: 300;
            font-style: italic;
        }
        a {
            text-decoration: none;
        }

        #containerr {
            width: 100%;
            height: 100%;
            margin: 0 auto;
            --background-color: #fff;
            opacity: 1.0;
        }

        .dialog-fields {
            padding: 1em 2em;
            position: relative;
        }

        .input-fields {
            padding-top: 0.1em;
            width: 90%;
            margin: 0 auto;
            margin-top: 5px
        }

        .actionFailed {
            color: #cc6666;
            padding: 0.75em 0 0;
            margin: 0 auto;
            margin-bottom: 20px;
            text-align: center;
            font-size: 14px;
        }

        .footer {

            display: flex;
            justify-content: space-between;
            padding: 1em 2em;
        }
        .footer-text {
            color:#37474F;
            font-size: 13px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
        }
        .footer-link{
            color: #cc6666;
            margin-left: 5px;
            font-size: 13px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
        }

        .signup,.forgotPassword{
            display: flex;
            justify-content: center;
        }
        #tclabel {
            padding-top: 0.75em;
            padding-bottom: 0.75em;

        }

        a {
            color: #0375b4;
        }

        paper-input {
            --paper-input-container-focus-color: teal;

        }

        gold-email-input {
            --paper-input-container-focus-color: teal;
        }

        paper-button.signinButton {
            position: relative;
            margin-top: 20px !important;
            background: teal;
            color: #fff;
            width: 100%;
            margin: 0 auto;
            font-weight: bold;
        }

        #signoutMessage {
            margin-top: 10px;
            margin-bottom: -50px;
            color: teal;
        }

        #logo {
            background: url(../../../resources/images/Logo-bg.png);
            background-size: cover;
            height: 90px;
            width: 114px;
        }

        #tagline {
            font-size: 18px;
            color: teal;
            margin-top: -20px;
        }

        #tnc {
            text-decoration: underline;
        }

        #tnc:hover {
            cursor: pointer;
        }

        paper-checkbox {
            --margin: 0 auto ;
        }

        paper-checkbox {
            --paper-checkbox-checked-color: teal;
            --paper-checkbox-unchecked-color: #959595;
            margin-left: 10px;
            margin-right: 5px;
        }

        #check-container {
            font-size: 12px;
            color: #959595;
        }

    </style>

    <template>

        <!--app-location route="{{route}}" use-hash-as-path></app-location-->

        <app-location route="{{route}}">
        </app-location>

        <app-route
                route="{{route}}"
                pattern="/user/:displayMode"
                data="{{routeData}}"
                query-params="{{queryParams}}"
                active="{{active}}">
        </app-route>

        <aq-check-authentication id='authItem'></aq-check-authentication>

        <iron-ajax
                url="[[APIEndPoint]]/user"
                body="{{signupBody}}"
                method='POST'
                id='signup'
                handle-as="json"
                on-response="handleSignupResponse"
                on-error="handleSignupError"
                headers='{"Content-Type": "application/json"}' debounce-duration="300"
                loading='{{loading}}'>
        </iron-ajax>

        <iron-ajax
                url="[[APIEndPoint]]/user/login"
                body="{{signinBody}}"
                method='POST'
                id='login'
                handle-as="json"
                on-response="handleLoginResponse"
                on-error="handleLoginError"
                headers='{"Content-Type": "application/json"}'
                debounce-duration="300"
                loading='{{loading}}'>
        </iron-ajax>

        <iron-ajax
                url="[[APIEndPoint]]/user/forgotpassword"
                params="{{forgotPasswordParams}}"
                method='GET'
                id='forgotPasswordQuery'
                handle-as="json"
                on-response="handleForgotPasswordResponse"
                on-error="handleForgotPasswordError"
                headers='{"Content-Type": "application/json"}'
                debounce-duration="300"
                loading='{{loading}}'>
        </iron-ajax>

        <iron-ajax
                url="[[APIEndPoint]]/user/resetpasswordcall"
                body="{{resetpasswordParams}}"
                method='POST'
                id='resetpasswordQuery'
                handle-as="json"
                on-response="handleresetpasswordResponse"
                on-error="handleresetpasswordError"
                headers='{"Content-Type": "application/json"}'
                debounce-duration="300"
                loading='{{loading}}'>
        </iron-ajax>

        <aq-loading-progress loading='{{loading}}'></aq-loading-progress>

        <template is='dom-if' if='{{isAuthMessageMode(displayMode)}}'>
            <aq-authentication-message></aq-authentication-message>
        </template>

        <template is='dom-if' if='{{!isAuthMessageMode(displayMode)}}'>
            <div id='containerr' class="layout vertical flex">

                <div id='signoutMessage' class="self-center">[[signoutMessage]]</div>

                <paper-card class="self-center"
                            image="../../../resources/images/Logo.png">
                    <div class="header-container">
                        <!--<h3 class="header-text">{{aRsrc.headerText}}</h3>-->
                        <h3 class="header-text">Aims<span class="header-quant">Quant</span></h3>
                        <h5 class="sub-header">Invest in your Ideas</h5>
                    </div>
                    <div class="dialog-fields" class="layout vertical">

                        <form>
                        <template is="dom-if" if="{{isSignupMode(displayMode)}}">

                            <paper-input
                                    id='firstNameInput'
                                    class='input-fields'
                                    label="{{aRsrc.firstNameFieldLabel}}"
                                    value="{{firstName}}"
                                    error-message="{{firstNameErrorMessage}}"
                                    type="text"
                                    on-focus='onUserFirstNameFocus'
                                    on-blur='onUserFirstNameFocusOut'
                                    no-label-float
                                    required
                                    max-length=15
                                    invalid='{{!isFirstNameValid(firstName, firstNameInFocus)}}'
                                    on-keydown="checkForKeys">
                            </paper-input>

                            <paper-input
                                    id='lastNameInput'
                                    class='input-fields'
                                    label="{{aRsrc.lastNameFieldLabel}}"
                                    value="{{lastName}}"
                                    error-message="{{lastNameErrorMessage}}"
                                    type="text"
                                    on-focus='onUserLastNameFocus'
                                    on-blur='onUserLastNameFocusOut'
                                    no-label-float
                                    required
                                    max-length=15
                                    invalid='{{!isLastNameValid(lastName, lastNameInFocus)}}'
                                    on-keydown="checkForKeys">
                            </paper-input>

                        </template>

                        <template is='dom-if' if=[[!isresetpasswordMode(displayMode)]]>
                            <gold-email-input
                                    id='userEmailInput'
                                    class='input-fields'
                                    auto-complete='on'
                                    label="{{aRsrc.userEmailFieldLabel}}"
                                    value="{{userEmail}}"
                                    error-message="{{userEmailErrorMessage}}"
                                    no-label-float
                                    required
                                    on-focus='onUserEmailFocus'
                                    on-blur='onUserEmailFocusOut'
                                    invalid='{{!isUserEmailValid(userEmail, userEmailInFocus)}}'
                                    on-keydown="checkForKeys">
                            </gold-email-input>
                        </template>

                        <template is='dom-if' if="{{!isForgotPasswordMode(displayMode)}}">
                            <paper-input
                                    id='passwordInput'
                                    class='input-fields'
                                    label="{{aRsrc.passwordFieldLabel}}"
                                    value="{{password}}"
                                    error-message="{{passwordErrorMessage}}"
                                    type="password"
                                    minLength=8
                                    no-label-float
                                    required
                                    on-blur="onPasswordFocusOut"
                                    on-focus="onPasswordFocus"
                                    invalid='{{!isPasswordValid(password,passwordInFocus)}}'
                                    on-keydown="checkForKeys">
                            </paper-input>
                        </template>

                        <template is="dom-if" if="{{isSignupOrResetMode(displayMode)}}">
                            <paper-input
                                    id='confirmPasswordInput'
                                    class='input-fields'
                                    label="{{aRsrc.confirmPasswordFieldLabel}}"
                                    value="{{confirmPassword}}"
                                    error-message="{{confirmPasswordErrorMessage}}"
                                    type="password"
                                    no-label-float
                                    required
                                    on-focus="onConfirmPasswordFocus"
                                    on-blur="onConfirmPasswordFocusOut"
                                    invalid='{{!isConfirmPasswordValid(confirmPassword, confirmPasswordInFocus)}}'
                                    on-keydown="checkForKeys"></paper-input>

                            <div class="layout horizontal center" id='check-container'>
                                <paper-checkbox noink checked="{{acceptPolicy}}"  class="self-center" on-change ='onChecked'>
                                </paper-checkbox>

                                <p>I agree to <span id='tnc' on-tap='onTnC'>Terms and Conditions</span></p>
                            </div>
                        </template>

                        </form>

                        <paper-button raised class="signinButton center-justified horizontal layout"
                                      on-tap="onInvokeAction">{{actionButtonLabel}}
                        </paper-button>

                    </div>

                    <div class$="footer {{displayMode}} ">
                        <template is="dom-if" if="{{isSigninMode(displayMode)}}">
                            <div class="forgot-password">
                                <a href="javascript:void(0);" on-tap="onForgotPasswordLinkTap"><span class="footer-text">FORGOT PASSWORD</span>
                                </a>
                            </div>

                        </template>
                        <template is="dom-if" if="{{isSignupOrResetMode(displayMode)}}">
                            <span class="footer-text">{{aRsrc.footerText}}</span>
                        </template>
                        <a href="javascript:void(0);" class="footer-link" on-tap="onFooterLinkTap">{{aRsrc.footerLinkText}}
                        </a>
                    </div>

                    <div class='actionFailed self-center'>[[actionFailedMessage]]</div>

                </paper-card>

                <!--div class="flex"></div-->

            </div>
        </template>

    </template>

    <script>

        var displayModes = {
            signin: 'signin',
            signup: 'signup',
            forgotPassword: 'forgotPassword',
            signout: 'signout',
            resetpassword: 'resetpassword',
            authMessage: 'authMessage',
        };

        Polymer({

            is: 'aq-user-login-panel',

            properties: {

                firstName: {
                    type: String,
                    value: ''
                },

                firstNameValid: {
                    type: Boolean,
                },

                lastName: {
                    type: String,
                    value: ''
                },

                lastNameValid: {
                    type: Boolean,
                },

                userEmail: {
                    type: String,
                    value: ''
                },

                password: {
                    type: String,
                    value: ''
                },

                confirmPassword: {
                    type: String,
                    value: ''
                },

                firstNameInFocus: {
                    type: Boolean,
                    value: false
                },

                lastNameInFocus: {
                    type: Boolean,
                    value: false
                },

                userEmailInFocus: {
                    type: Boolean,
                    value: false
                },

                passwordInFocus: {
                    type: Boolean,
                    value: false
                },


                confirmPasswordInFocus: {
                    type: Boolean,
                    value: false
                },

                actionButtonLabel: {
                    type: String,
                    value: ""
                },

                firstNameErrorMessage: {
                    type: String,
                    value: ""
                },

                lastNameErrorMessage: {
                    type: String,
                    value: ""
                },


                userEmailErrorMessage: {
                    type: String,
                    value: ""
                },

                passwordErrorMessage: {
                    type: String,
                    value: ""
                },


                confirmPasswordErrorMessage: {
                    type: String,
                    value: ""
                },

                acceptPolicyErrorMessage: {
                    type: String,
                    value: "",
                },

                signoutMessage: {
                    type: String,
                    value: '',
                },

                rememberMe: {
                    type: Boolean,
                    value: false
                },

                displayMode: {
                    type: String,
                    value: "signin",
                    observer: '_displayModeChanged',
                },

                acceptPolicy: {
                    type: Boolean,
                    value: false,
                },

                signinBody: {
                    type: Object,
                    computed: 'computeSigninBody(userEmail, password)',
                },

                signupBody: {
                    type: Object,
                    computed: 'computeSignupBody(firstName, lastName, userEmail, password)',
                },

                forgotPasswordParams: {
                    type: Object,
                    computed: 'computeForgotPasswordParams(userEmail)',
                },

                resetpasswordParams: {
                    type: Object,
                    computed: 'computeresetpasswordParams(password, confirmPassword, resetcode)'
                },

                actionFailedMessage: {
                    type: String,
                    value: '',
                },

                aimsquant: {
                    type: Object,
                    value: {},
                    notify: true,
                },

                aRsrc: Object,

                resetcode: String,
                APIEndPoint: String,
                active: Boolean,
                routeData: Object,
                queryParams: Object,
                loading: Boolean,

            },

            observers: ['_activeChanged(active, routeData, queryParams)'],

            /**
             * Resource strings. If you do I18N this will make sense. If not, just run with it :~)
             * Changing these after creation time will have no _predictable_ effect unless you call #updateMessageStrings() afterwords.
             * If you are doing I18N you should just replace this value on this component's prototype. If you _really_ care about performance lots you might want
             * to replace the below with an empty object initializer: "rsrc: {},"
             *
             * @attribute rsrc
             * @type Object
             */
            rsrc: {
                signup: {
                    headerText: "Sign up",
                    footerText: "Already have an account?",
                    footerLinkText: "LOGIN",
                    firstNameFieldLabel: "First Name",
                    lastNameFieldLabel: "Last Name",
                    userEmailFieldLabel: "Email",
                    firstNameErrorMessage: "Please enter a valid first name",
                    lastNameErrorMessage: "Please enter a valid last name",
                    userEmailErrorMessage: "Please enter a valid email",
                    passwordFieldLabel: "Password",
                    passwordErrorMessage: "Minimum 8 characters",
                    confirmPasswordFieldLabel: "Verify Password",
                    confirmPasswordErrorMessage: "Passwords do not match.",
                    acceptPolicyErrorMessage: "Please accept Terms and Conditions",
                    actionButtonLabel: "Create Account",
                    actionButtonInProgressLabel: "Creating your account...",
                    actionButtonSuccessLabel: "Account created. Welcome!"
                },
                signin: {
                    headerText: "Sign in",
                    footerText: "Don't have an account? ",
                    footerLinkText: " SIGN UP",
                    userEmailFieldLabel: "Email",
                    firstNameErrorMessage: "Please enter a valid first name",
                    lastNameErrorMessage: "Please enter a valid last name",
                    userEmailErrorMessage: "Please enter a valid email",
                    passwordFieldLabel: "Password",
                    passwordErrorMessage: "Minimum 8 characters",
                    actionButtonLabel: "Log in",
                    actionButtonInProgressLabel: "Authenticating...",
                    actionButtonSuccessLabel: "Welcome back.",
                    resetpasswordText: "Forgot your password?",
                    resetpasswordLinkText: "Click here."
                },
                forgotPassword: {
                    headerText: "Forgot Password",
                    footerText: "Back to Sign in? ",
                    footerLinkText: " Log in here",
                    userEmailErrorMessage: "Please enter a valid email",
                    userEmailFieldLabel: "Account Email Address",
                    actionButtonLabel: "Send Request",
                    actionButtonInProgressLabel: "Sending...",
                    actionButtonSuccessLabel: "Success! Please check your inbox."
                },

                resetpassword: {
                    headerText: "Reset Password",
                    footerText: "Back to Sign in? ",
                    footerLinkText: "Log in here",
                    userEmailFieldLabel: "Account Email Address",
                    userEmailErrorMessage: "Please enter a valid email",
                    passwordFieldLabel: "Password",
                    passwordErrorMessage: "Minimum 8 characters",
                    confirmPasswordFieldLabel: "Confirm Password",
                    confirmPasswordErrorMessage: "Passwords don't match",
                    actionButtonLabel: "Send Request",
                    actionButtonInProgressLabel: "Sending...",

                },

            },
            
            onChecked: function(e) {
               this.actionFailedMessage = '';
            },

            attached: function () {
                this.APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
            },

            _displayModeChanged: function() {
                var title = '';
                switch(this.displayMode) {
                    case "signin": 
                        title = "Sign In - AimsQuant";
                        break;
                    case "signup": 
                        title = "Sign Up - AimsQuant";
                        break;
                    case "forgotPassword": 
                        title = "Forgot Password - AimsQuant";
                        break;
                    case "signout": 
                        title = "Sign Out - AimsQuant";
                        break;
                    case "resetpassword": 
                        title = "Reset Password - AimsQuant";
                        break;
                }

                if(title != '') {
                    document.title = title;
                }
                    
            },

            _activeChanged: function (active, routeData, queryParams) {

                if (active && routeData && routeData.displayMode) {
                    this.displayMode = this.routeData.displayMode;
                    if (this.$.authItem.checkHasToken() && this.displayMode != displayModes.resetpassword) {
                        this.fire('rt-changed', {route: '/research'});
                        return;
                    }

                    if (this.displayMode != displayModes.signin &&
                            this.displayMode != displayModes.signup &&
                            this.displayMode != displayModes.forgotPassword &&
                            this.displayMode != displayModes.signout &&
                            this.displayMode != displayModes.resetpassword &&
                            this.displayMode != displayModes.authMessage) {

                        this.displayMode = displayModes.signin;
                        this.signoutMessage = "";
                    }

                    if (this.displayMode == displayModes.signout) {
                        this.signoutMessage = "Successfully signed out!!";
                        this.displayMode = displayModes.signin;
                    } else {
                        this.signoutMessage = "";
                    }

                    if (this.displayMode == displayModes.resetpassword) {

                        if (this.queryParams && this.queryParams.resetcode) {
                            this.resetcode = this.queryParams.resetcode;
                        } else {
                            this.displayMode = displayModes.signin;
                        }
                    }

                    if (this.displayMode != displayModes.authMessage) {
                        this.resetView();
                    }
                }
            },

            resetView: function () {
                this.clearFields();
                this.clearErrorMessages();
                this.updateMessageStrings();
            },

            checkHasToken: function () {
                var x = localStorage.getItem('my-app-storage');
                var user = JSON.parse(x).user;
                if (user && user.token && user.token != "") {
                    return true;
                }

                return false;
            },

            computeSigninBody: function (email, password) {
                return {email: email, password: password}
            },

            computeSignupBody: function (firstName, lastName, email, password) {
                return {email: email, password: password, firstName: firstName, lastName: lastName}
            },

            computeForgotPasswordParams: function (userEmail) {
                return {email: userEmail};
            },

            computeresetpasswordParams: function (password, newPassword, resetcode) {
                return {code: resetcode, password: password, newpassword: newPassword};
            },

            isSigninMode: function (displayMode) {

                return displayMode == displayModes.signin;
            },

            isSignupMode: function (displayMode) {

                return displayMode == displayModes.signup;
            },

            isSignupOrResetMode: function (displayMode) {

                return displayMode == displayModes.signup || displayMode == displayModes.resetpassword;
            },

            isForgotPasswordMode: function (displayMode) {

                return displayMode == displayModes.forgotPassword;
            },

            isresetpasswordMode: function (displayMode) {

                return displayMode == displayModes.resetpassword;
            },

            isAuthMessageMode: function (displayMode) {
                return displayMode == displayModes.authMessage && this.active;
            },

            onFooterLinkTap: function (e) {
                e.preventDefault();
                e.stopPropagation();
                switch (this.displayMode) {
                    case displayModes.signin:
                        this.fire('rt-changed', {route: '/user/signup'});
                        break;
                    case displayModes.signup:
                        this.fire('rt-changed', {route: '/user/signin'});
                        break;
                    case displayModes.forgotPassword:
                        this.setDisplayMode(displayModes.signin);
                        break;
                    case displayModes.resetpassword:
                        this.setDisplayMode(displayModes.signin);
                        break;
                    default:
                        throw new Error("Invalid display mode: " + this.displayMode)
                }
            },

            onForgotPasswordLinkTap: function () {
                this.setDisplayMode(displayModes.forgotPassword);
            },

            setDisplayMode: function (mode) {
                this.displayMode = mode;
                this.clearErrorMessages();
                this.updateMessageStrings();
                this.clearFields();
            },

            clearFields: function () {
                this.userEmail = '';
                this.password = '';
                this.confirmPassword = '';
                this.firstName = '';
                this.lastName = '';
                this.acceptPolicy = false;
            },

            clearErrorMessages: function () {
                this.clearFields();
                this.actionFailedMessage = '';
                this.passwordErrorMessage = '';
                this.newPasswordErrorMessage = '';
                this.confirmPasswordErrorMessage = '';
                this.userEmailErrorMessage = '';
                this.firstNameErrorMessage = '';
                this.lastNameErrorMessage = '';
                this.userEmailInFocus = !this.userEmailInFocus;
                this.passwordInFocus = !this.passwordInFocus;
                this.confirmPasswordInFocus = !this.confirmPasswordInFocus;
                this.acceptPolicyErrorMessage='';
            },

            isConfirmPasswordValid: function (confirmPassword, confirmPasswordInFocus) {
                return confirmPasswordInFocus | this.confirmPasswordValid | confirmPassword == '';
            },

            isFirstNameValid: function (firstName, firstNameInFocus) {
                return firstNameInFocus | firstName == '' | this.firstNameValid;
            },

            isLastNameValid: function (lastName, lastNameInFocus) {
                return lastNameInFocus | lastName == '' | this.lastNameValid;
            },

            isPasswordValid: function (password, passwordInFocus) {
                return passwordInFocus | password == '' | this.passwordValid;
            },

            isNewPasswordValid: function (newPassword, newPasswordInFocus) {
                return newPasswordInFocus | newPassword == '' | this.newPasswordValid;
            },

            isUserEmailValid: function (userEmail, userEmailInFocus) {
                return userEmailInFocus | userEmail == '' | this.userEmailValid;
            },

            updateMessageStrings: function () {
                this.aRsrc = this.rsrc[this.displayMode];
                this.headerText = this.aRsrc.headerText;
                this.actionButtonLabel = this.aRsrc.actionButtonLabel;
                this.confirmPasswordErrorMessage = this.aRsrc.confirmPasswordErrorMessage;
                this.userEmailErrorMessage = this.aRsrc.userEmailErrorMessage;
                this.passwordErrorMessage = this.aRsrc.passwordErrorMessage;
                this.firstNameErrorMessage = this.aRsrc.firstNameErrorMessage;
                this.lastNameErrorMessage = this.aRsrc.lastNameErrorMessage;
                this.newPasswordErrorMessage = this.aRsrc.newPasswordErrorMessage;
                this.acceptPolicyErrorMessage  = this.aRsrc.acceptPolicyErrorMessage;

            },

            updateValidity: function () {

                if (this.displayMode != displayModes.resetpassword) {
                    this.$$('#userEmailInput').invalid = false;
                }

                if (this.displayMode != displayModes.forgotPassword) {
                    this.$$('#passwordInput').invalid = false
                }

                if (this.displayMode != displayModes.signup) {
                    if (this.$$('#firstNameInput'))
                        this.$$('#firstNameInput').invalid = false;
                    if (this.$$('#lastNameInput'))
                        this.$$('#lastNameInput').invalid = false;
                    if (this.$$('#confirmPasswordInput')) {
                        this.$$('#confirmPasswordInput').invalid = false;
                    }
                }

                if (this.displayMode != displayModes.resetpassword) {
                    if (this.$$('#confirmPasswordInput')) {
                        this.$$('#confirmPasswordInput').invalid = false;
                    }
                }

            },

            onUserLastNameFocusOut: function () {

                this.lastNameValid = this.$$('#lastNameInput').validate();
                this.lastNameInFocus = false;
            },

            onUserLastNameFocus: function () {
                this.lastNameInFocus = true;
            },

            onUserFirstNameFocusOut: function () {
                this.firstNameValid = this.$$('#firstNameInput').validate();
                this.firstNameInFocus = false;
            },

            onUserFirstNameFocus: function () {
                this.firstNameInFocus = true;
            },

            onUserEmailFocusOut: function () {
                this.userEmailValid = this.$$('#userEmailInput').validate();
                this.userEmailInFocus = false;
            },

            onUserEmailFocus: function () {
                this.signoutMessage = '';
                this.actionFailedMessage = '';
                this.userEmailInFocus = true;
            },

            onPasswordFocusOut: function () {
                this.passwordValid = this.$$('#passwordInput').validate();
                this.confimPassworValid = this.confirmPassword != ''
                        ? this.checkPasswordsMatch()
                        : true;

                this.passwordInFocus = false;
            },

            onPasswordFocus: function () {
                this.actionFailedMessage = '';
                this.passwordInFocus = true;
            },

            onNewPasswordFocusOut: function () {
                this.newPasswordValid = this.$$('#newPasswordInput').validate();

                this.newPasswordValid = this.password != ''
                        ? (!this.checkPasswordsMatch())
                        : true;
                this.newPasswordInFocus = false;
            },

            onNewPasswordFocus: function () {
                this.actionFailedMessage = '';
                this.newPasswordInFocus = true;
            },

            onConfirmPasswordFocusOut: function () {
                this.actionFailedMessage = '';

                this.confirmPasswordValid = this.checkPasswordsMatch();
                this.confirmPasswordInFocus = false;
            },

            onConfirmPasswordFocus: function () {
                this.actionFailedMessage = '';
                this.confirmPasswordInFocus = true;
            },

            checkPasswordsMatch: function () {
                if (this.displayMode == displayModes.signup) {
                    return this.password == this.confirmPassword;
                } else if (this.displayMode == displayModes.resetpassword) {
                    return this.password == this.confirmPassword;
                } else {
                    return true;
                }
            },

            checkvalidity: function (firstNameValid, lastNameValid, userEmailValid, passwordValid, confirmPasswordValid, acceptPolicy, displayMode) {

                var valid = true;

                if (displayMode != displayModes.resetpassword) {
                    valid &= userEmailValid;
                }

                if (displayMode === displayModes.signin) {
                    valid &= passwordValid;
                }

                if (displayMode == displayModes.signup) {
                    valid &= firstNameValid;
                    valid &= lastNameValid & this.lastName != '';
                    valid &= confirmPasswordValid & this.confirmPassword == this.password;

                    if(!acceptPolicy) {
                        this.actionFailedMessage = this.acceptPolicyErrorMessage;
                    }

                    valid &= acceptPolicy;
                }

                if (displayMode == displayModes.resetpassword) {
                    valid &= passwordValid;
                    valid &= confirmPasswordValid & this.confirmPassword == this.password;
                }

                return valid;
            },

            handleLoginResponse: function (data) {

                this.fire('update-token', {user: data.detail.response});
                this.actionSucceeded();
                this.enableAll();
            },

            handleLoginError: function (data) {
                this.clearErrorMessages();
                this.actionFailed(data.detail.request.response);
                this.enableAll();
            },

            handleSignupResponse: function (e) {
                this.enableAll();
                this.fire('rt-changed', {route: '/user/authMessage?mode=activationPending&emailId=' + this.userEmail + '&name=' + this.firstName + " " + this.lastName});
            },

            handleSignupError: function (e) {
                this.actionFailed("Email address already registered!! Sign up with a different email.");
                this.clearFields();
                this.enableAll();
            },

            handleForgotPasswordResponse: function (e) {
                this.enableAll();
                this.fire('rt-changed', {route: '/user/authMessage?mode=forgotpassword&emailId=' + this.userEmail});
            },

            handleForgotPasswordError: function (e) {
                this.enableAll();
            },

            handleresetpasswordResponse: function (e) {
                this.enableAll();
                this.fire('rt-changed', {route: '/user/authMessage?mode=reset&emailId=' + this.userEmail});
            },

            handleresetpasswordError: function (e) {
                this.enableAll();
                //this.errorMessage = ""
            },

            onInvokeAction: function () {

                this.updateValidity();
                if (!this.checkvalidity(this.firstNameValid, this.lastNameValid, this.userEmailValid, this.passwordValid, this.confirmPasswordValid, this.acceptPolicy, this.displayMode)) {

                    if (this.displayMode != displayModes.resetpassword) {
                        this.$$('#userEmailInput').invalid = !this.userEmailValid;
                    }

                    if (this.displayMode != displayModes.forgotPassword) {
                        this.$$('#passwordInput').invalid = !this.passwordValid;
                    }

                    if (this.displayMode == displayModes.signup) {
                        this.$$('#firstNameInput').invalid = !this.firstNameValid;
                        this.$$('#lastNameInput').invalid = !this.lastNameValid;
                        this.$$('#confirmPasswordInput').invalid = !this.confirmPasswordValid
                    }

                    if (this.displayMode == displayModes.resetpassword) {
                        this.$$('#confirmPasswordInput').invalid = !this.confirmPasswordValid
                    }


                    return;
                }

                this.disableAll();

                switch (this.displayMode) {
                    case displayModes.signin:
                        this.$.login.generateRequest();
                        break;
                    case displayModes.signup:
                        this.$.signup.generateRequest();
                        break;
                    case displayModes.forgotPassword:
                        this.$.forgotPasswordQuery.generateRequest();
                        break;

                    case displayModes.resetpassword:
                        this.$.resetpasswordQuery.generateRequest();
                        break;
                    default:
                        throw new Error("Invalid display mode: " + this.displaymode)
                }
            },

            enableAll: function () {
                this.$$('.signinButton').disabled = false;
                switch (this.displayMode) {
                    case displayModes.signin:
                        this.$$('#userEmailInput').disabled = false;
                        this.$$('#passwordInput').disabled = false;
                        break;
                    case displayModes.signup:
                        this.$$('#firstNameInput').disabled = false;
                        this.$$('#lastNameInput').disabled = false;
                        this.$$('#userEmailInput').disabled = false;
                        this.$$('#passwordInput').disabled = false;
                        this.$$('#confirmPasswordInput').disabled = false;
                        break;
                    case displayModes.forgotPassword:
                        this.$$('#userEmailInput').disabled = false;
                        break;

                    case displayModes.resetpassword:
                        this.$$('#passwordInput').disabled = false;
                        break;
                }
            },

            disableAll: function () {
                this.$$('.signinButton').disabled = true;

                switch (this.displayMode) {
                    case displayModes.signin:
                        this.$$('#userEmailInput').disabled = true;
                        this.$$('#passwordInput').disabled = true;
                        break;
                    case displayModes.signup:
                        this.$$('#firstNameInput').disabled = true;
                        this.$$('#lastNameInput').disabled = true;
                        this.$$('#userEmailInput').disabled = true;
                        this.$$('#passwordInput').disabled = true;
                        this.$$('#confirmPasswordInput').disabled = true;
                        break;
                    case displayModes.forgotPassword:
                        this.$$('#userEmailInput').disabled = true;
                        break;
                    case displayModes.resetpassword:
                        this.$$('#passwordInput').disabled = true;
                        this.$$('#confirmPasswordInput').disabled = true;
                        break;
                }
            },

            actionSucceeded: function () {
                this.actionButtonLabel = this.aRsrc.actionButtonSuccessLabel;
                this.clearErrorMessages();
            },

            actionFailed: function (errorMessage) {
                this.actionFailedMessage = errorMessage;
            },

            checkForKeys: function (e) {
                if (e.keyCode === 13) {
                    this.$$('.signinButton').focus();
                    this.onInvokeAction();
                }
            },

            onTnC: function() {
                this.fire('rt-changed', {route:'/policy/tnc'});
            },

        });
    </script>
</dom-module>
