<link rel="import" href="../../../bower_components/marked-element/marked-element.html">

<dom-module id="aq-help-marked-item">

	<style>
		:host {
			font-family: 'Lato', sans-serif;
			font-size: 16px;
		};

		marked-element {
			--margin-bottom: 10px;
			--background-color: none;
			width: 100%;

		}

		.markdown-html pre {
			--background-color: #e0e0e0;
		}

		code {
			background-color: rgba(238,238,238,.35);
            padding: 10px;
			font-size:14px !important;
            box-shadow: 0 1px 1px rgba(0,0,0,.125);
		}

		code span {
			--font-size:15px !important;
		}

		p {
			--font-size: 18px !important;
            color:#3c3c3c;
            line-height: 23px;
		}

		strong {
			font-weight: bold;
			--font-size: 18px;
		}

		em strong {
			--font-size:18px;
			text-decoration: underline;
			font-weight: bold;
		}
		
		.markdown-html:first-child h2 {
			color:teal;
            --font-size: 17px;
		}
		
		.markdown-html ul{
			--list-style: none;
		    font-size: 15px;
		}

		.markdown-html h4 {
			color: teal !important;
            --font-size: 15px;
		}

		.markdown-html h3 {
			color: #cc6666 !important;
            --font-size: 15px;
		}

        .markdown-html .aq-help-marked-item{
            color: #24293d;
            --font-size: 15px;
        }

        .markdown-html ul h4 {
			color: #cc6666 !important;
            --font-size: 15px;
		}

        h1, h2 {
          color: teal !important;
        }

        h3, h4 {
        	color: #cc6666 !important;
        }


	</style>

    <template>  
    	
		<marked-element on-marked-render-complete='highlight' markdown="[[helpText]]">
		    <div class="markdown-html"></div>
		</marked-element>

	</template>

	<script>
		Polymer({
			is:'aq-help-marked-item',
			properties:{
				helpText :{
					type:String,
				},
			},

			highlight: function() {
				var codeblocks = this.$$('.markdown-html').querySelectorAll('pre code');

				for (i=0;i<codeblocks.length;i++) {
            		hljs.highlightBlock(codeblocks[i]);
        		}
			},

		});
	</script>

</dom-module>