<link rel="import" href="../../../bower_components/paper-header-panel/paper-header-panel.html">
<link rel="import" href="../../../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../../../bower_components/paper-listbox/paper-listbox.html">
<link rel="import" href="../../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../../bower_components/paper-item/paper-item.html">
<link rel='import' href='../../../bower_components/app-route/app-route.html'>
<link rel='import' href='../../../bower_components/app-route/app-location.html'>

<link rel='import' href='../../../bower_components/iron-lazy-pages/iron-lazy-pages.html'>
<link rel='import' href='../../../bower_components/iron-lazy-pages/iron-lazy-page.html'>

<link rel='import' href="../../../bower_components/iron-scroll-spy/iron-auto-scroll-spy.html">
<link rel='import' href='../../../bower_components/polymer-quill/polymer-quill-html-render.html'>

<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel="import" href="../common/aq-loading-progress.html">
<link rel="import" href="../common/aq-html-display.html">
<!--link rel="import" href="./aq-help-marked-item.html"-->

<link rel="import" href="../common/aq-search-input.html">
<link rel="import" href="../common/aq-navigation-item.html">
<link rel="import" href="../common/aq-allpage-layout.html">

<dom-module id="aq-help-home">
    <style include="iron-flex iron-flex-alignment iron-positioning"></style>
    <style>
        #drawerPanel {
            height: 100%;
            display: 'none';
        }

        #mainPanel {
            margin: 0 auto;
            /*border-right: 1px solid;*/
            background-color: #fff;
            color: #24293d;
            height: 100%;
            width: 100%;
            display: 'none';
        }

        .selectableCategories {
            cursor: pointer;
        }

        .selectableCategories:hover {
            font-weight: bold;
            cursor: pointer;
        }

        .searchCategories {
            --width: 90%;
            --margin-left: 0%;
            padding-left: 10px;
            padding-right: 10px;
            background-color: white;
            font-size: 14px;
            margin: 5px;
        }

        #drawerPanel1 {
            background-color: #f2f2f2;
            border: none;
            padding: 10px 10px 0 10px;
            height: 100%;

        }

        paper-listbox {
            background-color: #fff;
            margin-top: 10px;
        }

        paper-item {
            --paper-item-min-height: 32px;
            --paper-item: {
                height: 32px;
                font-size: 16px;
                color: teal !important;
                background-color: #fff;
            };
            --paper-item-selected: {
                /*font-weight: bold;*/
                background-color: #f7f7f7;
            };
            --paper-item-focused:{
                background-color: #f7f7f7;
            }
        }

        paper-tabs {
            --paper-tabs-selection-bar-color: teal;
            width: 70%;
        }

        .Big {
            font-size: 16px;
        }

        .Normal {
            font-size: 15px;
            padding-left: 30px;
        }

        .Medium {
            padding-left: 40px;
            font-size: 13px;
            color: #7f7f7f;
        }

        .Small {
            padding-left: 30px;
            font-size: 12px;
            color: #7f7f7f;
        }

        .Mini {
            padding-left: 40px;
            font-size: 12px;
            font-style: italic;
            color: #7f7f7f;
        }

        #autoScrollSpy div {
            padding-top: 20px;
            padding-bottom: 5px;
            margin-left: 30px;
            margin-right: 30px;
            --margin-bottom: 40px;
            --padding: 150px;
            --border-bottom: 1px solid grey;
            transition: background 0.2s;
        }

        #top {
            padding-top: 300px;
        }

        #bottom {
            padding-bottom: 450px;
        }

        img {
            margin: auto 0;
            max-height: 650px;
        }

        #drawer {
            padding: 10px;
        }

        #navigation {
            height: 70px;
            margin-left: 30px;
        }

        #content {
            --width: 90%;
            --margin: 0 auto;
        }

        #help-container {
            margin-left: 0px !important;
            margin-right: 0px !important;

            overflow-y: scroll;
            height: 75vh !important;
        }

        polymer-quill-html-render {
            --margin-top: 5px;
            margin-bottom: -15px;
            min-height: 100px;
            font-size: 16px;
            font-family: 'Lato', sans-serif;
            color: black;
            padding-left: 30px
            padding-right: 30px;
            line-height: 24px;
        }

        .tutorial-header {
            font-size: 26px;
            color: teal; --#0052cc;
            font-weight: lighter;
            margin-top: 20px;
            padding-top: 20px;
        }

        .tutorial-header:hover {
            cursor: pointer;
            text-decoration: underline;
        }

        .tutorial-container {
            margin-left: 40px;
            width: 95%;
        }


    </style>

    <template>

        <!--app-location route="{{route}}" use-hash-as-path></app-location-->

        <app-location route="{{route}}"></app-location>
        <app-route
                route="{{route}}"
                pattern="/research/help"
                active="{{active}}">
        </app-route>

        <iron-ajax auto
            url="../../../resources/help/data_help.json"
            handle-as="json"
            id="getHelpContentQuery"
            on-response="onGetHelpContentSuccess"
            debounce-duration="300">
        </iron-ajax>

        <iron-ajax auto
            url="../../../resources/help/data_tutorial.json"
            handle-as="json"
            id="getTutorialQuery"
            on-response="onGetTutorialSuccess"
            debounce-duration="300">
        </iron-ajax>

        <!--template is='dom-if' if='{{active}}'-->

            <aq-loading-progress loading='{{loading}}'></aq-loading-progress>

            <!--template is='dom-if' if='[[!loading]]'-->
                <!--aq-allpage-layout header="Help" current-path="[[currentPath]]">
                 
                 <div class="internal-content flex" id="help-container" style="height: 100%;"-->
                 <paper-drawer-panel  id="drawerPanel" right-drawer drawer-width="[[drawerWidth(helpType)]]">
                    <paper-header-panel id='mainPanel' mode="scroll" main >
                        <div id='navigation' class="paper-header"> 
                            <aq-navigation-item header="Help" path="[[currentPath]]">
                            </aq-navigation-item>
                        </div>

                        <div class="layout horizontal">
                            <div class="flex"></div>
                            <paper-tabs noink 
                                selected={{helpType}} 
                                attr-for-selected="page" 
                                fallback-selection="basic"
                                on-iron-select="onTabChange">
                                <paper-tab page="basic">BASIC</paper-tab>
                                <paper-tab page="tutorial">TUTORIALS</paper-tab>
                            </paper-tabs>
                            <div class="flex"></div>
                        </div>

                        <iron-pages attr-for-selected="page" selected="[[helpType]]">
                        
                        <div page="basic">
                            
                            <iron-auto-scroll-spy scroll-duration=0 selected="{{scrollSelected}}" id="autoScrollSpy">

                                <template is="dom-repeat" items="{{itemsHelpContent}}" initial-count=5>
                                     <div id='content' class="layout vertical">
                                            
                                        <aq-html-display
                                            html-content="[[item.text]]">
                                        </aq-html-display>
                                        <template is='dom-if' if='[[item.img_src]]'>
                                            <img class="self-center" src="{{item.img_src}}">
                                        </template>
                                    </div>
                                </template>
                                
                            </iron-auto-scroll-spy>

                            <!--div id='bottom'></div-->

                        </div>

                        <div page="tutorial">
                            <div class="tutorial-container">
                            <template is='dom-repeat' items=[[tutorials]] initial-count=5>
                                <div class="tutorial-header" on-tap="toggle" id$="header-[[index]]">[[item.header]]</div>    
                                <iron-collapse 
                                    id$="collapse-[[index]]" no-animation>
                                    <div class="collapse-content">
                                        <aq-html-display
                                            html-content="[[item.content]]">
                                        </aq-html-display>
                                    </div>
                                </iron-collapse>
                            </template>
                            </div>
                        </div>     

                        </iron-pages>   
        
                    </paper-header-panel>

                    <template is='dom-if' if=[[isBasic(helpType)]]>
                        <paper-header-panel id='drawerPanel1' drawer mode="seamed">
                            <aq-search-input></aq-search-input>
                            <paper-listbox selected="{{scrollSelected}}">
                                <template is="dom-repeat" items="{{categoriesArray}}">
                                    <paper-item class$="selectableCategories [[item.Category.size]]">
                                        [[item.Category.value]]
                                    </paper-item>
                                </template>
                            </paper-listbox>
                        </paper-header-panel>
                    </template>

                    <!--/div>
                </aq-allpage-layout-->
            
            <!--/template-->
        <!--/template-->

    </template>

    <script>
        Polymer({
            is: 'aq-help-home',

            properties: {
                itemsHelpContent: {
                    type: Object,
                },

                categoriesArray: {
                    type: Array,
                    value: [],
                },

                active: {
                    type: Boolean,
                },

                loading: {
                    type: Boolean,
                },

                currentPath: {
                    type: Array,
                    //value: ["Home", "Help"],
                },

                tutorials: Array,

                helpType: {
                    observer:'_helpTypeChanged',
                }

            },

            listeners: {
                'search-input':'search',
            },

            attached: function() {
                this.loading = true; 
                if (this.helpType == "basic") {
                    document.title = "Help - AimsQuant";
                } else {
                    document.title = "Tutorials - AimsQuant";
                }
            },

            isBasic: function(helpType) {
                return helpType == "basic";
            },

            search: function(e) {
                var search = e.detail.searchText;
                search = search.toLowerCase();
                var parent = this;
                var categoriesClass = Polymer.dom(this.root).querySelectorAll('.selectableCategories');

                var text;
                for (var i = 0; i < this.categoriesArray.length; i++) {
                    text = parent.categoriesArray[i].Category.value.toLowerCase();
                    if (text.indexOf(search) > -1) {
                        categoriesClass[i].style.display = "block";
                        categoriesClass[i].style.lineHeight = "3";
                    }
                    else {
                        categoriesClass[i].style.display = "none";
                    }
                }
            },

            blur: function() {
                this.$$('#search_input').value="";
            },

            onGetHelpContentSuccess: function (e) {
                this.set('itemsHelpContent', e.detail.response.Help);
                var array = []
                for (i in e.detail.response.Help) {
                    array.push({"Category": e.detail.response.Help[i].header});
                }

                this.set('categoriesArray', array);
                
                if(this.helpType == "basic") {
                    this.loading = false;
                    this.$$('#mainPanel').style.display = 'block';
                }
            },

            onGetTutorialSuccess: function(e) {
                this.tutorials = e.detail.response.tutorials;
                
                if(this.helpType == "tutorial") {
                    this.loading = false;
                    this.$$('#mainPanel').style.display = 'block';
                }
            },

            toggle: function(e) {
                if(e.detail.sourceEvent ? e.detail.sourceEvent.srcElement : false) {
                    var index = e.detail.sourceEvent.srcElement.id.replace("header-","");

                    var collapseElement = this.$$(`#collapse-${index}`);
                    if(collapseElement) {

                        for(var i=0;i<this.tutorials.length;i++) {
                            if(`${i}` != index) {
                                this.$$(`#collapse-${i}`).hide();
                            }   
                        }

                        collapseElement.toggle();
                        e.detail.sourceEvent.srcElement.scrollIntoView(true);
                        
                        document.title = collapseElement.opened ? this.tutorials[index].header + " - AimsQuant" : "Tutorials - AimsQuant";
                    }
                }
            },

            onTabChange: function() {
                if(this.helpType == "basic") {
                    this.async(function () {
                        this.$$('#autoScrollSpy').scrollTarget = this.$$('#mainPanel').scroller;
                    }, 200);
                } else {
                      this.async(function () {
                        this.$$('#autoScrollSpy').scrollTarget = null;
                    }, 200);
                }
            },

            drawerWidth: function(helpType) {
                if (helpType == "basic") {
                    return "256px";
                } else {
                    return "0px";
                }
            },

            _helpTypeChanged: function() {
                if (this.helpType == "basic") {
                    document.title = "Help - AimsQuant";
                } else {
                    document.title = "Tutorials - AimsQuant";
                }
            },


        });
    </script>
</dom-module>