
<link rel='import' href='../../../../bower_components/highcharts-chart/highcharts-stock.html'>

<dom-module id='aq-aggregatedreturns-barchart'>
	<template>
		<template is="dom-if" if="[[axisReady]]" id='barChartTemplate'>
			<highcharts-stock
	  			id="barChart" 
	  			type="column"
	  			y-axis = "{{yAxis}}"
	  			x-axis="[[xAxis]]"
	  			tooltip-options="[[tooltip]]"
	  			legend-options="[[legend]]"
	  			highchart-options="[[chartOptions]]"
	  			plot-options="[[plotOptions]]">
		 	</highcharts-stock>
  		</template>
	</template>

	<script>
		Polymer({
			is: 'aq-aggregatedreturns-barchart',
			
			properties:{

				yAxis:{ 
					type: Object,
					value: [{
						labels: {
		                    formatter: function () {
		                        return (this.value > 0 ? ' + ' : '') + this.value + '%';
		                    }
		                },

		                plotLines: [{
		                    value: 0,
		                    width: 2,
		                    color: 'silver'
		                }],
		            }],
		        },

	            tooltip: {
	            	type: Object,
	            	value:{
		            	xDateFormat:'%b \'%y',
		            	shared:true,
		            	positioner: function () {
				            return { x: 10, y: 0 };
				        },
		            }
		        },

	          	xAxis:{
	          		type: Object,
          		},

          		legend:{
					type:Object,
					value: {
						enabled:true,
		          		align:"right",
		          		verticalAlign:'top',
		          		//y:15,
		          		itemStyle: {
		          			fontSize:13,
		          			fontWeight:"normal",
		          		},

		          		labelFormatter: function(){
		          			var name = this.name;
						 	var color = this.color;

	          				return '<span style="color:'+ color+'">' + name + '</span>';
          					
	          			}
		          	},
				},

				chartOptions:{
					type:Object,
					value:{
						navigator:{
							height:30,
							margin:10,
						},

						rangeSelector:{
							enabled: false,
						},
					},
				},

			            
				axisReady: {
					type: Boolean,
					value:false,
				},

				plotOptions:{
					type: Object,
					value:{
			            /*series: {
			                point: {
			                    events: {
			                        mouseOver: function () {
			                        	var text = '<div style="border:1px solid black; color: teal;"> Date: ' + Highcharts.dateFormat('%b \ %y', this.x) + '</div>';
			                            var chart = this.series.chart;
			                            if (!chart.lbl) {
                                			chart.lbl = chart.renderer.label(text, 950, 0)
                                    			.attr({
                                    			padding: 15,
                                        		
                                    		})
                                    		.css({
                                        		color: 'black',
                                        		align: 'right',
                                    		})
                                    		.add();
                            			}
			                            chart.lbl
			                                .show()
			                                .attr({
			                                    text: text
			                                });
			                        }
								}
							}
						}*/
					}
				},
			},

			updateProperties: function() {
			    this.axisReady = true;
			    this.$.barChartTemplate.render();
				this.$$('#barChart').removeSeries(0);
			},

			addSeries: function(name, data, options, redraw) {
				this.$$('#barChart').addSeries(name, data, options, redraw);
			},

			createMonthlyReturnBarChart: function(monthlyReturns, benchmark) {
				var types = ["algorithm","benchmark"];
				var colors = ["#0375b4", "#cc6666", "#FFAA1D","#007849","#6e2667","#fc4a1a"];
				var legend = ["Strategy", benchmark];
				
				for (var index=0; index<types.length;index++) {

					var aggregatedReturns = monthlyReturns[types[index]];
					var keys = Object.keys(aggregatedReturns);
					var dataset = new Array(keys.length);

					var i = 0;
					keys.sort()
	      			.forEach(function(v, i) {
	      				dataset[i] = [Date.parse(v.substring(0, 4)+"-"+v.substring(4, 6)), aggregatedReturns[v]];
	       			}); 

		  			this.addSeries(legend[index], dataset, {
		  					color:colors[index], 
		  					tooltip: {
		  						valueSuffix:'%',
		  						pointFormat:'<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y}</b><br/>',
		  					},

		  				}, false
	  				);	
				}
			},

			redrawChart: function() {
				//WHY the followig command doesn't work
				//this.$$('#cumRetLineChart').redraw();
				this.$$('#barChart')._chart.redraw();
			},

			resizeChart: function() {
				if(this.$$('#barChart')) {
					this.$$('#barChart').resizeChart();
				}
			},

		});
	</script>
</dom-module>