<link rel='import' href='../../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='./aq-backtest-metric-item.html'>
<link rel='import' href='../aq-portwidth-detector.html'>

<dom-module id='aq-backtest-metric-item-list'>
	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>

	<style>
		#container {
			--padding-left: 10px;
			--background-color: #f5f5f5;
		}

		#header {
			--margin-top: 5px;
			margin-bottom: 5px;
			font-size: 16px;
			--font-weight: 700;
		}

		.small {
			--aq-backtest-metric-item-text-label-font-size: 10px;
			--aq-backtest-metric-item-text-content-font-size: 14px;
			--aq-backtest-metric-item-border: none;
		}

	</style>

	<template>
        <aq-portwidth-detector width="{{width}}">
    	</aq-portwidth-detector>

        <div id="header">[[heading]]</div>

		<div id='container' class$="layout horizontal [[justified]]">
			<template is='dom-repeat' id='repeater' items="{{modifiedItems}}">
                <aq-backtest-metric-item class$="[[computeSizeClass(small)]]"
                	metric-name="{{item.metricName}}"
                 	metric-value="{{item.metricValue}}">
             	</aq-backtest-metric-item>
            </template>
		</div>
	</template>

	<script>
		Polymer({
			is:'aq-backtest-metric-item-list',

			properties: {
				metricItems:{
					type:Array,
					value:[],
					observer:'_metricItemschanged',
				},

				modifiedItems: Array,

				justified: {
					type: String,
					value:"around-justified",
				},

				narrow: {
					type:Boolean,
					//value:false,
				},
				narrowWide: {
					type:Boolean,
					//value:false,
				},
				semiWide: {
					type:Boolean,
					//value:false,
				},
				wide:{
					type:Boolean,
					//value:false,
				},
				superWide:{
					type:Boolean,
					//value:false,
				},
				forcedSemiWide:{
					type:Boolean,
					value:false,
				},

				heading: String,

				small: {
					type: Boolean,
					value: false,
				},

				width: {
					type: Object,
					value:{},
					observer: '_widthChanged',
				},
			},
			
			_widthChanged: function() {
				if(this.metricItems) {
					this.modifiedItems = this.deepCopy(this.metricItems);
					this.manageWidth(); 
				}
			},

			computeSizeClass: function(small) {
				return small ? "small" : "";
			},

			deepCopy: function(array) {
				return JSON.parse(JSON.stringify(array));
			},

			_metricItemschanged: function() {
				this.modifiedItems = this.deepCopy(this.metricItems);
				this.manageWidth();
			},

			manageWidth: function() {

				if(this.modifiedItems) {

					var nItems = this.modifiedItems.length;
					var eIdx;

					if(nItems > 0) {
	            		eIdx = 6;

	            		if(this.width) {
							if (this.width.superWide) {
			            		eIdx = nItems >= 8 ? 8 : nItems;
			            	}  else if (this.width.wide) {
			            		eIdx = nItems >= 6 ? 6 : nItems;
			            	} else if (this.width.semiWide) {
			            		eIdx = nItems >= 5 ? 5 : nItems;
			            	} else if (this.width.narrowWide) {
			            		eIdx = nItems >=4 ? 4 : nItems;
			            	} else if(this.width.narrow) {
								eIdx = nItems >=4 ? 4: nItems;
			            	}
		            	}   

		            	// behave as if it's sem-wide
		            	if(this.forcedSemiWide && (!this.narrow || !this.narrowWide)) {
							eIdx = Math.min(eIdx, nItems >= 6 ? 6 : nItems);
		            	}

		            	var ct = nItems - eIdx;
		            	this.splice('modifiedItems', eIdx, ct);
	            	}
				}
			},


		});
	</script>
</dom-module>