<link rel="import" href="../../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../../../../bower_components/vaadin-grid/vaadin-grid-filter.html">

<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../../../bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="../../../../bower_components/iron-selector/iron-selector.html">

<link rel='import' href='../aq-check-authentication.html'>

<dom-module id="aq-backtest-summary-element">

    <template>

        <style is="custom-style" include="iron-flex iron-flex-alignment iron-positioning">
            :host {
                font-family: 'Lato', sans-serif;
                font-size: 14px;
            }

            .time-period {
                display: inline;
                position: relative;
                top: 12px;
                color:#cc4444;
            }

            .calendar-item {
                background-color: #f2f2f2;
                padding: 5px 10px;
                margin: 5px;
                cursor: pointer;

            }

            .calendar-item span {
                font-size: 14px;
            }

            #calendar-container {
                margin-top: 7px;
                transition: all 0.3s ease-in-out;
            }

            paper-radio-button {
                --paper-radio-button-checked-color: #cc4444;
            }

            .year-container .iron-selected , .month-container .iron-selected {
                background: #fff;
                border: 1px solid teal;
                color: teal;
            }
            .heavy-span{
                font-weight: 700;
                color:#cc4444;
            }
            .upper-container{
                margin-bottom: 20px;
                margin-left: 20px;
            }

            #tableContainer {
                margin-left: 20px;
                margin-right: 20px;
            }

             vaadin-grid {
                height: 100%;
                --vaadin-grid-header-cell: {
                    background-color: #fafafa;
                    font-size: 14px;
                    height: 78px;
                };

                --vaadin-grid-body-cell: {
                    font-size: 14px;
                }

                --vaadin-grid-body-row-hover-cell: {
                    background-color: #fafafa;
                }
            }

            #tableHeading {
                margin-bottom: 5px;
            }

            .header-item{
                color:#000;
                font-weight: 700;
            }
            #container {
                display: none;
                margin-top: 30px;
                margin-bottom: 10px;
            }
          
        </style>

        <aq-check-authentication id='authItem'></aq-check-authentication>

        <div id='container' class="layout vertical flex">
            <div class="upper-container layout horizontal">
                <div class="checkbox-container layout horizontal center-justified">
                    <span class="time-period">Time Period</span>
                    <paper-radio-group selected="{{selectedButton}}" fallback-selection="0">
                        <paper-radio-button noink name="0">All</paper-radio-button>
                        <paper-radio-button noink name="1">Last 252 Days</paper-radio-button>
                        <paper-radio-button noink name="2">Custom</paper-radio-button>
                    </paper-radio-group>
                </div>
                
                <template is='dom-if' if='[[isCustomBar(selectedButton)]]'>
                    <div id="calendar-container" class="layout vertical flex">
                        <div class="calendar-item-container year-container layout horizontal">
                            <iron-selector  on-iron-select='onYearChange' attr-for-selected="year" selected="[[year]]" class="layout horizontal">
                                <template is="dom-repeat" items="{{years}}">
                                    <div year="{{item}}" class="calendar-item"><span>{{item}}</span></div>
                                </template>
                            </iron-selector>
                        </div>

                        <div class="calendar-item-container month-container layout horizontal">
                            <iron-selector on-iron-select='onMonthChange' attr-for-selected="month" selected="[[month]]" class="layout horizontal">
                                <template is="dom-repeat" items="{{months}}">
                                    <div month="{{item}}" class="calendar-item"><span>{{item}}</span></div>
                                </template>
                            </iron-selector>
                        </div>
                    </div>
                </template>
            </div>

            <div id='tableContainer'>
                <div id="tableHeading">Showing Data for&nbsp<span class="heavy-span">[[durationText]]</span></div>

                <vaadin-grid multi-sort=true>
                    <vaadin-grid-column>
                        <template class="header">
                             <vaadin-grid-sorter path="0">Backtest</vaadin-grid-sorter>
                        </template>

                        <template>[[item.0]]</template>
                    </vaadin-grid-column>

                     <vaadin-grid-column>
                        <template class="header">
                             <vaadin-grid-sorter path="1">Total Return </vaadin-grid-sorter>
                        </template>

                        <template>[[item.1]]</template>
                    </vaadin-grid-column>

                     <vaadin-grid-column>
                        <template class="header">
                             <vaadin-grid-sorter path="2">Annual Return</vaadin-grid-sorter>
                        </template>

                        <template>[[item.2]]</template>
                    </vaadin-grid-column>

                     <vaadin-grid-column>
                        <template class="header">
                             <vaadin-grid-sorter path="3">Volatility</vaadin-grid-sorter>
                        </template>

                        <template>[[item.3]]</template>
                    </vaadin-grid-column>

                     <vaadin-grid-column>
                        <template class="header">
                             <vaadin-grid-sorter path="4">Sharpe Ratio</vaadin-grid-sorter>
                        </template>

                        <template>[[item.4]]</template>
                    </vaadin-grid-column>

                     <vaadin-grid-column>
                        <template class="header">
                             <vaadin-grid-sorter path="6">Max Drawdown</vaadin-grid-sorter>
                        </template>

                        <template>[[item.6]]</template>
                    </vaadin-grid-column>

                    <vaadin-grid-column>
                        <template class="header">
                             <vaadin-grid-sorter path="8">Beta</vaadin-grid-sorter>
                        </template>

                        <template>[[item.8]]</template>
                    </vaadin-grid-column>
                </vaadin-grid>
            </div>
        </div>
    </template>
    
    <script>
        Polymer({
            is: "aq-backtest-summary-element",
            properties: {
                data: {
                    type: Array,
                    value: []
                },
                users: {
                    type: Object,
                    value: {}
                },
                headers: {
                    type: Array,
                    value: [
                        'Backtest', 'Total Return', 'Annual Return', 'Volatility', 'Sharpe Ratio', 'Information Ratio',
                        'Max Drawdown', 'Calmar Ratio', 'Beta', 'Stability', 'Alpha'
                    ]
                },
                years: {
                    type: Array,
                },
                months: {
                    type: Array,
                    value: ['All', 'Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
                },

                compareItems: {
                    type: Array,
                    observer:'_compareItemsChanged'
                },

                selectedButton: {
                    type:String,
                    value:"0",
                    observer:'_selectedButtonChanged',
                },

            },

            _compareItemsChanged: function() {

                if(this.compareItems.length > 0) {
                    this.selectedButton = "0";
                    
                    if(this.$.container) {
                        this.$.container.style.display = 'none';
                    }

                    if(this.compareItems.length > 0) {
                        var indexArray = this.compareItems.map(x => "Backtest "+x.index);
                        var backtests = this.compareItems.map(x => x.backtest);

                        this.resetYearsMonths(backtests);

                        this.compare();
                    }

                }
            },

            getBacktestData: function(indexArray, backtests) {
                
                var result = [];
                for(var i=0; i<backtests.length; i++){
                    
                    if(this.selectedButton=='0') {
                        
                        var summary = backtests[i].output.summary;

                        result.push({
                            0:indexArray[i],
                            1:summary.totalreturn+'%',
                            2:summary.annualreturn+'%',
                            3:summary.annualstandarddeviation+'%',
                            4:summary.sharperatio,
                            5:summary.informationratio,
                            6:summary.maxdrawdown+'%',
                            7:summary.calmarratio,
                            8:summary.beta,
                            9:summary.stability,
                            10:summary.alpha
                        });
                    } else if(this.selectedButton == '1') {
                        
                        var rolling = backtests[i].output.performance.detail.analytics.rolling;
                        
                        result.push({
                            0:indexArray[i],
                            1:rolling.totalreturn+'%',
                            2:rolling.annualreturn+'%',
                            3:rolling.annualstandarddeviation+'%',
                            4:rolling.sharperatio,
                            5:rolling.informationratio,
                            6:rolling.maxdrawdown+'%',
                            7:rolling.calmarratio,
                            8:rolling.beta,
                            9:rolling.stability,
                            10:rolling.alpha
                        });
                    } else if(this.selectedButton == '2') {
                        
                        var year = this.year.toString();
                        var month = this.month;

                        if(month == 'All') {
                            var yearField = backtests[i].output.performance.detail.analytics.fixed.yearly[year];

                            if(yearField) {

                                result.push({
                                    0: indexArray[i],
                                    1:yearField.totalreturn+'%',
                                    2:yearField.annualreturn+'%',
                                    3:yearField.annualstandarddeviation+'%',
                                    4:yearField.sharperatio,
                                    5:yearField.informationratio,
                                    6:yearField.maxdrawdown+'%',
                                    7:yearField.calmarratio,
                                    8:yearField.beta,
                                    9: yearField.stability,
                                    10:yearField.alpha
                                }); 
                            } else {
                                result.push({
                                    0:indexArray[i],
                                    1:'-',
                                    2:'-',
                                    3:'-',
                                    4:'-',
                                    5:'-',
                                    6:'-',
                                    7:'-',
                                    8:'-',
                                    9:'-',
                                    10:'-',
                                });
                            }
                        } else {
                            var numericMonth = this.months.indexOf(month);
                            if(numericMonth < 10) {
                                numericMonth = '0' + numericMonth.toString();
                            } else {
                                numericMonth = numericMonth.toString();
                            }

                            var key = year.toString() + numericMonth;
                            var monthField = backtests[i].output.performance.detail.analytics.fixed.monthly[key];

                            if(monthField) {

                                result.push({
                                    0:indexArray[i],
                                    1:monthField.totalreturn+'%',
                                    2:monthField.annualreturn+'%',
                                    3:monthField.annualstandarddeviation+'%',
                                    4:monthField.sharperatio,
                                    5:monthField.informationratio,
                                    6:monthField.maxdrawdown+'%',
                                    7:monthField.calmarratio,
                                    8:monthField.beta,
                                    9:monthField.stability,
                                    10:monthField.alpha
                                }); 
                            } else {
                                result.push({
                                    0:indexArray[i],
                                    1:'-',
                                    2:'-',
                                    3:'-',
                                    4:'-',
                                    5:'-',
                                    6:'-',
                                    7:'-',
                                    8:'-',
                                    9:'-',
                                    10:'-',
                                });
                            }

                        }
                    }
                }
                return result;
            },

            compare: function() {
                
                this.$.container.style.display = 'none';

                var grid = this.$$('vaadin-grid');
                var element = this;

                var indexArray = this.compareItems.map(x=>"Backtest "+x.index);
                
                var backtests = this.compareItems.map(x=>x.backtest);

                this.computeYearMonth();

                grid.items = this.getBacktestData(indexArray, backtests);
                
                this.$.container.style.display = 'block';
            },

            resetYearsMonths: function(backtests) {
                
                this.years = [];
                var ydict = {};
                for(var i=0; i<backtests.length; i++) {
                    
                    var noYearlyData = !backtests[i]&&!backtests[i].output&&!backtests[i].output.performance&&!backtests[i].output.performance.detail&&!backtests[i].output.performance.detail.analytics&&!backtests[i].output.performance.detail.analytics.fixed&&!backtests[i].output.performance.detail.analytics.fixed.yearly;

                    if(!noYearlyData) {
                        var years = Object.keys(backtests[i].output.performance.detail.analytics.fixed.yearly);

                        for(var j=0; j<years.length; j++) {
                            ydict[years[j]] = 1;
                        }
                        
                    }
                }

                this.years = Object.keys(ydict).sort();
                this.year = this.years[0];
                this.month = this.months[0];
            },

            isCustomBar: function(selectedButton) {
                return selectedButton == "2";
            },

            _selectedButtonChanged: function() {
                if(this.compareItems) {
                    if(this.compareItems.length > 0) {
                        this.compare();
                    }
                }
            },

            onMonthChange: function(e) {
                this.month = e.detail.item.month;
                if(this.compareItems.length > 0) {
                    this.compare();
                }
            },

            onYearChange: function(e) {
                this.year = e.detail.item.year;
                if(this.compareItems.length > 0) {
                    this.compare();
                }
            },

            computeYearMonth: function() {
                var selectedButton = this.selectedButton;
                var year = this.year;
                var month = this.month;

                var txt = "";

                if(selectedButton == "2") { 
                    if(month == 'All') {
                        txt = year.toString();
                    } else {
                        txt = month.toString() + ' ' + year.toString();
                    }
                } else if (selectedButton == "0") {
                    txt = "Full Duration"; 
                } else if (selectedButton == "1") {
                    txt = "Last 252 Days"; 
                }

                this.durationText = txt;
            },

            getData: function(obj, columnName) {
                if(obj) {
                    return this.headers.indexOf(columnName) in obj ? obj[this.headers.indexOf(columnName)] : '';
                }
            },

        });
    </script>
</dom-module>