<link rel='import' href='../../../../bower_components/paper-tabs/paper-tabs.html'>
<link rel='import' href='../../../../bower_components/paper-tabs/paper-tab.html'>
<link rel='import' href='../../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../../../../bower_components/iron-pages/iron-pages.html'>

<link rel='import' href='./aq-cumret-linechart.html'>
<link rel='import' href='./aq-aggregatedreturns-barchart.html'>
<link rel='import' href='../aq-twoway-toggle.html'>

<dom-module id="aq-backtest-performance-detail-item">
 	<style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

	<style>

        #cumRetLineChartDiv {
            height: 100%;
            background-color: white;
        }

        #netValueLineChart {
            --width: 100%;
            --height: 70%;
        }

        #cumRetLineChart {
            --height: 250px;
            width: 100%;
            --margin-bottom: 20px;
            margin-left: 5px;
            --highcharts-container: {
                width: 98%;
            };
        }

        #trackVarLineChart {
            margin-bottom: 20px;
            height: 160px;
            width: 100%;
            width: 98%;
        }

        #barChart {
            height: 400px;
            width: 100%;
        }

        .chart {
            width: 95%;
        }

        #toggle-container {
            margin-right: 10px;
        }

	</style>
	<template>
        <template is='dom-if' if='[[hasPerformanceData]]'>
    	 	<div id="toggle-container" class="layout horizontal">
                <div class="flex"></div>
                <aq-twoway-toggle 
                    first-option="Cumulative" 
                    second-option="Monthly"
                    selected-type="{{graphType}}">
                </aq-twoway-toggle>
            </div>
        </template>

        <iron-pages on-iron-resize='onResize' selected="{{graphType}}">
            <div id='cumRetLineChartDiv' class="flex">
            </div>

            <template is='dom-if' if='[[!active]]'>
                <div id='barChartDiv'>
                </div>
            </template>
        </iron-pages>
	</template>
	<script>
		Polymer({
			is: 'aq-backtest-performance-detail-item',

			properties: {
				backtest: {
                    type: Object,
                },

                graphType: {
                    type: Number,
                    value: 0,
                },
               
                active: {
                    type: Boolean,
                    value: false,
                },

                hasPerformanceData: Boolean,

			},

            reset: function () {
                var child = Polymer.dom(this.$.cumRetLineChartDiv).querySelector('aq-cumret-linechart');
                if (child) {
                    Polymer.dom(this.$.cumRetLineChartDiv).removeChild(child);
                }

                var el = document.createElement('aq-cumret-linechart');
                Polymer.dom(this.$$('#cumRetLineChartDiv')).appendChild(el);

                Polymer.dom.flush();

                this.async(
                        function () {
                            if (!this.active) {
                                var child = Polymer.dom(this.$$('#barChartDiv')).querySelector('aq-aggregatedreturns-barchart');

                                if (child) {
                                    Polymer.dom(this.$$('#barChartDiv')).removeChild(child);
                                }

                                var el = document.createElement('aq-aggregatedreturns-barchart');
                                Polymer.dom(this.$$('#barChartDiv')).appendChild(el);
                                Polymer.dom.flush();
                            }

                        },
                        200);

                this.counter = 0;
                this.pctCompleted = 0;
                this.hasTrackVarData = false;
                this.set('realtimeXLabels', []);
                this.set('trackVarKeysArray', []);
                this.graphsInitialized = false;
                this.rtData = [];
                this.hasPerformanceData = false;
            },

            plotGraphs: function() {
                if (this.backtest.output.performance.detail.variables) {
                    // this variable is used because array changes are somehow not relaying back the template
                    this.hasTrackVarData = true;
                    this.hasPerformanceData = true;
                }

                this.updateGraphProperties(this.hasTrackVarData);
                
                this.async(this.createCumRetLineChart, 200);
                this.async(this.createTrackVarLineChart, 200);
                this.async(this.createMonthlyReturnBarChart, 500);
            },

            addRealTimeData: function (data) {
                if (data.outputtype == "labels") {

                    var keys = Object.keys(data.labels);
                    var allDates = new Array(keys.length);

                    for (var i = 0; i < keys.length; i++) {
                        allDates[i] = Date.parse(keys[i]);
                    }

                    this.set('realtimeXLabels', allDates.sort());

                } else { //Initialize the graphs based
                    //for Strategy/Benchmark/(and Variable data if any)

                    if (!this.graphsInitialized) {
                        this.initializeCumRetGraphs(data);
                    }

                	this.rtData.push(data);

                    if(this.counter++ == 0) {
                        this.updateCumRetGraphsWithData();
                    }
                }
            },

            updateCumRetGraphsWithData: function () {
                var types = ["totalreturn", "totalreturn_benchmark"];
                var legends = ["Strategy", this.backtest.settings.benchmark ? this.backtest.settings.benchmark : "NIFTY_50"];
                
                //var legends = ["Strategy", "Benchmark"];
                
                var dddd = [];
                /*for (var k=0;k<this.rtData.length;k++) {

	                if(k >= this.counter) {
	                	
	                	var data = this.rtData[k];
	                	var ct = this.counter++;

		                if (this.hasTrackVarData && this.$$('aq-cumret-linechart') && this.active) {

		                    var keysArray = this.trackVarKeysArray;

		                    for (var i = 0; i < keysArray.length; i++) {
		                        //this.$$('aq-cumret-linechart').updateRealtime(ct, keysArray[i], {y:data["variables"][keysArray[i]], x: this.realtimeXLabels[k]});
		                    }
		                }

		                for (var i = 0; i < types.length; i++) {
		                    if (this.$$('aq-cumret-linechart') && this.active) {

	                         	//this.$$('aq-cumret-linechart').updateRealtime(ct, legends[i], {x: this.realtimeXLabels[k], y: data[types[i]] + 100.0});

		                    }
		                }
		            }
	        	}*/

                if (this.$$('aq-cumret-linechart') && this.active) {
                    var k = 0;
                    legends.forEach(legend => {
                        
                        var data_arr = new Array(this.realtimeXLabels.length); 
                        for(var i=0; i<this.realtimeXLabels.length; i++) {
                            
                            var val = i < this.rtData.length ? this.rtData[i][types[k]] + 100.0 : NaN;

                            data_arr[i] = [this.realtimeXLabels[i], val]; 
                        }

                        this.$$('aq-cumret-linechart').setData(legend, data_arr);

                        k++;
                    });

                    if(this.hasTrackVarData) {
                        
                        this.trackVarKeysArray.forEach(variable => {
                            var data_arr = new Array(this.realtimeXLabels.length); 
                            for(var i=0; i<this.realtimeXLabels.length;i++) {

                                var val = i < this.rtData.length ? ("variables" in this.rtData[i] ?  this.rtData[i]["variables"][variable] : NaN) : NaN;
                                
                                data_arr[i] = [this.realtimeXLabels[i], val];
                            }

                            this.$$('aq-cumret-linechart').setData(variable, data_arr);
                        });
                    }
                }
                
                this.$$('aq-cumret-linechart').redrawChart();

	        	//update the percentage completed
	        	if (this.realtimeXLabels && this.realtimeXLabels.length > 0) {
                        this.pctCompleted = Math.round(this.counter * 100 / this.realtimeXLabels.length, 0);
                        
                    this.fire('iron-signal', {name:'partially-completed-backtest', data: {id: this.backtest._id, pctCompleted:this.pctCompleted}});
                }
                
                if(this.rtData.length < this.realtimeXLabels.length || this.rtData.length ==0) {
                    this.async(this.updateCumRetGraphsWithData, 3000);
                } else {
                    this.fire('iron-signal',{name: 'backtest-completed', data:{id: this.backtest._id}});
                } 

            },

            initializeCumRetGraphs: function (data) {

                if (data["variables"]) {
                    this.updateGraphProperties(true);
                    // Initialize the track variable variable graphs
                    this.initializeCumRetGraphData(data);
                    this.initializeTrackVarData(data);
                } else {
                    this.updateGraphProperties(false);
                    this.initializeCumRetGraphData(data);
                }

                this.graphsInitialized = true;
            },

            initializeTrackVarData: function (data) {
                var colors = ["#FFAA1D", "#007849", "#6e2667", "#fc4a1a"];

                //Update chart height for accomodatin tracking variables
                var dataset = new Array(this.realtimeXLabels.length);

                for (var i = 0; i < this.realtimeXLabels.length; i++) {
                    dataset[i] = [this.realtimeXLabels[i], NaN];
                }

                this.set('trackVarKeysArray', Object.keys(data["variables"]).sort());

                for (var i = 0; i < this.trackVarKeysArray.length; i++) {
                    this.$$('aq-cumret-linechart').addSeries(this.trackVarKeysArray[i], [],
                            {
                                lineWidth: 1,
                                yAxis: 1,
                                color: colors[i],
                                tooltip: {
                                    valueDecimals: 2,
                                },
                                pointStart: this.realtimeXLabels[0],
                            }, false);
                }

                this.hasTrackVarData = true;
            },

            initializeCumRetGraphData: function (data) {

                var benchmark = this.backtest.settings.benchmark ? this.backtest.settings.benchmark : "NIFTY_50";

                var legends = ["Strategy", benchmark];

                //var legends = ["Strategy", "Benchmark"];
                var colors = ["#0375b4", "#cc6666", "#FFAA1D", "#007849", "#6e2667", "#fc4a1a"];

                var dataset_str = new Array(this.realtimeXLabels.length);
                var dataset_ben = new Array(this.realtimeXLabels.length);

                for (var i = 0; i < this.realtimeXLabels.length; i++) {
               		dataset_str[i] = [this.realtimeXLabels[i], 0];
               		dataset_ben[i] = [this.realtimeXLabels[i], 0];
                }

                this.$$('aq-cumret-linechart').addSeries("Strategy", [], {
                                color: colors[0],
                                lineWidth: 2,
                                compare: 'percent',
                                tooltip: {
                                    pointFormatter: function () {
                                        var series = this.series;
                                        var color = series.color;
                                        var y = (this.y - 100).toFixed(2);
                                        var change = this.change.toFixed(2);

                                        return '<span style="color:' + color + '">\u25CF ' + series.name + '</span>: <b>' + change + '%</b><br/>';
                                    },

                                },
                                pointStart: this.realtimeXLabels[0],

                            }, false);

                this.$$('aq-cumret-linechart').addSeries(benchmark, [],
                        {
                            color: colors[1],
                            lineWidth: 1,
                            compare: 'percent',
                            tooltip: {
                                pointFormatter: function () {
                                    var series = this.series;
                                    var color = series.color;
                                    var y = (this.y - 100.0).toFixed(2);
                                    var change = this.change.toFixed(2);

                                    return '<span style="color:' + color + '">\u25CF ' + series.name + '</span>: <b>' + change + '%</b><br/>';

                                },

                            },
                            pointStart: this.realtimeXLabels[0],

                        }, false
                );
            },

            updateGraphProperties: function (trackVarFlag) {
                if (trackVarFlag) {
                    this.$$('aq-cumret-linechart').updatePropertiesForTrackVars();
                } else {
                    this.$$('aq-cumret-linechart').updateProperties();
                }
            },

            createCumRetLineChart: function () {
                var hasValidData = this.backtest ? (this.backtest.output ? (this.backtest.output.totalreturn ? true : false) : false) : false;
                
                if(hasValidData) {
                    var benchmark = this.backtest.settings.benchmark ? this.backtest.settings.benchmark : "NIFTY_50"; 
                    this.$$('aq-cumret-linechart').createCumRetLineChart(this.backtest.output.totalreturn, benchmark);
                }
            },

            createMonthlyReturnBarChart: function () {
                
                var hasValidData = this.backtest ? (this.backtest.output ? (this.backtest.output.performance ? (this.backtest.output.performance.detail ? (this.backtest.output.performance.detail.returns ? (this.backtest.output.performance.detail.returns.monthly ? true : false) : false) : false ): false):false) : false;

                if (!this.active && hasValidData) {
                    this.$$('aq-aggregatedreturns-barchart').updateProperties();
                    var benchmark = this.backtest.settings.benchmark ? this.backtest.settings.benchmark : "NIFTY_50"; 
                    this.$$('aq-aggregatedreturns-barchart').createMonthlyReturnBarChart(this.backtest.output.performance.detail.returns.monthly, benchmark);
                }
            },

            createTrackVarLineChart: function () {
                var hasValidData = this.backtest ? (this.backtest.output ? (this.backtest.output ? (this.backtest.output.performance ? ( this.backtest.output.performance.detail ? ( this.backtest.output.performance.detail.variables ? true : false) : false): false) : false) :false ): false;

                if(hasValidData) { 
                    this.$$('aq-cumret-linechart').createTrackVarLineChart(this.backtest.output.performance.detail.variables);
                }
            },

            getYAxisLabel: function (number) {
                var x = "Net Value"
                if (number < Math.pow(10, 5)) {
                    return x;
                } else if (number > Math.pow(10, 5) && number < Math.pow(10, 7)) {

                    return x + " (Lacs)";
                } else {
                    return x + " (Crores)";
                }

                return label(max);
            },

            onResize: function () {
                if (this.$$('aq-cumret-linechart')) {
                    this.$$('aq-cumret-linechart').resizeChart();
                }

                if (this.$$('aq-aggregatedreturns-barchart')) {
                    this.$$('aq-aggregatedreturns-barchart').resizeChart();
                }
            },

            /*plotGraphs: function() {
            	this.async(this.createCumRetLineChart, 200);
                this.async(this.createTrackVarLineChart, 200);
                this.async(this.createMonthlyReturnBarChart, 500);
            }*/

		});
	</script>
</dom-module>