<link rel='import' href='../../../../bower_components/paper-tabs/paper-tabs.html'>
<link rel='import' href='../../../../bower_components/paper-tabs/paper-tab.html'>
<link rel='import' href='../../../../bower_components/paper-card/paper-card.html'>
<link rel='import' href='../../../../bower_components/iron-signals/iron-signals.html'>
<link rel='import' href='../../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../../bower_components/iron-pages/iron-pages.html'>
<link rel='import' href='../../../../bower_components/paper-progress/paper-progress.html'>
<link rel="import" href="../../../../bower_components/juicy-ace-editor/juicy-ace-editor.html">
<link rel="import" href="../../../../bower_components/paper-spinner/paper-spinner.html">

<link rel='import' href='../aq-check-authentication.html'>

<link rel='import' href='./aq-backtest-metric-item.html'>
<link rel='import' href='./aq-backtest-header-item.html'>
<link rel='import' href='./aq-backtest-metric-item-list.html'>
<link rel='import' href='./aq-backtest-performance-detail-item.html'>

<link rel='import' href='../aq-settings-display.html'>
<link rel="import" href="../aq-log-item-new.html">
<link rel="import" href="../aq-transaction-table.html">
<link rel="import" href="../aq-portfolio-table.html">

<dom-module id='aq-backtest-detail-item'>
    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>
        paper-tabs {
            --paper-tabs-selection-bar-color: #cc6666;

            --paper-tabs: {
                margin-bottom: 10px;
            };
        }

        .middle-container {
            margin-top: 10px;
            --background-color: #f5f5f5;
            --padding-left: 20px;
        }

        #container {
            padding: 15px;
            background-color: white;
            height: 100%;
        }

        paper-card {
        	--paper-card:{
	        	color: #3c3c3c;
	            margin: 0 auto;
	            height: 100%;
	            --background-color: var(--aq-backtest-detail-item-background-color, #fff);
            }
        }

        .card-content {
        	color: #3c3c3c;
            --padding-left: 0px;
            --padding-right: 0px;
            --padding-top: 0px;

        }

        #tab-container {
            border-bottom: 1px solid #e1e1e1;
            height: 47px;
            background-color: #fafafa;
        }

        .backtest-detail {
            margin-top: 15px;
            border: 1px solid #e1e1e1;
        }

        #performance-container {
            padding-top: 15px;
        }
        
        #code-container {
            min-height: 200px;
            margin-top: 20px;
        }

        #log-container {
            height: 400px;
            overflow-y: scroll;
            margin-top: 20px;
            background-color: #323232;
        }

        #transaction-container {
            height: 400px;
            overflow-y: scroll;
            color: #3c3c3c;
            margin: 20px 20px 20px 20px;
        }

        #portfolio-container {
            height: 400px;
            overflow-y: scroll;
            color: #3c3c3c;
            margin: 20px 20px 20px 20px;
        }

        paper-progress {
            --paper-progress-height: 2px;
            --paper-progress-active-color: #0375b4;
            opacity: 0.6;
            width: 100%;
            --paper-progress-indeterminate-cycle-duration: 5s;
        }

    </style>

    <template>
        <aq-check-authentication id='authItem'></aq-check-authentication>

        <iron-signals on-iron-signal-partially-completed-backtest='updatePct'>
        </iron-signals>

        <template is='dom-if' if='[[!loading]]'>
            
            <template is='dom-if' if='{{displayProgressBar(active, showProgress)}}'>
                <template is='dom-if' if='[[isCompletionPositive(pctCompleted)]]'>
                    <paper-progress value='[[pctCompleted]]'>
                    </paper-progress>
                </template>

                <template is='dom-if' if='[[isBacktestWarmingUp(pctCompleted)]]'>
                    <paper-progress indeterminate class="self-center">
                    </paper-progress>
                </template>
            </template>

            <div id='container' class="layout vertical flex">
            	<template is='dom-if' if='[[backtestHeader]]'>
            		<aq-backtest-header-item
                        heading="[[heading]]"
            			forced-semi-wide = "[[forcedSemiWide]]"
            			header-items="{{backtestHeader}}"
                        full-detail="[[fullDetail]]"
                        can-share="[[isSharingAllowed(canShare, active)]]"
                        can-clone="[[isCloningAllowed(canClone, active)]]">
            		</aq-backtest-header-item>
        		
                    <div class="bar"></div>
                </template>

                <template is='dom-if' if='{{metrics}}'>
                    <div class="middle-container flex">
                		<aq-backtest-metric-item-list 
                            heading="Backtest Metrics"
                			forced-semi-wide = "[[forcedSemiWide]]"
                			metric-items = "{{metrics}}"
                			active="{{active}}">
            			</aq-backtest-metric-item-list>
                    </div> 
            	</template>

                <div class="backtest-detail">
                    
                    <template is='dom-if' if='[[!active]]'>
                        <div class="layout" id="tab-container">
        	                <paper-tabs noink selected="{{detailType}}" fallback-selection="0">
        	                    <paper-tab>Performance</paper-tab>
                                
                                <paper-tab>Code</paper-tab>

                                <paper-tab>Settings</paper-tab>

                                <template is='dom-if' if=[[!community]]>
                                    <template is='dom-if' if='[[hasBacktestLogs(backtest)]]'>
                                        <paper-tab>Logs</paper-tab>
                                    </template>

                                    <template is='dom-if' if='[[hasBacktestPositions(backtest)]]'>
                                        <paper-tab>Portfolio</paper-tab>
                                    </template>
                                    
                                    <template is='dom-if' if='[[hasBacktestTransactions(backtest)]]'>
                                        <paper-tab>Transactions</paper-tab>
                                    </template>

                                </template>
                            </paper-tabs>
                        </div>
                    </template>
                    
                    <iron-pages selected="{{detailType}}">
                        <div id="performance-container">
                            <aq-backtest-performance-detail-item
                                active="[[active]]"
                                error="[[internalError]]"
                                backtest="[[backtest]]">
                            </aq-backtest-performance-detail-item>
                        </div>
                        
                        <div id="code-container">
                            <juicy-ace-editor readonly style="height:100%; min-height: 400px;" theme="ace/theme/xcode" mode="ace/mode/julia" fontsize="14px" id="codeEditor" tabsize="4">[[backtest.code]]
                            </juicy-ace-editor>
                        </div>

                        <div id='settings-container'>
                            <template is='dom-if' if='[[backtestSettings]]'>
                                <aq-settings-display settings="[[backtestSettings]]">
                                </aq-settings-display>
                            </template>
                        </div>

                        <div id="log-container">

                            <template is='dom-if' if='[[!isValid(backtestLogs)]]'>
                               <div class="layout vertical">
                                    <div class="flex"></div>
                                    <paper-spinner 
                                        alt="Loading logs..." 
                                        active class="self-center">
                                    </paper-spinner>
                                    <div class="flex"></div>
                                </div>
                            </template>

                            <template is='dom-if' if='[[backtestLogs]]'>
                                <template is='dom-repeat' items="[[backtestLogs]]" initial-count=100>
                                    <aq-log-item-new 
                                        actual-datetime="[[item.dt]]"
                                        datetime="[[item.datetime]]"
                                        message="[[item.message]]"
                                        message-type="[[item.messagetype]]">
                                    </aq-log-item-new>
                                </template>
                            </template>
                        </div>    
                        
                        <div id="portfolio-container">

                        <template is='dom-if' if='[[!isValid(backtestPositions)]]'>
                            <div class="layout vertical">
                                <div class="flex"></div>
                                <paper-spinner 
                                    alt="Loading Portfolio..." 
                                    active class="self-center">
                                </paper-spinner>
                                <div class="flex"></div>
                            </div>
                            </template>

                            <template is='dom-if' if='[[backtestPositions]]'>
                                <aq-portfolio-table 
                                    positions="[[backtestPositions]]">
                                </aq-portfolio-table>
                            </template>
                        </div>

                        <div id="transaction-container">
                            
                            <template is='dom-if' if='[[!isValid(backtestTransactions)]]'>
                                <div class="layout vertical">
                                    <div class="flex"></div>
                                    <paper-spinner 
                                        alt="Loading Transactions..." 
                                        active class="self-center">
                                    </paper-spinner>
                                    <div class="flex"></div>
                                </div>
                            </template>

                             <template is='dom-if' if='[[backtestTransactions]]'>
                                <aq-transaction-table 
                                    transactions="[[backtestTransactions]]"
                                    no-orders>
                                </aq-transaction-table>
                            </template>
                        </div>

                    </iron-pages>
                </div>
            </div>
        </template>
      
        <iron-signals on-iron-signal-point-data='onBacktestSinglePointData'></iron-signals>

        <iron-signals on-iron-signal-backtest-completed='onBacktestCompletion'></iron-signals>

        <iron-signals on-iron-signal-backtest-exception='onBacktestException'></iron-signals>

        <iron-signals on-iron-signal-bulk-data='onBacktestBulkData'></iron-signals>

        <iron-ajax
            url=""
            method='GET'
            id='getBacktestQuery'
            handle-as="json"
            on-response="onGetBacktestSuccess"
            on-error="onGetBacktestError"
            headers='{{header}}'
            debounce-duration="300"
            loading="{{loading}}">
        </iron-ajax>

        <iron-ajax
            url=""
            method='GET'
            id='getBacktestSpecialQuery'
            handle-as="json"
            on-response="onGetBacktestSpecialSuccess"
            on-error="onGetBacktestError"
            headers='{{header}}'
            debounce-duration="300">
        </iron-ajax>

    </template>
    <script>
        Polymer({
            is: 'aq-backtest-detail-item',

            properties: {

                hide: {
                    type: Boolean,
                    value: true,
                },

                active: {
                    type: Boolean,
                    value: false,
                    observer: '_activeChanged',
                },

                metrics: Object,

                detailType:{
                    type: Number,
                    value:0,
                    observer:'_detailTypeChanged',
                },

                backtestId: {
                    type: String,
                    observer: '_backtestIdChanged',
                },

                backtest: Object,

                header: Object,

                APIEndPoint: String,

                loading: {
                    type:Boolean,
                    notify: true,
                },

                forcedSemiWide: {
                	type: Boolean,
                	value: false,
                },

                canShare: {
                    type: Boolean,
                    value: false,
                },

                canClone: {
                    type: Boolean,
                    value: false,
                },

                community: {
                    type: Boolean,
                    value: false,
                },

                heading: String,

                backtestLogs: {
                    type: Array,
                    value: [],  
                },

                backtestTransactions: {
                    type: Array,
                    value:[],
                },

                backtestPositions: {
                    type: Array,
                    value:[]
                },

                pctCompleted: {
                    type: Number,
                    value: 0,
                },

                showProgress:{
                    type: Boolean,
                    value: false
                },

                showFull: {
                    type:Boolean,
                    value: false,
                },

                backtestSettings: Array,
            },

            listeners: {
                'share-clicked':'goToShare',
            },

            displayProgressBar: function(active, showProgress) {
                return active && showProgress;
            },

            isSharingAllowed: function(canShare, active) {
                return !active && canShare;
            },

            isCloningAllowed: function(canClone, active) {
                return !active && canClone;
            },            

            goToShare: function(e) {
                this.fire('rt-changed' ,{route:'/research/community/create?backtestId='+ this.backtestId});
            },

            //WHICH ONE TO USE atteched ot this observer??/
            //Observer works
            _backtestIdChanged: function() {
                if(this.backtestId) {
                    this.requestStaticData();
                }
            },
            
            resize: function() {
                this.$$('aq-backtest-performance-detail-item').onResize();
            },

            _activeChanged: function() {
                if(!this.active && this.backtestId != "") {
                    this.fire('unsubscribe-data',{backtestId:this.backtestId});
                } else {
                    this.async(function(){this.fire('subscribe-data', {backtestId:this.backtestId});}, 100);
                }
            },

            computeGetBacktestUrl: function (backtestId, select) {
                var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                
                var baseUrl = APIEndPoint + '/backtest/' + backtestId;    
                return select!='' ? baseUrl+'?select='+select : baseUrl;
            },

            reset: function () {
                this.backtestHeader = [];
                this.resetMetrics();
                
                if(this.$$('aq-backtest-performance-detail-item')) {
                    this.$$('aq-backtest-performance-detail-item').reset(); 
                } else {
                    this.async(function() 
                        {
                            if(this.$$('aq-backtest-performance-detail-item')) {
                                    this.$$('aq-backtest-performance-detail-item').reset();
                                }
                        }, 200); 
                }
            },

            resetHeader: function() {
                this.backtestHeader = [];
                this.backtestHeader = 
                [
                    {   
                        label: "Strategy Name",
                        metric: "-"
                    }, 
                    {   
                        label: "Created At",
                        metric: "-"
                    }, 

                    {
                        label: "Date Range",
                        metric: "-"
                    },

                    {
                        label: "Status",
                        metric: "-"
                    }
                ]
            },

            resetMetrics: function () {
                this.metrics = [{
                    "metricName": "Total Return",
                    "metricValue": "-",
                    "metricDescription": "Total Return"
                },
                {
                    "metricName": "Annual Return",
                    "metricValue": "-",
                    "metricDescription": "Annual Return",
                },
                {
                    "metricName": "Volatility",
                    "metricValue": "-",
                    "metricDescription": "Volatility"
                },
                {
                    "metricName": "Sharpe Ratio",
                    "metricValue": "-",
                    "metricDescription": "Sharpe Ratio"
                },
                {
                    "metricName": "Information Ratio",
                    "metricValue": "-",
                    "metricDescription": "Information Ratio"
                },
                {
                    "metricName": "Sortino Ratio",
                    "metricValue": "-",
                    "metricDescription": "Sortino Ratio"
                },
                {
                    "metricName": "Avg. Drawdown",
                    "metricValue": "-",
                    "metricDescription": "Avg. Drawdown"
                },
                {
                    "metricName": "Max Drawdown",
                    "metricValue": "-",
                    "metricDescription": "Max Drawdown"
                },
                {
                    "metricName": "Calmar Ratio",
                    "metricValue": "-",
                    "metricDescription": "Calmar Ratio"
                },
                {
                    "metricName": "Beta",
                    "metricValue": "-",
                    "metricDescription": "Beta"
                },
                {
                    "metricName": "Stability",
                    "metricValue": "-",
                    "metricDescription": "Stability"
                },
                {
                    "metricName": "Avg. Concentration",
                    "metricValue": "-",
                    "metricDescription": "Avg. Concentration"
                },];
            },

            onBacktestSinglePointData: function (e) {
                
                //process data only when element is active
                if (!this.active) {
                    return
                }

                data = e.detail;

                if(data.backtestId != this.backtestId) {
                    //NOT an active backtest 
                    //Reject the data 
                    //AND send unsubsription request. 
                    this.fire('unsubscribe-data',{backtestId:data.backtestId});

                    return;
                }

                if ((data.outputtype == "performance" || data.outputtype == "labels") && this.active) {
                    
                    if (data.outputtype == "performance") {
                        this.addMetricData(data);
                    }

                    //Send flag whether to send signals after data update
                    
                    var element = this.$$('aq-backtest-performance-detail-item');
                    if(element) {
                        element.addRealTimeData(data);
                    }

                } else if (data.outputtype == "log" && data.messagetype == "ERROR") {
                        
                    //Update backtest header
                    //*****HARDCODED******
                   
                    var btHeader = this.deepCopy(this.backtestHeader);
                    btHeader[3]["metric"] = "Exception";
                    this.backtestHeader = [];
                    this.backtestHeader = btHeader;
                    //rea.$$('aq-backtest-header-item').updateHeaderItems(btHeader);

                    this.async(
                        function() {
                            this.fire('iron-signal', {name:'backtest-exception', data:{type: 2, id: this.backtestId}});
                            

                        }, 1000);

                } 
            },

            onBacktestException: function(e) {
                var backtestHeader = this.deepCopy(this.backtestHeader);
                backtestHeader[3].metric = "Exception";
                //var backtestHeader = this.backethis.deepCopy(this.backtestHeader);
                this.backtestHeader = [];
                this.backtestHeader = backtestHeader;              
            },

            onBacktestCompletion: function(e) {
                var backtestHeader = this.deepCopy(this.backtestHeader);
                backtestHeader[3].metric = "Complete";
                this.backtestHeader = [];
                this.backtestHeader = backtestHeader;

                if(this.showFull) {
                    this.active = false;
                    this.fullDetail = true;
                    //this.reset();
                    //this.requestStaticData();
                }
            },

            requestStaticData: function () {
                if (this.backtestId && this.$.authItem.checkHasToken()) {
                    this.header = this.$.authItem.getHeader();

                    this.$.getBacktestQuery.url = this.computeGetBacktestUrl(this.backtestId, '');
                    this.$.getBacktestQuery.generateRequest();
                }
            },

            onGetBacktestSuccess: function (e) {                
                var response = e.detail.response;
                
                if(!this.community) {

                    this.requestInFlight = true;

                    this.async(function() {
                        this.requestSpecializedData('logs');
                    }, 100);

                    this.async(function() {
                        this.requestSpecializedData('transactionHistory');
                    }, 100);

                    this.async(function() {
                        this.requestSpecializedData('portfolioHistory');
                    }, 100);
                }


                //var refresh = !this.backtest ? true : ((response._id != this.backtest._id) ? true : false);
                this.set('backtest', e.detail.response); 

                /*this.populateTab();

                if(!refresh) {
                    return;
                }*/

                //first reset Metrics 
                this.reset();
                this.backtestHeader = 
                [
                    {   
                        label: "Strategy Name",
                        metric: this.backtest.strategy_name, 
                    }, 
                    {   
                        label: "Created At",
                        metric: date.formatDateTime(this.backtest.createdAt), 
                    }, 

                    {
                        label: "Date Range",
                        metric: date.formatDate(this.backtest.settings.startDate) + " - " + date.formatDate(this.backtest.settings.endDate),
                    },

                    {
                        label: "Status",
                        metric: this.backtest.status.charAt(0).toUpperCase() + this.backtest.status.slice(1),
                    }
                ]
                if (this.backtest.status == "exception") {
                        this.fire('iron-signal', {name:'backtest-exception', data:{type: 1, id: this.backtestId}});
                    return ;
                }        
        
                if (this.backtest.status == "active") {
                    this.active = true;

                    return;
                }

                var metrics = this.backtest.output ? this.backtest.output.performance ?  this.backtest.output.performance.detail ? this.backtest.output.performance.detail.analytics ? this.backtest.output.performance.detail.analytics.rolling : null : null : null: null;
                
                if (metrics) {
                    this.addMetricData(metrics);
                }

                /*if (this.backtest.output.variables) {
                    // this variable is used because array changes are somehow not relaying back the template
                    this.hasTrackVarData = true;
                }

                this.$$('aq-backtest-performance-detail-item'). updateGraphProperties(this.hasTrackVarData);*/
                this.async(function() {
                    this.$$('aq-backtest-performance-detail-item').plotGraphs();
                }, 500);
            },

            onGetBacktestError: function(e) {
                this.async(function(){this.loading = true; this.fire('ajax-error', {response:e.detail.request});}, 200);
            },

            requestSpecializedData: function(select) {
                if (this.backtestId && this.$.authItem.checkHasToken()) {
                    this.header = this.$.authItem.getHeader();

                    this.$.getBacktestSpecialQuery.url = this.computeGetBacktestUrl(this.backtestId, select);
                    this.$.getBacktestSpecialQuery.generateRequest();
                }
            },

            onGetBacktestSpecialSuccess: function(e) {
                var specialBacktestData =  e.detail.response;
                if(this.backtest) {
                    if(this.backtest._id == specialBacktestData._id) {
                        var specialOutput = specialBacktestData.output;
                        if(specialOutput) {
                            Object.keys(specialOutput).forEach(key => {
                                this.backtest["output"][key] = specialOutput[key];
                            });
                        }

                        this.populateTab();
                    }
                } 
            },

            computeLogs:function() {
                var backtest = this.backtest;

                if(this.hasBacktestLogValues(backtest)) {
                    if(!this.backtestLogs || this.backtestLogs.length == 0) {
                        //NEW data format
                        var logs = backtest ? (backtest.output ? (backtest.output.logs ? (backtest.output.logs.values ? backtest.output.logs.values : null)  : null) : null) : null;

                        if(logs) {
                            //var logs = logs.values;
                            var logArray = [];
                            
                            Object.keys(logs).sort().forEach(date => {
                                var logsForDate = logs[date];

                                Object.keys(logsForDate).sort().forEach(datetime => {
                                    var logs = logsForDate[datetime];
                                    logs.forEach(log => {
                                        logArray.push(JSON.parse(log));
                                    });        
                                });

                            });

                            this.backtestLogs = logArray;
                        } 
                    } 
                } else {
                    if(!this.requestInFlight) {
                        this.requestSpecializedData('logs');
                    }
                }

            },

            computeTransactions:function() {
                var backtest = this.backtest;

                if(this.hasBacktestTransactionValues(backtest)){ 
                    if(!this.backtestTransactions || this.backtestTransactions.length == 0) {
                        var transactionHistory = backtest ? (backtest.output ? (backtest.output.transactionHistory ? backtest.output.transactionHistory : null) : null) : null;

                        if(transactionHistory) {

                            var transactionArray = [];
                            transactionHistory.forEach(fragment => {
                                transactionHistoryFragment = fragment.values;

                                transactionHistoryFragment.forEach(obj => {
                                    
                                    var transactionsEachDay = obj.transactions;
                                    //array of array
                                    transactionsEachDay.forEach(transaction => {
                                        transactionArray.push(transaction);    
                                    });
                                    
                                });

                            });

                            this.backtestTransactions = transactionArray;
                        } 
                    }
                } else {
                    if(!this.requestInFlight) {
                        this.requestSpecializedData('transactionHistory');
                    }
                }
            },

            computePortfolio:function() {
                var backtest = this.backtest;

                if(this.hasBacktestPositionValues(backtest)) {   

                    if(!this.backtestPositions || this.backtestPositions.length == 0) {
                        var portfolioHistory = backtest ? (backtest.output ? (backtest.output.portfolioHistory ? backtest.output.portfolioHistory: null) : null) : null;

                        //Portfolio History is multiple objects with 100 size array each
                        if(portfolioHistory) {

                            //var truePortfolioHistory = [];
                            var positionsArray = []

                            portfolioHistory.forEach(fragment => {
                                var framgmentValues = fragment.values; 
                            
                                framgmentValues.forEach(obj => {
                                    var date = obj.date;
                                    
                                    //WEIRD but that's how the data is stored
                                    var portfolioEachDay = obj.portfolio.portfolio;

                                    if(portfolioEachDay.positions) {
                                    //array of array
                                        Object.keys(portfolioEachDay.positions).forEach(pkey => {
                                            var position = portfolioEachDay.positions[pkey];
                                            
                                            if(Math.abs(position.quantity) > 0) {
                                                position.date = date;
                                                positionsArray.push(position);    
                                            }
                                        });
                                    }
                                    
                                });
                            });

                            this.backtestPositions = positionsArray;
                        } 
                    }
                } else {
                    if(!this.requestInFlight) {
                        this.requestSpecializedData('portfolioHistory');
                    }
                }
            },

            computeSettings: function() {
                
                if(!this.backtestSettings || this.backtestSettings.length == 0) {
                    var basicSettings = [];
                    var brokerageSettings = [];
                    var otherSettings = [];
                    var settings = [];

                    var allSettings = this.backtest.settings;
                    var advancedSettings = JSON.parse(this.backtest.settings.advanced);

                    basicSettings.push({label:"Initial Cash", value: date.formatMoneyValue(allSettings["initialCash"].toFixed(0)), value2:""});
                    //basicSettings.push({label:"Initial Cash", value:allSettings["initialCash"], value2:""});

                    /*var dates = new Date(allSettings["startDate"]).toLocaleDateString('en-IN')+"  to  "+ new Date(allSettings["endDate"]).toLocaleDateString('en-IN');

                    basicSettings.push({label:"Dates", value:dates, value2:""});*/

                    var startDate =  new Date(allSettings["startDate"]).toLocaleDateString('en-IN',{year: 'numeric', month: 'long', day: 'numeric' });

                    var endDate = new Date(allSettings["endDate"]).toLocaleDateString('en-IN', {year: 'numeric', month: 'long', day: 'numeric' });
                    
                    basicSettings.push({label:"Start Date", value:"", value2:startDate});

                    basicSettings.push({label:"End Date", value:"", value2:endDate});

                    basicSettings.push({label:"Benchmark", value:"", value2:allSettings.benchmark ? allSettings.benchmark=="" ? "NIFTY_50" : allSettings.benchmark : "NIFTY_50"});

                    basicSettings.push({label:"Universe", value:"", 
                            value2:allSettings.universeIndex ? allSettings.universeIndex=="" ? "Nifty 50" : allSettings.universeIndex : "Nifty 50"});

                    if(advancedSettings.slippage) {
                        brokerageSettings.push({label:"Slippage", value:advancedSettings.slippage.value.toString()+'%', value2:advancedSettings.slippage.model});
                    }

                    if(advancedSettings.commission) {
                        brokerageSettings.push({label:"Commission", value:advancedSettings.commission.value.toString()+'%', value2:advancedSettings.commission.model});
                    }

                    if(advancedSettings.cancelPolicy) {
                        brokerageSettings.push({label:"Cancel Policy", value2:advancedSettings.cancelPolicy, value:""});
                    }

                    if(advancedSettings.executionPolicy) {
                        otherSettings.push({label: "Execution Policy", value2: advancedSettings.executionPolicy, value:""});
                    }

                    if(advancedSettings.rebalance) {
                        otherSettings.push({label: "Rebalance", value2: advancedSettings.rebalance, value:""});
                    }

                    if(advancedSettings.resolution) {
                        otherSettings.push({label: "Resolution", value2: advancedSettings.resolution, value:""});
                    }

                    if(advancedSettings.investmentPlan) {
                        otherSettings.push({label: "Investment Plan", value2: advancedSettings.investmentPlan, value:""});
                    }
                    
                    settings = settings.concat(basicSettings).concat(brokerageSettings).concat(otherSettings);
                      
                    if(settings.length > 0){
                        this.backtestSettings = settings;
                    }
                }            
            },

            addMetricData: function (data) {
                this.metrics = [{
                    "metricName": "Total Return",
                    "metricValue": data.totalreturn.toString() + '%',
                    "metricDescription": "Total Return"
                },
                    {
                        "metricName": "Annual Return",
                        "metricValue": data.annualreturn.toString() + '%',
                        "metricDescription": "Annual Return",
                    },
                    {
                        "metricName": "Volatility",
                        "metricValue": data.annualstandarddeviation.toString() + '%',
                        "metricDescription": "Volatility"
                    },
                    {
                        "metricName": "Sharpe Ratio",
                        "metricValue": data.sharperatio,
                        "metricDescription": "Sharpe Ratio"
                    },
                    {
                        "metricName": "Information Ratio",
                        "metricValue": data.informationratio,
                        "metricDescription": "Information Ratio"
                    },
                    //{"metricName":"Sortino Ratio", "metricValue":"2.5", "metricDescription":"Sortino Ratio"},
                    //{"metricName":"Avg. Drawdown", "metricValue":data.drawdown.toFixed(2).toString()+'%', "metricDescription":"Avg. Drawdown"},
                    {
                        "metricName": "Max Drawdown",
                        "metricValue": data.maxdrawdown.toString() + '%',
                        "metricDescription": "Max Drawdown"
                    },
                    {
                        "metricName": "Calmar Ratio",
                        "metricValue": data.calmarratio,
                        "metricDescription": "Calmar Ratio"
                    },
                    {"metricName": "Beta", "metricValue": data.beta, "metricDescription": "Beta"},
                    {
                        "metricName": "Stability",
                        "metricValue": (data.stability) ? data.stability : "-",
                        "metricDescription": "Stability"
                    },
                    {"metricName": "Alpha", "metricValue": data.alpha.toString() + '%', "metricDescription": "Alpha"},
                    //{"metricName":"Avg. Concentration", "metricValue":"0.43", "metricDescription":"Avg. Concentration"},
                ];
            },

            deepCopy: function(array) {
				return JSON.parse(JSON.stringify(array));
			},

            _detailTypeChanged: function() {
                //return;
                if(this.detailType == 4) {
                    this.computePortfolio();
                }

                if(this.detailType == 5 ) {
                    this.computeTransactions();
                }

                if(this.detailType == 3) {
                    this.computeLogs();
                }

                if(this.detailType == 2) {
                    this.computeSettings();
                }

            },

            hasBacktestPositions: function(backtest){
                return backtest ? (backtest.output ? (backtest.output.portfolioHistory ? (backtest.output.portfolioHistory.length > 0 ? true: false) : false) : false) : false;
            },

            hasBacktestTransactions: function(backtest){
                return backtest ? (backtest.output ? (backtest.output.transactionHistory ? (backtest.output.transactionHistory.length > 0 ? true : false) : false) : false) :false;
            },

            hasBacktestLogs: function(backtest){
                return backtest ? (backtest.output ? (backtest.output.logs ? true : false)  : false) : false;
            },

            hasBacktestPositionValues: function(backtest) {
                var portfolioHistory =  this.hasBacktestPositions(backtest) ? backtest.output.portfolioHistory : null;

                if (portfolioHistory) {
                    if(portfolioHistory.length > 0) {
                        return portfolioHistory[0].values ? true : false;
                    }
                }

                return false;
            },

            hasBacktestTransactionValues: function(backtest) {
                var transactionHistory = this.hasBacktestTransactions(backtest) ? backtest.output.transactionHistory : null;

                if (transactionHistory) {
                    if(transactionHistory.length > 0) {
                        return transactionHistory[0].values ? true : false;
                    }
                }
                return false;
            },

            hasBacktestLogValues: function(backtest) {
                return this.hasBacktestLogs(backtest) ? (backtest.output.logs.values ? true : false): false;
            },

            populateTab: function() {
                if(this.backtest) {
                    if(this.detailType == 2) {
                        this.computeSettings();
                    } else if(this.detailType == 3) {
                        this.computeLogs();
                    } else if(this.detailType == 4) {
                        this.computePortfolio();
                    } else if(this.detailType == 5) {
                        this.computeTransactions();
                    } 
                }
            },

            isCompletionPositive: function (pctCompleted) {
                return pctCompleted > 0 && pctCompleted != 100;
            },

            isBacktestComplete: function (pctCompleted) {
                return pctCompleted == 100;
            },

            isBacktestWarmingUp: function (pctCompleted) {
                return pctCompleted == 0;
            },

            isBacktestRunException: function (pctCompleted) {
                return pctCompleted == -1;
            },

            isBacktestInternalException: function(pctCompleted) {
              return pctCompleted == -2;
            },

            updatePct: function(e) {
                var e_backtestId = e.detail.id;

                if(this.backtestId == e_backtestId) {
                   this.pctCompleted = e.detail.pctCompleted;
                }
            },

            isValid: function(array) {
                return array ? array.length >0 : false;
            }
        });
    </script>
    
</dom-module>

