<link rel='import' href='../../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../aq-portwidth-detector.html'>

<dom-module id='aq-forwardtest-header-item'>
	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>

	<style>
		.container {
			border-bottom: 1px solid #e5e5e5;
			padding-right: 20px;
			padding-bottom: 3px;
			--margin-bottom: 5px;
		}

		aq-qqq {
			--margin-top: 2px;
		}

		#ft-name {
			font-weight: 700;
			margin-bottom: 10px;
			
		}

		paper-button {
			--paper-button: {
				color: white;
				background-color: #cc6666;
				text-transform: none;
			};
		}
	</style>

	<template>
		<div class="container layout horizontal">
	        <div class="layout vertical">
	        	<div id="ft-name">[[heading]]</div>
	        	<div class="layout horizontal">
	        		<div>Test Started 3 hours ago</div>
	        		<div>Test Running</div> 
	        	</div>
        	</div>

        	<div class="flex"></div>

	        <paper-button noink>STOP LIVE TEST</paper-button>
    	</div>
	</template>

	<script>
		Polymer({
			is:'aq-forwardtest-header-item',
			properties :{
				heading: String,

				headerItems:{
					type:Array,
					value:[],
				},
			},

		});
	</script>
</dom-module>

<dom-module id='aq-backtest-header-item'>
	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>

	<style>
		.container {
			border-bottom: 1px solid #e5e5e5;
			padding-right: 20px;
			padding-bottom: 3px;
			--margin-bottom: 5px;
		}

		aq-qqq {
			--margin-top: 2px;

		}

		aq-qqq.exception {
			--aq-qqq-metric-color: #cc6666;
		}

		#bt-name {
			font-weight: 700;
			font-size: 22px;
		}

		paper-button {
            --paper-button: {
                font-size: 0.7em;
                background-color: teal;
                color: white;
                padding: 0 20px;
                border-radius: 0;
                height: 25px;
                border: 1px solid teal;
                font-weight: 700;
            };

			margin-right: 20px;
		}


		#name-button-container {
			margin-bottom: 20px;
		}
	</style>

	<template>
		<aq-portwidth-detector width='{{width}}'></aq-portwidth-detector>

        <div class="layout horizontal" id='name-button-container'>
        	<div id="bt-name" class="self-center">[[heading]]</div>
        	<div class="flex"></div>

        	<template is='dom-if' if='[[fullDetail]]'>
        		<paper-button noink raised class="self-center" on-tap='onFullDetail'>Full Detail</paper-button>
    		</template>
        	
        	<template is='dom-if' if='[[canShare]]'>
        		<paper-button noink raised class="self-center" on-tap='onShare'>Share Backtest</paper-button>
    		</template>

        	<template is='dom-if' if='[[canClone]]'>	
        		<paper-button noink raised class="self-center" on-tap='onClone'>Clone</paper-button>
    		</template>
    	</div>

		<div class="container layout horizontal justified">
	        <template is='dom-repeat' items="{{modifiedItems}}">
	        	<aq-qqq class$="[[isExceptionClass(item)]]" label="[[item.label]]" metric="[[item.metric]]" forced-semi-wide=[[forcedSemiWide]]></aq-qqq>
	        </template>
    	</div>
	</template>

	<script>
		Polymer({
			is:'aq-backtest-header-item',
			properties :{
				heading: String,

				headerItems:{
					type:Array,
					value:[],
				},

				modifiedItems: Array,

				canShare: {
					type: Boolean,
				},

				canClone: {
					type: Boolean,
				},

				width:{
					type:Object,
					//observer:'_widthChanged',
				},

				forcedSemiWide: {
					type:Boolean,
				},

				fullDetail: {
					type:Boolean,
					value:false,
				},

			},

			observers: [
				'_widthChanged(width, forcedSemiWide, headerItems)',
			],
		

			_widthChanged: function() {
				/*if(this.modifiedItems) {
					this.headerItems =  this.deepCopy(this.originalItems);
				} else {
					this.originalItems = this.deepCopy(this.headerItems);
				}*/

				this.modifiedItems = this.deepCopy(this.headerItems);

				if(this.modifiedItems) {
					var nItems = this.modifiedItems.length;

					var eIdx;
					if(nItems > 0) {
						if(this.width.narrow ) {
							eIdx = nItems >=3 ? 3 : nItems;
		            	} else if (this.width.narrowWide) {
		            		eIdx = nItems >=4 ? 4 : nItems;
		            	} else if (this.width.semiWide) {
		            		eIdx = nItems >= 5 ? 5 : nItems;
		            	} else if (this.width.wide) {
		            		eIdx = nItems >= 6 ? 6 : nItems;
		            	} else {
		            		eIdx = nItems;
		            	}

		            	var ct = nItems - eIdx;
		            	this.splice('modifiedItems', eIdx, ct);
	            	}
				}
			},

			deepCopy: function(array) {
				return JSON.parse(JSON.stringify(array));
			},

			onShare: function() {
				this.fire('share-clicked');
			},

			onClone: function() {
				this.fire('clone-backtest-clicked');
			},

			isExceptionClass: function(item) {
				return item.label == "Status" && item.metric == "Exception" ? "exception" : "";
			},

			onFullDetail: function() {
                this.fire('rt-reload');
            },
		});
	</script>
</dom-module>

<dom-module id='aq-qqq'>
	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>

	<style>
		#container {
			height: 100%;
			width:100%;
		}

	  	.text-label {
	        font-size: 12px;
	        font-weight: 300;
	        text-align: center;
	    }

	    .text-content {
	        font-weight: 400;
	        font-size: 14px;
	        --margin-left: 5px;
	        color: var(--aq-qqq-metric-color, black);
	    }


	</style>

	<template>
		<aq-portwidth-detector width="{{width}}"></aq-portwidth-detector>
		
		<template is='dom-if' if='[[!isSemiWide(width, forcedSemiWide)]]'>
			<div class="layout horizontal">
				<div class="text-label self-end">[[label]]:&nbsp</div>
				<div class="text-content self-center">[[metric]]</div>
	        </div>
        </template>

        <template is='dom-if' if='[[isSemiWide(width, forcedSemiWide)]]'>
			<div class="layout vertical">
				<div class="text-content">[[metric]]</div>
				<div class="text-label">[[label]]</div>
	        </div>
        </template>

	</template>

	<script>
		Polymer({
			is:'aq-qqq',
			properties: {
				label: String,
				metric: String, 
				
				width:{
					type: Object,
				},

				forcedSemiWide: {
					type: Boolean,
					value:false,
				},
			},

			isSemiWide: function(width, forcedSemiWide) {
				return width.semiWide || (forcedSemiWide && (!width.narrow || !width.narrowWide));
			},

		});
	</script>
</dom-module>