
<link rel='import' href='../../../../bower_components/highcharts-chart/highcharts-stock.html'>
<link rel='import' href='../../../../bower_components/iron-signals/iron-signals.html'>
<link rel='import' href='../../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<dom-module id='aq-cumret-linechart'>
 	<style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>
    	.tooltip {
    		--width: 70%;
    		padding-left: 20%;
    		padding-right: 20%;
    	}

    	#tooltip-Strategy {
    		color: #0375b4;
    		--width: 200px;
    	}

    	#tooltip-Bencmark {
    		color: #cc6666;
    		--width: 200px;
    	}

    	#tooltip-portfoliovalue {
    		color: yellow;
    		--width: 200px;
    	}

    </style>

	<template>
		<template is='dom-if' if='[[axisReady]]' id='cumRetLineChartTemplate'>
			
			<!--div class="tooltip layout horizontal justified">
				<div id='tooltip-Strategy'></div>
				<div id='tooltip-Benchmark'></div>
				<div id='tooltip-portfoliovalue'></div>
			</div-->

			<highcharts-stock 
	  			id="cumRetLineChart"
	  			type="line"  
	  			y-axis="{{yAxis}}"
	  			x-axis="{{xAxis}}"
	  			tooltip-options="[[tooltip]]"
	  			highchart-options="[[highchartOptions]]"
	  			legend-options="[[legend]]"
	  			plot-options="[[plotOptions]]">
	  		</highcharts-stock>
  		</template>
	</template>

	<script>

// Highcharts plugin for displaying value information in the legend
// Author: Torstein Hønsi
// License: MIT license
// Last revision: 2013-07-29
/*(function (H) {
    H.Series.prototype.point = {}; // The active point
    H.Chart.prototype.callbacks.push(function (chart) {
        $(chart.container).bind('mousemove', function () {
            var legendOptions = chart.legend.options,
                hoverPoints = chart.hoverPoints;
            
            if (!hoverPoints && chart.hoverPoint) {
                hoverPoints = [chart.hoverPoint];
            }
            if (hoverPoints) {
                H.each(hoverPoints, function (point) {
                    point.series.point = point;
                });
                H.each(chart.legend.allItems, function (item) {
                    item.legendItem.attr({
                        text: legendOptions.labelFormat ? 
                            H.format(legendOptions.labelFormat, item) :
                            legendOptions.labelFormatter.call(item)
                    });
                });
                //chart.legend.render();
            }
        });
    });
    // Hide the tooltip but allow the crosshair
    H.Tooltip.prototype.defaultFormatter = function () { return false; };
}(Highcharts));*/


		Polymer({
			is: 'aq-cumret-linechart',
			properties:{
				yAxis: {
					type:Array,
					value:[{
			                labels: {
			                    align: 'right',
			                    x: -3,
			                    formatter: function () {
			                        return (this.value > 0 ? ' + ' : '') + this.value + '%';
			                    }
			                },

			                plotLines: [{
			                    value: 0,
			                    width: 2,
			                    color: 'silver'
			                }],
			               
			                height: '100%',
			                lineWidth: 2
			            }],
				},

				//Previously Commented
				xAxis:{
					type: Object,
					value:{
        				type: 'datetime',
					},
				},

				tooltip:{
					type:Object,
					value:{
				            xDateFormat:'%e-%b %Y',
				            shared:true,
				            /*positioner: function () {
					            return { x: 10, y: 60 };
					        },*/
					        shadow: false,
				        },
				},

				highchartOptions:{
					type:Object,
					value:{
						navigator:{
							height:30,
							margin:10,
							//adaptToUpdatedData: false,
						},
						rangeSelector:{
							enabled: true,
							inputEnabled: false,
							//selected: 5,
						},
					},
				},

				legend:{
					type:Object,
					value: {
						enabled:true,
		          		align:"right",
		          		verticalAlign:'top',
		          		//y:15,
		          		itemStyle: {
		          			fontSize:13,
		          			fontWeight:"normal",
		          		},

	          			labelFormatter: function(){
		          			var name = this.name;
						 	var color = this.color;
	          				return '<span style="color:'+ color+'">' + name + '</span>';
          					
	          			},

		          	},
				},

				axisReady: {
					type: Boolean,
				},

				plotOptions:{
					type:Object,
					value:{
						series: {
							visible: true,
                			showInNavigator: true,
							cropThreshold:2500,
							turboThreshold:2500,
							/*point: {
			                    events: {
			                        mouseOver: function () {
			                        	//console.log(this.series.name);
			                        	var change = (this.series.point.change) ? this.series.point.change.toFixed(2) : 0.0;
			                        	var cType = "%";
			                        	if(!this.series.point.change) {
			                        		var change = (this.series.point.y) ? this.series.point.y.toFixed(2) : 0.0;
			                        		var cType =""
			                        	}

			                        	$('#tooltip-'+this.series.name).html(this.series.name+ ": "+ change+cType);
			                        	//this.currentValue[this.series.name] = this.series.point.change;
			                        	var text = '<div style="border:1px solid black; color: teal;"> Date: ' + Highcharts.dateFormat('%e %b %Y', this.x) + '</div>';
			                            var chart = this.series.chart;
			                            if (!chart.lbl) {
                                			chart.lbl = chart.renderer.label(text, 930, 0)
                                    			.attr({
                                    			padding: 15,
                                        		
                                    		})
                                    		.css({
                                        		color: 'black',
                                        		align: 'right',
                                    		})
                                    		.add();
                            			}
			                            chart.lbl
			                                .show()
			                                .attr({
			                                    text: text
			                                });
			                        }
								}
							}*/
						},
						
						line:{
							dataGrouping:{
								enabled:false,
							},
						},
				            
					}
				},
			},

			updateProperties: function() {
				this.set('yAxis', [{
		                labels: {
		                    align: 'right',
		                    x: -3,
		                    formatter: function () {
		                        return (this.value > 0 ? ' + ' : '') + this.value + '%';
		                    }
		                },

		                plotLines: [{
		                    value: 0,
		                    width: 2,
		                    color: 'silver'
		                }],
		               
		                height: '100%',
		                lineWidth: 2
		            }]);

				//this.set('xAxis',{type:'datetime', min: Math.min.apply(null, axisData), max: Math.max.apply(null, axisData), ordinal: false,});
			

			    /*this.set('legend', {
			          		enabled:true,
			          		align:"left",
			          		verticalAlign:'top',
			          		margin:0,
			          		itemStyle: {
			          			fontSize:13,
			          			fontWeight:"normal",
			          		},
			          		
			          		labelFormatter: function(){
			          			var name = this.name;
							 	var color = this.color;
							 	
		          				return '<span style="color:'+ color+'">' + name + '</span>';
	          					
		          			},

			          	});*/

			    this.axisReady = true;
			    this.$.cumRetLineChartTemplate.render();
				this.$$('#cumRetLineChart').removeSeries(0);
			},

			updatePropertiesForTrackVars: function() {
				this.set('yAxis', [{
			                labels: {
			                    align: 'right',
			                    x: -3,
			                    formatter: function () {
			                        return (this.value > 0 ? ' + ' : '') + this.value + '%';
			                    }
			                },
			               
			                height: '60%',
			                lineWidth: 2
			            }, {
			                labels: {
			                    align: 'right',
			                    x: -3
			                },
			                top: '65%',
			                height: '35%',
			                offset: 0,
			                lineWidth: 2
			            }]);

				/*if(axisData) {
					this.set('xAxis',
						{	type:'datetime',
							min: Math.min.apply(null, axisData),
							max: Math.max.apply(null, axisData),
							ceiling: Math.max.apply(null, axisData)
						}
					);
				}*/
				
				/*this.set('legend', {
			          		enabled:true,
			          		align:"left",
			          		verticalAlign:'top',
			          		y:-15,
			          		margin:10,
			          		itemStyle: {
			          			fontSize:13,
			          			fontWeight:"normal",
			          		},

			          		/*labelFormatter: function(){
			          			var name = this.name;
							 	var color = this.color;
						 	 	//var y = (this.point.y) ? this.point.y.toFixed(2) : 0.0;
		          				return '<span style="color:'+ color+'">' + name + '</span>';
	          					
		          			},*/

			          		/*labelFormatter: function() {

			          			var v = (this.yData && this.yData.length > 0) ? (this.yData[this.yData.length - 1]) : 0.0;

			          			v = isNaN(v) ? 100.0 : v;

			          			var name = this.name;
							 	var color = this.color;
							 	
							 	var y = (this.point.y) ? this.point.y.toFixed(2) : '';
							 	
							 	var change = (this.point.change) ? this.point.change.toFixed(2) : (v - 100.0).toFixed(2);

							 	if(name == "Strategy" || name=="Benchmark") {
							 		
		          					return '<span style="color:'+ color+'">' + name + ': </span> <b>' + change +'%</b><br/>';
		          				} else {
		          					return '<span style="color:'+ color+'">' + name + ': </span> <b>' + y +'</b><br/>';
		          				}
		          			},
			          	});*/

  			 	this.axisReady = true;
			    this.$.cumRetLineChartTemplate.render();
				this.$$('#cumRetLineChart').removeSeries(0);
			},

			addSeries: function(name, data, options) {
				this.$$('#cumRetLineChart').addSeries(name, data, options, false);
			},

			createCumRetLineChart: function(totalreturn, benchmark) {
				var types = ["algorithm","benchmark"];
				var colors = ["#0375b4","#cc6666","#FFAA1D","#007849","#6e2667","#fc4a1a"];
				var legend = ["Strategy", benchmark];
				var width = [2, 1];

				for (var index=0;index<types.length;index++) {
					
					var equityData = totalreturn[types[index]];
					var keys = Object.keys(equityData);
					var dataset = new Array(keys.length);
			
					keys.sort()
		  			.forEach(function(v, i) {
		  				dataset[i] = [Date.parse(v), equityData[v] + 100.0];
		   			}); 

					this.addSeries(legend[index], dataset,
							{		
							lineWidth: width[index], 
							color:colors[index], 
							compare:'percent', 
							tooltip:{
								valueDecimals: 2,
								shared: true,

							 	pointFormatter: function(){
								 	var series = this.series;
								 	var color = series.color;
								 	var y = (this.y - 100).toFixed(2);
								 	var change = this.change.toFixed(2);

								 	return '<span style="color:'+ color+'">\u25CF ' + series.name + '</span>: <b>' + change +'%</b><br/>';
							 	},				                
							},
						}, false
					);	
		  		}

		  		this.redrawChart();
	
			},

		 	createTrackVarLineChart: function(variablesData) {
			 	var colors = ["#6e2667","#fc4a1a","#0375b4","#FFAA1D","#007849"];

				if (variablesData) {

					var dates = Object.keys(variablesData).sort();
					var dataArrays = {};
					
					for(idx=0;idx<dates.length;idx++) {
						
						var datekey = dates[idx];
	      				var trackedVars = variablesData[datekey];
	      				var nTrackedVars = Object.keys(trackedVars).length;

	      				for (var key in trackedVars) {
	      					if (dataArrays[key]) {
	      						dataArrays[key].push([Date.parse(datekey), trackedVars[key]]);
	      					} else {
	      						dataArrays[key] = [[Date.parse(datekey), trackedVars[key]]];
	      					}
	      				}
      				}

      				var i=0;
      				for (var key in dataArrays) {
      					this.addSeries(key, dataArrays[key],
  							{	color:colors[i++], 
  								lineWidth:1, 
  								yAxis:1,
  								tooltip:{
  									valueDecimals: 2,
  									pointFormat:'<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y}</b><br/>',
  									
  								}
							}, false
						);
      				}

      				this.redrawChart();
				}
			 },

			//NOT USED 
			updateRealtime: function(counter, name, dataPoint) {
				var el = this.$$('#cumRetLineChart'); 
				var valid = el && el._chart && el._chart.series.length > 0;
				var nLabels = el._chart.series[0].data.length;

				if(valid) {
					
					var seriesArray = this.$$('#cumRetLineChart')._chart.series;
					
					var idx = seriesArray.map(function(x){return x.name;}).indexOf(name);

					if(idx!=-1) {
						
						seriesArray[idx].addPoint([dataPoint.x, dataPoint.y],false);

						/*if(this.$$('#cumRetLineChart')._chart.series[idx].data[counter]){	
								this.$$('#cumRetLineChart')._chart.series[idx].data[counter].update(dataPoint, false);
						}*/
					}
		 			
		 		}
			},

			setData: function(name, data) {
				var seriesArray = this.$$('#cumRetLineChart')._chart.series;
					
				var idx = seriesArray.map(function(x){return x.name;}).indexOf(name);

				if(idx!=-1) {
					seriesArray[idx].setData(data, false);
				}
			},

			resizeChart: function() {
				if(this.$$('#cumRetLineChart')) {
					this.$$('#cumRetLineChart').resizeChart();
				}
			},

			redrawChart: function() {
				//WHY the followig command doesn't work
				//this.$$('#cumRetLineChart').redraw();
				this.$$('#cumRetLineChart')._chart.redraw();
			},

			getSeriesNameToIndexMap: function() {
				var map = {};

				seriesArray = this.$$('#cumRetLineChart')._chart.series;

				for (i=0; i<seriesArray.length; i++) {
					map[seriesArray[i].name] = seriesArray[i].index;
				}

				return map;
			},

		});
	</script>
</dom-module>