<link rel='import' href='../../../../bower_components/paper-tabs/paper-tabs.html'>
<link rel='import' href='../../../../bower_components/paper-tabs/paper-tab.html'>
<link rel='import' href='../../../../bower_components/iron-signals/iron-signals.html'>
<link rel='import' href='../../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../../bower_components/iron-pages/iron-pages.html'>
<link rel='import' href='../../../../bower_components/iron-ajax/iron-ajax.html'>
<link rel='import' href='../../../../bower_components/iron-selector/iron-selector.html'>
<link rel='import' href='../../../../bower_components/paper-progress/paper-progress.html'>
<link rel='import' href='../../../../bower_components/paper-button/paper-button.html'>
<link rel='import' href='../../../../bower_components/juicy-ace-editor/juicy-ace-editor.html'>

<link rel='import' href='../aq-check-authentication.html'>
<link rel='import' href='../aq-settings-display.html'>
<link rel='import' href='../aq-portfolio-table.html'>
<link rel='import' href='../aq-transaction-table.html'>
<link rel='import' href='../aq-log-item-new.html'>

<link rel='import' href='./aq-backtest-metric-item.html'>
<link rel='import' href='./aq-backtest-header-item.html'>
<link rel='import' href='./aq-backtest-metric-item-list.html'>
<link rel='import' href='./aq-backtest-performance-detail-item.html'>
<link rel='import' href='./aq-forwardtest-performance-detail-item.html'>
<link rel='import' href='../../../dialog/aq-ongoing-action-dialog.html'>


<script src="../../../../resources/scripts/DateTime.js"></script>

<dom-module id='v-tab'>
    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>

        #container {
            height: 70px;
            width: 100px;
            border: 1px solid #e1e1e1;
            border-top:none;
            border-left:none;
            color: #919191;
            background-color: #f9f9f9;
            font-size: 12px;
        }

        #container.selected {
            background-color: white;
            color: #cc6666;
            --border: 2px solid #cc6666;
            border-right: none;
            font-weight: 700;
        }

        #container:hover {
            cursor: pointer;
            font-weight: bold;
        }

        #sidebar {
            width: 3px;
            height: 100%;
            background-color: var(--v-tab-sidebar-color, #f9f9f9);
        }

        #sidebar.selected {
            background-color: #cc6666;
        } 

        #int-container {
            margin: 0 auto;
        } 

    </style>

    <template>
        <div id="container" class$="[[computeSelectedClass(selected)]] layout horizontal center">
            
            <div id="sidebar" class$="[[computeSelectedClass(selected)]]">
            </div>
            
            <div id="int-container" class="layout vertical center">
                <iron-icon icon="[[icon]]"></iron-icon>
                <content></content>
            </div>
        </div>
    </template>

    <script>
        Polymer({
            is: 'v-tab',

            properties: {
                icon: String,
                selected: Boolean,
            },

            computeSelectedClass: function(selected) {
                return selected ? "selected" : "";
            }

        });
    </script>
</dom-module>

<dom-module id='aq-forwardtest-detail-item'>
    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>

        #container {
            --height: 80%;
            height: 100%;
        }

        paper-tabs {
            --paper-tabs-selection-bar-color: #cc6666;

            --paper-tabs: {
                margin-bottom: 10px;
            };
        }

        .lower-container {
            margin-top: 10px;
        }

        .middle-container {
            padding-top: 10px;
        }

        #tab-container {
            border-bottom: 1px solid #e1e1e1;
            height: 47px;
        }

        #forwardtest-detail {
            border: 1px solid #e1e1e1;
            width: 100%;
            --margin-bottom: 5px;
        }

        #iron-page-container {
            width: 100%;
            height: 100%;
        }

        #code-container {
            margin-left: 2px;
            height: 426px;
        }

        #log-container {
            height: 426px;
            overflow-y: scroll;
            --margin-top: 20px;
            background-color: #323232;
        }

        #transaction-container {
            height: 426px;
            color: #3c3c3c;
            margin: 5px 20px 0px 20px;
        }

        #portfolio-container {
            height: 400px;
            color: #3c3c3c;
            margin: 5px 20px 0px 20px;
        }        

        juicy-ace-editor {
            --border: 1px solid #e1e1e1;
            --border-top: none;
            --border-left: none;
        }

        paper-button {
            --paper-button: {
                font-size: 0.7em;
                color: white;
                padding: 0 20px;
                border-radius: 0;
                height: 25px;
                font-weight: 700;
            };
        }

        paper-button.stop {
            background-color: #bd362f;
        }

        paper-button.delete {
            background-color: #bd362f;
        }

        paper-button.start {
            background-color: #339933;
        }

        #ft-name {
            font-size: 18px;
            font-weight: 700;
        }

        .label-text {
            font-size: 12px;
            margin-top: 5px;
        }

        #label-text-running {
            --margin-top: 0px !important; 
            --font-size: 14px;  
        }

        .strategy-status {
            font-size: 12px;
            margin-top: 3px;
            margin-right: 10px;
            padding: 3px;
            --padding-top: 3px;
            --padding-bottom: 5px;
            font-weight: 700;
            color: white;
            --border-radius: 25px;
        }

        .strategy-status.green {
            background-color: #339933;
        }

        .strategy-status.red {
            background-color: #bd362f;
        }

        #status-box {
            width: 7px;
            height: 7px;
            --background-color: green;
            margin-right: 5px;
        }

        #status-box.green {
            background-color: #339933;
        }

        #status-box.red {
            background-color: #bd362f;
        }

        #status-container {
            margin-top: 5px;
        }

        .heading {
            font-size: 16px;
            --margin-top: 10px;
            margin-bottom: 10px;
            font-weight: 700;
            --margin-left: -20px;
            color: #555555;
        }

        aq-ongoing-action-dialog {
            --dialog-width: 0px;
            --dialog-height: 0px;
        }
    </style>

    <template>
        <!--aq-ongoing-action-dialog id ="onGoingDialog" heading="">
        </aq-ongoing-action-dialog-->

        <iron-signals on-iron-signal-forwardtest-updated='onForwardtestUpdated'></iron-signals>

        <aq-check-authentication id='authItem'></aq-check-authentication>
        
        <template is='dom-if' if=[[!loading]]>
            <div id='container' class="layout vertical">
                <template is='dom-if' if='[[forwardtestHeader]]'>
                    <div class="top-container layout horizontal">
                        <div class="layout vertical">
                            <div class="layout horizontal">
                                <div id="ft-name" class="self-start"> LIVE TEST for [[forwardtest.strategy.name]]&nbsp</div>
                                <div class$="strategy-status self-end [[computeStatusClass(forwardtest.active, forwardtest.error)]]" id="label-text-running">[[forwardtestHeader.status]]</div>
                            </div>
         
                            <div class="label-text">Created At:&nbsp[[forwardtestHeader.createdAt]]</div>
                            <div class="label-text">Last updated:&nbsp[[forwardtestHeader.updatedAt]]</div>

                            <!--div id='status-container' class="layout horizontal"> 
                                
                            </div-->
                            
                        </div>
                        <div class="flex"></div>
                        <div class="layout horizontal start">
                            
                            <template is='dom-if' if='[[hasActionButton(forwardtest.error)]]'>
                                <paper-button raised on-tap='onActionButton' noink 
                                class$="[[computeActionButtonClass(forwardtest.active)]]">
                                [[computeActionButtonText(forwardtest.active)]]
                                </paper-button>
                            </template>

                            <template is='dom-if' if='[[hasDeleteButton(forwardtest.active, forwardtest.error)]]'>
                                <paper-button raised on-tap='onDeleteButton' noink 
                                class="delete">
                                Delete Test
                                </paper-button>
                            </template>
                        </div>
                    </div>
        		</template>
                
                <div class="middle-container flex">
            		<aq-backtest-metric-item-list 
                        heading="Metrics"
            			forced-semi-wide="[[forcedSemiWide]]"
            			metric-items="{{metrics}}"
                        justified="justified">
        			</aq-backtest-metric-item-list> 
                </div>

                <div class="layout horizontal" id='forwardtest-detail'>
                    <div class="layout" id="vertical-tab-container">
    	                <iron-selector selected="{{detailType}}" 
                            fallback-selection="0">
    	                    <v-tab selected=[[isSelected(detailType,0)]] icon="vaadin-icons:line-bar-chart" add">Performance
                            </v-tab>
                            
                            <v-tab selected=[[isSelected(detailType,1)]] icon="vaadin-icons:code">Code
                            </v-tab>
                            
                            <v-tab selected=[[isSelected(detailType,2)]] icon="vaadin-icons:suitcase">Portfolio
                            </v-tab>
                            
                            <v-tab selected=[[isSelected(detailType,3)]] icon="aq-icons:queue">Transactions</v-tab>
                            
                            <v-tab selected=[[isSelected(detailType,4)]] icon="aq-icons:view-list">Logs</v-tab>

                            <v-tab selected=[[isSelected(detailType,5)]] icon="settings">Settings</v-tab>
                        </iron-selector>
                    </div>
                    
                    <div id='iron-page-container'>
                        <iron-pages selected="{{detailType}}">
                            <div id="performance-container">
                                <!--template is='dom-if' if='[[forwardtest.serializedData]]'-->
                                    <aq-forwardtest-performance-detail-item 
                                        forwardtest="[[forwardtest]]">
                                    </aq-forwardtest-performance-detail-item>
                                <!--/template-->
                            </div>

                            <div id="code-container">
                                <!--div class="heading">CODE</div-->
                                <juicy-ace-editor readonly style="height:100%; min-height: 400px;" theme="ace/theme/xcode" mode="ace/mode/julia" fontsize="14px" id="codeEditor" tabsize="4" on-change='onCodeChange'>[[forwardtest.code]]
                                </juicy-ace-editor>
                            </div>

                            <div id='portfolio-container'>
                                <template is='dom-if' if='[[forwardtestPositions]]'>
                                    <aq-portfolio-table positions="[[forwardtestPositions]]">
                                    </aq-portfolio-table>
                                </template>
                            </div>

                            <div id='transaction-container'>
                                <template is='dom-if' if='[[hasOrdersAndTransactions(forwardtestTransactions, forwardtestOrders)]]'>
                                    <aq-transaction-table 
                                        transactions="[[forwardtestTransactions]]"
                                        orders="[[forwardtestOrders]]">
                                    </aq-transaction-table>
                                </template>
                            </div>

                            <div id="log-container">
                                <template is='dom-if' if='[[forwardtestLogs]]'>
                                    <template is='dom-repeat' items="[[forwardtestLogs]]">
                                        <aq-log-item-new
                                            actual-datetime="[[item.dt]]" 
                                            datetime="[[item.datetime]]"
                                            message="[[item.message]]"
                                            message-type="[[item.messagetype]]">
                                        </aq-log-item-new>
                                    </template>
                                </template>
                            </div> 

                            <div id='settings-container'>
                                <template is='dom-if' if='[[forwardtestSettings]]'>
                                    <aq-settings-display settings="[[forwardtestSettings]]">
                                    </aq-settings-display>
                                </template>
                            </div>

                        </iron-pages>
                    </div>
                </div>
          	</div>
        </template>

        <iron-ajax
            url="[[computeGetForwardtestUrl(forwardtestId)]]"
            method='GET'
            id='getForwardtestQuery'
            handle-as="json"
            on-response="onGetForwardtestSuccess"
            on-error="onGetForwardtestError"
            headers='{{header}}'
            debounce-duration="300"
            loading={{loading}}>
        </iron-ajax>

    </template>
    <script>
        Polymer({
            is: 'aq-forwardtest-detail-item',

            properties: {
                metrics: Object,

                detailType:{
                    type: Number,
                    value:0,
                },

                forwardtestId: String,
                    
                forwardtest: Object,

                header: Object,

                APIEndPoint: String,

                loading: {
                    type: Boolean,
                    notify: true,
                    value: false,
                },

                forcedSemiWide: {
                	type: Boolean,
                	value: false,
                },

                forwardtestHeader: Object,
                forwardtestOrders: Object,
                forwardtestTransactions: Object,
                forwardtestPositions: Object,
                forwardtestLogs: Object,
                forwardtestSettings:Array,
            },

            onCodeChange: function(e) {
                this.async(function(){this.$$('juicy-ace-editor').editor.gotoLine(1);}, 20);
            },

            isSelected: function(detailType, val) {
                return detailType == val;
            },

            attached: function() {
                this.loading = true;
                this.reset();
                this.requestStaticData();
            }, 

            computeGetForwardtestUrl: function (forwardtestId) {
                var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                return APIEndPoint + '/forwardtest/' + forwardtestId;
            },

            reset: function () {
                this.resetMetrics();

                if(this.$$('aq-forwardtest-performance-detail-item')) {
                    this.$$('aq-forwardtest-performance-detail-item').reset();
                }
            },

            resetMetrics: function () {
                this.metrics = [{
                    "metricName": "Total Return",
                    "metricValue": "-",
                    "metricDescription": "Total Return"
                },
                {
                    "metricName": "Annual Return",
                    "metricValue": "-",
                    "metricDescription": "Annual Return",
                },
                {
                    "metricName": "Volatility",
                    "metricValue": "-",
                    "metricDescription": "Volatility"
                },
                {
                    "metricName": "Sharpe Ratio",
                    "metricValue": "-",
                    "metricDescription": "Sharpe Ratio"
                },
                {
                    "metricName": "Information Ratio",
                    "metricValue": "-",
                    "metricDescription": "Information Ratio"
                },
                {
                    "metricName": "Sortino Ratio",
                    "metricValue": "-",
                    "metricDescription": "Sortino Ratio"
                },
                {
                    "metricName": "Avg. Drawdown",
                    "metricValue": "-",
                    "metricDescription": "Avg. Drawdown"
                },
                {
                    "metricName": "Max Drawdown",
                    "metricValue": "-",
                    "metricDescription": "Max Drawdown"
                },
                {
                    "metricName": "Calmar Ratio",
                    "metricValue": "-",
                    "metricDescription": "Calmar Ratio"
                },
                {
                    "metricName": "Beta",
                    "metricValue": "-",
                    "metricDescription": "Beta"
                },
                {
                    "metricName": "Stability",
                    "metricValue": "-",
                    "metricDescription": "Stability"
                },
                {
                    "metricName": "Avg. Concentration",
                    "metricValue": "-",
                    "metricDescription": "Avg. Concentration"
                },];
            },

            requestStaticData: function () {
                if (this.forwardtestId && this.$.authItem.checkHasToken()) {
                    this.header = this.$.authItem.getHeader();
                    this.$.getForwardtestQuery.generateRequest();
                }
            },

            onGetForwardtestSuccess: function(e) {

                this.set('forwardtest', e.detail.response);

                this.forwardtestHeader = 
                {
                    "createdAt": date.formatDateTime(this.forwardtest.createdAt), 
                  
                    "updatedAt": this.forwardtest.updatedAt ? date.formatDateTime(this.forwardtest.updatedAt): "", 

                    "status": !this.forwardtest.error ? (this.forwardtest.active ? "Running" : "Stopped") : "Error",
                };
                
                if (this.forwardtest.serializedData && this.forwardtest.serializedData.state) {
                    this.addMetricData(this.forwardtest.serializedData.state);
                }

                this.async(this.computePositions);
                this.async(this.computeTransactions);
                this.async(this.computeProposedOrders);
                this.async(this.computeLogs);
                this.async(this.computeSettings);

                this.async(function() {
                    if(this.$$('aq-forwardtest-performance-detail-item')) {
                        this.$$('aq-forwardtest-performance-detail-item').plotGraphs();}
                    }, 1000);

            },

            onGetForwardtestError: function(e) {
                this.async( function(){
                    this.fire('ajax-error', {request: e.detail.request});
                }, 500);
            },

            addMetricData: function (currentState) {
                this.metrics = [
                    {
                        "metricName": "Portfolio Value",
                        "metricValue": currentState.account ? date.formatMoneyValue(currentState.account.netvalue.toFixed(0)) : "-", 
                        "metricDescription": "Net Asset Value",
                    },
                    {
                        "metricName": "Cash",
                        "metricValue": currentState.account ? date.formatMoneyValue(currentState.account.cash.toFixed(0)) : "-", 
                        "metricDescription": "Volatility"
                    },
                    {
                        "metricName": "Leverage",
                        "metricValue": currentState.account ? currentState.account.leverage.toFixed(2).toString() : "-", 
                        "metricDescription": "Leverage"
                    },
                    {
                        "metricName": "Total Return",
                        "metricValue": currentState.performance ? ((currentState.performance.returns.totalreturn - 1)*100).toFixed(2).toString() + '%' : "-",
                        "metricDescription": "Total Return"
                    },
                    {
                        "metricName": "Volatility",
                        "metricValue": currentState.performance ? (currentState.performance.deviation.annualstandarddeviation * 100).toFixed(2).toString() + '%' : "-",
                        "metricDescription": "Volatility"
                    },
                    {
                        "metricName": "Sharpe Ratio",
                        "metricValue": currentState.performance ? (currentState.performance.ratios.sharperatio).toFixed(2).toString() : "-",
                        "metricDescription": "Sharpe Ratio"
                    },
                    {
                        "metricName": "Information Ratio",
                        "metricValue": currentState.performance ? (currentState.performance.ratios.informationratio).toFixed(2).toString() : "-",
                        "metricDescription": "Information Ratio"
                    },
                    {
                        "metricName": "Beta",
                        "metricValue": currentState.performance ? (currentState.performance.ratios.beta).toFixed(2).toString() : "-",
                        "metricDescription": "Beta"
                    },
                    
                ];
            },

            hasOrdersAndTransactions: function(forwardtestTransactions, forwardtestOrders) {
                return forwardtestTransactions && forwardtestOrders;
            },

            computePositions: function() {
                var hasValidData = this.forwardtest ? this.forwardtest.serializedData ? true : false : false;

                if(hasValidData) {
                    var accounttracker = this.forwardtest.serializedData.accounttracker;
                    
                    var positionsArray = [];
                    
                    if(accounttracker) {
                        Object.keys(accounttracker).sort().forEach(key => {
                            var account = accounttracker[key];

                            var tempArray = [];
                            if(account.portfolio.positions) {
                            //array of array
                                Object.keys(account.portfolio.positions).forEach(pkey => {
                                    var position = account.portfolio.positions[pkey];
                                    
                                    if(Math.abs(position.quantity) > 0) {
                                        position.date = key;
                                        tempArray.push(position);    
                                    }
                                });

                                tempArray.sort(
                                    function(a,b){
                                        return a.symbol < b.symbol ? 1 : -1;
                                    });
                            }

                          positionsArray = positionsArray.concat(tempArray);
                            
                        });
                    }

                    this.forwardtestPositions = positionsArray.reverse();
                }
            },

            computeTransactions: function() {
                var hasValidData = this.forwardtest ? this.forwardtest.serializedData ? true : false : false;

                if(hasValidData) {
                    var allTransactions = this.forwardtest.serializedData.transactiontracker;

                    var transactionArray = [];
                    
                    if(allTransactions) {
                        
                        Object.keys(allTransactions).sort().forEach(key => {
                            //array of array
                            var transactionsPerDay = allTransactions[key].sort(function(a,b){
                                    return a.securitysymbol.ticker < b.securitysymbol.ticker ? 1 : -1;
                                });

                            transactionArray = transactionArray.concat(transactionsPerDay);
                            
                        });
                    }

                    this.forwardtestTransactions = transactionArray.reverse();
                }
            },

            computeProposedOrders: function() {
                var hasValidData = this.forwardtest ? this.forwardtest.serializedData ? true : false : false;

                if(hasValidData) {
                    var blotter = this.forwardtest.serializedData.brokerage.blotter;
                    
                    var ordersArray = [];
                    if(blotter) {
                        Object.keys(blotter).sort().forEach(key => {
                            
                            //array of array
                            var ordersPerSecurity = blotter[key];
                            ordersArray = ordersArray.concat(ordersPerSecurity);
                        });
                        
                    } 

                    this.forwardtestOrders = ordersArray.sort(
                            function(a,b) {
                                return a.securitysymbol.ticker < b.securitysymbol.ticker ? 1 : -1;
                            });
                }
            },

            computeLogs: function() {
                var hasValidData = this.forwardtest ? this.forwardtest.serializedData ? this.forwardtest.serializedData.logtracker ? true : false : false : false;

                if(hasValidData) {
                    var logtracker = this.forwardtest.serializedData.logtracker;

                    var logs = [];
                    
                    if(logtracker) {
                        Object.keys(logtracker).sort().forEach(date => {
                            var logsDict = logtracker[date];
                            if(date != "0001-01-01") {
                                Object.keys(logsDict).sort().forEach(entryTime => {
                                    var logArray = logsDict[entryTime];

                                    for (var i=0;i<logArray.length;i++) {
                                        logs = logs.concat(JSON.parse(logArray[i]));
                                    }
                                });
                            }
                        });
                    }
                    
                    this.forwardtestLogs = logs;
                }
            },

            computeSettings: function() {
                var basicSettings = [];
                var brokerageSettings = [];
                var otherSettings = [];
                var settings = [];

                if(this.forwardtest.serializedData) {
                    var hasValidData = this.forwardtest ? this.forwardtest.serializedData ? this.forwardtest.serializedData.accounttracker ? true : false : false : false;

                    if (hasValidData) {
                        var accounttracker = this.forwardtest.serializedData.accounttracker;
                        var dates = Object.keys(accounttracker).sort();

                        if(dates.length > 0){
                            basicSettings.push({label: "Initial Cash", value:accounttracker[dates[0]].cash, value2: ""});
                        } 
                    }

                    hasValidData = this.forwardtest ? this.forwardtest.serializedData ? this.forwardtest.serializedData.brokerage ? true : false : false : false;
                    
                    if(hasValidData) {
                        var brokerage = this.forwardtest.serializedData.brokerage;

                        if(brokerage.slippage) {
                            ///THE VALUE NEEDS TO BE FIXED (100 is not required everytime)
                            brokerageSettings.push({label:"Slippage", value:brokerage.slippage.value*100, value2:brokerage.slippage.model});
                        }

                        if(brokerage.commission) {
                            ///THE VALUE NEEDS TO BE FIXED
                            brokerageSettings.push({label:"Commission", value:brokerage.commission.value*100, value2:brokerage.commission.model});
                        }

                        if(brokerage.cancelpolicy) {
                            brokerageSettings.push({label:"Cancel Policy", value2:brokerage.cancelpolicy, value:""});
                        }

                        if(brokerage.executionpolicy) {
                            brokerageSettings.push({label:"Execution Policy", value2:brokerage.executionpolicy, value:""});
                        }
                    }

                    hasValidData = this.forwardtest ? this.forwardtest.serializedData ? this.forwardtest.serializedData.tradeenv ? true : false : false : false;
                    
                    if(hasValidData) {
                        var tradeenv = this.forwardtest.serializedData.tradeenv;

                        otherSettings.push({label: "Rebalance", value2: tradeenv.rebalance.slice(10), value:""});

                        otherSettings.push({label: "Resolution", value2: tradeenv.resolution.slice(11), value:""});

                        otherSettings.push({label: "Investment Plan", value2: tradeenv.investmentplan.slice(3), value:""});
                    }
                   
                    
                } else {
                    var allSettings = this.forwardtest.settings;
                    var advancedSettings = JSON.parse(this.forwardtest.settings.advanced);

                    basicSettings.push({label:"Initial Cash", value:allSettings["initialCash"]});

                    if(advancedSettings.slippage) {
                        brokerageSettings.push({label:"Slippage", value:advancedSettings.slippage.value, value2:advancedSettings.slippage.model});
                    }

                    if(advancedSettings.commission) {
                        brokerageSettings.push({label:"Commission", value:advancedSettings.commission.value, value2:advancedSettings.commission.model});
                    }

                    if(advancedSettings.cancelPolicy) {
                        brokerageSettings.push({label:"Cancel Policy", value2:advancedSettings.cancelPolicy, value:""});
                    }

                    if(advancedSettings.executionPolicy) {
                        brokerageSettings.push({label:"Execution Policy",value2:advancedSettings.executionPolicy, value:""});
                    }

                    if(advancedSettings.rebalance) {
                        otherSettings.push({label: "Rebalance", value2: advancedSettings.rebalance, value:""});
                    }

                    if(advancedSettings.resolution) {
                        otherSettings.push({label: "Resolution", value2: advancedSettings.resolution, value:""});
                    }

                    if(advancedSettings.investmentPlan) {
                        otherSettings.push({label: "Investment Plan", value2: advancedSettings.investmentPlan, value:""});
                    }
                }

                settings = settings.concat(basicSettings).concat(brokerageSettings).concat(otherSettings);
                  
                if(settings.length > 0){
                    this.forwardtestSettings = settings;
                }            
            },

            deepCopy: function(array) {
				return JSON.parse(JSON.stringify(array));
			},

            onActionButton: function() {
                if(this.forwardtest) {
                    if(this.forwardtest.active) {
                        this.fire('stoptest-clicked', {id: this.forwardtestId});
                    } else {
                        this.fire('restarttest-clicked', {id: this.forwardtestId}); 
                    }
                }
            },

            onDeleteButton: function() {
                this.fire('deletetest-clicked', {id: this.forwardtestId});
            },

            computeActionButtonText: function(active) {
                return active ? "Stop Test" : "Restart Test";
            },

            computeActionButtonClass: function(active) {
                return active ? "stop" : "start";
            },

            hasActionButton: function(error) {
                return !error;
            },

            hasDeleteButton: function(active, error) {
                return error || !active;
            },

            computeStatusClass: function(active, error) {
                return active ? "green" : "red";
            },

            onForwardtestUpdated: function(e) {
                var response = e.detail;
                if(response.active) {
                    this.reset();
                    this.forwardtestId = response.id;
                    this.requestStaticData();
                }
            } 

        });
    </script>
    
</dom-module>



