<link rel='import' href='../../../bower_components/iron-pages/iron-pages.html'>
<link rel='import' href='../../../bower_components/iron-ajax/iron-ajax.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel="import" href="../../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../../bower_components/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="../../../bower_components/iron-lazy-pages/iron-lazy-page.html">

<link rel='import' href='../../icons/aq-iconset.html'>

<link rel='import' href='../common/aq-check-authentication.html'>
<link rel='import' href='../common/aq-loading-progress.html'>
<link rel='import' href='../common/aq-allpage-layout.html'>

<link rel='import' href='../common/backtest/aq-cumret-linechart.html'>
<link rel='import' href='../common/backtest/aq-aggregatedreturns-barchart.html'>

<!--link rel="import" href="../common/aq-code-comparison-element.html"-->
<link rel="import" href="../common/aq-code-comparison.html">
<link rel="import" href="../common/backtest/aq-backtest-summary-element.html">

<link rel='import' href='../common/aq-settings-comparison-item.html'>

<dom-module id='aq-analyze-backtest-comparison-dialog'>
    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>
        :host{
            font-family: 'Lato',sans-serif;
            padding-bottom: 20px;
        }

        #comparisonContainer {
        	--display: none;
        }

        paper-icon-button {
            width: 35px;
            height: 35px;
            margin-right: 10px;
            min-width: 25px;
            max-width: 35px;
            --color: #188364;
        }

        span {
            /*text-align: center;*/
            margin-top: 15px;
        }

        aadin-grid {
            --vaadin-grid-header-row-height: 78px;
            --vaadin-grid-row-cell: blue;
        }

        #table_details__comparison {
            overflow: scroll;
            width: 100%;
        }

        .vertical-textGraphs {
            transform: rotate(270deg);
            margin-right: -40px;
        }

        .horizontal-textGraphs {
            margin-top: -40px;
        }

        #comparison-container {
            margin: 0 auto;
            width: 100%;
            height: 100%;
            padding: 0px;
        }

        paper-tab:hover {
            font-weight: bold;
            --font-size: 110%;
        }

        paper-tabs {
            width: 100%;
        	color:#8c8c8c;
            --paper-tabs-selection-bar-color: teal;
            margin-bottom: 10px;
            border-bottom: 1px solid #e1e1e1;
            background-color: #fafafa;
        }

        #cumRetLineChart {
            --margin-left: -100px;
            height: 400px;
            width: 100%;
            background-color: white;
            border: 1px solid teal;
            padding: 10px;
        }

        #monthlyReturnBarChart {
            --margin-left: -100px;
            height: 400px;
            width: 100%;
            background-color: white;
            border: 1px solid teal;
            padding: 10px;
        }

        .pages-container{
            width: 98%;
            border-radius: 2px;
            overflow-y: scroll;
        }

        .comparison-text{
            padding: 0px 0px 15px 25px;
            color:#000;
            font-size:15px;
            border-bottom: 1px solid #e1e1e1;
        }

        .backtest-item{
            font-size: 14px;
            font-weight: 700;
            margin-right: 5px;
        }
        .vs-text{
            font-weight: 400;
            color:#8c8c8c;
            margin-right: 5px;
        }
        .strategy-name{
            color:#cc4444;
            font-weight: 700;
        }
        aq-code-comparison-element{
            --aq-code-comparison-element-width: 100%;
            --aq-code-comparison-element-height: 500px;
            position: relative;
            /*max-height: 700px;*/
        }
        
        paper-dialog {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 0;
            margin: 0;
            height: 100%
            width:100%;
        }

        paper-icon-button {
            height: 35px;
            width: 35px;
        }

        #graphComparison {
            border: 1px solid #e1e1e1;
            padding: 5px;      
        }

    </style>

    <template>
        <aq-check-authentication id='authItem'></aq-check-authentication>
        
        <paper-dialog id='dialog'>
            <div class="comparison-text layout horizontal">
                <template id='comparisonList' is="dom-repeat" items="{{indexArray}}">
                    <span class="backtest-item">{{item}}</span>
                    <template is="dom-if" if="[[showVs(item, indexArray)]]">
                        <span class="vs-text">vs</span>
                    </template>
                </template>
                <span class="vs-text">comparison for <span class="strategy-name">{{strategyName}}</span></span>

                <div class="flex"></div>
                <paper-icon-button icon="close" on-tap='close'></paper-icon-button>
            </div>

            <template is='dom-if' if='[[isDataReady]]'
                id='comparisonIfTemplate'
                restamp=true>

                <paper-card id='comparison-container' class="layout vertical center">

                    <paper-tabs noink selected="{{comparisonType}}" fallback-selection="0">
                        <paper-tab>SUMMARY</paper-tab>
                        <paper-tab>CODE</paper-tab>
                        <paper-tab>RETURNS</paper-tab>
                        <paper-tab>SETTINGS</paper-tab>
                    </paper-tabs>
            
                    <div class="pages-container">
                        <iron-pages 
                    		class="pages_select" 
            				selected="{{computePageType(comparisonType)}}"	
            				attr-for-selection="page"
        					fallback-selection="0">
            			
            				<div page="0">
            			    	<aq-backtest-summary-element 
                        			compare-items="[[compareItems]]">
                            	</aq-backtest-summary-element>
                            </div>
                        
                            <div id='codeCompare' page="1">
    	                        <aq-code-comparison
    	                        	compare-items="[[compareItems]]"
                            	 	theme="ace/theme/monokai" 
                            	 	mode="ace/mode/julia">
                        	 	</aq-code-comparison>
                            </div>

                            <div id='graphComparison' page="3">
                            	<div class="layout horizontal">
        	                    	<div class="flex"></div>
        	                    	<aq-twoway-toggle 
                                        first-option="Cumulative" 
                                        second-option="Monthly"
                                        selected-type="{{returnType}}">
                                    </aq-twoway-toggle>
                            	</div>

                            	<iron-pages on-iron-resize='onResize' selected={{returnType}}  default-selected="0">
                            		<div id='cumRetLineChartDiv'></div>
                            		<div id='barChartDiv'></div>
                            	</iron-pages>
                            </div>

                            <div id='settingsComparison' page="4">
                                <aq-settings-comparison-item 
                                    compare-items="[[compareItems]]">
                                </aq-settings-comparison-item>

                            </div>
                        </iron-pages>
                    </div>
                </paper-card>
            </template>
        </paper-dialog>
             
        <iron-ajax
            url="[[computeGetBacktestUrl(backtestId)]]"
            method='GET'
            id='getBacktestsQuery'
            handle-as="json"
            on-response="onGetBacktestSuccess"
            on-error="onGetBacktestError"
            headers='{{header}}'
            debounce-duration="300">
        </iron-ajax>

    </template>

    <script>
        Polymer({
            is: 'aq-analyze-backtest-comparison-dialog',

            properties: {
                compareItems: {
                    type: Object,
                },

                strategyName: String,

                counter: {
                    type: Number,
                    value: 0,
                },

                backtestId: String,

                comparisonType: {
                    type: Number,
                    value: 0,
                },

                returnType: {
                	type:Number,
                	value: 0,
                },

                indexArray:{
                    type:Array,
                    value:[],
                    notify:true,
                    observer:'_indexArrayChanged',
                },

                header: Object,

                isDataReady: {
                	type:Boolean,
                	value: false,
            	},

                currentPath: {
                    type: Array,
                    value: ["Home", "Research", "All Strategies", "All Backtests", "Compare Backtests"]
                },

                showComaprison :{
                    type: Boolean,
                    value: true
                }

            },

            computeGetBacktestUrl: function (backtestId, fields) {
                var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                return APIEndPoint + '/backtest/' + backtestId;
            },

            doComparison: function () {
                for (var i=0; i<this.compareItems.length; i++) {
                    this.backtestId = this.compareItems[i].id;
                    if (this.$.authItem.checkHasToken()) {
                        this.header = this.$.authItem.getHeader();
                        this.$.getBacktestsQuery.generateRequest();
                    }
                }
            },

            onGetBacktestSuccess: function (e) {
                var backtest = e.detail.response;
                var idx = this.compareItems.map(function(x) {return x.id;}).indexOf(backtest._id);

                if(idx != -1 && idx < this.compareItems.length) {
                    this.compareItems[idx].backtest = backtest;
                }
                
                var ct = 0;
                for (var i=0; i<this.compareItems.length;i++) {
                	var item = this.compareItems[i];
                    if(item.backtest) {
                        ct++;
                    }
                }     
                
                if (ct == this.compareItems.length)
                    this.onComparisonReady();
            },

            onGetBacktestError: function(e) {
                this.fire('ajax-error', {request: e.detail.request});
            },

            onComparisonReady: function() {
            	var compareItems = this.compareItems;

        		this.isDataReady = true;
                this.$$('#comparisonIfTemplate').render();

                this.createGraphElement();

        		this.async(function(){
                    for(var i=0;i<this.compareItems.length; i++) {
            			this.addBacktestToComparison(this.compareItems[i].backtest, "Backtest "+this.compareItems[i].index);
            		}

                    this.redrawChart();
                }, 1500);

            },

            addBacktestToComparison: function (backtest, label) {
                
                this.processLineChartData(backtest, label);
                this.processBarChartData(backtest, label);
                this.counter++;

                /*if (this.counter == Object.keys(this.compareItems).length) {
                 var grid = this.$.table_details__comparison;
                 grid.items = this.tableData;
                 grid.frozenColumns = 2;
                 }*/
            },

            redrawChart: function() {
                this.$$('aq-aggregatedreturns-barchart').redrawChart();
                this.$$('aq-cumret-linechart').redrawChart();
            },

            processLineChartData: function (data, label) {

                var colors = ["#fc4a1a", "#0375b4", "#FFAA1D", "#007849", "#6e2667"];

                var equityData = data.output.totalreturn.algorithm;
                var keys = Object.keys(equityData);

                var dataset = new Array(keys.length);

                keys.sort()
                        .forEach(function (v, i) {
                            dataset[i] = [Date.parse(v), equityData[v] + 100.0];
                        });

                this.$$('aq-cumret-linechart').addSeries(label, dataset,
                        {
                            lineWidth: 2,
                            color: colors[this.counter],
                            compare: 'percent',
                            tooltip: {
                                pointFormatter: function () {
                                    var series = this.series;
                                    var color = series.color;
                                    var y = (this.y - 100).toFixed(2);
                                    var change = this.change.toFixed(2);

                                    return '<span style="color:' + color + '">\u25CF ' + series.name + '</span>: <b>' + change + '%</b><br/>';

                                },

                            },
                        }, false
                );
            },

            processBarChartData: function (data, label) {
                var colors = ["#fc4a1a", "#0375b4", "#FFAA1D", "#007849", "#6e2667"];
                var aggregatedReturns = data.output.performance.detail.returns.monthly.algorithm;
                var keys = Object.keys(aggregatedReturns);
                var dataset = new Array(keys.length);

                keys.sort()
                        .forEach(function (v, i) {
                            dataset[i] = [Date.parse(v.substring(0, 4) + "-" + v.substring(4, 6)), aggregatedReturns[v]];
                        });

                this.$$('aq-aggregatedreturns-barchart').addSeries(label, dataset,
                        {
                            color: colors[this.counter],
                            tooltip: {
                                pointFormat: '<span style="color:{point.color}">\u25CF</span> {series.name}: <b>{point.y} %</b><br/>',
                            },
                        }, false
                );

            },

            createGraphElement: function () {

            	var graphComparisonDiv = this.$$('#graphComparison');

            	if(graphComparisonDiv) {

	                this.counter = 0;
	                var child = Polymer.dom(this.$.cumRetLineChartDiv).querySelector('aq-cumret-linechart');

	                if (child) {
	                    Polymer.dom(this.$.cumRetLineChartDiv).removeChild(child);
	                }

	                var el = document.createElement('aq-cumret-linechart');
                    Polymer.dom(this.$$('#cumRetLineChartDiv')).appendChild(el);

	                Polymer.dom.flush();

	                var child = Polymer.dom(this.$$('#barChartDiv')).querySelector('aq-aggregatedreturns-barchart');

	                if (child) {
	                    Polymer.dom(this.$$('#barChartDiv')).removeChild(child);
	                }

	                var el = document.createElement('aq-aggregatedreturns-barchart');
	                Polymer.dom(this.$$('#barChartDiv')).appendChild(el);

	                Polymer.dom.flush();

                    this.async(
                        function() {
                            this.$$('aq-cumret-linechart').updateProperties();
                            this.$$('aq-aggregatedreturns-barchart').updateProperties();
                        }, 500);
	            }
            },

            onResize: function () {
                if (this.$$('aq-cumret-linechart')) {
                    this.$$('aq-cumret-linechart').resizeChart();
                }

                if (this.$$('aq-aggregatedreturns-barchart')) {
                    this.$$('aq-aggregatedreturns-barchart').resizeChart();
                }
            },

            showVs:function (item, array) {
                return array.indexOf(item) < array.length - 1;
            },

            computePageType: function(comparisonType) {
            	return comparisonType.toString();
            },

            isComparisonReady: function(isDataReady) {
            	
            	if(isDataReady) {
            		this.$.comparisonContainer.style.display = 'block';
            	} else {
            		this.$.comparisonContainer.style.display = 'none';
            	}

            	return isDataReady;
            },

            _indexArrayChanged: function() {
                this.$.comparisonList.render();
            },

            open: function() {
                this.$$('#dialog').open();
                this.indexArray = this.compareItems.map(x => "Backtest " +x.index);
                this.doComparison();
            },

            close: function() {
                this.resetComparison();
                this.fire('comparison-off');
                this.$$('#dialog').close();
            },

            resetComparison: function() {
                this.isDataReady = false;
                this.indexArray = [];
                this.comparisonType = 0;      
            }

        });
    </script>
</dom-module>
