<link rel='import' href="../../../bower_components/iron-scroll-spy/iron-auto-scroll-spy.html">
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/iron-signals/iron-signals.html'>
<link rel="import" href="../../../bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="../../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/av-icons.html">
<link rel="import" href="../../../bower_components/iron-icons/social-icons.html">
<link rel="import" href="../../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../../bower_components/iron-collapse/iron-collapse.html">
<link rel="import" href="../../../bower_components/iron-signals/iron-signals.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../common/backtest/aq-backtest-metric-item-list.html">
<link rel="import" href="../common/backtest/aq-backtest-header-item.html">
<link rel='import' href='../../icons/aq-iconset.html'>

<script src="../../../resources/scripts/DateTime.js"></script>

<dom-module id='aq-analyze-home-backtest-item'>
    <template>
    	<style  include="iron-flex iron-flex-alignment iron-positioning">
    	</style>

        <style>
            :host {
                font-family: 'Lato', sans-serif;
                font-size: 18px;
            }

             .row-container {
                width: 100%;
                color: #3c3c3c;
                border: 1px solid #e1e1e1;
                border-top: none;
            }

            .row-container:hover {        
                background-color: #f4fffc;
            }


            paper-checkbox {
                --paper-checkbox-checked-color: #cc6666;
                margin-left: 10px;
            }

            h1, h2, h3, h4, h5 {
                margin: 0;
            }

            .inner-middle-container {
                margin-left: 10px;
                margin-right: 10px;
            }

            .li-container {
                text-align: center;
            }

            .text-label {
                font-size: 0.8em;
                font-weight: 300;
                text-align: center;
            }

            .text-content {
                font-weight: 400;
                font-size: 1em;
                margin-left: 5px;
            }

            .header-text {
                color: #474747;
                font-size: 14px;
            }

            #expandBtn {
                --transition: all 0.4s ease-in-out 0.3s;
                --padding: 0px;
                --height: 25px;
                --width: 65px;
                --transform: rotate(-45deg);
                color: teal;
            }

            paper-button {
                color: teal;
                border: 1px solid teal;
                background-color: white;
                height: 16px;
                font-size: 13px;
                text-transform: none;
                width: 80px;
                --margin-top: 10px;
            }

            paper-button[disabled] {
                border: 1px solid #c0c0c0;
                color: #c0c0c0;
                background-color: white;
            }

            paper-button:hover {
                background-color: teal;
                color: white;
            }

            iron-icon {
                margin-right: 5px;
                height: 17px;
                width: 17px;
            }

            #runForwardButton {
                width: 100px;
            }

            paper-icon-button {
                color: #cc6666;
            }

            paper-icon-button[disabled] {
                color: #c0c0c0;
            }

            iron-collapse {
                --iron-collapse-transition-duration: 0ms;
            }

            aq-qqq{
            	display: inline-block;
            }

            .header-item {
                font-size: 13px;
                width: 160px;
                margin-top: 15px;
                margin-bottom: 15px;
            }

            #backtest-name {
                padding-left: 10px;
                --width: 150px !important;
            }

            #button-container-first {
                --width: 70px;
                --margin-left: 10px;
                margin-bottom: 10px;
            }

            #button-container-second {
                --width: 70px;
                margin-right: 10px;
                --margin-bottom: 10px;
            }

            #header-item-backtest {
                width: 120px !important;
                margin-left: 10px;
                --font-size: 16px;
            }

            /*created*/
            #header-item-0 {
                width: 200px ;    
            }    

            /*date-range*/
            #header-item-1 {
                width: 140px;    
            }

            /*status*/
            #header-item-2 {
                width: 220px ;    
            }

            /*return & sharpe-*/
            #header-item-3 {
                width: 140px ;
            }

            #header-item-4 {
                width: 140px ;
            }

            #empty-header {
                width: 100px;
            }

            #only-backtest-container {
                width: calc(100% - 20px);
            }

            #only-backtest-container.canRun {
                width: calc(100% - 150px);
            }

            #only-backtest-container.detail:hover {
                cursor: pointer;
            }

        </style>

        <aq-portwidth-detector width="{{width}}"> 
        </aq-portwidth-detector>

        <div class="row-container layout horizontal center">
                
            <paper-checkbox class="self-center" on-change="onChange" noink></paper-checkbox>

            <div class$="layout horizontal [[computeDetailAvailableClass(detailAvailable, canRun)]]" id='only-backtest-container' on-tap='onBacktestDetail'>
                <div class="header-item" id="header-item-backtest">[[computeHeading(btIndex)]]</div>
            
                <template is='dom-if' if='[[backtestHeader]]'>
                    <template is='dom-repeat' items="{{backtestHeader}}">
    			         <div class="header-item" id="header-item-[[index]]">[[item.metric]]</div>
                     </template>
        		</template>

            </div>

            <template is='dom-if' if='[[canRun]]'>
                <paper-button id='runForwardButton' noink on-tap='runForwardtest' disabled="[[!isForwardTestingAvailable(backtest, hasForwardtest)]]">Run Forward
                </paper-button>
            </template>
    
        </div>
        
    </template>
    <script>
        Polymer({
            is: 'aq-analyze-home-backtest-item',
            
            properties: {
                backtest: {
                    type: Object,
                },

                btIndex: String,

                processedBacktest: {
                    type: Object,
                    value: {},
                },

                backtestId: String,

                hasForwardtest: {
                    type: Boolean,
                    value: false,
                },

                width: {
                    type: Object,
                    value:{},
                    observer:'_widthChanged',
                }, 

                canRun: {
                    type: Boolean,
                    value: false,
                },

                detailAvailable: {
                    type: Boolean,
                    value: false,
                },

                checkAll: {
                    type: Boolean,
                    value: false,
                    //notify:true,
                    observer:'_checkAllChanged',
                },

                backtestHeader: Array,
            },

            computeBacktestHeader: function() {
                if(this.width && this.processedBacktest) {
                    this.backtestHeader = null;
                    var backtestHeader = [
                    {   label: "Created",
                        metric: this.processedBacktest.createdAt, 
                    }, 

                    {
                        label: "Status",
                        metric: this.processedBacktest.status
                    },];

                    if(this.width.semiWide || this.width.wide || this.width.superWide) {
                        backtestHeader.push({
                            label: "Date Range",
                            metric: this.processedBacktest.startDate + " - " + this.processedBacktest.endDate
                        });
                    }

                    if (this.width.wide || this.width.superWide) {
                        backtestHeader.push({
                            label: "Total Return",
                            metric: !this.isBacktestActive(this.backtest) ? this.backtest.output.summary.totalreturn.toFixed(2).toString() + '%' : "-",
                        });    
                    }

                    if (this.width.superWide) {
                        backtestHeader.push({
                            label: "Sharpe Ratio",
                            metric: !this.isBacktestActive(this.backtest) ? this.backtest.output.summary.sharperatio.toFixed(2) : "-",
                        });
                    }

                    this.backtestHeader = backtestHeader;

                }
            },

            computeDetailAvailableClass: function(detailAvailable, canRun) {
                return detailAvailable  ? (canRun ? "detail canRun" : "detail"): "";
            },

            _widthChanged: function() {
                this.computeBacktestHeader();
            },

            attached: function () {
            	this.$$('paper-checkbox').checked = false;
                this.backtestId = this.backtest._id;
                this.processBacktestData();
            },

            computeHeading: function(btIndex) {
                return "Backtest " + this.formatIndex(btIndex);
            },

            formatIndex: function (index) {
                return index + 1;
            },

            processBacktestData: function () {
                var metricsArray1 = [];
                var metricsArray2 = [];

                if (this.backtest.output && this.backtest.output.summary) {
                    var data = this.backtest.output.summary;
                    var processedMetrics = [{
                        "metricName": "Total Return",
                        "metricValue": data.totalreturn.toFixed(2).toString() + '%',
                        "metricDescription": "Total Return"
                    },
                        {
                            "metricName": "Annual Return",
                            "metricValue": data.annualreturn.toFixed(2).toString() + '%',
                            "metricDescription": "Annual Return",
                        },
                        {
                            "metricName": "Volatility",
                            "metricValue": data.annualstandarddeviation.toFixed(2).toString() + '%',
                            "metricDescription": "Volatility"
                        },
                        {
                            "metricName": "Sharpe Ratio",
                            "metricValue": data.sharperatio.toFixed(2),
                            "metricDescription": "Sharpe Ratio"
                        },
                        {
                            "metricName": "Beta",
                            "metricValue": data.beta ? data.beta.toFixed(2) : "-",
                            "metricDescription": "beta"
                        },
                        {
                            "metricName": "Information Ratio",
                            "metricValue": data.informationratio.toFixed(2),
                            "metricDescription": "Information Ratio"
                        },
                        {
                            "metricName": "Max Drawdown",
                            "metricValue": data.maxdrawdown.toFixed(2).toString() + '%',
                            "metricDescription": "Max Drawdown"
                        },
                        {
                            "metricName": "Calmar Ratio",
                            "metricValue": data.calmarratio.toFixed(2),
                            "metricDescription": "Calmar Ratio"
                        }
                        /*{
	                     	"metricName":"Stability",
	                     	"metricValue":"-",
	                     	"metricDescription":"Stability"
                     	},
                     	{
	                	    "metricName":"Avg. Concentration",
		                    "metricValue":"-",
		                    "metricDescription":"Avg. Concentration"
                     	}*/
                        ];

                    this.processedBacktest = {metrics: processedMetrics};
                    
                }

                this.computeBacktestHeader();
                
                this.set('processedBacktest.startDate', date.formatDate(this.backtest.settings.startDate));
                this.set('processedBacktest.endDate', date.formatDate(this.backtest.settings.endDate));
                this.set('processedBacktest.status', this.backtest.status.charAt(0).toUpperCase() + this.backtest.status.slice(1));
                this.set('processedBacktest.createdAt', date.formatDateTime(this.backtest.createdAt));
            },

            isBacktestDetailValid: function(backtest) {
                return backtest.status != "exception"; 
            },  

            isBacktestShareable: function(backtest) {
               return backtest.status == "complete";      
            },

            isBacktestActive: function (backtest) {
                return backtest.status != "complete"; 
            },
                
            isForwardTestingAvailable: function(backtest, hasForwardtest) {
                 return backtest.status == "complete" && !hasForwardtest;
            },

            onBacktestDetail: function () {
                if(this.detailAvailable) {
                    this.fire('detail-action', {id: this.backtest._id, index: this.btIndex});
                }
            },

            onShare: function () {
                this.fire('shareClicked', {id: this.backtest._id});
            },

            toggle: function (e) {

				this.ironCollapse = this.$$('iron-collapse');

            	var isOpen = this.ironCollapse.opened;

            	if(e.detail.expand && isOpen) {
            		return;
            	} else if(e.detail.expand == false && !isOpen) {
            		return;
            	}
            	
                this.ironCollapse.toggle();

                this.expand = this.ironCollapse.opened;
            },

            onChange: function () {
                /*this.fire('backtestChecked', {
                    id: this.backtest._id,
                    checked: this.$$('paper-checkbox').checked,
                    index: "Backtest "+this.formatIndex(this.btIndex)
                });*/

                if(this.backtest) {
                    this.fire('check', {
                        id: this.backtest._id,
                        checked: this.$$('paper-checkbox').checked,
                        index: this.formatIndex(this.btIndex),
                        valid: this.isBacktestDetailValid(this.backtest)
                    });
                }
            },

            runForwardtest: function() {
                this.fire('execute-forwardtest', {backtestId: this.backtestId});
            },

            _checkAllChanged: function() {
                if(this.$$('paper-checkbox')) {
                    this.$$('paper-checkbox').checked = this.checkAll;
                    this.onChange();
                }
            },
    

        });

    </script>
    
</dom-module>


