
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../../bower_components/app-route/app-route.html'>
<link rel='import' href='../../../bower_components/app-route/app-location.html'>
<link rel='import' href='../../../bower_components/iron-signals/iron-signals.html'>
<link rel='import' href='../../../bower_components/paper-icon-button/paper-icon-button.html'>
<link rel='import' href='../../../bower_components/paper-header-panel/paper-header-panel.html'>
<link rel="import" href="../../../bower_components/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="../../../bower_components/iron-lazy-pages/iron-lazy-page.html">
<link rel='import' href='../common/aq-check-authentication.html'>
<link rel="import" href="../common/aq-navigation-item.html">
<link rel="import" href="../common/aq-allpage-layout.html">

<link rel='import' href='./aq-analyze-home-menu.html'>
<link rel='import' href='./aq-analyze-home-header.html'>
<link rel='import' href='./aq-analyze-home-backtest-item.html'>

<link rel='import' href='./aq-analyze-backtest-comparison-dialog.html'>

<link rel='import' href='../../dialog/aq-action-dialog.html'>
<link rel='import' href='../../dialog/aq-ongoing-action-dialog.html'>
<dom-module id="aq-analyze-home">

	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>

	<style>
		#container {
            margin: 0 auto;
            color: #24293d;
            width: 90%;
        }

        #backtest-container {
            margin-left: 4%;
            margin-right: 4%;
            margin-top: 30px;
            margin-bottom: 30px;
        }

	  	#dialog{
			width:80%;
			--height:80%;
		}

		#comparison {
			margin:20px;
			--height:400px;
		}

		.spacer {
			margin-bottom: 13px;
			height:0px;
			min-width: 500px;
		}

	</style>

	<template>

		<iron-ajax
          	url="[[computeGetStrategyUrl(strategyId)]]"
     	 	method='GET'
          	id='getStrategyQuery'
          	handle-as="json"
          	on-response="onGetStrategy"
          	on-error="onGetStrategyError"
          	headers='{{header}}'
          	debounce-duration="300"
          	loading='{{strategyLoading}}'>
        </iron-ajax>

		<iron-ajax
          	url="[[computeGetAllBacktestsUrl(strategyId)]]"
     	 	method='GET'
          	id='getBacktestsQuery'
          	handle-as="json"
          	on-response="onGetAllBacktestsForStrategy"
          	on-error="onGetAllBacktestsForStrategyError"
          	headers='{{header}}'
          	params='[[searchParams]]'
          	debounce-duration="500"
          	loading='{{backtestLoading}}'>
        </iron-ajax>

		<iron-ajax
          	url="[[computeDeleteBacktestUrl(deleteId)]]"
     	 	method='DELETE'
          	id='deleteBacktestQuery'
          	handle-as="json"
          	on-response="onDeleteBacktestForStrategySuccess"
          	on-error="onDeleteBacktestForStrategyError"
          	headers='{{header}}'
          	debounce-duration="300">
        </iron-ajax>

         <iron-ajax
            url=""
            body="{{runForwardExecData}}"
            method='POST'
            id='runForwardStrategyQuery'
            headers='{{header}}'
            handle-as="json"
            on-response="onForwardStrategyExecutionResponse"
            on-error="onForwardStrategyExecutionError"
            debounce-duration="300">
        </iron-ajax>

        <aq-check-authentication id='authItem'></aq-check-authentication>

	 	<iron-signals on-iron-signal-backtest-added='onBacktestAdded'></iron-signals>

	 	<iron-signals on-iron-signal-forwardtest-added='onForwardtestAdded'></iron-signals>

	 	<iron-signals on-iron-signal-backtest-completed='onBacktestCompleted'></iron-signals>

	 	<iron-signals on-iron-signal-dirtybit='onSetDirtyBit'>
	 	</iron-signals>
		
		<!--template is='dom-if' if='{{!isLoading(strategyLoading, backtestLoading)}}'-->
		 
	        <aq-allpage-layout 
	        	loading="[[!isHomeReady(strategyLoading, backtestLoading, backtests)]]"
	        	header="All Backtests"
	    	 	current-path="[[currentPath]]">

	    	 	<template is='dom-if' if='[[hasBacktests(backtests)]]'> 
	        	<div id="backtest-container" class="internal-content">
			        <aq-analyze-home-menu
			        	check-all="[[checkAll]]"
			        	num-active-backtests="[[checkedItems.length]]"
		              	strategy-name="{{strategyName}}"
		              	can-compare=[[_allCheckedItemsValid(checkedItems)]]>
		          	</aq-analyze-home-menu>

			        <!--template is='dom-if' if='{{!isLoading(strategyLoading, backtestLoading)}}'-->
						
			        	<aq-analyze-home-header 
			        		check-all="[[checkAll]]"
			        		on-checkall="onCheckAll"
			        		num-active-backtests="[[checkedItems.length]]"
			        		share-icon can-run>
		        		</aq-analyze-home-header>
		              	
						<template is='dom-repeat' items="{{backtests}}" initial-count=10>
							<aq-analyze-home-backtest-item  
								class="backtest-item" bt-index="{{index}}" backtest="{{item}}" detail-icon share-icon 
								has-forwardtest="[[hasForwardtest]]"
								can-run detail-available
								on-check="onCheck"
								check-all=[[checkAllItems]]>
							</aq-analyze-home-backtest-item>
						</template>

						<template is='dom-if' if='[[isBacktestCountOdd(backtests)]]'>
							<div class="spacer"></div>
						</template>
					<!--/template-->
				</div>
				</template>
			</aq-allpage-layout>
			
			<aq-analyze-backtest-comparison-dialog 
				id="comparisonDialog"
				strategy-name="[[strategyName]]" 
				compare-items="[[checkedItems]]" 
				active="[[showComparison]]">
			</aq-analyze-backtest-comparison-dialog>
			
		    <aq-action-dialog id ="deleteDialog" heading="Delete Backtests"
			 	message="Are you sure to delete [[checkedItems.length]] backtest[[getMessageSuffix(checkedItems)]]?"
			 	action-type="deleteBacktest"
			 	cancel-text="Cancel"
			 	accept-text="Delete">
	    	</aq-action-dialog>

	    	<aq-ongoing-action-dialog id ="ongoignDeletionDialog" 
	    		heading="Deleting Backtests">
	    	</aq-ongoing-action-dialog>
    	<!--/template-->

	</template>

    <script>
    	Polymer({
    		is: 'aq-analyze-home',

    		properties: {

    			strategyName: String,

    			strategyId: {
					type:String,
					//observer:'_strategyIdChanged',
				},

    			backtests: {
    				type:Array,
    				value:[],
       			},

       			deleteId: String,

    			checkedCount: {
    				type: Number,
    				value:0,
    			},

    			checkedItems: {
					type:Array,
					value:[],
				},

				routeData: {
					type:Object,
				},

				subroute:Object,

				strategyLoading: {
					type: Boolean,
					value:false
				},

				backtestLoading: {
					type: Boolean,
					value: false,
				},

				dirtyBit: {
					type: Number,
					value: 1,
					observer:'_dirtyBitChanged',
				},

				searchParams:{
					type:Object,
					value:{},
				},

				perPage:{
					type:Number,
					value:0,
				},

				currentPage:{
					type:Number,
					value:1,
				},

                checkAll:{
				    type:Boolean,
                    value:false,
                },

				indexArray:{
                	type:Array,
					value:[]
				},

				currentPath: {
					type: Array,
					//value: ["Home", "Research", "All Strategies", "All Backtests"],
				},

				hasForwardtest: {
					type: Boolean,
					value: false,
				},

				runForwardExecData: {
					type: Object,
					value:{},
				},

    		},

    		listeners: {
				'compare-clicked':'openComparisonDialog',
				'backtestChecked':'checkBacktest',
				'delete-clicked':'openDeleteDialog',
				'comparison-off':'onComparisonOff',
				'deleteBacktest-action':'onDeletion',
				'detail-action':'onDetail',
				'execute-forwardtest':'runForwardtest',
			},

			_allCheckedItemsValid: function(checkedItems) {
				return checkedItems.filter(item => {return item.valid;}).length == checkedItems.length;
			},

			attached: function() {
				this.resetData();

				if (!this.$.authItem.checkHasToken()) {
                    this.fire('rt-changed', {route: '/user/signin'});
                    return;
                } else if (this.dirtyBit == 1) {
                    this.fetchBacktests();
                }

                this.fire('unsubscribe-all');

			},

			resetData: function() {
				this.checkedItems = [];
				this.hasForwardtest = false;
				this.checkAll = false;
				this.checkedCount = 0;
			},

			_strategyIdChanged: function(nId, oId) {
				//console.warn("Strategy Id Changed");
				//console.warn(nId);
				//console.warn(oId);
				if(nId && nId!= "") {
					//this.fetchBacktests();
	        	}
			},

			_dirtyBitChanged: function() {
				if(this.dirtyBit == 1 && this.strategyId) {
					this.fetchBacktests();
				}
			},

			fetchBacktests: function() {
				if(!this.$.authItem.checkHasToken()) {
         	 		this.fire('rt-changed',{route:'/user/signin'});
	          		return;
	          	} else {
	        		this.header = this.$.authItem.getHeader();
        			this.$.getStrategyQuery.generateRequest();
        			this.dirtyBit = 0;
	        	}
			},

			hasBacktests: function(backtests) {
				return backtests ? backtests.length > 0 : false;
			},

	      	computeGetStrategyUrl: function(strategyId) {
	      		var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
	      		return APIEndPoint+'/strategy/'+strategyId;
	      	},

	      	computeDeleteBacktestUrl: function(deleteId){
	      		var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
	      		return APIEndPoint+'/backtest/'+deleteId;
	      	},

	      	computeGetAllBacktestsUrl: function(strategyId){
	      		var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
	      		return APIEndPoint+'/strategy/'+strategyId+'/backtests';
	      	},

			goToEditor: function() {
				this.fire('rt-changed', {route:'/research/strategy/'+this.strategyId});
			},

			isBacktestCountOdd: function(backtests) {
				return backtests.length % 2 == 1;
			},

			onGetAllBacktestsForStrategy: function(data) {

				if(this.backtests.length == 0) {
					this.backtests =  data.detail.response;
				} else {
					this.backtests.push(data.detail.response);
				}

				this.dirtyBit = 0;

				document.title = "All backtests for " + this.strategyName + " - AimsQuant";
			},

			onGetAllBacktestsForStrategyError: function(e) {
				this.backtests=[{}];
				this.async(function() {
					this.fire('ajax-error', {request: e.detail.request});}, 300);
			},

			onGetStrategy: function(data) {
				var strategy = data.detail.response;
				this.strategyName = strategy.name;

				var currentPath = JSON.parse(JSON.stringify(this.currentPath));
				currentPath.push({text:"All Strategies", route:"/research/strategy"});
				currentPath.push({text: this.strategyName, route:"/research/strategy/"+this.strategyId});
				currentPath.push({text:"All Backtests"});
				
				this.currentPath = [];
				this.currentPath = currentPath
				
				this.hasForwardtest = strategy.numForwardtests == 1;

				this.searchParams = {"skip":this.perPage*(this.currentPage -1), "limit":this.perPage};

				this.$.getBacktestsQuery.generateRequest();
			},

			onGetStrategyError: function(e) {
				this.backtests=[{}];
				this.async(function() {
					this.fire('ajax-error', {request: e.detail.request});}, 300);

			},

			onCheck: function(e) {
				var checked = e.detail.checked;
	        	var checkedId  = e.detail.id;
	        	var checkedIndex = e.detail.index;
	        	var checkedItems = this.checkedItems;

	        	if (checked == true) {
                    if(checkedItems.map(function(x) {return x.id;}).indexOf(checkedId) == -1) {
                        checkedItems.push({id: checkedId, index: checkedIndex, valid: e.detail.valid});
                    }
	        	} else {
                    checkedItems.splice(checkedItems.map(item => {return item.id;}).indexOf(checkedId),1);
	        	}

	        	checkedItems.sort((a,b) => {return a.index > b.index ? 1 : -1});

        		this.checkedItems = [];
        		this.checkedItems = checkedItems;
	        	
	        	this.checkAll = this.checkedItems.length == this.backtests.length;

	        },

	        numCheckedBacktests: function(checkedItems) {
	        	return checkedItems.length;
	        },

	        getMessageSuffix: function(checkedItems) {
        		return this.numCheckedBacktests(checkedItems) > 1 ? "s" :"";
        	},

	        openDeleteDialog: function() {
	        	this.$$('#deleteDialog').open();
	        },

	        onDeletion: function(e) {

	        	e.stopPropagation();
	        	//Send DELETE request to backend
	        	for (var i=0; i<this.checkedItems.length;i++) {
	        		var item = this.checkedItems[i];
	        		var idx = this.backtests.map(function(x) {return x._id;}).indexOf(item.id);
	        		if(idx != -1) {
	        			this.deleteId = item.id;
	        			this.$$('#ongoignDeletionDialog').open();
        				this.$.deleteBacktestQuery.generateRequest();
	        		}
        		}

	    		this.deleteId="";
                this.checkAll = false;
	        },

	        onDeleteBacktestForStrategySuccess: function(data) {
	        	var deleteId = data.detail.response.backtestId;
	        	var idx = this.backtests.map(function(x) {return x._id;}).indexOf(deleteId);

	        	if(idx != -1) {
	        		this.splice('backtests', idx, 1);
    				
    				this.splice('checkedItems', this.checkedItems.map(function(x){return x.id;}).indexOf(deleteId), 1);

    				this.fire('iron-signal', {name:'backtest-deleted'});
	        	}

	        	if(this.checkedItems.length == 0) {
	        		this.$$('#ongoignDeletionDialog').close();
	        	}

	        	if(this.backtests.length == 0) {
	        		this.fire('rt-changed', {route:'/research/strategy'});
	        	}
	        },

	        onDeleteBacktestForStrategyError: function(e) {
				this.fire('ajax-error', {request: e.detail.request});
	        },

	        toggleComparison: function() {
	        	this.showComparison = !this.showComparison;
	        },

	        onDetail: function(e) {
	        	e.stopPropagation();
	        	this.fire('rt-changed', {route:'/research/backtests/' + this.strategyId+'/'+ e.detail.id +'?strategyName='+this.strategyName+'&type=backtest&heading=Backtest '+(e.detail.index + 1)});
	        },

	        onBacktestAdded: function() {
	        	this.dirtyBit = 1;
	        },

	        onForwardtestAdded: function() {
	        	this.dirtyBit = 1;
	        },

	        onBacktestCompleted: function() {
	        	this.dirtyBit = 1;
	        },

	        onSetDirtyBit: function(e) {
	        	this.dirtyBit = e.detail;
	        },

	        isHomeReady: function(strategyLoading, backtestLoading, backtests) {
	        	return !strategyLoading && !backtestLoading && (backtests ? backtests.length > 0 : false);
	        },

			computeSelectedPage: function(showComparison) {
		 		return showComparison ? "comparison" : "home";
			},

			_showComparisonChanged: function() {
				if(!this.showComparison) {
					this.resetView();
				}
			},

			runForwardtest: function(e) {
                var backtestId = e.detail.backtestId;

                if (this.$.authItem.checkHasToken()) {
                    //prepare the data for psoting forward strategy
                    this.header = this.$.authItem.getHeader();
                    var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;

                    this.runForwardExecData = {strategyId: this.strategyId, backtestId: backtestId};

                    this.$.runForwardStrategyQuery.url = APIEndPoint + '/forwardtest';
                    this.$.runForwardStrategyQuery.generateRequest();
                }
            },

            onForwardStrategyExecutionResponse: function (e) {
                this.fire('iron-signal', {name:'forwardtest-added'});
                this.fire('rt-changed', {route:'/research/strategy'});
            },

            onForwardStrategyExecutionError: function(e) {
            	this.loading = true;
            	this.fire('ajax-error', {request: e.detail.request});
            },

            openComparisonDialog: function() {
            	this.$$('#comparisonDialog').open();
            },

            onComparisonOff: function() {	
            	this.checkAllItems = null;
            	this.checkAllItems = false;
            },

            onCheckAll: function(e) {
            	if(this.checkAllItems && e.detail.checked) {
            		this.checkAllItems = null;
            	}

            	this.checkAllItems = e.detail.checked;
            	//this.checkAllBacktests();
            },

    	});
    </script>

</dom-module>