<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel="import" href="../common/aq-portwidth-detector.html">

<dom-module id='aq-analyze-home-header'>
	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>

	<style>
		
		paper-checkbox {
            --paper-checkbox-checked-color: #cc6666;
            --margin-right: 5px;
            margin-left: 10px;
		}

		#header {
			background-color: #fafafa;
			border: 1px solid #e1e1e1;
			height: 46px;
			width: 100%;
		}

		.header-item {
			font-size: 15px;
			width: 160px;
		}

		#header-item-backtest {
			margin-left: 10px;
			width: 120px;
		}

		#backtest-name {
            padding-left: 10px;
            --width: 150px !important;
        }

		/*created*/
        #header-item-0 {
            width: 200px;    
        }    

        /*date-range*/
        #header-item-1 {
            width: 140px;    
        }

        /*status*/
        #header-item-2 {
            width: 220px ;    
        }

        /*return & sharpe-*/
        #header-item-3 {
            width: 140px ;
        }

        #header-item-4 {
            width: 140px ;
        }

		#empty-header {
			width: 100px;
		}

		#only-backtest-header {
			width: calc(100% - 40px);
		}

		#only-backtest-header.canRun {
			width: calc(100% - 148px);
		}

	</style>

	<template>
		<aq-portwidth-detector width="{{width}}"></aq-portwidth-detector>

		<template is='dom-if' if='[[header]]'>
			<div id="header" class="layout horizontal center">
			 	
				<paper-checkbox checked=[[checkAll]] noink class="checkbox-all self-center"
		            	on-change='onCheckAll' on-checked-change='onCheckAll'>
		        	</paper-checkbox>
		        <div class$="layout horizontal [[computeLayoutClass(canRun)]]" id="only-backtest-header">	
		        	<div class="header-item" id="header-item-backtest">Backtest</div>
		        	
		        	<template is='dom-repeat' items='[[header]]'>
		        		<div class="header-item" id="header-item-[[index]]">[[item]]</div>
		        	</template>
	    		<!--div id="empty-header"></div-->
	    	</div>
    	</template>
	</template>

	<script>
		Polymer({
			is: 'aq-analyze-home-header',

			properties: {
				checkAll:{
                    type:Boolean,
                    value:false,
                },

                width: {
                	type: Object,
                	observer: '_widthChanged',
            	},

            	canRun: {
            		type: Boolean,
            		value: false,
            	},
            	
            	header:Array,

			},

			attached: function() {
				this.computeHeader();
			},

			computeHeader: function() {
				if(this.width) {
                    this.header = null;
                    var header = ["Created Date", "Status"];
                     
                    if(this.width.semiWide || this.width.wide || this.width.superWide) {
                        header.push("Date Range");
                    }

                    if (this.width.wide || this.width.superWide) {
                       header.push("Total Return");    
                    }

                    if (this.width.superWide) {
                        header.push("Sharpe Ratio");
                    }

                    this.header = header;
                }
			},

			_widthChanged: function() {
				this.computeHeader();
			},

			onCheckAll: function () {
				//this.checkAll = this.$$('paper-checkbox').checked;
				this.fire('checkall', {checked: this.$$('paper-checkbox').checked});
            },

            computeLayoutClass: function(canRun) {
            	return canRun ? "canRun" : "";
            }

		});
	</script>
</dom-module>
