
<link rel='import' href='../../../bower_components/paper-icon-button/paper-icon-button.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../../icons/aq-iconset.html'>
<link rel="import" href="../common/backtest/aq-backtest-detail-item.html">
<link rel="import" href="../common/aq-check-authentication.html">
<link rel="import" href="../common/aq-allpage-layout.html">

<dom-module id="aq-analyze-backtest-detail">
	
	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>

	<style>
		#backtest-detail-container {
			margin-left: 0%;
			margin-right: 0%; 
			margin-top: 0px;
		}
	</style>

	<template>
	 	<aq-check-authentication id='authItem'></aq-check-authentication>
		
 	    <aq-allpage-layout loading="{{loading}}" header="Backtest Detail" current-path=[[currentPath]]>
	  		<div class="internal-content" id="backtest-detail-container">
		      	<aq-backtest-detail-item
		      		loading="{{loading}}" 
		      		backtest-id="[[backtestId]]" 
		      		heading="[[heading]]" 
		      		can-share
		      		show-progress
		      		show-full>
	      		</aq-backtest-detail-item>
			</div>
		</aq-allpage-layout>
      		
	</template>

	<script>
		Polymer ({
			is:'aq-analyze-backtest-detail',
			
			properties:{
				strategyId:String,
				backtestId:String,

				routeData:Object,

				heading: String, 

				currentPath: {
					type: Array,
					//value: ["Home", "Research", "All Strategies", "All Backtests", "Backtest Detail"]
				},

				loading: {
					type:Boolean,
				},
			},

			goBackAllBacktests: function() {
				this.fire('unsubscribe-data',{backtestId:this.backtestId});
				this.fire('rt-changed',{route:'/research/backtests/' + this.strategyId});
			},

			attached: function() {
				if(!this.$.authItem.checkHasToken()) {
         	 		this.fire('rt-changed',{route:'/user/signin'});
	          		return;
	          	} 
			},

			goToEditor: function() {
				this.fire('rt-changed',{route:'/research/strategy/' + this.strategyId});
			},

		});
			
	</script>
			
</dom-module>


