<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<link rel='import' href='../../icons/aq-iconset.html'>

<dom-module id='aq-analyze-home-menu'>
	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>
    
    <style>
    	#menu-container {
    		margin-bottom: -5px;
    		color: #3c3c3c;
    		height: 46px;
    	}

    	#header {
    		font-size: 18px;
    	}

		paper-tooltip.iconTooltip {
        	--paper-tooltip: {
          		font-size: 11px;
          		min-width: 40px;
          		text-align: center;
        	};

        	--paper-tooltip-opacity: 1.0;
			--paper-tooltip-background: teal;
		}

        paper-button {
        	color: #bd362f;
        	border: 1px solid #bd362f;
        	background-color: white;
        	height: 22px;
        	font-size: 14px;
        	text-transform: none;
        	border-radius: 0px;
        }

      	paper-button[disabled] {
            border: 1px solid #c0c0c0;
            color: #c0c0c0;
            background-color: white;
        }
        
        .checkbox-all {
            --paper-checkbox-checked-color: #cc6666;
            margin-left: 10px;
        }
        
        paper-icon-button{
            --paper-icon-button:{
                color:#cc6666;
            };

            width:40px;
            height:40px;
        }

        iron-icon {
        	height: 17px;
        	width: 17px
        }

	</style>
	
	<template>
        <div id="menu-container" class="layout horizontal center">
            <p id="header">All Backtests for <i>[[strategyName]]</i></p>
            <div class="flex"></div>
            <div id='menu-icons' class="layout horizontal center">

        	 	<paper-button raised id='compareButton' class="self-center" noink on-tap="onCompare" disabled="[[!isCompareActive(numActiveBacktests, canCompare)]]">Compare
                </paper-button>
               
            	<paper-button raised id='deleteButton' class="self-center" noink on-tap="onDelete" disabled="[[!isDeleteActive(numActiveBacktests)]]"><iron-icon icon="aq-icons:delete"></iron-icon>Delete Selected
                </paper-button>
            </div>

        </div>

	</template>
	
	<script>
		Polymer ({
			is: 'aq-analyze-home-menu',

			properties: {
				strategyName:{
					type:String,
				},

				numActiveBacktests:{
					type:Number,
					value:0,
				},

                expand:{
				    type:Boolean,
                    value: false
                },

                checkAll:{
                    type:Boolean,
                    value:false
                },

                canCompare:{
                	type: Boolean,
                	value: false,	
                }
			},

			isCompareActive: function(numActiveBacktests, canCompare) {
				return canCompare ? (numActiveBacktests > 1 && numActiveBacktests <=5) : false;
			},

			isDeleteActive: function(numActiveBacktests) {
				return numActiveBacktests > 0;
			},

			isShareActive: function(numActiveBacktests) {
				return numActiveBacktests == 1;
			},

			onDelete: function() {
				this.fire('delete-clicked');
			},

			onCompare: function() {
				this.fire('compare-clicked');
			},

            expandAll:function () {
        	    this.expand = !this.expand;
        	    this.fire('iron-signal',{name:'expand-backtest',data:{expand:this.expand}});
            },

		});
		
	</script>
</dom-module>
