
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/app-route/app-location.html">

<link rel="import" href="./common/aq-allpage-layout.html">
<link rel="import" href="./common/aq-portwidth-detector.html">
<link rel='import' href='./aq-footer.html'>

<dom-module id="aq-aboutpage">

    <style include="iron-flex iron-positioning iron-flex-alignment"></style>

    <style>

      :host {
        font-family: 'Avenir', sans-serif;
      }

      footer {
        border-top: 10px solid rgba(154, 157, 160, 0.2);*/
        bottom: 0px;
        color: black; 
        text-align: center !important;
        padding: 19px 30px 20px;
        position: relative;
      }

      #container-bg {
        background: #fff;
        height: 100%;
        --width: 80%;
        --margin: 0 auto;
        --margin-top:30px;
      }

      paper-tabs {
        margin-left: 20%;
        margin-right:10%;
        max-width:500px;
        margin-bottom: 20px;
        margin-top:100px;
        --paper-tabs-selection-bar-color: #cc6666;
      }

      paper-tab {
        width:10%;
        color: teal;
        font-size: 16px;
      }

      #inner-container {
        width: 100%;
        margin: 0 auto;
        --margin-top: 50px;
        margin-top: 0px;
        margin-bottom: 0px;
      }

      .header {
          --font-size: 20px;
          font-size: calc(8px + 1.5vw);
          font-weight: 700;
      }

      .tagline {
         --font-size: 32px;
         font-size: calc(7px + 2vw);
         color: teal;
      }

      img {
          height:calc(50px + 18vw);
          width:calc(50px + 18vw);
          max-width: 100%;
      }

      .image.narrow {
          --display: none;     
      }

      .content {
        margin-top :30px;
        @apply(--layout-horizontal);
        @apply(--layout-around-justified);
      }

      .content.narrow {
        margin-top: 10px;
        @apply(--layout-vertical);
        font-size: 14px;
      }

      #first-section-text {
         width: 50%;
         margin: auto 0;
      }

      #first-section-text.narrow {
         width: 100%;
      }

      #first-section-text.narrow p{
         font-size: 12px;
      }

      p {
        line-height: calc(12px + 1.2vw);
        text-align: justify;
        font-size: calc(10px + 0.8vw);
      }

      paper-button {
          --paper-button: {
              border: 2px solid teal;
              color: teal;
              padding: 5px 20px;
              font-size: 14px;
              --font-weight: 700;
          };
      }

      paper-button.semiWide {
        font-size: 12px;
      }

      paper-button.narrow,.narrowWide {
        font-size: 10px;
      }

      paper-button:hover {
          color: white;
          background-color: teal;
      }

      .category-container {
          height: calc(92vh - 120px);
          padding-top: 60px;
          padding-bottom: 60px;
          width: 80%;
          margin: 0 auto;
      }

      #first-category-container {
          height: calc(92vh - 120px) !important;
      }

      #whoweare-category-container {
        height: 125px;
      }

      #second-section-text {
        width: 100%;
      }

      #career-tagline {
        --font-weight: 700;
        font-size: 28px;
        margin-bottom: 20px;
      }

      #footer-section {
        width: 100%;
        background-color: black;
        height: 200px;
      }

      .ctButton {
         color: white;
         background-color: teal;
         border-radius: 25px;
         margin-top: 20px;
         margin-bottom: 20px;
         font-weight: 700;
         font-size: 13px;
      }

      .ctButton:hover {
          background-color: teal;
      }

      a {
        text-decoration: none;
      }

    </style>

    <template>

        <!--app-location route="{{route}}" use-hash-as-path></app-location-->

        <app-location route="{{route}}"></app-location>
        <app-route
            route="{{route}}"
            pattern="/about/:section"
            data="{{routeData}}">
        </app-route>

        <app-route
            route="{{route}}"
            pattern="/about"
            active="{{active}}">
        </app-route>

        <aq-portwidth-detector width="{{width}}"></aq-portwidth-detector>

        <div id='container-bg' class="layout vertical fit">       
            <aq-allpage-layout no-nav class="flex" elevation=0> 
                <div class="internal-content" id='inner-container'>
                    <div class="layout vertical category-container" id='first-category-container'>
                        <div class="header self-start">About Us</div>
                        
                        <div class="tagline self-start">Invest in your Ideas with tools of professionals</div>
                        
                        <div class$="content [[computeLayoutClass(width)]]">
                            
                            <div class$="image self-center [[computeLayoutClass(width)]]">
                            <img src="../../resources/images/aboutus/link.png"></div>
                            
                            <!--div class="flex"></div-->
                            
                            <div id="first-section-text" class$="[[computeLayoutClass(width)]]">
                              <!--h3>Bridging the gap</h3-->
                              <p class="self-center">AimsQuant aims to bridge the data and technology gap between investment enthusiasts and great investments. We want to create an ecosystem where data scientists, quantitative analysts, programmers and investment enthusiasts come together to create the best investment ideas.</p>

                              <paper-button class$="[[computeLayoutClass(width)]]" noink on-tap='toSectionTwo'>Read More</paper-button>
                            </div>
                        </div>
                    </div>

                    <div class="layout vertical category-container" id='second-category-container'>
                        <div class="header self-start">What are we building </div>
                        
                        <div class="tagline self-start">Quantitative Research Platform</div>
                        
                        <div id="second-section-text">
                            <p>In ever expanding financial markets it is important to systematically scrutinize investment ideas and separate real investment signals from noise. At AimsQuant, we are building an easy to use web platform to systematically research investment ideas.</p>

                            <p>With access to superior tools and free data, we want to democratize the investment arena. At AimsQuant, anyone can build and test investment strategies, share it with the community for the feeback or trade it on personal account.</p>

                            <paper-button class$="[[computeLayoutClass(width)]]" noink on-tap='toWhoWeAre'>Read More</paper-button>
                        </div>
                    </div>

                    <div class="layout vertical category-container" id='whoweare-container'>
                        <div class="header self-start">Who We Are</div>
                        
                        <div class="tagline self-start">They call us "Quants"</div>
                        
                        <div id="second-section-text">
                            <p>We are bunch of Quants and Technologists who enjoy financial markets and making efficient technology. We aim to simplify investment science and filter noise from real investment ideas</p>

                            <paper-button class$="[[computeLayoutClass(width)]]" noink on-tap='toCareers'>Read More</paper-button>
                        </div>
                    </div>

                    <div id='career-container' class="layout vertical category-container">
                        <div class="header self-start">Careers</div>
                        
                        <div class="tagline self-start">Those who see inefficiencies</div>
                        
                        <div>
                            <p>We are always looking for highly motivated individuals interested in technology and financial markets. If you like to solve problems and build efficient technology, we would love to be in touch.</p>

                            <a href="mailto:careers@aimsquant.com">
                            <paper-button class$="[[computeLayoutClass(width)]]" noink >Apply for a Job</paper-button></a>
                        </div>
                    </div>

                    <div id='connect-container' class="layout vertical category-container">
                      
                      <div class="header self-start">Connect With Us</div>
                      
                      <div class="tagline self-start">Like what we are building?</div>

                      <div>
                        <p>We always welcome insightful thoughts, great mentors and helpful suggestions. If you are an industry expert or an investor, we are eager to learn your opinion.</p>

                        <a href='mailto:connect@aimsquant.com'>
                        <paper-button class$="[[computeLayoutClass(width)]]" noink>Contact Us</paper-button></a>                    
                      </div>

                    </div>

                    <aq-footer></aq-footer>

                </div>
            </aq-allpage-layout>

            <div class="flex"></div>
        </div>  
    
  </template>

  <script>

    Polymer({
  		is: 'aq-aboutpage',

      properties: {
          routeData: {
              type: Object,  
              observer:'_routeDataChanged',
          },

          width: {
            type: Object,
          }
      },

      attached: function() {
          document.title = 'About Us - AimsQuant';
      },

      computeLayoutClass: function(width) {
          if(width) {
            if (width.narrow) {
                return"narrow";
            } else if (width.narrowWide) {
                return "narrowWide";
            } else if (width.semiWide) {
                return "semiWide"
            } else if(width.wide) {
                return "wide";            
            } else {
                return "superWide";
            }

          }
      },

      _routeDataChanged: function() {
          
          var element = '';
          if(this.routeData.section == "contact")  {
              element = this.$$('#connect-container');
              document.title = 'Connect With us - AimsQuant';
          } else if (this.routeData.section == "careers") {
              element = this.$$('#career-container');
              document.title = 'Careers - AimsQuant';
          } else if (this.routeData.section == "people") {
              element = this.$$('#whoweare-container');
              document.title = 'Who We Are - AimsQuant';
          } else {
              element = this.$$('#first-category-container');
              document.title = 'About Us - AimsQuant';
          } 

          this.debounce('scroll', function(){element.scrollIntoView(true);}, 200);
      },

      isNarrow: function(width) {
        return width.narrow;
      },

      toSectionTwo: function() {
        this.$$('#second-category-container').scrollIntoView(true);  
      },

      toWhoWeAre: function() {
          this.$$('#whoweare-container').scrollIntoView(true);  
      },  

      toCareers: function() {
          this.$$('#career-container').scrollIntoView(true);  
      },

      toSectionFour: function() {
        this.$$('#fourth-category-container').scrollIntoView(true);  
      },

    });

  </script>

</dom-module>