
<dom-module id='aq-error-page'>
	
	<style include="iron-flex iron-flex-alignment iron-positioning"></style>

	<style>

		:host {
			font-family: 'Garamond', sans-serif;
		};

		#container {
			margin-left: 20px;		
		}

		h3 {
			color:teal;
		}

		p {
			font-size: 18px;
		}

		p span {
			font-weight: 700;
		}

		#header {
			font-size: 24px;
			color: teal;
			margin-bottom: 5px;
		}

		i {
			color:#cc6666;
		}

		aper-button {
			width:15%;
			background-color: white;
			border: 1px solid teal;
			color: #cc6666;
			border-radius: 20px;
			min-width: 100px;
		}

		paper-button {
          text-transform: none;
          --paper-button: {
              border-radius: 20px;  
              font-size: 14px;
              background: teal;
              color: white;
              padding: 5px 20px;
              height: 25px;
          };
      }

	</style>

	<template>

		<app-location route="{{route}}"></app-location>
        
        <app-route
            route="{{route}}"
            pattern="/errorPage"
            query-params="{{queryParams}}">
        </app-route>

		<div class="layout vertical fit">
			<div id = 'container' class="self-start"> 
				<p id='header'class="self-start">Error [[computeErrorCode(queryParams)]]</p>
				<p id='p1' class="self-start">[[computeErrorMessage(queryParams)]]</p>
				<!--paper-button on-tap='goToLogin'>Go Back</paper-button-->
			</div>
		</div>
	</template>
	
	<script>
		Polymer({
			is: 'aq-error-page',

			computeErrorCode: function(queryParams) {
				return queryParams.code ? queryParams.code : 404;
			},

			computeErrorMessage: function(queryParams) {
				var code = this.computeErrorCode(queryParams);

				if (code == 400) {
					return "Bad Request";
				} else if (code == 401) {
					return "Unauthorized Access";
				} else if (code == 403) {
					return "Forbidden Request";
				} else if (code == 404) {
					return "Page Not Found";
				} else if (code == 500) {
					return "Internal Server Error";
				} else if (code == 502) {
					return "Bad Gateway";
				} else if (code == 503) {
					return "Service Unavailable";
				} else if (code == 504) {
					return "Service Unavailable";
				} else {
					return "Bad Request";
				}
			},
		});
	</script>
</dom-module>