<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<dom-module id='aq-footer'>
    <style include="iron-flex iron-flex-alignment iron-positioning"></style>

	<style>
		.footer {      
	        --bottom: 0px;
	        background-color:#24293d;
	        color: white;
	        padding: 20px 20px 10px 20px;
	        height: 30vh;
      	}

      	.footer p{
	      	color: white;
	        font-size: 13px;
	        margin-top: 5px;
	        margin-bottom: 5px;
      	}

      	.footer-link:hover {
        	cursor:pointer;
      	}

      	.footer-list {
      		margin-right: 30px;
      	}

      	h4 {
      		margin-bottom: 5px;
      	}

	</style>

	<template>
		<div class="footer layout horizontal wrap">   	
            <div class="layout vertical self-start footer-list">
            	<h4>Company</h4>
              	<p class="footer-link" route="/about/home" on-tap='onClickFooterLink'>About Us</a></p>
              	<p class="footer-link" route="/about/people" on-tap='onClickFooterLink'>People</a></p>
              	<p class="footer-link" route="/about/careers" on-tap='onClickFooterLink'>Careers</a></p>
              	<p class="footer-link" route="/about/contact" on-tap='onClickFooterLink'>Connect</a></p>
            </div>

            <div class="layout vertical self-start footer-list">
            	<h4>Policies</h4>
              	<p class="footer-link" route="/policy/tnc" on-tap='onClickFooterLink'>Terms of Use</a></p>
              	<p class="footer-link" route="/policy/privacy" on-tap='onClickFooterLink'>Privacy Policy</a></p>
            </div>

            <div class="flex"></div>
            <p class="self-end">© 2017 AimsQuant</p>
  	    </div>
	</template>

	<script>
		Polymer({
			is: 'aq-footer',

	      	onClickFooterLink: function(e) {
	        	this.fire('rt-changed', {route:e.target.getAttribute('route')});
	      	} 
		});
	</script>
</dom-module>