<link rel="import" href="../../bower_components/polymer-quill/polymer-quill.html">
<dom-module id="aq-html-editor">
    <style>
        polymer-quill.full {
            --polymer-quill-editor-max-height: 300px;
            --polymer-quill-editor-min-height: 250px;
            font-size: 18px !important;

        }
        polymer-quill {
            box-shadow: var(--aq-html-editor-box-shadow,0 0px 0px rgba(0,0,0,0.2));
            border-radius: 4px;
            font-size: 18px !important;
            font-family: 'Lato', sans-serif;
            border:var(--aq-html-editor-border,1px solid #e7e7e7);
            
            --polymer-quill-editor-min-height: 250px;
            --polymer-quill: {
                font-size: 18px !important;
            };
        }
    </style>
    <template>
        <polymer-quill id="poly_quill_content" store-as="delta" save-interval="10" toolbar-type="standard" content="">
        </polymer-quill>
    </template>
    <script>
        Polymer({
            is: "aq-html-editor",

            getContent: function () {
                return this.$.poly_quill_content.getHTML();
            },

            clearContent: function () {
                //IT"S WEIRD that the following comands resets...
                this.$$('#poly_quill_content').resetContent("123232");
            }
        });
    </script>
</dom-module>