
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel='import' href='../../bower_components/paper-button/paper-button.html'>
<link rel='import' href='../../bower_components/paper-icon-button/paper-icon-button.html'>
<link rel='import' href='../../bower_components/vaadin-icons/vaadin-icons.html'>
<link rel='import' href='../../bower_components/app-route/app-route.html'>
<link rel='import' href='../../bower_components/app-route/app-location.html'>

<link rel="import" href="./common/aq-portwidth-detector.html">

<link rel='import' href='./aq-footer.html'>

<link rel='import' href='../icons/aq-iconset.html'>

<dom-module id="aq-homepage">

    <style include="iron-flex iron-flex-alignment iron-positioning"></style>

    <style>

      :host {
          --font-family: 'Garamond', sans-serif;
          font-family: 'Avenir', sans-serif;
      }

      .section {
          height:100vh;
          @apply(--layout-vertical);

      }

    	#section-home {
    		margin-top:0px;
        --background-color: #5CC6CD;
        --background-color: #70cdd3;
        height: 92vh;
        @apply(--layout-center);
	    }

    	#headerTagline {
        margin-top: 150px;
    		font-size: 72px;
        color: teal;
        font-weight: 400;
    	}

      #headerTagline.semiWide{
        font-size: 50px;
      }

      #headerTagline.narrowWide{
        font-size: 40px;
      }

      #headerTagline.narrow{
        font-size: 30px;
      }

      #headerPara {
        --color: #ffffff;
        font-size: 23px;
        --width: 35%;
        text-align: justify;
        margin-bottom: 40px;
        font-weight: 400;
      }

      #headerPara.semiWide {
        font-size: 20px;
      }

      #headerPara.narrowWide {
          font-size: 16px;
      }

      #headerPara.narrow {
          font-size: 12px;
      }

      h3 {
        color: white;
      }

      paper-button {
          text-transform: none;
          --paper-button: {
              border-radius: 5px;  
              font-size: 16px;
              --padding: 10px 60px;
          };
      }

      paper-button.semiWide {
          width: 150px;
          font-size: 14px;
      }

      paper-button.narrowWide {
          width: 120px;
          font-size: 13px;
      }

      paper-button.narrow {
          width: 100px;
          font-size: 12px;
      }

      #button-group {
        --width: 30%;
        margin: 0 auto;
      }

      .space {
        width: 50px;
      }

      .dark-button {
          background-color: #07889B;
          color: white;
          width: 200px;
      }

      .dark-button:hover {
          background-color: #055d6a;
      }

      .light-button {
          background-color: white;
          color: #07889B;
          border: 1px solid #07889B;
          width: 200px;
      }

      .light-button:hover {
          font-weight: bold;
          --color: white;
      }

      .page-header {
          font-size: 42px;
          margin-top: 50px;
          margin-bottom:100px;
          font-weight: 700;
      }

      #section-features {
          margin-left: 10%;
          margin-right: 10%;
          height: 180vh;
          @apply(--layout-vertical);
          @apply(--layout-center);
          margin-top: 70px;         
      }

      #section-features.superWide {
          height: 100vh;
          @apply(--layout-horizontal);
          @apply(--layout-wrap);
          @apply(--layout-justified);

      }

      #section-features-top {
        
      }

    	#section-advantages {
    	  height:100vh;
        background-color: #f0f0f0;
        --background-color:#e8f7f8;
    	}

    	#advantages p{
    		margin-bottom: 100px;
    		font-size: 32px;
    		font-weight: bold;
    	}

      .adv-container p {
          --color:#cc6666;
          font-size: 18px;
      }

    	a {
    		text-decoration: none;
    		color:#cc6666;
    	}

    	a:hover {
    		text-decoration: underline;
    		cursor: pointer;
    	}

      #callToAction {
          background-color:#e8f7f8;
          height: 70vh;
      }

      #ctaTagline {
          font-size: 36px;
          margin-bottom: 30px;
          --font-weight: 700;
      }

      #ctaTagline.semiWide {
          font-size: 32px;
      }

      #ctaTagline.narrowWide {
          font-size: 25px;
      }

      #ctaTagline.narrow {
          font-size: 19px;
      }

      #ctaParagraph {
         width: 50%;
         margin: 0 auto;
      }

      #blank {
        height: 2px;
        background-color: #cc6666;
        width: 100%;
      }

    </style>

    <template>
        <!--app-location route="{{route}}"  use-hash-as-path></app-location-->
        <app-location route="{{route}}"></app-location>
        

        <app-route
            route="{{route}}"
            pattern="/main"
            active="{{active}}">
        </app-route>
       
        <aq-portwidth-detector width="{{width}}"></aq-portwidth-detector>

    		<div id="section-home" class="section">
          
            <div class$="[[computeLayoutClass(width)]]" id="headerTagline">Invest in Your Ideas</div>

            <div class$="[[computeLayoutClass(width)]]" id="headerPara">Systematically research investment strategies in seconds</div>
            
            <div class="layout horizontal justified" id='button-group'>
    	         <paper-button class$="dark-button [[computeLayoutClass(width)]]" noink on-tap='onJoin'>Register</paper-button>

               <div class="space"></div>

               <paper-button class$="light-button [[computeLayoutClass(width)]]" noink on-tap='onFeatures'>Learn More</paper-button>
            </div>
            
            <div class="flex"></div>
  	      	
            <paper-icon-button class="self-center" noink icon="aq-icons:expand-more" on-tap='onFeatures'></paper-icon-button>
    		</div>

        <div class="layout vertical" id='container-features'>
            <div class="flex"></div>
          
            <div class$="section [[computeLayoutClass(width)]]" id="section-features">
                <feature-detail 
                    image-src="../../resources/images/home/research-big.png" 
                    heading="RESEARCH" 
                    description="Build, test and research investment stategies with in-built code editor and data from Indian Equity markets since 2007">
                </feature-detail>
               
                <feature-detail
                    image-src="../../resources/images/home/analyze-big.png" 
                    heading="ANALYZE" 
                    description="Run unlimited backtests and visualize performance of investment strategies with variety of metrics">
                </feature-detail>
            
                <feature-detail
                  image-src="../../resources/images/home/community-big.png" 
                  heading="COMMUNITY" 
                  description="Share your investment insights with the community, learn from the feedback and continuously improve your investment strategies">
                </feature-detail>

                <feature-detail
                    image-src="../../resources/images/home/trade.png" 
                    heading="TRADE" 
                    description="Forward simulate your investment ideas, track the peformance and portfolio and use the output to trade in real markets">
                </feature-detail>
            </div>

            <div class="flex"></div>
        </div>
              
        <div class="section">
            <div id="callToAction" class="layout vertical center">
                <div class="flex"></div>
                <div id="ctaTagline" class$="[[computeLayoutClass(width)]]">Start researching your investment ideas now</div>

                <div id="ctaParagraph"></div>

                <paper-button class$="dark-button [[computeLayoutClass(width)]]" noink on-tap='onJoin'>Join Now</paper-button>

                <div class="flex"></div>
            </div>

            <aq-footer></aq-footer>
        </div>
  
  </template>

  <script>

    Polymer({
  		is: 'aq-homepage',

        properties:{
            active: {
              type:Boolean,
              observer:'_activeChanged',
            },

            width: {
              type: Object,
            }

        },

        attached: function() {
            document.title = 'Backtest investment stategies for Indian Equity Markets | AimsQuant';

        },

        _activeChanged: function() {
            if(this.active) {
                this.$$('#section-home').scrollIntoView(true);
            }
        },
  		
    		onJoin: function() {
    			 this.fire('rt-changed',{route:'/user/signup'});;
    		},

    		onFeatures: function() {
    			 this.$$('#container-features').scrollIntoView(true);
    		},

        computeLayoutClass: function(width) {
            if(width) {
              if (width.narrow) {
                  return"narrow";
              } else if (width.narrowWide) {
                  return "narrowWide";
              } else if (width.semiWide) {
                  return "semiWide"
              } else if(width.wide) {
                  return "wide";            
              } else {
                  return "superWide";
              }

            }
        },

    });

  </script>

</dom-module>

<dom-module id='feature-item'>
   <style include="iron-flex iron-flex-alignment iron-positioning"></style>

   <style>
      #container {
      }

      #inner-container {
          width:200px;
          height: 200px;
          background-color: #f0f0f0;
          margin: auto auto;
      }

      .heading {
         font-size: 18px;
         font-weight: 700;
         margin-top: 20px;
      }

      .link {
          margin-top: 20px;
          font-size: 16px;
          color: #07889B;
      }

      .link:hover {
         cursor: pointer;
         font-weight: 700;
      }

   </style>

  <template>
    <div id='container' class="layout vertical">
      <div id='inner-container' class="layout vertical">
          <div class="flex"></div>
          <img class="self-center" src="[[imageSrc]]">
          <div class="heading self-center">[[heading]]</div>
          <div class="flex"></div>
      </div>
      <p class="self-center">[[description]]</p>
      <div class="link self-center" on-tap="[[link]]">Learn More</div>
    </div>    
  </template>
  
    <script>
      Polymer({
          is:'feature-item',
          
          properties:{
              heading:String,
              description:String,
              imageSrc: String,
              link:String,
          },
      });
    </script>
</dom-module>

<dom-module id='feature-detail'>

    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>
      .section {
          height:100vh;
          @apply(--layout-vertical);
      }

      .section-inner-container {
          --width: 70%;
          margin: 0 auto;
          margin-bottom: 20px;
          height: 275px;
      }

      .section-detail {
          @apply(--layout-vertical);
          margin-left: 30px;
          width: 100%;
      }

      .section-detail.narrow {
          width: 300px;
      }

      .section-detail-header {
          font-size: 22px;
          --font-weight: 700;
          --margin-bottom:100px;
          --margin-top:70px;
      }

      .section-detail-description {
          font-size: 16px;
          --font-weight: 700;
          margin-bottom:20px;
          text-align: justify;
      }

      .section-detail-button {
          font-size: 15px;
          background-color: #07889B;
          color: white;
          padding: 5px 20px;
          text-transform: none;
          border-radius: 25px;
          width: 150px;
      }

      img {
        width: 100px;
        height: 100px;
      }


    </style>

    <template>
        <!--div class="section"-->
            
            <!--div class="self-center section-detail-header">[[heading]]
            </div-->
            <aq-portwidth-detector width="{{width}}"></aq-portwidth-detector>
            <div class="layout horizontal around-justified section-inner-container">
                
                <template is='dom-if' if='[[!alternateLayout]]'>
                    <div class="layout vertical img-container">
                        <img class$="[[computeAlignmentClass(alternateLayout)]]"" src="[[imageSrc]]">
                    </div>
                </template>

                <div class$="section-detail [[computeLayoutWidth(width)]]">
                    
                    <div class="section-detail-header">[[heading]]
                    </div>
                    
                    <div class="section-detail-description">[[description]]</div>
                    
                    <!--paper-button no-ink class="section-detail-button" on-tap='link'>Learn More
                    </paper-button-->

                </div>

                <template is='dom-if' if='[[alternateLayout]]'>
                    <div class="layout vertical">
                        <img class$="[[computeAlignmentClass(alternateLayout)]]" src="[[imageSrc]]">
                    </div>
                </template>

            </div>
    </template>

    <script>
        Polymer({
            is: 'feature-detail',
            
            properties: {
                imageSrc: String,
                heading: String,
                description: String,
                link: String,

                background: {
                   type:Boolean,
                    value:false,
                },

                alternateLayout: {
                    type: Boolean,
                    value: false
                },

                vertical: {
                    type: Boolean,
                    value: false,
                },

                width: {
                  type: Object,
                }
            },

            attached: function() {
                if(this.background) {
                    //this.$$(".section").style.backgroundColor='#f0f0f0';
                    //this.$$(".section").style.backgroundColor = '#edf0f9';
                    this.$$(".section").style.backgroundColor = '#e8f7f8';
                }   
            },

            computeAlignmentClass: function(alternateLayout) {
                return alternateLayout ? "self-end" : "self-start";
            },

            computeLayoutWidth: function(width) {
                if(width.superWide) {
                    return "narrow";
                } else {
                    return "";
                }
            }
        });
    </script>
</dom-module>






