<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../icons/aq-iconset.html'>

<dom-module id="aq-profile-img">
  <style  include="iron-flex iron-flex-alignment">
  </style>

  <style>
    :host([selected]) .profile {
      transform: rotate3d(0,1,0,180deg);
    }
    :host([selected]) img,
    :host([selected]) .letter {
      opacity: 0;
    }
    :host([selected]) iron-icon {
      transform: rotate3d(0,1,0,-180deg) scale(1);
      opacity: 1;
    }
    .profile {
      border-radius: 50%;
      width: 35px;
      height: 35px;
      transition: transform 350ms ease-in-out;
      background-color: white;
      color: #24293d;
      border: 1px solid #24293d;
      will-change: transform;
      cursor: pointer;
      
    }
    img,
    .letter {
      border-radius: inherit;
      width: 100%;
      height: 100%;
      transition: opacity 200ms ease-in-out 100ms;
      will-change: opacity;
      text-transform: uppercase;
    }
    iron-icon {
      transition: transform 300ms ease-in-out 100ms;
      will-change: opacity;
      transform: rotate3d(0,1,0,-180deg) scale(0);
      position: absolute !important;
      top: 20%;
      left: 20%;
      opacity: 0;
    }
  </style>
  <template>
    <div class="profile">
      <template is="dom-if" if="[[src]]"><img src$="[[src]]"></template>
      <span class="letter layout horizontal center-center" hidden$="[[src]]">{{letter}}</span>
      <iron-icon icon="check"></iron-icon>
    </div>
  </template>

<script>
  Polymer({
    is: 'aq-profile-img',
    properties: {
      selected: {
        type: Boolean,
        value: false,
        reflectToAttribute: true
      },

      src: {
        type: String,
        value: null
      },

      letter: {
        type: String,
        value: null
      },

      firstName: {
        type: String,
      },

      lastName: {
        type: String,
      }

    },

    attached: function() {
        if (!this.letter && (this.firstName || this.lastName)) {
        
            this.letter = (this.firstName ? (this.firstName.length > 0 ? this.firstName[0] : "") : "").concat(this.lastName ? (this.lastName.length > 0 ? this.lastName[0] : "") : "");
        }
    },

  });
</script>
</dom-module>