
<link rel="import" href="./common/aq-allpage-layout.html">
<link rel="import" href="./common/aq-check-authentication.html">
<link rel="import" href="./common/aq-html-display.html">
<link rel='import' href='../../bower_components/iron-ajax/iron-ajax.html'>

<dom-module id="aq-policy">
	<template>
		<!--app-location route="{{route}}" use-hash-as-path></app-location-->

		<app-location route="{{route}}"></app-location>
        
        <app-route
            route="{{route}}"
            pattern="/policy/:policyType"
            data="{{queryData}}">
        </app-route>

		<aq-check-authentication id='authItem'></aq-check-authentication>

		<iron-ajax
          	url=""
     	 	method='GET'
          	id='getPolicyQuery'
          	handle-as="text"
          	on-response="onGetPolicyResponse"
          	on-error="onGetPolicyError"
          	debounce-duration="300"
          	loading='{{policyLoading}}'>
        </iron-ajax>

        <aq-allpage-layout 
        	loading='{{policyLoading}}' 
        	header="[[computeTitle(queryData.policyType)]]"
    	 	current-path="[[currentPath]]">
    	 	<div class="internal-content">
				<aq-html-display html-content=[[content]]></aq-html-display> 
			</div>
		</aq-allpage-layout>
	</template>

	<script>
		Polymer({
			is: 'aq-policy',

			properties: {
				currentPath: {
					type:Array, 
					//value:["Home", "Policy"],
				},
				
				policyLoading:{
					type: Boolean,
					value:false,
				},

				content: {
					type:String,
				},

				queryData: {
					type:Object,
				}
			},

			attached: function() {
				var policy = this.queryData.policyType;

				//if(this.$.authItem.checkHasToken()) {
				//	this.header = this.$.authItem.getHeader();
					//this.$.getPolicyQuery.url = this.computePolicyUrl(this.queryData.policyType);

					this.$.getPolicyQuery.url = '../../resources/documents/' + policy+'.txt';

					this.$.getPolicyQuery.generateRequest();
				//}
			},

			computePolicyUrl: function(policyType) {
				var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
	      		return APIEndPoint+'/policy?type='+policyType;
			},

			computeTitle: function(policyType) {
				var title = "";

				if(policyType == 'tnc') {
					title =  "Terms of Use";
				} else if(policyType = 'privacy') {
					title = "Privacy Policy";
				}

				return title; 
			},

			onGetPolicyResponse: function(data) {
				this.content = data.detail.response
				//this.content = data.detail.response.txt;
			},

			onGetPolicyError: function(error) {
				console.log(error);
			},

		});
	</script>
</dom-module>