<link rel='import' href='../../bower_components/paper-header-panel/paper-header-panel.html'>
<link rel='import' href='../../bower_components/paper-toolbar/paper-toolbar.html'>
<link rel='import' href='../../bower_components/paper-menu/paper-menu.html'>

<link rel='import' href='../../bower_components/paper-item/paper-item.html'>
<link rel='import' href='../../bower_components/paper-item/paper-icon-item.html'>
<link rel='import' href='../../bower_components/paper-icon-button/paper-icon-button.html'>
<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../icons/aq-iconset.html'>

<dom-module id='aq-sidebar'>
  <style  include="iron-flex iron-flex-alignment iron-positioning"></style>
  <style>
    :host {
      --sidebar-text: {
        font-weight: 500;
        font-size: 14px;
      }
    }

    #content {
      background-color:#fff;
    }

    paper-toolbar {
      --paper-toolbar-title: {
        text-align: left;
        margin-left: 0px !important;
      };
      --paper-toolbar-background: white;--#f2fbf7;--#24293d;
      border-bottom: 1px solid teal;
      height: 55px; --8vh;
      color:teal;
    }

    paper-menu {
      padding-bottom: 0;
      background-color:#fff;
      opacity: var(--dark-primary-opacity);

      --paper-menu-focused-item-after :{
        --background-color:white;
      }

      --paper-menu-selected-item: {
        --text-decoration: underline;
        background-color: white;--#e3f6ed;--#f4f9fb;
        border: 1px solid #cc6666;--teal;--#e24e42;;
      }

      --paper-menu-focused-item: {
        --text-decoration: underline;
        background-color: none !important;
      }

    }

    iron-icon{
     --iron-icon-width:20px;
     --iron-icon-height:20px;
     
     color: teal !important;
   }

   paper-icon-item {
    height:5px;
   }

   .menu{
      font-size: 14px !important;
   }

 
    paper-icon-item {
      --paper-icon-item: {
        cursor: pointer;
        font-size: 13px;
        color:#24293d;--white;
        width:75%;  
        margin: 0 auto;
      }
    }
      
    paper-icon-item {
      --paper-item-min-height:35px;
      --paper-item-icon-width:35px;
    }

    paper-icon-item {
      --paper-item-focused-before:{
        --background-color:white; 
      }
      
    }
   
    #navigation {
      margin-top:30px;
    }

    #action {
      margin-top:20px;
    }

    #gap {
      border-top: 1px solid grey;
      margin-top:10px;
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: -10px;
    }

    .nav-header {
      font-size: 14px;
      font-weight: bold;
      margin-left:10px;
    }

    #homeIcon{
      --color:#e24e42;
    }

    .title p {
        font-size: 24px;
    }

    .title:hover {
        cursor: pointer;
    }
    
    .title #quant{
      color: #cc6666;
    }

    #logo {
        background: url(../../../resources/images/Logo.png);
        background-size: cover;
        height: 30px;
        width: 42px;
        margin: auto 0;
    }
    
  </style>

  <template>
    <paper-header-panel mode="seamed" class='sidenav fit'>
      <paper-toolbar>
        <paper-icon-button noink icon="aq-icons:menu" on-tap="toggleMenu"></paper-icon-button>
        <div on-tap='goToHome' class="title layout horizontal">
          <p>Aims</p>
          <p id='quant'>Quant</p>
          <div id='logo'></div>
        </div>
      </paper-toolbar>
      
      <div id = 'content' class="fit">
      <div style="margin-top: 50px" id='navigation'><span class='nav-header'>RESEARCH</span>
        <paper-menu fallback-selection="editor" 
                    selected="{{menuSelected}}" 
                    attr-for-selected="menu-panel">
          <!--paper-icon-item id='menu-home' class="menu" menu-panel="home" on-tap="onSelected" active="{{_isEqual(menuSelected, 'home')}}">Home
            <iron-icon id="homeIcon" item-icon icon="aq-icons:home"></iron-icon>
          </paper-icon-item-->

          <paper-icon-item id='menu-editor' class="menu" menu-panel="editor" on-tap="onSelected" active="{{_isEqual(menuSelected, 'editor')}}">Strategy Builder
            <iron-icon id="editorIcon" item-icon icon="vaadin-icons:twin-col-select"></iron-icon>
          </paper-icon-item>

          <paper-icon-item menu-panel="community" class="menu" on-tap="onSelected" active="{{_isEqual(menuSelected, 'community')}}">Community
            <iron-icon id="communityIcon" item-icon icon="vaadin-icons:group"></iron-icon>
          </paper-icon-item>
   
          <paper-icon-item menu-panel="help" class="menu" on-tap="onSelected" active="{{_isEqual(menuSelected,'help')}}">Help
            <iron-icon id="helpIcon" item-icon icon="vaadin-icons:book"></iron-icon>
          </paper-icon-item>
        </paper-menu>

      </div>

      <div id='gap'></div>
      <div id='action'>
        <div class='nav-header' style="margin-bottom:15px;"><span >QUICK ACTIONS</span>
        </div>
        <paper-icon-item menu-panel = 'editor' action-panel='createstrategy' on-tap="onAction">Create a Strategy
          <iron-icon id="createIcon" item-icon icon="vaadin-icons:edit"></iron-icon>
        </paper-icon-item>
          
        <!--paper-icon-item menu-panel = 'editor'action-panel='comparebacktests' on-tap="onAction">Compare Backtests
          <iron-icon item-icon icon="vaadin-icons:edit"></iron-icon> 
        </paper-icon-item-->

        <paper-icon-item menu-panel = 'community' action-panel='createpost' on-tap="onAction">Write a Post
          <iron-icon id="commentIcon" item-icon icon="aq-icons:comment"></iron-icon>
        </paper-icon-item>
        
        <paper-icon-item menu-panel = '' action-panel='sendfeedback' on-tap="onAction">Send us Feedback
          <iron-icon id="feedbackIcon" item-icon icon="aq-icons:feedback"></iron-icon>
        </paper-icon-item>

        <paper-icon-item menu-panel = '' action-panel='invitefriend' on-tap="onAction">Invite a Friend
          <iron-icon id="friendIcon" item-icon icon="aq-icons:person-add">
          </iron-icon>
        </paper-icon-item>

        <!--paper-icon-item action-panel='lockscreen' on-tap="onAction">Lock Screen
          <iron-icon item-icon icon="aq-icons:lock"></iron-icon>
        </paper-icon-item-->

      </div>
      </div>
            
      
    </paper-header-panel>

  </template>

  <script>
  Polymer({
    is: 'aq-sidebar',

    properties: {

      menuShown: {
        type: Boolean,
      },

      menuSelected: {
        type: String,
      },

    },

    _isEqual: function(view1, view2) {
      return view1 == view2;
    },
    
    toggleMenu: function() {
      this.fire('close-menu');
    },

    onSelected: function(e) {
      this.fire('change-view-navigation', {menu: e.currentTarget.getAttribute('menu-panel')});
    },

    onAction: function(e) {
      this.fire('change-view-action', {action: e.currentTarget.getAttribute('action-panel'), menu: e.currentTarget.getAttribute('menu-panel')});
    },  

    selectPanel: function(newChoice) {
      if (newChoice === this.selected) {
        return;
      } 
    },

    goToHome: function() {
        this.fire('rt-changed',{route: '/main'});
    },

  });
  </script>
</dom-module>