<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="../../bower_components/paper-tabs/paper-tab.html">

<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel="import" href="../components/common/aq-check-authentication.html">
<link rel="import" href="./aq-user-menu.html">
<link rel='import' href='../icons/aq-iconset.html'>

<dom-module id="aq-toolbar">
    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

    <style>
        :host {
            font-family: 'Roboto', sans-serif;
        };

        #toolbar {
            height: 8vh; 
            background-color: #fafafa;
            --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            border-bottom: 2px solid #e1e1e1;
        }
        
        #profile {
            right: 0;
        }

        #title-container {
            margin-left: 20px;
        }

        .title {
            min-width: 160px;
            font-size: 24px;
        }

        .title:hover {
            cursor: pointer;
        }

        .title #quant {
            color: #cc6666;
        }

        #aims {
            color: teal;
        }

        #logo {
            background: url(../../../resources/images/Logo.png);
            background-size: cover;
            height: 30px;
            width: 42px;
        }

        #right-container {
            margin-right: 20px;
            height: 100%;
        }

        paper-tabs {
            font-weight: 300;
            margin-right: 10px;
            font-size: 14px;
            height: 100%;
            --paper-tabs-selection-bar-color: #cc6666;
            --paper-tabs-selection-bar: {
                height: 5px;
            }

            --paper-tabs-container: {
                height: 70%;
                padding-bottom: 5px;
            }
        }

       
        paper-tab.iron-selected {
            color: #07889B;
            font-weight: 700;
        }

        #signUpTab {
            --background-color: #07889B;
            --color: teal;
            border: 1px solid teal;
            --font-weight: 700;
        }

        #signUpTab.iron-selected {
            --background-color: #fafafa;
            --color: #07889B;
            color: teal;
        }

    </style>

    <template>

        <div id='toolbar' class="layout horizontal center">
        
            <div id='title-container' class="layout horizontal center">
                <!--template is='dom-if' if="[[computeShowMenu(showMenu, currentTab)]]">
                    <paper-icon-button class="self-center" noink icon="aq-icons:menu" on-tap="toggleMenu"></paper-icon-button>
                </template-->

                <template is='dom-if' if="[[showMenu]]">
                    <div on-tap='goToHome' class="title layout horizontal center">
                        <div id="aims">Aims</div>
                        <div id='quant'>Quant</div>
                        <div id='logo'></div>
                    </div>
                </template>
            </div>

            <div class="flex"></div>
            
            <div id='right-container' class="layout horizontal center">
                
                <paper-tabs id='papertabs' selected="{{currentTab}}" noink no-bar>
                    <paper-tab class="withoutTokenTab">HOME</paper-tab>
                    <paper-tab class="withoutTokenTab">ABOUT US</paper-tab>
                    <paper-tab class="withTokenTab">RESEARCH</paper-tab>
                    <paper-tab>COMMUNITY</paper-tab>
                    <paper-tab class="withoutTokenTab">LOG IN</paper-tab>
                    <paper-tab id='signUpTab' class="withoutTokenTab">SIGN UP</paper-tab>
                    
                    <paper-tab class="withTokenTab">HELP</paper-tab>
                </paper-tabs>

                <template is='dom-if' if="{{hasToken}}">
                    <aq-user-menu></aq-user-menu>
                </template>
            </div>

        </div>

    </template>

    <script>
        Polymer({
            is: 'aq-toolbar',

            properties: {
                showMenu: {
                    type: Boolean,
                    value: true,
                },

                narrow: {
                    type: Boolean,
                },

                currentTab: {
                    type: Number,
                    notify: true,
                    observer:'_currentTabChanged',
                },

                hasToken: {
                    type: Boolean,
                    value: true,
                    observer:'_hasTokenChanged',
                },

                currentUrl:{
                    type: String,
                    value: "",
                    observer: '_currentURLChanged',
                },
            },

            toggleMenu: function () {
                this.fire('toggle-menu');
            },

            computeShowMenu: function (showMenu, currentTab) {
                return showMenu && currentTab == 1;
            },

            goToHome: function () {
                this.fire('rt-changed', {route: '/main'});
            },

            _currentTabChanged: function(oldTab, newTab) {
                if(this.currentTab + 1) {
                    var routes = ["/main"];

                    switch(this.currentTab) {
                        case 0: routes = ["/main"];break;
                        case 1: routes = ["/about"];break;
                        case 2: routes = ["/research/strategy", "/research/backtests"];break;
                        case 3: routes = ["/research/community"];break;
                        case 4: routes = ["/user/signin","/user/signout","/user/authMessage"];break;
                        case 5: routes = ["/user/signup"];break;
                        
                        case 6: routes = ["/research/help", "/research/tutorial"];break;
                    }

                    var found = false;
                    for (var route of routes) {
                        if(window.location.href.indexOf(route) != -1) {
                            var found = true;
                            break;
                        }
                    }

                    var rt = routes[0];
                    if(!found) {
                        this.fire('rt-changed', {route:rt});
                    } else {
                        rt = window.location.href;
                        /*if(rt.indexOf('?') != -1) {
                            rt = rt.slice(rt.indexOf('?'));    
                        } else {
                            rt = rt.slice(rt.indexOf('#') + 1);    
                        }*/

                        //find rt in 
                        //this.async(function(){this.fire('rt-changed', {route: rt});}, 1000);
                    }
                    
                }
            },

            _hasTokenChanged: function() {
                
                var display_1 = 'block';
                var display_2 = 'block';
                
                if(this.hasToken) {
                    //this.currentTab = 0;
                    display_1 = 'none';
                } else {
                    //this.currentTab = 0;
                    display_2 = 'none';
                }

                this.currentUrl = window.location.href;

                Polymer.dom(this.root).querySelectorAll('.withTokenTab').forEach(tab => {
                        tab.style.display = display_2;
                    });

                Polymer.dom(this.root).querySelectorAll('.withoutTokenTab').forEach(tab => {
                    tab.style.display = display_1;
                });
            },

            _currentURLChanged: function() {
                var routeList = {"0":["/main"], "1":["/about"], "2":["/research/strategy", "/research/backtests"], "3":["/research/community"], "4":["/user/signin","/user/signout","/user/authMessage"], "5":["/user/signup"], "6":["/research/help", "/research/tutorial"]};
                
                var i = 0;
                var keys = Object.keys(routeList);
                for (var key in routeList) {

                    var routes = routeList[key];
                    for(route of routes) {
                        if(this.currentUrl.indexOf(route) != -1) {
                            this.currentTab = i;
                            break;
                        }
                    }
                  
                    i++;
                }
            },

        });
    </script>
</dom-module>  