<link rel='import' href='../../bower_components/paper-button/paper-button.html'>
<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../bower_components/iron-signals/iron-signals.html'>


<link rel="import" href="aq-profile-img.html">

<dom-module id='aq-user-menu'>
    <style  include="iron-flex iron-flex-alignment">
    </style>

    <style>
        
        #profile {
            margin: 10px;
            width: 70px;
            height: 70px;
            --background-image: url("../icons/compare.png");
            background-size: cover;
        }

        #userid {
            margin-right: 10px;
            margin-bottom: 10px;
            --color: #24293d;
        }

        #name {
            font-weight: bold;
        }

        .button {
            border-bottom: 1px solid #dfdfdf;
            color: #24293d;
            width:100%;
            background-color: white;
        }

        paper-button {
            font-size: 13px;
        }

        .dropdown-content {
            --background-color:#ef5f15;
            min-width:300px;
        }

        #top {
            background-color: #008080;
            border-bottom: 1px solid #dfdfdf;
            color:white !important;
        }

        span {
            font-size: 13px;
        }

      iron-icon {
        height:18px;
        width: 18px;
        color: #cc6666;;--teal;
        --margin-bottom: -35px;
        --margin-top:-15px;
      }

    </style>

    <template>

         <iron-signals on-iron-signal-dirtybit='onSetDirtyBit'></iron-signals>

        <paper-menu-button id = 'userMenu' on-focus-out='onBlur' horizontal-offset=-250 vertical-offset=48>
            <aq-profile-img letter="[[letter]]" class="dropdown-trigger"></aq-profile-img>

            <div class="dropdown-content">
                <div id='top' class="layout horizontal">

                    <div id='profile'></div>
                    <div class="flex"></div>

                    <div id='userid' class="layout vertical self-end">
                        <div class="self-end" id='name'><span>[[firstName]]</span><span>&nbsp[[lastName]]</span></div>
                        <div class="self-end" id='email'><span>[[email]]</span></div>
                    </div>

                </div>

                    <div class="layout vertical">        
                        <!--div class="button self-start flex">
                            <paper-button noink on-tap="onMyAccount"><iron-icon icon="vaadin-icons:user">
                                
                            </iron-icon>&nbsp&nbspMy Account</paper-button>
                        </div-->
                        
                        <div class="button self-start">
                            <paper-button noink on-tap="onInvite"><iron-icon icon="aq-icons:person-add"></iron-icon>&nbsp&nbspInvite a Friend</paper-button>
                        </div>

                        <div class="button self-start">
                            <paper-button noink on-tap="onFeedback"><iron-icon icon="aq-icons:feedback">
                                
                            </iron-icon>&nbsp&nbspSend us Feedback</paper-button>
                        </div>
                        <div class="button self-start">
                            <paper-button noink on-tap="onSignOut"><iron-icon icon="vaadin-icons:sign-out">
                                
                            </iron-icon>&nbsp&nbspSign Out</paper-button>
                        </div>
                    </div>
        </paper-menu-button>

    </template>

    <script>
        Polymer({
			is: 'aq-user-menu',
            properties: {
                firstName: {
                  type: String,
                  value: '',
                },

                lastName: {
                  type: String,
                  value: '',
                },

                letter: String,
                email:String,

                dirtyBit:{
                    type:Number,
                    value:0,
                    observer:'_dirtyBitChanged',
                },
                
            },

            ready: function() {
    		  	var x = localStorage.getItem('my-app-storage');
                var user = JSON.parse(x).user;
                this.firstName = user.firstName;
                this.lastName = user.lastName;
                this.email = user.email;
                this.letter = this.firstName[0]+this.lastName[0];
	        },

            onMyAccount: function() {
                this.$.userMenu.close();
                this.fire('myaccount-action');
            },

            onInvite: function() {
                this.$.userMenu.close();
                this.fire('enter-invite-action');
            },

            onFeedback: function() {
                this.$.userMenu.close();
                this.fire('take-feedback-action');
            },

            onSignOut: function() {
                this.$.userMenu.close();
                this.fire('signout-action');
                //this.fire('iron-signal',{name:'set-dirtybit'});
            },

            onSetDirtyBit: function(e) {
                this.dirtyBit = e.detail;
            },

            _dirtyBitChanged: function(nVal, oVal) {
                if(nVal == 1) {
                    var x = localStorage.getItem('my-app-storage');
                    var user = JSON.parse(x).user;
                    this.firstName = user.firstName;
                    this.lastName = user.lastName;
                    this.email = user.email;
                    this.letter = this.firstName[0]+this.lastName[0]; 

                    this.dirtyBit = 0;
                }
            },
		});
    </script>

</dom-module>
