<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='./aq-navigation-item.html'>
<link rel='import' href='./aq-loading-progress.html'>

<dom-module id='aq-allpage-layout'>
	
	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>

	<style>

		#container {
            margin: 0 auto;
            color:#3c3c3c;
            width: 93%;
            --height: 100%;
            background-color: #f9f9f9;
        }

        #container.noNav {
            width: 100%;
        }

        paper-card {
        	width: 100%;
        	height: 100%;
        	scroll-behavior: inherit;
        }

        #navigation-panel {
        	margin-top: 5px;
        	margin-bottom: 20px;
        }

        ::content .internal-content {
        	margin-left: 5%;
        	margin-right: 5%;
        	margin-top: 30px;
        	margin-bottom: 30px;
        	height: 100%;
        	--max-height: calc(100% - 48px);
        	color: #3c3c3c;
        }

        ::content .internal-content-header {
        	margin-left: 2%;
        	margin-right: 2%;
        	margin-top: 10px;
        	margin-bottom: 10px;
        	height: 100%;
        	color: #3c3c3c;
        }

        #lower-container {
        	--margin-top: 20px;
        	--margin-bottom: 20px;
        }

        ::content .header-button paper-button{
            font-size: 12px;
            font-weight: 700;
            background-color: teal;
            color: white;
        }

        ::content .footer-button paper-button {
            font-size: 12px;
            font-weight: 700;
            background-color: teal;
            color: white;
        }

	</style>

	<template>
		<aq-loading-progress loading="{{loading}}"></aq-loading-progress>
		
		<template is='dom-if' if='[[!loading]]'>
		<div id='container' class$="layout vertical [[computeLayoutClass(noNav)]]">  
    		
			<template is='dom-if' if='[[!noNav]]'>
	    		<div id="navigation-panel" class="layout horizontal">
			        <aq-navigation-item id="navigation-item" 
	    				header="[[header]]" 
	    				path="[[currentPath]]">
					</aq-navigation-item>
					
					<div class="flex"></div>
					
					<content id="button-content" select="header-button, .header-button"></content>
			    </div>
		    </template>

            <paper-card class="self-center" elevation="[[elevation]]">
        		<content id="content-head" select="internal-content-header, .internal-content-header">
        		</content>

        		<content id="content" select="internal-content, .internal-content">
        		</content>

        		<div class="flex"></div>
        	</paper-card>

        	<div id="lower-container">
        		<content id="lower-button-content" select="footer-button, .footer-button"></content>
        	</div>

    	</div>
    	</template>
	</template>

	<script>
		Polymer({
			is: 'aq-allpage-layout',
			
			properties: {
				header: String,
				currentPath: Array,
				loading: {
					type:Boolean,
					value:false	
				},
				noNav:{
					type: Boolean,
					value: false,
				},

				elevation: {
					type:Number,
					value: 1
				},

			},

			computeLayoutClass: function(noNav) {
				return noNav ? "noNav" : "";
			},

		});
	</script>
</dom-module>