<link rel='import' href='../../../bower_components/paper-menu-button/paper-menu-button.html'>
<link rel='import' href='../../../bower_components/paper-button/paper-button.html'>
<link rel='import' href='../../../bower_components/paper-item/paper-item.html'>
<link rel='import' href='../../../bower_components/paper-listbox/paper-listbox.html'>
<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../icons/aq-iconset.html'>

<dom-module id='aq-dropdown'>

	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>
  
	<style>
		paper-menu-button {
			width: 100%;			
			padding: 0px;
		}

		paper-button {	
			margin:0px;
			border-radius: 5px;	
			border: var(--dropdown-border, 1px solid #e5e5e5);
			--border-color: var(--dropdown-background-color, #e5e5e5);
			width: var(--dropdown-width,100%);	
 			text-transform: none;
			font-weight: var(--dropdown-font-weight, normal);
			font-size: var(--dropdown-font-size,13px);
			height: var(--dropdown-height, 30px);
			background-color: var(--dropdown-button-background-color, white);
			color: var(--dropdown-button-color, #24293d);
		}

		paper-button, span#category {
			height: var(--dropdown-height, 36px); 
			line-height: var(--dropdown-height, 36px); 
		}

		span#category{
			vertical-align: center;
		}

		paper-item {
			font-size: var(--dropdown-paper-menu-font-size, 13px);
			text-decoration: none;
			background-color: var(--dropdown-background-color, white);
			color:var(--dropdown-color, #24293d);
			--paper-item-selected: {
				border: var(--dropdown-item-border, 1px solid #e5e5e5);
			}
		}

		paper-menu-button {	
			--paper-menu-button-dropdown: {
				width: var(--dropdown-width, 100%);
			}
		}
		
		paper-listbox {
			--paper-listbox-background-color:var(--dropdown-background-color, white);
			border: var(--dropdown-content-border, 1px solid #e5e5e5);
			--border-radius: 5px;
			--width: 100%;
			--z-index: 1002;
			--opacity: 1.0;


		}

		#icon {
			background-color: var(--dropdown-icon-background, none);
			color: var(--dropdown-icon-color, black);
			border-radius: 5px;
			margin-right: -10px;
			--padding-right: 10px;
		}
		
	</style>

	<template>
		<paper-menu-button vertical-offset=[[verticalOffset]] horizontal-offset=[[horizontalOffset]]>
    		<paper-button noink class="button flex dropdown-trigger self-center">
				<span class="flex"  id="category">{{selectedCategory.value}}</span>
				<div id="icon"><iron-icon icon="aq-icons:arrow-drop-down"></iron-icon></div>
    		</paper-button>
        	
			<paper-listbox class="dropdown-content" attr-for-selected='label' selected="{{selectedCategory}}">

				<template is='dom-repeat' items='{{options}}'>
					<paper-item label='{{item}}'>{{item.value}}</paper-item>
				</template>
			</paper-listbox>
		</paper-menu-button>
	</template>

	<script>

		Polymer ({
			is:'aq-dropdown',
			properties :{
				selected:{
					type:String,
					notify:true,
				},
				selectedCategory: {
					type:Object,
					observer: 'selectedIndexChanged',
					notify:true,
				},
				options:{
					type:Array,
					observer:'optionsAdded',
				},

				defaultIndex :{
					type:Number,
					value:0,
				},
				verticalOffset: {
					type: Number,
					value: 40,
				},

				horizontalOffset :{
					type:Number,
					value:0,
				},
			},

			optionsAdded: function() {
				this.selectedCategory = this.options[this.defaultIndex];
			},

			selectedIndexChanged: function() {
				this.selected = this.selectedCategory.value;
				this.fire('dropdown-changed', {'index':this.selectedCategory.index});
			},

			getSelectedValue: function() {
				return this.selectedCategory.value;
			}

		});
	</script>
</dom-module>