<link rel="import" href="../../../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../../../bower_components/paper-button/paper-button.html">

<dom-module id="aq-group-selector">
    <style>
        .iron-selected {
            border: 1px solid teal;
            background-color: teal;
            color: white;
            font-weight: bolder;
        }
        
        paper-button {
            outline: none;
            border:none;
            background-color: #f2f2f2;
            color:#444;
            padding: 5px 10px;
            margin-right: 10px;
            margin-bottom: 10px;
            text-transform: none;
            font-size: 12px;
        }

    </style>
    <template>
        <iron-selector attr-for-selected="name" selected="[[firstItem]]">
            <template is="dom-repeat" items="{{items}}">
                <paper-button disabled=[[disabled]] noink name="{{item.value}}">{{item.value}}</paper-button>
            </template>
        </iron-selector>
    </template>
    <script>
        Polymer({
            is:"aq-group-selector",
            properties:{
                name:{
                    type:String
                },

                eventName:{
                    type:String,
                    value:'someEvent',
                    notify:true
                },

                items:{
                    type:Array,
                    value:[]
                },

                selected: {
                    type:Number,
                    value:0,
                },

                disabled:Boolean,
            },

            listeners:{
                'iron-select':'selectionChanged'
            },

            selectionChanged:function () {
                this.fire(this.eventName,{'attrSelected':this.$$('iron-selector').selected});
            },

            attached: function() {
                this.firstItem = this.selected ? this.items[this.selected].value : this.items[0].value;
            },
        })
    </script>
</dom-module>