<!--link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet"-->
<dom-module id="label-content-item">
    <template>
        <style>
            :host{
                display: inline-block;
                font-family: 'Lato', sans-serif;
                font-size: 16px;
            }
            .container{
                min-width:70px;
            }
            h3,h5{
                padding: 0;
                margin: 0;
            }
            .header{
                font-weight: 300;
                font-size: 0.8em;
                color:#646464;
            }
            .content{
                font-weight: 400;
                font-size: 1.1em;
                color:#646464;
            }
        </style>
        <div class="container layout horizontal">
            <h5 class="header">{{label}}: <span class="content">{{text}}</span></h5>
        </div>
    </template>
    <script>
        Polymer({
            is:"label-content-item",
            properties:{
                label:{
                    type:String,
                    value:"Views"
                },
                text:{
                    type:String,
                    value:"0"
                }
            }
        })
    </script>
</dom-module>