<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<dom-module id="aq-log-item-new">
	
	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>

	<style>
		p {
			font-family: 'Inconsolata', monospace;
			font-size:14px;
			color: white;
			margin-bottom: 0px;
			margin-top:7px;
			font-weight: 700;
		}

		.error {
			color: red;
			padding-left: 2px;
		}

		.warn {
			color: orange;
			padding-left: 2px;
		}

		.info {
			color: green;
			padding-left: 2px;
		}

		#item {
			min-width: 12px;
			padding-right: 5px;
			--border-bottom: 1px solid #e5e5e5;
		}

		#message {
			padding: 0px;
		}
	</style>

	<template>
		<div id='item' class="layout horizontal">
			
			<p class$="[[computeLogClass(messageType)]]">[[toUpperCase(messageType)]]</p>

			<p id='message'>
				<template is='dom-if' if='[[actualDatetime]]'>
					&nbsp[<span>[[actualDatetime]]</span>]
				</template>

				<template is='dom-if' if='[[datetime]]'>
					&nbsp[<span>[[format(datetime)]]</span>]:&nbsp<span>[[message]]</span>
				</template>

				<template is='dom-if' if='[[!datetime]]'>
					<span>&nbsp[[message]]</span>
				</template>
			</p>
		</div>		
	</template>

	<script>
		Polymer({
			is: "aq-log-item-new",

			properties: {
				message:String,
				messageType:String,
				actualDatetime:String,
				datetime:String,
			},

			isInfo: function(messageType) {
				return messageType == "INFO";
			},

			isWarning: function(messageType) {
				return messageType == "WARN";
			},

			isError: function(messageType) {
				return messageType == "ERROR";
			},

			toUpperCase: function(messageType) {
				return "["+messageType.toUpperCase()+"]";
			},

			format: function(datetime) {
				var today = new Date(datetime);
				
				var dd = today.getDate();
				var mm = today.getMonth()+1; //January is 0!
				var yyyy = today.getFullYear();

				if(dd<10) {
				    dd='0'+dd
				} 

				if(mm<10) {
				    mm='0'+mm
				} 

				today = dd+'/'+mm+'/'+yyyy;
				return today;
			},

			computeLogClass: function(messageType) {
				if (messageType == "INFO") {
					return "info";
				} else if(messageType == "ERROR") {
					return "error";
				} else if(messageType == "WARN") {
					return "warn";
				}

				return "";
			},

			
		});
	</script>
</dom-module>
