<link rel='import' href='../../../bower_components/iron-signals/iron-signals.html'>
<link rel='import' href='../../../bower_components/iron-ajax/iron-ajax.html'>

<link rel='import' href='./aq-web-socket.html'>
<link rel="import" href='./aq-check-authentication.html'>

<dom-module id='aq-socket-handler'>
	<template>
		<iron-ajax
	        url=""
	        method='GET'
	        id='getBacktestQuery'
	        handle-as="json"
	        on-response="onGetBacktestSuccess"
	        on-error="onGetBacktestError"
	        headers='{{header}}'
	        debounce-duration="300">
        </iron-ajax>
		
		<iron-signals on-iron-signal-backtest-completed='onBacktestCompleted'>
        </iron-signals>

     	<iron-signals on-iron-signal-backtest-exception='onBacktestException'>
        </iron-signals>

        <iron-signals on-iron-signal-backtest-started='onBacktestStarted'>
        </iron-signals>

		<aq-check-authentication id='authItem'></aq-check-authentication>

		<aq-web-socket 
          url=""
          id="webSocketConn"
          json
          on-open="_onOpen"
          on-message="_onMessage"
          on-error="_onError"
          on-close="_onClose">
      	</aq-web-socket>

	</template>

	<script>
		Polymer({
			is: 'aq-socket-handler',

			properties :{
			 	WSEndPoint:String,

				wsRequests: {
					type: Array,
					value: []
				},

				backtests:{
		            type:Object,
		            value:{},
	          	},

	          	backtestId: String,

	          	reopenInterval: {
	          		type: Number,
	          		value:200,
	          	},

			},

		  	openConnection: function() {
	          	var WSEndPoint = new Polymer.IronMetaQuery({key: 'WSEndPoint'}).value;
	          	this.$.webSocketConn.url = WSEndPoint;

	          	//try {
          		//console.log(this.$.webSocketConn.isClosed());
					//if(this.$.webSocketConn.isClosed()) {
						this.$.webSocketConn.open();
					//}
				/*} catch(err) {
					console.log(err);
				}*/
	        },

	        _onOpen: function(e) {
	        	var delay = 0;
	        	this.reopenInterval = 200;
	        	
	        	if (this.$.webSocketConn.isOpen()) {
	        		delay = 0;
	        	} else if(this.$.webSocketConn.isConnecting()) {
	        		delay = 2000;
	        	}

	        	this.async(this.sendRequests, delay);
	        },

	        sendRequests: function() {
	        	if(this.$.webSocketConn.isOpen()) {
		        	for(var i=0;i<this.wsRequests.length;i++) {
		                var req = this.wsRequests[i];
		                this.$.webSocketConn.send(req);
		            }

		            this.set('wsRequests',[]);
	            }
	        },

	        _onMessage: function(e) { 
	            var backtestId = e.detail.backtestId;
	            if (!this.backtests[backtestId]) {
	              	return;
	            }
	            
	            var response = e.detail;
	            if(response.status && response.backtestId && response.strategyId) {
	            	this.fire('rt-changed', {route: `/research/backtests/${response.strategyId}/${response.backtestId}`, reload:true});
	            	return;
	            }

	            this.backtests[backtestId].data[response.index] = response.data; 
	        },

	        _onError: function(e) {

	        },

	        _onClose: function(e) {
        		//On close, resend the subscription requests
        		this.reopenInterval *= 2;
            	this.debounce('ss', this.subscribeAllRequest, 1000);	
	        },

	        addRequest: function(msgForWS) {
	        	var idx = this.wsRequests.findIndex(item => {
	        			return (item.action === msgForWS.action &&
	        			item.backtestId === msgForWS.backtestId &&
	        			item["aimsquant-token"] === msgForWS["aimsquant-token"]);});

	        	if(idx == -1) {
          			this.wsRequests.push(msgForWS);	
	        	}
	        },

	        subscribeAllRequest: function() {
         		if(this.backtests) {
         			Object.keys(this.backtests).forEach(backtestId => {
         				if(this.backtests[backtestId].subscription) {

         					this.sendDataNew(backtestId);

         					if(this.$.authItem.checkHasToken()) {
	         					var msgForWS = {'aimsquant-token': this.$.authItem.getToken(),
			                  		action: 'subscribe-backtest',
			                  		backtestId: backtestId};

			                  	if(this.$.webSocketConn.isOpen()) {
			                  		this.$.webSocketConn.send(msgForWS);
			                  	} else {
			                  		this.addRequest(msgForWS);
			                  	}	
		                  	}
         				}
         			});
         		}

         		//If the web-socket was closed,
         		// connect and send all requests
         		
	        },

	        subscribeOneRequest: function(backtestId, fresh) {
	        	if(this.backtests[backtestId].subscription) {
	        		if(this.$.authItem.checkHasToken()) {
 						var msgForWS = {'aimsquant-token': this.$.authItem.getToken(),
                  		action: fresh ? 'subscribe-fresh-backtest' : 'subscribe-backtest',
                  		backtestId: backtestId};

	                  	if(this.$.webSocketConn.isOpen()) {
	                  		this.$.webSocketConn.send(msgForWS);
	                  	} else {
	                  		this.addRequest(msgForWS);
	                  		this.openConnection();
	                  		//this.$.webSocketConn.open();
	                  	}	
                  	}
 				}
	        },

	        unsubscribeOneRequest: function(backtestId) {
	        	
	        	if(this.$.authItem.checkHasToken()) {
		        	var msgForWS = {'aimsquant-token': this.$.authItem.getToken(),
	                  		action: 'unsubscribe-backtest',
	                  		backtestId: backtestId};

	              	if(this.$.webSocketConn.isOpen()) {
	              		this.$.webSocketConn.send(msgForWS);
	              	} else {
	              		this.addRequest(msgForWS);
	              		this.openConnection();
	              		//this.$.webSocketConn.open();
	              	}
              	}	
	        },

            handleExecution: function(backtestId) {
            	if(this.$.authItem.checkHasToken()) {
		            //Send message to web socket for execution
		            var msgForWS = {'aimsquant-token': this.$.authItem.getToken(),
		                  action: 'exec-backtest',
		                  backtestId: backtestId};

		            this.backtestId = backtestId

		            //Set subscription to true
		            this.backtests[backtestId] = {data:[], subscription:true,bulksent:false, currentIndex:0};

		            //Also send data(by default)
		            this.sendDataNew(backtestId);

		            //check if socket connection is open
		            if (this.$.webSocketConn.isOpen()) {
		                this.$.webSocketConn.send(msgForWS);  
		            } else {    
		                this.addRequest(msgForWS);
		                this.$.webSocketConn.open();
		            } 
	            }
	        },


	        //Now, backtest is launched without sending WS message
	        onBacktestStarted: function(e) {
	        	var backtestId = e.detail.id;

	            //Set subscription to true
	            this.set(`backtests.${backtestId}`, {data:[], subscription:true,bulksent:false, currentIndex:0});

	            this.handleSubscription(backtestId);
	        },

	        handleSubscription: function(backtestId) {
	          	//console.warn("Subscribing");
	          	if(this.backtests[backtestId]) { 
	          		
	          		var _hasData = this.backtests[backtestId].data ? true : false;
	          		var _data = _hasData ? this.backtests[backtestId].data : [];
	          		var freshSubscription = _data.length == 0; 
	          		
		            this.set(`backtests.${backtestId}`, {data:_data, subscription:true,bulksent:false, currentIndex:0});


		            /*this.backtests[backtestId].subscription = true;
		            this.backtests[backtestId].bulksent = false;
		            this.backtests[backtestId].currentIndex = 0;
		            */

		            this.subscribeOneRequest(backtestId, freshSubscription);
		            this.sendDataNew(backtestId);
        	  	}
	        },

	        handleUnsubscription: function(backtestId) { 
	        	//console.warn("Un-subscribing");  
	          	if(this.backtests[backtestId]) {
              		
	          		this.set(`backtests.${backtestId}`, {data:[], subscription:false,bulksent:false, currentIndex:0});

              		/*this.backtests[backtestId].subscription = false;
	              	this.backtests[backtestId].bulksent = false;
	              	//delete this.backtests[backtestId].currentIndex;
	              	this.backtests[backtestId].currentIndex = 0;
	              	this.backtests[backtestId].data = {};*/
	              	this.unsubscribeOneRequest(backtestId);
	          	}
	        },

	        handleUnsubscribeAll: function() {
	        	//console.warn("Un-subscribing-all");  
	          	for (var backtestId in this.backtests) {
              		
	          		this.set(`backtests.${backtestId}`, {data:[], subscription:false,bulksent:false, currentIndex:0});

              		/*this.backtests[backtestId].subscription = false;
	              	this.backtests[backtestId].bulksent = false;
	              	//delete this.backtests[backtestId].currentIndex;
	              	this.backtests[backtestId].currentIndex = 0;
	              	this.backtests[backtestId].data = {};*/
	              	this.unsubscribeOneRequest(backtestId);
	          	}	
	        },

	        sendDataNew: function(backtestId) {
	        	var timeGap = 3000;
	            var maxLimit = 100;

	            if(this.backtests[backtestId]) {
	                if(this.backtests[backtestId].subscription) {
	                  
                  		var currentIndex = this.backtests[backtestId].currentIndex;

	            		var stitchedData = this._stitchData(backtestId);
	            		
	                  	var currentLength = stitchedData.length;
                	  	if(currentIndex <  currentLength && currentLength > 0) {  
                      		var j = 0;
                		  	for(var i=currentIndex; i<currentLength && j<=maxLimit ; i++) { 
	                          	var dataPoint = stitchedData[i];
	                          	
	                          	this.fire('iron-signal',{name:'point-data', data:JSON.parse(dataPoint)});
	                          	this.backtests[backtestId].currentIndex = i+1;
	                          	j++;
	                      	}
	                  	}

		                this.async(function(){this.sendDataNew(backtestId);}, timeGap);
	                }
	            }
	        },

	        _stitchData: function(backtestId) {
	        	//stitch the data
              	var chunkedData = JSON.parse(JSON.stringify(this.
              		backtests[backtestId].data));

              	var stitchedData = [];
              	var count = 0;
              	
              	var nchunks = Object.keys(chunkedData).length;

              	for(var i=0;i<nchunks;i++){
          			stitchedData = stitchedData.concat(chunkedData[String(i)]);
              	}

              	return stitchedData;
          	},

            onBacktestCompleted: function(e) {
	            if(e.detail) {
	                var backtestId = e.detail.id;

	                if(backtestId) {
	                    delete this.backtests[backtestId];    
	                }
	            }
	        },

	        onBacktestException: function(e) {
	        	if(e.detail) {
	                var backtestId = e.detail.id;

	                if(backtestId) {
	                    delete this.backtests[backtestId];    
	                }
	            }
	        },

	        manageSubscriptions: function(){ 
	          	if(Object.keys(this.backtests).length > 0) {
	              	for (var backtestId in this.backtests) {

	                  	//continue with still subscribed
	                  	if(this.backtests[backtestId].subscription){
	                    	break;
	                  	}

	                  	if(this.$.authItem.checkHasToken()) {
	            	      	this.header = this.$.authItem.getHeader();
	                      	this.$.getBacktestQuery.url = this.computeGetBacktesturl(backtestId);
	                      	this.$.getBacktestQuery.generateRequest();
	                  	} else {
	                	    this.gotoSignin();
	            	  	}
	     		 	} 
	          	}

	          	this.async(this.manageSubscriptions, 60000);
	        },

	        onGetBacktestSuccess: function(e){
	          		
	    	  	var response = e.detail.response;	

	    	  	var backtestId = response._id;
	      	    if (this.backtests[backtestId]) {
	      	    	if(response.realtimeOutput) {
	      	    		this.backtests[backtestId].data = [];
	      	    		this.backtests[backtestId].data = response.realtimeOutput;

	            		this.sendData(backtestId);
            		}           

	      	    	var status = response.status;
	      	     	if(status == "complete") {
	      	    		//this.fire('iron-signal',{name:'backtest-completed', id: this.backtests[backtestId]});
      	    		} else if(status == "exception") {
      	    			return; 
      	    			//this.fire('iron-signal',{name:'backtest-exception', id: this.backtests[id], type: 1});
  	    			}
		            
	          	} 
	        },

	        onGetBacktestError: function(e) {
	        	//console.log("Backtest Error");
	            if(e.request.response.id) {
	          		var backtestId = e.request.response.id; 
	          		delete this.backtests[backtestId];    
	            } else {
	            	this.fire('ajax-error', {request: e.detail.request});
	            }
	        },

		});
	</script>
</dom-module>