<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<dom-module id='aq-settings-display'>
	<style  include="iron-flex iron-flex-alignment iron-positioning">
	</style>

	<style>
		.item-label {
			font-size: 13px;
			width: 120px;
		}

		.item-value2 {
			/*background-color: #f2f2f2;*/
			color:teal;
			--color: white;
			--background-color: teal;
			background-color: #f2f2f2;
			--color: white;
			font-size: 14px;
			padding: 4px;
			border: 1px solid #e1e1e1;
			--border: 1px solid teal;
			margin-right: 5px;
		}

		.item-value {
			background-color: #f2f2f2;
			--background-color: teal;
			--color: white;
			--font-weight: bold;
			color: teal;
			font-size: 14px;
			padding: 4px;
			min-width: 30px;
			border: 1px solid #e1e1e1;
			--border: 1px solid teal;
			margin-right: 5px;
		}

		.item-container {
			margin-bottom: 5px;
		}

		.item-container.border {
			border: 1px solid #e1e1e1;
			padding:3px 5px 3px 5px;
			--padding-right:5px;
		}

		#settings-container {
			margin-left: 30px;
			margin-top: 30px;
			width: 400px;
			border: 1px solid #e1e1e1;
			padding: 10px;
		}

		#heading {
			font-size: 18px;
			font-weight: 700;
			margin-bottom: 5px;
		}
		
	</style>

	<template>
		<div id='settings-container' class="layout vertical">
			<div id="heading">Settings</div>
			<template is='dom-repeat' items={{settings}}>
				<div class$="layout horizontal item-container center [[computeBorder(item.diff)]]">
					<div class="item-label">[[item.label]]:&nbsp</div>
					
					<template is='dom-if' if="[[hasValue(item.value)]]">
						<div class="item-value" id='item-value-[[index]]'>
							[[item.value]]
						</div>
					</template>

					<template is='dom-if' if="[[hasValue(item.value2)]]">
						<div class="item-value2">[[item.value2]]
						</div>
					</template>
				</div>
			</template>
		</div>
	</template>

	<script>
		Polymer({
			is: 'aq-settings-display',

			properties: {
				settings: Array,
			},

			hasValue: function(val) {
				return val !="";
			},

			computeBorder: function(diff) {
				if(diff) {
					return "border";
				}
			}
		});
	</script>

</dom-module>