<link rel='import' href='../../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>

<link rel='import' href='../../../bower_components/iron-pages/iron-pages.html'>

<link rel='import' href='../../../bower_components/iron-selector/iron-selector.html'>

<link rel='import' href='../../../bower_components/iron-scroll-threshold/iron-scroll-threshold.html'>

<link rel="import" href="../../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../../bower_components/vaadin-grid/vaadin-grid-sorter.html">
<link rel="import" href="../../../bower_components/vaadin-grid/vaadin-grid-filter.html">

<link rel="import" href="./aq-twoway-toggle.html">

<script src="../../../resources/scripts/DateTime.js"></script>

<dom-module id='aq-transaction-table'>
	<style>
		#table-container {
			height: 100%;
		}

		vaadin-grid {
			height: calc(100% - 52px);
			--vaadin-grid-header-cell: {
				background-color: #fafafa;
				font-size: 14px;
			};

			--vaadin-grid-body-cell: {
				font-size: 14px;
			}

			--vaadin-grid-body-row-hover-cell: {
				background-color: #fafafa;
			}
		}

		aq-twoway-toggle {
			--toggle-width: 220px
		}

		#toggle-container {
			margin-bottom: 5px;
		}

		.header {
			border: 1px solid #e1e1e1;
		}

		.header p {
			font-size: 700;
			background:#cc6666;
			color: white;
		}

		paper-button {
			margin-top: 10px;
			--paper-button:{
				font-size: 12px;
				background-color: teal;
				color: white;
				height: 25px;
			};
		}

	</style>

	<style include="iron-flex iron-flex-alignment iron-positioning">
    </style>

	<template>
		<div id='table-container'>
			<div id="toggle-container" class="layout horizontal">
	            <div class="flex"></div>
	            <template is='dom-if' if='[[!noOrders]]'>
		            <aq-twoway-toggle 
		                first-option="Proposed Orders" 
		                second-option="Transactions"
		                selected-type="{{typeSelected}}">
		            </aq-twoway-toggle>
	            </template>

	        </div>

	        	<template id='ordersTableTemplate' is='dom-if' if='[[showProposedOrders(orders, noOrders, typeSelected)]]' on-dom-change='manageOrders'>
	        	<vaadin-grid id='ordersTable' multi-sort=true>
					<vaadin-grid-column width="100px">
			      		<template class="header">
				      		<vaadin-grid-sorter path="date">Date</vaadin-grid-sorter>
			      		</template>

				      <template>[[item.date]]</template>
				    </vaadin-grid-column>

				    <vaadin-grid-column width="100px">
				      	<template class="header">
				      		<vaadin-grid-sorter path="symbol">Symbol</vaadin-grid-sorter>
			      		</template>
				      <template>[[item.symbol]]</template>
				    </vaadin-grid-column>

				     <vaadin-grid-column width="100px">
				     	<template class="header">
				      		<vaadin-grid-sorter path="direction">Direction
				      		</vaadin-grid-sorter>
		      			</template>
				      <template>[[item.direction]]</template>
				    </vaadin-grid-column>

				    <vaadin-grid-column width="100px">
				      <template class="header">
				      		<vaadin-grid-sorter path="quantity">Quantity
				      		</vaadin-grid-sorter>
		      			</template>
				      <template>[[item.quantity]]</template>
				    </vaadin-grid-column>
			    </vaadin-grid></template>
		   		
		   		<template id='transactionTableTemplate' is='dom-if' if='[[showTransactionTable(transactions, noOrders, typeSelected)]]' on-dom-change='manageTransactions'>
         	 	<vaadin-grid id='transactionTable' multi-sort=true>
					<vaadin-grid-column width="100px">
				      <!--template class="header">Date</template-->
			      		<template class="header">
				      		<vaadin-grid-sorter path="date">Date</vaadin-grid-sorter>
			      		</template>

				      <template>[[item.date]]</template>
				    </vaadin-grid-column>

				    <vaadin-grid-column width="100px">
				      <!--template class="header">Symbol</template-->
				      	<template class="header">
				      		<vaadin-grid-sorter path="symbol">Symbol</vaadin-grid-sorter>
			      		</template>
				      <template>[[item.symbol]]</template>
				    </vaadin-grid-column>

	      			<vaadin-grid-column width="100px">
				      	<template class="header">
				      		<vaadin-grid-sorter path="direction">Direction
				      		</vaadin-grid-sorter>
		      			</template>
				      <template>[[item.direction]]</template>
				    </vaadin-grid-column>

				    <vaadin-grid-column width="100px">
				      <template class="header">
				      		<vaadin-grid-sorter path="quantity">Quantity
				      		</vaadin-grid-sorter>
		      			</template>
				      <template>[[item.quantity]]</template>
				    </vaadin-grid-column>

				    <vaadin-grid-column width="100px">
				      <template class="header">
				      	<vaadin-grid-sorter path="price">Price
			      		</vaadin-grid-sorter>
				      </template>
				      <template>[[item.price]]</template>
				    </vaadin-grid-column>

				    <vaadin-grid-column width="100px">
				      <template class="header">
				      	<vaadin-grid-sorter path="fee">Order Fee
			      		</vaadin-grid-sorter>
				      </template>
				      <template>[[item.fee]]</template>
				    </vaadin-grid-column>
			   	</vaadin-grid></template>
	   		
	   </div>
	   
	</template>

	<script>
		Polymer({
			is: 'aq-transaction-table',

			properties: {
				transactions: Array,
				orders: Array,
				
				typeSelected: {
					type: Number,
					value: 0,
				},

				noOrders:{
					type: Boolean,
					value: false,
				},
				
				loading: Boolean,
			},

			/*loadMoreData: function() {
				this.loading = true;
				this.manageTransactions();
			},*/

			showPaperButton: function(loading) {
				return !loading;
			},

			manageOrders: function() {
				
				if(!this.showProposedOrders(this.orders, this.noOrders, this.typeSelected)) {
					return;
				}

				var grid = this.$$('#ordersTable');
     			var items = [];

     			var gridItemslength = grid.items ? grid.items.length : 0;

     			if(this.orders && gridItemslength < this.orders.length) {

     				items = new Array(this.orders.length);
	     			var i = 0;

	     			this.orders.forEach(order => {
	     				items[i++] = {date: date.formatDateForTable(order.datetime), 
	     							symbol: order.securitysymbol.ticker,
	     							quantity: order.remainingquantity,
	     							direction: order.remainingquantity < 0 ?"SELL":"BUY",
	     							};
	     			});

	     			grid.clearCache();
 					grid.items = items;
     			}
			},

			manageTransactions: function() {
				if(!this.showTransactionTable(this.transactions, this.noOrders, this.typeSelected)) {
					return;
				}

				var grid = this.$$('#transactionTable');

			 	var gridItemslength = grid.items ? grid.items.length : 0;
     			var items = [];

     			if(this.transactions && gridItemslength < this.transactions.length) {

     				var nLength = this.transactions.length;
     				//var nLength = gridItemslength  + 100 > this.transactions.length ? this.Transactions.lenght : gridItemslength  + 100;

     				items = new Array(nLength);
	     			var i = 0;

	     			this.transactions.forEach(transaction => {
	     				items[i++] = {date: date.formatDateForTable(transaction.datetime), 
	     							symbol: transaction.securitysymbol.ticker,
	     							quantity: transaction.fillquantity,
	     							price: transaction.fillprice,
	     							fee: transaction.orderfee,
	     							direction: transaction.fillquantity < 0 ? "SELL":"BUY",};
	     			});

	     			grid.clearCache();
					grid.items = items;
     			}
			},

			showTransactionTable: function(transactions, noOrders, typeSelected) {
				
				var show = transactions.length > 0 ? (noOrders ? typeSelected == 0 : typeSelected == 1) : false;

				return show;
			},

			showProposedOrders: function(orders, noOrders, typeSelected) {
				var show = orders ? (orders.length > 0 ? (!noOrders && typeSelected == 0) : false) : false;

				return show;
			},

			/*manageTransactions: function(page, pageSize) {
			 	var grid = this.$$('#transactionTable');
     			var items = [];

     			if(this.transactions) {

     				items = new Array(page*pageSize);
	     			var i = 0;

	     			this.transactions.forEach(transaction => {
	     				if(i < page*pageSize) {
		     				items[i++] = {date: transaction.datetime, 
		     							symbol: transaction.securitysymbol.ticker,
		     							quantity: transaction.fillquantity,
		     							price: transaction.fillprice,
		     							fee: transaction.orderfee,
		     							direction: transaction.fillquantity < 0 ? "SELL":"BUY",};
	     				}
	     			});
     			}

     			grid.clearCache();
     		 	grid.size = page*pageSize;
     		 	grid.items = items;

			}*/

		});
	</script>
</dom-module>