<dom-module id="aq-tag-element">
    <template>
        <style>
            :host{
                display: inline-block;
            }
            
            .tag-content{
                font-size: 14px;
                color: #cc6666;
                font-family: 'Lato' , sans-serif;
                font-weight: 400;
            }
            .tag-container {
                padding: 0 5px;
                background-color: white;
                color: #cc6666;
                border-radius: 2px;
                border: 1px solid #e1e1e1;
            }
        </style>
        <div class="tag-container layout horizontal center">
            <span class="tag-content">[[label]]</span>
            <content></content>
        </div>
    </template>
    <script>
        Polymer({
            is:"aq-tag-element",
            properties:{
                label:{
                    type:String,
                    value:"",
                }
            }
        });
    </script>
</dom-module>