@import url('https://fonts.googleapis.com/css?family=Inconsolata');

*:focus {
    outline: none;
}

.display-none-help{
  display: none;
}

#root .layout.ant-layout{
  overflow-x: hidden;
  background: #fafafa;
}

.main-loader div{
  position: relative;
}

.header.ant-layout-header{
  background: #fafafa;
  /*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
  border-bottom: 1px solid rgba(0,0,0,0.16);
  position: fixed;
  width: 100%;
  z-index: 100;
}

.card{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-1 {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-1:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.height_width_full{
  height: 100%;
  width: 100%;
}

.center-content{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  display: flex;
  float: left;
  color: white;
}

.logo .aims{
  color: teal;
  margin: 0px;
}

.logo .quant{
  color: #cc6666;
  margin: 0px;
}

.menu.ant-menu-light{
  background: rgba(0, 0, 0, 0);
  line-height: 40px;
  float: right;
  border-bottom: none;
  margin-top: 12px;
}

.ant-menu-item.menu-item,
.ant-menu-item.menu-item:hover,
.ant-menu-item.menu-item.ant-menu-item-selected,
.ant-menu-item.menu-item.ant-menu-item-selected:hover,
.ant-menu-item.menu-item.ant-menu-item-active,
.ant-menu-item.menu-item.ant-menu-item-active:hover{
  border-bottom: none;
  margin: 0px;
  top: 0px;
}

.ant-menu-item.menu-item.ant-menu-item-selected{
  font-weight: bold;
}

.ant-menu-item.menu-item.signup,
.ant-menu-item.menu-item.signup:hover{
  border: 1px solid teal;
}

.content.ant-layout-content{
  margin-top: 64px;
}

.footer.ant-layout-footer{
  background: #24293d;
  color: white;
  display: flex;
}

.footer.ant-layout-footer h2,
.footer.ant-layout-footer h4{
  color: white;
}

.footer.ant-layout-footer p{
  margin-bottom: 0.5em;
}

.footer.ant-layout-footer a,
.footer.ant-layout-footer a:hover,
.footer.ant-layout-footer a:active{
  color: white;
  text-decoration: none;
}

.full-screen-container{
  height: 100vh;
  width: 100%;
  min-height: 500px;
  background: #fafafa;
  position: relative;
}


.full-screen-container-min-fit{
  min-height: calc(100vh - 70px);
  width: 100%;
  background: #fafafa;
  position: relative;
}

.full-screen-container h1,
.full-screen-container h2,
.full-screen-container h3,
.full-screen-container h4,
.full-screen-container h5,
.full-screen-container p{
  margin: 0;
}

.pointer-hover:hover{
  cursor: pointer;
}

.invest-heading{
  font-size: 72px;
  color: teal;
  padding-top: 8%;
  margin: 0px;
}

.ant-btn.register-button{
  width: 200px;
  height: 42px;
  font-size: 16px;
  margin-right: 5px;
}

.ant-btn.learn-more-button{
  width: 200px;
  height: 42px;
  font-size: 16px;
  margin-left: 5px;
}

.more-info-image{
  height: 100px;
  width: 100px;
  margin-right: 30px;
}

.more-info-text{
  text-align: left;
  max-width: 300px;
}

.more-info-text h2,
.more-info-text h4{
  color: black;
}

.research-heading{
  font-size: 36px;
  color: black;
}

.link-image{
  height: calc(50px + 18vw);
  min-width: calc(50px + 18vw);
}

.link-text{
  padding-left: 8%;
  font-size: calc(10px + 0.8vw);
}

.link-text h4{
  font-weight: normal;
  color: #3c3c3c;
}

.add-tags{
  color: #cc6666;
  font-size: 12px;
  margin: 5px 0px 0px 5px;
  cursor: pointer;
  display: inline-flex;
}

.community-tabs .ant-tabs-content{
  height: 100%;
}

.announcement p,
.announcement h1,
.announcement h2,
.announcement h3,
.announcement h4,
.announcement li{
  margin: 0px;
  color: black;
}

.ant-form.login-form {
  max-width: 300px;
  text-align: left;
  margin-top: 20px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.ant-form-item.signup-form-item{
  margin: 0px;
}

.policy-div p,
.policy-div h1,
.policy-div h2,
.policy-div h3,
.policy-div h4,
.policy-div h5{
  margin: 0px;
}

.policy-div h3{
  font-size: 1.17em;
  font-weight: bold;
  line-height: 24px;
}

.policy-div p,
.policy-div li{
  line-height: 24px;
  font-size: 16px;
  color: black;
}

.policy-div ul{
  margin: 0px;
}

.policy-div .ql-indent-1{
  margin-left: 4em;
}

.policy-div a{
  text-decoration: underline;
}

.logged-in-profile-pic{
  border-radius: 50%;
  padding: 10px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  height: auto;
  font-weight: bold;
}

.ant-popover.ant-popover-placement-bottomRight .ant-popover-arrow,
.ant-popover.ant-popover-placement-bottomRight .ant-popover-inner{
  background: teal !important;
}

.ant-popover.ant-popover-placement-bottomRight .ant-popover-content{
  border-radius: 2px !important;
}

.ant-popover.ant-popover-placement-bottomRight .ant-popover-inner-content{
  padding: 0px !important;
}

.loggedinuser-menu-popup-header{
  padding: 10px;
  min-width: 300px;
  min-height: 100px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.loggedinuser-menu-popup-header h3{
  color: white;
  font-size: 13px;
  font-weight: bolder;
  margin:0px;
  text-align: right;
}

.loggedinuser-menu-popup-header p{
  color: white;
  font-size: 13px;
  margin:0px;
  text-align: right;
}

.loggedinuser-menu-popup-content{
  background: white;
}

.loggedinuser-menu-popup-content .row{
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #dfdfdf;
  cursor: pointer;
  align-items: center;
  font-size: 13px;
  color: #24293d;
  font-weight: bold;
}

.loggedinuser-menu-popup-content .row .icon{
  color: #cc6666;
  margin-right: 10px;
  font-size: 20px;
}

.category-checkbox-group{
  float: right;
}

.category-checkbox-group .ant-checkbox-wrapper{
  font-size: 12px;
}

.qlEditor .ql-editor{
  min-height: 300px;
  max-height: 400px;
}

.ant-btn.no-border-radius-button{
  border-radius: 0px;
}

.attached-backtest-settings-value{
  border: 1px solid #e1e1e1;
  background-color: #f2f2f2;
  color: teal;
  font-size: 14px;
  padding: 4px;
  min-width: 30px;
  margin: 0px;
}

.ant-modal.attach-backtest-model{
  height: 100%;
  width: 100% !important;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attach-backtest-model .ant-modal-content{
  height: 95%;
  width: 98%;
}

.attach-backtest-model .ant-modal-body{
  height: calc(100% - 55px);
}

.available-stategies-tabs .ant-tabs-bar{
  width: 100%;
}

.available-stategies-tabs .ant-tabs-tab{
  text-align: center;
}

.attach-backtests-table .ant-table-thead .ant-checkbox{
  display: none;
}

.help-tabs .ant-tabs-content{
  height: 100%;
}

.help-anchor.ant-anchor-wrapper{
  max-height: unset !important;
}

.help-basic-anchor{
  color: black;
}

.help-basic-anchor.active{
  color: teal;
}

.helpMainDiv h1,
.helpMainDiv h2,
.helpMainDiv h3,
.helpMainDiv h4,
.helpMainDiv h5,
.helpMainDiv p{
  margin-bottom: 0px;
}

.helpMainDiv p{
  color: black;
  font-size: 14px;
  padding-left: 10px;
}

.research-div a:hover{
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.85);
}

.research-div .ant-table-row{
  cursor: pointer;
}

.backtest-logs .log-type{
  color: green;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Inconsolata', monospace;
}

.backtest-logs .log-type.WARN,
.backtest-logs .log-type.warn{
  color: #ffcc00;
}

.backtest-logs .log-type.ERROR,
.backtest-logs .log-type.error{
  color: #cc6666;
}

.backtest-logs .log-date-time,
.backtest-logs .log-message{
  color: white;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Inconsolata', monospace;
}

.backtestdetail-table .rt-tbody{
  max-height: 400px;
}

.research-livetests-listitem{
  cursor: pointer;
}

.forwardtest-detail-div{
  background-color: white;
}

.forwardtest-detail-div .rt-tbody{
  max-height: 300px;
}

.attach-backtest-model.no-padding .ant-modal-body{
  padding: 0px;
}

.compare-backtests-div .ant-tabs-content{
  height: calc(100% - 60px);
}

.backtestcompare-summary-table{
  height: calc(100% - 70px);
}

.strategy-top-right-icons .anticon{
  color: #cc6666;
  cursor: pointer;
  font-size: 20px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


.strategy-top-right-icons .anticon:hover{
  border: 1px solid #cc6666;
}

.strategy-top-right-icons .anticon.inactive{
  color: #cacaca;
  cursor: unset;
}

.strategy-top-right-icons .anticon:active{
  font-size: 15px;
}

.strategy-top-right-icons .anticon.active{
  background: #cc6666;
  color: white;
}

.strategy-right-div{
  transition-property: width;
  -webkit-transition: width 2s linear 1s; /* Safari */
    transition: width 2s linear 1s;
}

.strategy-right-div-icon-holder .anticon{
  font-size: 25px;
  padding: 17px;
  cursor: pointer;
  color: black;
  border-left: 3px solid rgba(0,0,0,0);
}

.strategy-right-div-icon-holder .anticon.active{
  color: teal;
  border-left: 3px solid teal;
}

.strategy-right-div-extra-settings-tabdiv{
  height: 100%;
}

.strategy-right-div-extra-settings-tabdiv .ant-tabs-content{
  height: calc(100% - 60px);
  padding: 0px 20px;
  overflow-y: auto;
}

.invite-friend-modal .ant-confirm-content{
  margin: 10px 0px;
}

.invite-friend-modal .ant-confirm-btns{
  margin: 0px;
}

.location-breadcrumb .ant-breadcrumb-link{
  font-size: 11px;
  color: black;
}

.location-breadcrumb .ant-breadcrumb-link a{
  color: black;
}

.location-breadcrumb .ant-breadcrumb-separator{
  margin: 0px 2px;
}

.location-breadcrumb .last{
  color: rgb(204, 102, 102);
  font-size: 11px;
}

/*.layout .ant-tabs-nav .ant-tabs-tab-active,
.layout .ant-tabs-nav .ant-tabs-tab:hover,
.compare-backtests-div .ant-tabs-nav .ant-tabs-tab-active,
.compare-backtests-div .ant-tabs-nav .ant-tabs-tab:hover{
  color: #24293d;
}

.layout .ant-tabs-nav .ant-tabs-tab,
.compare-backtests-div .ant-tabs-nav .ant-tabs-tab{
  font-weight: 700;
  font-size: 13px;
}

.layout .ant-tabs-ink-bar,
.compare-backtests-div .ant-tabs-ink-bar{
  background-color: #cc6666;
}*/

/*.layout .ant-radio-group,
.compare-backtests-div .ant-radio-group{
  border: 1px solid #e1e1e1;
}

.layout .ant-radio-button-wrapper,
.compare-backtests-div .ant-radio-button-wrapper{
  border: none;
  padding: 0px 10px;
  margin: 5px;
}

.layout .ant-radio-button-wrapper:hover,
.compare-backtests-div .ant-radio-button-wrapper:hover{
  color: black;
}

.layout .ant-radio-button-wrapper-checked,
.layout .ant-radio-button-wrapper-checked:hover,
.compare-backtests-div .ant-radio-button-wrapper-checked,
.compare-backtests-div .ant-radio-button-wrapper-checked:hover{
  color: white;
  background: #cc6666;
  box-shadow: none;
}

.layout .ant-radio-button-wrapper:not(:first-child)::before,
.layout .ant-radio-button-wrapper-checked::before,
.compare-backtests-div .ant-radio-button-wrapper:not(:first-child)::before,
.compare-backtests-div .ant-radio-button-wrapper-checked::before{
  background-color: rgba(0, 0, 0, 0) !important;
  content: none;
}

.layout .ant-radio-button-wrapper:first-child,
.compare-backtests-div .ant-radio-button-wrapper:first-child{
  border-left: none;
}*/

.compare-backtests-div .ant-tabs-content{
  height: calc(100% - 60px);
}

.compare-backtests-div .ant-tabs-tabpane{
  height: 100%;
}

.thread-view-div .ql-snow .ql-editor pre.ql-syntax{
  background-color: white;
  color: #3c3c3c;
}

.ql-editor{
  font-size: 16px;
}

.rt-resizable-header-content{
  text-align: left;
  font-weight: bold ;
  padding-left: 15px;
}

.rt-tr .rt-td{
  padding-left: 18px !important;
}

.rt-thead {
    overflow-y: scroll;
}

.rt-thead::-webkit-scrollbar {
   background: transparent; 
} 

@media only screen and (max-width: 700px) {
  .layout .header.big-screen{
    display: none;
  }
  .layout .header.small-screen{
    display: block;
  }
}

@media only screen and (min-width: 701px) {
  .layout .header.big-screen{
    display: block;
  }
  .layout .header.small-screen{
    display: none;
  }
}

