
html,body{
	height: 100%;
	width: 100%;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, p{
  margin: 0px;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fafafa; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

::-moz-selection { /* Code for Firefox */
    color: highlighttext !important;
    background: highlight !important;
}

::selection {
    color: highlighttext !important; 
    background: highlight !important;
}
