<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../bower_components/app-route/app-route.html'>

<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-page.html">

<link rel="import" href="../components/analyze/aq-analyze-home.html">
<link rel="import" href="../components/analyze/aq-analyze-detail.html">

<dom-module id="aq-analyze-main">
    <style include="iron-flex iron-flex-alignment iron-positioning">
    </style>
    <style>
        #panel {
            height: 100%;
        }
    </style>
    <template>

        <!--app-location route="{{route}}" use-hash-as-path></app-location-->
        
        <app-location route="{{route}}"></app-location>

        <app-route
            route="{{route}}"
            pattern="/research/backtests/:strategyId"
            data="{{homeData}}">
        </app-route>

        <app-route
            route="{{route}}"
            pattern="/research/backtests/:strategyId/:id"
            data="{{detailData}}"
            query-params="{{queryParams}}"
            active="{{detailActive}}">
        </app-route>

        <!--RESTAMPING HERE SO THAT CHILD IS FRESHLY ADDED EVERYTIME
        DONE THIS TO PREVENT UNEXPECTED BEHAVIOR DOWNSTREAM WHERE CHILD WAS GETTING ATTACHED TWICE-->
        <iron-lazy-pages restamp attr-for-selected="page" selected="[[_computeAnalyzePage(detailActive)]]">
            <template is='iron-lazy-page' restamp page="home">
                <aq-analyze-home current-path=[[currentPath]] strategy-id='[[homeData.strategyId]]'></aq-analyze-home>
            </template>

            <template is='iron-lazy-page' restamp page="detail">
                <aq-analyze-detail
                    current-path=[[currentPath]]
                    type-id='[[detailData.id]]'
                    strategy-id='[[detailData.strategyId]]' 
                    params="[[queryParams]]">
                </aq-analyze-detail>
            </template>
        </iron-lazy-pages>
    </template>

    <script>
        Polymer({
            is: 'aq-analyze-main',

            properties: {
                detailActive: Boolean,
                queryParams: Object,
                currentPath:Array,      
            },

            _computeAnalyzePage: function(detailActive) {
                return detailActive ? "detail" : "home";
            },

        });
    </script>
</dom-module>
