<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../bower_components/iron-pages/iron-pages.html'>

<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-page.html">


<link rel='import' href='../../bower_components/app-route/app-route.html'>
<link rel='import' href='../../bower_components/app-route/app-location.html'>
<link rel='import' href='../../bower_components/app-route/app-route-converter.html'>

<link rel="import" href="../components/aq-toolbar.html">
<link rel="import" href="../components/community/aq-community-home.html">
<link rel="import" href="../components/community/aq-community-more.html">

<dom-module id="aq-community-main">

  <template>

      <!--app-location route="{{route}}" use-hash-as-path></app-location-->
      <app-location route="{{route}}"></app-location>

      <app-route route="{{route}}"
                pattern="/research/community/:threadId"
                data="{{routeData}}"
                query-params="{{queryParams}}"
                active="{{active}}">
      </app-route>

      <iron-lazy-pages restamp attr-for-selected="page" selected="{{computeCommunityPage(active)}}">
          <template is='iron-lazy-page' restamp page="home">
              <aq-community-home current-path=[[currentPath]]></aq-community-home>
          </template>

          <template is='iron-lazy-page' restamp page="more">
              <aq-community-more current-path=[[currentPath]] params="[[routeData]]" query-params="[[queryParams]]"></aq-community-more>
              <!--iron-lazy-pages attr-for-selected="page" selected="[[computeCommunityPageMore(routeData)]]">
                
                  <template is='iron-lazy-page' restamp page="detail">
                      <aq-community-postdetail thread-id="[[routeData.threadId]]"></aq-community-postdetail>
                  </template>

                  <template is='iron-lazy-page' restamp page="create">
                      <aq-community-createpost></aq-community-createpost>
                  </template>
              </iron-lazy-pages-->
          </template>
      </iron-lazy-pages>
  </template>

  <script>
    Polymer ({
      is: 'aq-community-main',

      properties:{
          routeData:{
              type:Object,
          },

          active: Boolean,

          currentPath: Array,
      },

      listeners:{
        'postdetail-action':'onDetail',
      },

      computeCommunityPage: function(active) {
          if (active) {
              return "more";
          } else {
              return "home";
          }
      },

    });
  </script>

</dom-module>
