<link rel='import' href='../../bower_components/iron-pages/iron-pages.html'>
<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../bower_components/app-route/app-route.html'>
<link rel='import' href='../../bower_components/app-route/app-location.html'>

<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-page.html">
<link rel='import' href='../../bower_components/iron-signals/iron-signals.html'>

<link rel="import" href="./aq-editor-main.html">
<link rel="import" href="./aq-analyze-main.html">
<link rel="import" href="./aq-community-main.html">
<link rel="import" href="./aq-help-main.html">
<link rel='import' href='../dialog/aq-editor-strategy-input-dialog.html'>

<dom-module id="aq-dashboard-main">
  
  <style include="iron-flex iron-flex-alignment iron-positioning">
  </style>

  <style>
    #content {
      --overflow: auto;
      background-color:#fafafa;
    }

  </style>

  <template>

        <!--app-location route="{{route}}" use-hash-as-path></app-location-->
        <app-location route="{{route}}"></app-location>
        <app-route route="{{route}}"
                    pattern="/research/:page"
                    data="{{routeData}}"
                    tail="{{tail}}">
        </app-route>

        <aq-check-authentication id='authItem'></aq-check-authentication>

        <iron-ajax 
            url=""
            body="[[strategyData]]" 
            method='POST' 
            id='postStrategyQuery' 
            headers='{{header}}' 
            handle-as="json" 
            on-response="onStrategyCreationResponse" 
            on-error="onStrategyCreationError" 
            debounce-duration="300">
        </iron-ajax>

        <iron-ajax 
            url=""
            method='GET' 
            id='getBacktestQuery' 
            headers='{{header}}' 
            handle-as="json" 
            on-response="onGetBacktestSuccess" 
            on-error="onGetBacktestError" 
            debounce-duration="300">
        </iron-ajax>

        <iron-ajax
            url=""
            method='PUT'
            id='updateForwardtestQuery'
            handle-as="json"
            on-response="onUpdateForwardtestSuccess"
            on-error="onUpdateForwardtestError"
            headers='{{header}}'
            debounce-duration="300"
            loading='{{loading}}'>
        </iron-ajax>

        <iron-ajax
            url=""
            method='DELETE'
            id='deleteForwardtestQuery'
            handle-as="json"
            on-response="onDeleteForwardtestSuccess"
            on-error="onDeleteForwardtestError"
            headers='{{header}}'
            debounce-duration="300"
            loading='{{loading}}'>
        </iron-ajax>

        <div id='content'>
          <iron-lazy-pages restamp attr-for-selected="page" selected="{{routeData.page}}" fallback-selection="editor">
            <template is='iron-lazy-page' restamp page="strategy">
                <aq-editor-main current-path=[[computeCurrentPath(routeData.page)]]></aq-editor-main>
            </template>

            <template is='iron-lazy-page' restamp page="backtests">
                <aq-analyze-main current-path=[[computeCurrentPath(routeData.page)]]></aq-analyze-main>
            </template>

            <template is='iron-lazy-page' restamp page="community">
                <aq-community-main current-path=[[computeCurrentPath(routeData.page)]]></aq-community-main>
            </template>
            
            <template is='iron-lazy-page' restamp page="help">
                <aq-help-main current-path=[[computeCurrentPath(routeData.page)]]></aq-help-main>
            </template>

            <template is='iron-lazy-page' restamp page="tutorial">
                <aq-help-main current-path=[[computeCurrentPath(routeData.page)]]></aq-help-main>
            </template>

          </iron-lazy-pages>
        </div>

        <aq-editor-strategy-input-dialog 
            id="strategyCreateDialog" 
            header="Create Strategy">
        </aq-editor-strategy-input-dialog>  

        <aq-editor-strategy-input-dialog 
            id="strategyCloneDialog" 
            header="Clone this Strategy"
            strategy-name="[[strategyData.name]]"
            strategy-desc="[[strategyData.desc]]">
        </aq-editor-strategy-input-dialog> 

  </template>

  <script>
      Polymer({
          is:'aq-dashboard-main',
          
          properties:{

              routeData:{
                type:Object,
              },

              strategyData:{
                  type: Object,
              }
          },
          
          listeners :{
              'stoptest-action':'onStopForwardTest',
              'restarttest-action':'onRestartForwardTestAction',
              'deletetest-action': 'onDeleteForwardTest',
              'clone-backtest-clicked':'onCloneBacktestRequest',
              'create-strategy-action':'createStrategy',  
              'create-strategy-clicked':'openCreateStrategyDialog',
              'clone-strategy-clicked':'openStrategyCloneDialog',
              'close-action':'closeDialog',
          },

          computeCurrentPath: function(page) {
              //var basePath = [{text:"Home", route:"/main"}];
              var basePath = [];
              
              if(page == "strategy") {
                  basePath.push({text:"Research", route:"/research"}, {text:"All Strategies", route:"/research/strategy"})
              } else if (page == "help" || page == "tutorial"){
                  basePath.push({text:"Help", route:"/research/help"});
              } else if (page == "community"){
                  basePath.push({text:"Community", route:"/research/community"});
              } else {
                  basePath.push({text:"Research", route:"/research"});
              }

              return basePath;
          },

          openCreateStrategyDialog: function() {   
            if(!this.$.authItem.checkHasToken()) {
              this.fire('rt-changed',{route:'/user/signin'});
              return;
            } 

            this.strategyData = {
                "name":"",
                "description":"",
                "language":"julia",
                "type": "",
                "code": ""
            };

            //Open dialog for permission
            this.$.strategyCreateDialog.open();
          },

          closeDialog: function() {
            this.$.strategyCreateDialog.close();
            this.$.strategyCloneDialog.close();
          },

          openStrategyCloneDialog: function(e) {

              if(!this.$.authItem.checkHasToken()) {
                  this.fire('rt-changed',{route:'/user/signin'});
                  return;
              }
              
              var strategy  = e.detail.strategy;
              var newName = strategy.name + "_C";

              this.strategyData = {"name":newName, 
                                "desc" : strategy.description,
                                "code" : strategy.code,
                                "language":strategy.language,
                                "type":strategy.type};
                                
              this.$.strategyCloneDialog.open();
            
          },

          onStopForwardTest: function(e) {
              var forwardtestIds = e.detail.forwardtestIds;
              
              forwardtestIds.forEach(forwardtestId => {
                  if(this.$.authItem.checkHasToken()) {
                      //this.testUpdateData = {active: false};
                      var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                    this.$$('#updateForwardtestQuery').url = APIEndPoint + "/forwardtest/" + forwardtestId +'?active=false';

                      this.header = this.$.authItem.getHeader();
                      this.$.updateForwardtestQuery.generateRequest()
                  }

              });    
          },

          onRestartForwardTestAction: function(e) {

              var forwardtestIds = e.detail.forwardtestIds;
              
              forwardtestIds.forEach(forwardtestId => {
                  if(this.$.authItem.checkHasToken()) {
                      //this.testUpdateData = {active: false};
                      var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                    this.$$('#updateForwardtestQuery').url = APIEndPoint + "/forwardtest/" + forwardtestId +'?active=true';

                      this.header = this.$.authItem.getHeader();
                      this.$.updateForwardtestQuery.generateRequest()
                  }
              });
          },

          onDeleteForwardTest: function(e) {
              var forwardtestId = e.detail.forwardtestId;
              if(this.$.authItem.checkHasToken()) {
                  //this.testUpdateData = {active: false};
                  var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                this.$$('#deleteForwardtestQuery').url = APIEndPoint + "/forwardtest/" + forwardtestId;

                  this.header = this.$.authItem.getHeader();
                  this.$.deleteForwardtestQuery.generateRequest()
              }
          },

          onUpdateForwardtestSuccess: function(e) {
              var response = e.detail.response;
              if(response) {
                  this.fire('iron-signal', {name:'forwardtest-updated', data:{active:response.active, id: response.forwardtestId}});
              }
          },

          onUpdateForwardtestError: function(e) {
              this.fire('ajax-error', {request: e.detail.request});
          },

          onDeleteForwardtestSuccess: function(e) {
              this.fire('iron-signal', {name:'forwardtest-deleted'});
          },

          onDeleteForwardtestError: function(e) {
              this.fire('ajax-error', {request: e.detail.request});
          },

          //Clones the unerlying strategy
          onCloneBacktestRequest: function(e) {
              var backtestId = e.detail.backtestId;

              if(this.$.authItem.checkHasToken()) {
                  this.header = this.$.authItem.getHeader();
                  
                  var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                  
                  this.$$('#getBacktestQuery').url = APIEndPoint+'/backtest/'+backtestId +'?select=code strategy_name'; 

                  this.$$('#getBacktestQuery').generateRequest();
              }
          },


          //Clone strategy based on backtest code
          onGetBacktestSuccess: function(data) {
              var backtest = data.detail.response;
              this.strategyData = {"name":"Clone of " + (backtest.strategy_name ? backtest.strategy_name : ""),
                                "desc" : "",
                                "code" : backtest.code,
                                "language":"julia",
                                "type":""};

              this.$.strategyCloneDialog.open();
          },

          onGetBacktestError: function(e) {
              console.log(e);
          },

          createStrategy:  function(e) {
              this.strategyData["name"] = e.detail.name;
              this.strategyData["description"] = e.detail.description;

              if(this.$.authItem.checkHasToken()) {
                this.header = this.$.authItem.getHeader();
                var APIEndPoint = new Polymer.IronMetaQuery({key: 'APIEndPoint'}).value;
                this.$$('#postStrategyQuery').url = APIEndPoint+'/strategy'; 
                this.$$('#postStrategyQuery').generateRequest();
              }
          },

          onStrategyCreationResponse: function(data) {
              //check for error
              var strategyId = data.detail.response._id
              this.fire('iron-signal',{name:'strategy-added'});
              this.fire('rt-changed', {route:'/research/strategy/'+ strategyId});
          },

          onStrategyCreationError: function(data) {
              //console.log(data);
          },

      });
  </script>
</dom-module>
