<link rel='import' href='../../bower_components/vaadin-icons/vaadin-icons.html'>

<link rel='import' href='../../bower_components/iron-flex-layout/iron-flex-layout-classes.html'>
<link rel='import' href='../../bower_components/app-route/app-route.html'>
<link rel='import' href='../../bower_components/app-route/app-location.html'>

<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-pages.html">
<link rel="import" href="../../bower_components/iron-lazy-pages/iron-lazy-page.html">


<link rel="import" href="../components/common/aq-check-authentication.html">
<link rel="import" href="../components/aq-toolbar.html">
<link rel="import" href="../components/editor/aq-editor-home.html">
<link rel="import" href="../components/editor/aq-editor-edit.html">
<link rel='import' href='../dialog/aq-editor-strategy-preview-dialog.html'>


<dom-module id="aq-editor-main">
  <style  include="iron-flex iron-flex-alignment iron-positioning"></style>
   <style>
    #panel {
      height:100%;
    }
  </style>
  <template>
    <aq-check-authentication id='authItem'></aq-check-authentication>
    
    <!--app-location route="{{route}}" use-hash-as-path></app-location-->
    <app-location route="{{route}}"></app-location>
    <app-route route="{{route}}"
                pattern="/research/strategy/:strategyId"
                data="{{routeData}}"
                active="{{active}}">
    </app-route>

    <iron-lazy-pages restamp attr-for-selected="page" selected="{{computeSelectedPage(active)}}" fallback-selection="home">
         
        <template is='iron-lazy-page' restamp page="home">
            <aq-editor-home current-path=[[currentPath]]></aq-editor-home>
        </template>

        <template is='iron-lazy-page' restamp page="edit">
            <aq-editor-edit strategy-id="[[routeData.strategyId]]"></aq-editor-edit>
        </template>
    </iron-lazy-pages> 

  </template>

  <script>
    Polymer ({
      is: 'aq-editor-main',

      properties : {
        hasViews: {
          type: Boolean,
          value: true,  
        },

        narrow:{
          type:Boolean,
        },

        showmenu:{
          type:Boolean,
          value:false,
        },

        subview :{
          type:String,
          value:'main',
        },

        strategyData:Object,

        header:Object,

        routeData: {
          type:Object,
          //observer:'_routeDataChanged',
        },

        currentPath:Array,

      },

      listeners: {
          'analyze-clicked':'goToAnalyze',
      },

      goToAnalyze: function(e) {
        var strategyId = e.detail.id;
        this.fire('rt-changed',{route:'/research/backtests/' + strategyId});
      },

      hasTail: function(tail) {
        if (tail && tail.path) {
          return tail.path.length > 0;
        }

        return false;
      },

      computeCreate: function(params) {
        if (params && params.create) {
          return 1;
        } else {
          return 0;
        }
      },


      isEditorHomeActive: function(active, tail) {
        return active && !this.hasTail(tail);

      },

      hasRouteData: function(routeData) {
        return routeData && Object.keys(routeData).length > 0 && routeData.strategyId;
      } ,

      computeSelectedPage: function(active) {
          return active ? "edit" : "home";
      },

    });
  </script>

</dom-module>
